	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="close()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Profile</h4>
        </div>
        <div class="modal-body profile">
            
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-3">
							<div class="user-img">
                            	<img class="img-responsive md-margin-bottom-10" src="{{employee.defaultImage.filepath}}" alt="">
							</div>
                            <a class="btn-u btn-u-sm" href="javascript:void(0)">Change Picture</a>
                        </div>
                        <div class="col-md-9">
                            <h2>{{employee.firstName}} {{employee.lastName}}</h2>
                            <span>{{employee.address.city}}, {{employee.address.state.name}} ({{employee.address.country.name}})</span>
                            <span ng-if="employee.phoneNo">{{employee.phoneNo | tel}}</span>
							<span ng-if="employee.mobileNo">{{employee.mobileNo | tel}}</span>
                            <hr>
                            <p>{{employee.shortDesc}}</p>
                        </div>
                    </div>
                </div><!--/end row-->

                <hr>

                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Address</h2>
                                <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <h2>{{employee.firstName}} {{employee.lastName}}</h2>
                                <span>{{employee.address.addressLine1}}</span><br/>
                                <span>{{employee.address.addressLine2}}</span><br/>
                                <span>{{employee.address.city}}, {{employee.address.state.name}} ({{employee.address.country.name}}) {{employee.address.zipcode}}</span><br/>
                                <span ng-if="employee.phoneNo">Phone No.: {{employee.phoneNo | tel}}</span>
								<span ng-if="employee.mobileNo">Phone No.: {{employee.mobileNo | tel}}</span><br/>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                    <!--Social Icons v3-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Other Details</h2>
                                <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <h2>{{employee.group.name}}</h2>
                                <span ng-for="role in employee.group.roles">{{role.name}}</span><br/>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->
                </div><!--/end row-->
                
            </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn-u" type="button" ng-click="close()">&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>
        </div>
    </div>
	