	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="close()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Profile</h4>
        </div>
        <div class="modal-body profile">
            
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-3">
							<div class="user-img">
                            	<img class="img-responsive md-margin-bottom-10" src="{{superAdmin.defaultImage.filepath}}" alt="">
							</div>
                            <a class="btn-u btn-u-sm" href="javascript:void(0)">Change Picture</a>
                        </div>
                        <div class="col-md-9">
                            <h2>{{superAdmin.firstName}} {{superAdmin.lastName}}</h2>
                            <span>{{superAdmin.address.city}}, {{superAdmin.address.state.name}} ({{superAdmin.address.country.name}})</span>
                            <span ng-if="superAdmin.phoneNo">{{superAdmin.phoneNo | tel}}</span>
							<span ng-if="superAdmin.mobileNo">{{superAdmin.mobileNo | tel}}</span>
                            <hr>
                            <p>{{superAdmin.shortDesc}}</p>
                        </div>
                    </div>
                </div><!--/end row-->

                <hr>

                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Billing Address</h2>
                                <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <h2>{{superAdmin.firstName}} {{superAdmin.lastName}}</h2>
                                <span>{{superAdmin.address.addressLine1}}</span><br/>
                                <span>{{superAdmin.address.addressLine2}}</span><br/>
                                <span>{{superAdmin.address.city}}, {{superAdmin.address.state.name}} ({{superAdmin.address.country.name}}) {{superAdmin.address.zipcode}}</span><br/>
                                <span ng-if="superAdmin.phoneNo">Phone No.: {{superAdmin.phoneNo | tel}}</span>
								<span ng-if="superAdmin.mobileNo">Phone No.: {{superAdmin.mobileNo | tel}}</span><br/>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                    <!--Social Icons v3-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Delivery Address</h2>
                                <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <h2>{{superAdmin.firstName}} {{superAdmin.lastName}}</h2>
                                <span>{{superAdmin.address.addressLine1}}</span><br/>
                                <span>{{superAdmin.address.addressLine2}}</span><br/>
                                <span>{{superAdmin.address.city}}, {{superAdmin.address.state.name}} ({{superAdmin.address.country.name}}) {{superAdmin.address.zipcode}}</span><br/>
                                <span ng-if="superAdmin.phoneNo">Phone No.: {{superAdmin.phoneNo | tel}}</span>
								<span ng-if="superAdmin.mobileNo">Phone No.: {{superAdmin.mobileNo | tel}}</span><br/>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->
                </div><!--/end row-->
                
                <hr/>
                
                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-12 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Bank Accounts</h2>
                                <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                 <table class="table table-bordered" style="color: grey;">
                                    <thead>
                                        <th>Account No.</th>
                                        <th>Owner</th>
                                        <th>Bank</th>
                                        <th>IFSC Code</th>
                                     </thead>
                                    <tbody>
                                        <tr ng-repeat="bankAccount in superAdmin.bankAccounts">
                                            <td>{{bankAccount.account}}</td>
                                            <td>{{bankAccount.owner}}</td>
                                            <td>{{bankAccount.bank.name}}</td>
                                            <td>{{bankAccount.swift}}</td>
                                        </tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                </div><!--/end row-->
                
                <hr>
                
                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-12 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Products</h2>
                                <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                 <table class="table table-bordered" style="color: grey;">
                                    <thead>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Created By</th>
                                     </thead>
                                    <tbody>
                                        <tr ng-repeat="product in superAdmin.products">
                                            <td>{{product.name}}</td>
                                            <td>{{product.quantity}} {{product.quantityUnit.name}}</td>
                                            <td>{{product.price}} {{product.priceCurrency.name}}/{{product.priceUnit.name}}</td>
                                            <td>{{product.createdBy.firstName}} {{product.createdBy.lastName}}</td>
                                        </tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                </div><!--/end row-->
                
                <hr>

                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-12 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Demands</h2>
                                <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                 <table class="table table-bordered" style="color: grey;">
                                    <thead>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Created By</th>
                                     </thead>
                                    <tbody>
                                        <tr ng-repeat="demand in superAdmin.demands">
                                            <td>{{demand.name}}</td>
                                            <td>{{demand.quantity}} {{demand.quantityUnit.name}}</td>
                                            <td>{{demand.price}} {{demand.priceCurrency.name}}/{{demand.priceUnit.name}}</td>
                                            <td>{{demand.createdBy.firstName}} {{demand.createdBy.lastName}}</td>
                                        </tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                </div><!--/end row-->
                
            </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn-u" type="button" ng-click="close()">&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>
        </div>
    </div>
	