	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Super Admin Details</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="superAdminFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
					
					<div class="headline">
						<h3>SuperAdmin Details</h3>
					</div>                	

                    <div class="row">
                        <section class="col col-6">
							<label class="label">First Name</label>
                            <label class="input" ng-class="{ 'state-error' : superAdminFrm.firstName.$invalid && (superAdminFrm.$submitted || superAdminFrm.firstName.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="firstName" ng-model="superAdmin.firstName" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="superAdminFrm.firstName.$error.required && (superAdminFrm.$submitted || superAdminFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="superAdminFrm.firstName.$error.minlength && (superAdminFrm.$submitted || superAdminFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="superAdminFrm.firstName.$error.pattern && (superAdminFrm.$submitted || superAdminFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Last Name</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="lastName" ng-model="superAdmin.lastName">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Email Address</label>
                            <label class="input" ng-class="{ 'state-error' : superAdminFrm.email.$invalid && (superAdminFrm.$submitted || superAdminFrm.email.$touched) }">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email" ng-model="superAdmin.emailId" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" ng-disabled="true">
                            </label>
							<em ng-if="superAdminFrm.email.$error.pattern && (superAdminFrm.$submitted || superAdminFrm.email.$touched)">Enter a valid email address.</em>
                        </section>
						
                        <section class="col col-6">
							<label class="label">Phone No. / Mobile No.</label>
                            <label class="input" ng-class="{ 'state-error' : superAdminFrm.phoneNo.$invalid && (superAdminFrm.$submitted || superAdminFrm.phoneNo.$touched) }">
                                <input type="tel" name="phoneNo" ng-model="superAdmin.phoneNo" default-country="in" international-phone-number required />
                            </label>
							
							<em ng-if="superAdminFrm.phoneNo.$error.required && (superAdminFrm.$submitted || superAdminFrm.phoneNo.$touched)">Phone No. is required</em>
							<em ng-if="superAdminFrm.phoneNo.$error.internationalPhoneNumber && (superAdminFrm.$submitted || superAdminFrm.phoneNo.$touched)">Phone No. is not valid</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">SuperAdmin Image</label>
                            <label for="file" class="input input-file">
                                <div class="button"><input type="file" ngf-select ng-model="superAdminImage" ngf-multiple="false" accept="image/*" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly>
                            </label>    
                        </section>
                    </div>

					<div class="headline">
						<h3>SuperAdmin Address</h3>
					</div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Address Line 1</label>
                            <label class="input" ng-class="{ 'state-error' : superAdminFrm.addressLine1.$invalid && (superAdminFrm.$submitted || superAdminFrm.addressLine1.$touched) }">
                                <input type="text" name="addressLine1" ng-model="superAdmin.address.addressLine1" required>
                            </label>
							<em ng-if="superAdminFrm.addressLine1.$error.required && (superAdminFrm.$submitted || superAdminFrm.addressLine1.$touched)">Address Line 1 is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Address Line 2</label>
                            <label class="input">
                                <input type="text" name="addressLine2" ng-model="superAdmin.address.addressLine2">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">City</label>
                            <label class="input" ng-class="{ 'state-error' : superAdminFrm.city.$invalid && (superAdminFrm.$submitted || superAdminFrm.city.$touched) }">
                                <input type="text" name="city" ng-model="superAdmin.address.city" required>
                            </label>
							<em ng-if="superAdminFrm.city.$error.required && (superAdminFrm.$submitted || superAdminFrm.city.$touched)">City is required</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">State</label>
                            <label class="select" ng-class="{ 'state-error' : superAdminFrm.state.$invalid && (superAdminFrm.$submitted || superAdminFrm.state.$touched) }">
                                <select name="state" data-ng-options="state.name for state in states track by state.id" data-ng-model="superAdmin.address.state" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="superAdminFrm.state.$error.required && (superAdminFrm.$submitted || superAdminFrm.state.$touched)">State is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Country</label>
                            <label class="select" ng-class="{ 'state-error' : superAdminFrm.country.$invalid && (superAdminFrm.$submitted || superAdminFrm.country.$touched) }">
								<select name="country" data-ng-options="country.name for country in countries track by country.id" data-ng-model="superAdmin.address.country" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="superAdminFrm.country.$error.required && (superAdminFrm.$submitted || superAdminFrm.country.$touched)">Country is required</em>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-4">
							<label class="label">Zipcode</label>
                            <label class="input" ng-class="{ 'state-error' : superAdminFrm.zipcode.$invalid && (superAdminFrm.$submitted || superAdminFrm.zipcode.$touched) }">
                                <input type="text" name="zipcode" ng-model="superAdmin.address.zipcode" ui-mask="999999" required>
                            </label>
							<em ng-if="superAdminFrm.zipcode.$error.required && (superAdminFrm.$submitted || superAdminFrm.zipcode.$touched)">Zipcode is required</em>
                        </section>
                    </div>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(superAdminFrm.$valid)">Save Changes</button>
        </div>
    </div>
	