	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Edit employee</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="employeeFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
					
					<div class="headline">
						<h3>Employee Details</h3>
					</div>                	

                    <div class="row">
                        <section class="col col-6">
							<label class="label">First Name</label>
                            <label class="input" ng-class="{ 'state-error' : employeeFrm.firstName.$invalid && (employeeFrm.$submitted || employeeFrm.firstName.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="firstName" ng-model="employee.firstName" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="employeeFrm.firstName.$error.required && (employeeFrm.$submitted || employeeFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="employeeFrm.firstName.$error.minlength && (employeeFrm.$submitted || employeeFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="employeeFrm.firstName.$error.pattern && (employeeFrm.$submitted || employeeFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Last Name</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="lastName" ng-model="employee.lastName">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Email Address</label>
                            <label class="input" ng-class="{ 'state-error' : employeeFrm.email.$invalid && (employeeFrm.$submitted || employeeFrm.email.$touched) }">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email" ng-model="employee.emailId" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" ng-disabled="true">
                            </label>
							<em ng-if="employeeFrm.email.$error.pattern && (employeeFrm.$submitted || employeeFrm.email.$touched)">Enter a valid email address.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Phone No. / Mobile No.</label>
                            <label class="input" ng-class="{ 'state-error' : employeeFrm.phoneNo.$invalid && (employeeFrm.$submitted || employeeFrm.phoneNo.$touched) }">
                                <input type="tel" name="phoneNo" ng-model="employee.phoneNo" default-country="in" international-phone-number required>
                            </label>
							<em ng-if="employeeFrm.phoneNo.$error.required && (employeeFrm.$submitted || employeeFrm.phoneNo.$touched)">Phone No. is required</em>
                        </section>
                    </div>
					
					<div class="row">
                        <section class="col col-6">
							<label class="label">Employee Id</label>
                            <label class="input" ng-class="{ 'state-error' : employeeFrm.employeeId.$invalid && (employeeFrm.$submitted || employeeFrm.employeeId.$touched) }">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="text" name="employeeId" ng-model="employee.employeeId" required>
                            </label>
							<em ng-if="employeeFrm.employeeId.$error.pattern && (employeeFrm.$submitted || employeeFrm.employeeId.$touched)">Employee Id is required.</em>
                        </section>
                        <section class="col col-6">
							
                        </section>
                    </div>

					<div class="row">
                        <section class="col col-6">
							<label class="label">Department</label>
                            <label class="select" ng-class="{ 'state-error' : employeeFrm.department.$invalid && (employeeFrm.$submitted || employeeFrm.department.$touched) }">
								<select name="department" data-ng-options="department.id as department.name for department in departments" data-ng-model="employee.departmentId" required>
		                        </select>
								<i></i>
                            </label>
							<em ng-if="employeeFrm.department.$error.required && (employeeFrm.$submitted || employeeFrm.department.$touched)">Department is required.</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Designation</label>
                            <label class="select" ng-class="{ 'state-error' : employeeFrm.designation.$invalid && (employeeFrm.$submitted || employeeFrm.designation.$touched) }">
                                <select name="designation" data-ng-options="designation.id as designation.name for designation in designations" data-ng-model="employee.designationId" required>
		                        </select>
                                <i></i>
                            </label>
							<em ng-if="employeeFrm.designation.$error.required && (employeeFrm.$submitted || employeeFrm.designation.$touched)">Designation is required.</em>
                        </section>
                    </div>

					<div class="headline">
						<h3>Employee Address</h3>
					</div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Address Line 1</label>
                            <label class="input" ng-class="{ 'state-error' : employeeFrm.addressLine1.$invalid && (employeeFrm.$submitted || employeeFrm.addressLine1.$touched) }">
                                <input type="text" name="addressLine1" ng-model="employee.address.addressLine1" required>
                            </label>
							<em ng-if="employeeFrm.addressLine1.$error.required && (employeeFrm.$submitted || employeeFrm.addressLine1.$touched)">Address Line 1 is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Address Line 2</label>
                            <label class="input">
                                <input type="text" name="addressLine2" ng-model="employee.address.addressLine2">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">City</label>
                            <label class="input" ng-class="{ 'state-error' : employeeFrm.city.$invalid && (employeeFrm.$submitted || employeeFrm.city.$touched) }">
                                <input type="text" name="city" ng-model="employee.address.city" required>
                            </label>
							<em ng-if="employeeFrm.city.$error.required && (employeeFrm.$submitted || employeeFrm.city.$touched)">City is required</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">State</label>
                            <label class="select" ng-class="{ 'state-error' : employeeFrm.state.$invalid && (employeeFrm.$submitted || employeeFrm.state.$touched) }">
                                <select name="state" data-ng-options="state.name for state in states track by state.id" data-ng-model="employee.address.state" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="employeeFrm.state.$error.required && (employeeFrm.$submitted || employeeFrm.state.$touched)">State is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Country</label>
                            <label class="select" ng-class="{ 'state-error' : employeeFrm.country.$invalid && (employeeFrm.$submitted || employeeFrm.country.$touched) }">
								<select name="country" data-ng-options="country.name for country in countries track by country.id" data-ng-model="employee.address.country" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="employeeFrm.country.$error.required && (employeeFrm.$submitted || employeeFrm.country.$touched)">Country is required</em>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-4">
							<label class="label">Zipcode</label>
                            <label class="input" ng-class="{ 'state-error' : employeeFrm.zipcode.$invalid && (employeeFrm.$submitted || employeeFrm.zipcode.$touched) }">
                                <input type="text" name="zipcode" ng-model="employee.address.zipcode" ui-mask="999999" required>
                            </label>
							<em ng-if="employeeFrm.zipcode.$error.required && (employeeFrm.$submitted || employeeFrm.zipcode.$touched)">Zipcode is required</em>
                        </section>
                    </div>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="employeeFrm.$submitted = true; ok(employeeFrm.$valid)">Save Changes</button>
        </div>
    </div>
	