    	
	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Pricing</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Settings</a></li>
                <li><a href="">Services</a></li>
                <li class="active">Pricing</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Profile ===-->
    <div class="container content profile">
    	<div class="row">
	    	<!--Left Sidebar-->
	    	<div class="col-md-3 md-margin-bottom-40">
				<ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
					
					<li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-accounts" data-toggle="collapse" class="collapsed" aria-expanded="true"><i class="fa fa-bar-chart-o"></i> Accounts </a>
                        
                        <ul id="collapse-accounts" class="collapse">
                            <li><a href="#/services/companies"><i class="fa fa-group"></i> Companies</a></li>
                            <li><a href="#/services/brokers"><i class="fa fa-group"></i> Brokers</a></li>
                            <li><a href="#/services/retailers"><i class="fa fa-group"></i> Retailers</a></li>
                            <li><a href="#/services/customers"><i class="fa fa-group"></i> Customers</a></li>
                            <li><a href="#/services/farmers"><i class="fa fa-group"></i> Farmers</a></li>
                            <li><a href="#/services/agents"><i class="fa fa-group"></i> Agents</a></li>
                            <li><a href="#/services/companyAdmins"><i class="fa fa-group"></i> Company Admins</a></li>
                            <li><a href="#/services/employees"><i class="fa fa-group"></i> Employees</a></li>
                            <!-- 
                            <li><a href="#/contentTeam"><i class="fa fa-group"></i> Content Team</a></li>
                            <li><a href="#/salesTeam"><i class="fa fa-group"></i> Sales Team</a></li>
                            <li><a href="#/executives"><i class="fa fa-group"></i> Executives</a></li>
                             -->
                            <li><a href="#/services/superAdmins"><i class="fa fa-group"></i> Super Admins</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle active">
                        <a class="accordion-toggle" href="#collapse-services" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Services </a>
                        
                        <ul id="collapse-services" class="collapse in">
                            <li><a href="#/services/products"><i class="fa fa-align-justify"></i> Products</a></li>
                            <li><a href="#/services/orders"><i class="fa fa-align-justify"></i> Orders</a></li>
                            <li><a href="#/services/demands"><i class="fa fa-tasks"></i> Demands</a></li>
                            <li class="active"><a href="#/services/pricing"><i class="fa fa-money"></i> Pricing</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-payments" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Payments </a>
                        
                        <ul id="collapse-payments" class="collapse">
                            <li><a href="#/services/paymentMethods"><i class="fa fa-align-justify"></i> Payment Methods</a></li>
                            <li><a href="#/services/paymentCards"><i class="fa fa-align-justify"></i> Payment Cards</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-site-admin" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Site Admin </a>
                        
                        <ul id="collapse-site-admin" class="collapse">
                            <li><a href="#/services/categories"><i class="fa fa-flask"></i> Categories</a></li>
                            <li><a href="#/services/menuitems"><i class="fa fa-flask"></i> Menuitems</a></li>
                            <li><a href="#/services/countries"><i class="fa fa-html5"></i> Countries</a></li>
                            <li><a href="#/services/states"><i class="fa fa-bolt"></i> States</a></li>
                            <li><a href="#/services/banks"><i class="fa fa-bolt"></i> Banks</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-org-admin" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Org Admin </a>
                        
                        <ul id="collapse-org-admin" class="collapse">
                            <li><a href="#/services/departments"><i class="fa fa-align-justify"></i> Departments</a></li>
                            <li><a href="#/services/designations"><i class="fa fa-align-justify"></i> Designations</a></li>
                            <li><a href="#/services/groups"><i class="fa fa-tasks"></i> Groups</a></li>
                            <li><a href="#/services/roles"><i class="fa fa-align-justify"></i> Roles</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->
            <div class="col-md-9">
				<div class="profile-body margin-bottom-20">
                	
	 				<!-- Companies -->
                    <div class="panel panel-profile">
                        <div class="panel-heading profile-box-header">
                            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Pricing </h2>
                            
                            <div class="pull-right">
			                   	<section class="col col-12">
			                   		<form class="sky-form search-form" ng-submit="searchByKeyword()">
			                            <label class="input">
			                                <i class="icon-append fa fa-search" ng-click="searchByKeyword()"></i>
			                                <input type="text" name="keywords" ng-model="keyword" placeholder="Search"/>
			                            </label>
			                        </form>
			                    </section>
			                </div>
			                
                        </div>
                        
                        <div class="panel-body">
							<div class="tab-v3">
								<div class="testimonials-v6 rounded-bottom margin-top-10 margin-bottom-10 padding-left-10">
							    	<form class="sky-form">
						    		    <div class="row">
						    		    	
						    		    	<!-- Product category -->
							    			<div class="col-lg-4">
			                        			<label class="prak-label">Category: </label>
				                           		<div class="btn-group">
							                        <button class="btn btn-default btn-u-xs" type="button">
							                            {{category.name}}
							                        </button>
							                        <button data-toggle="dropdown" class="btn btn-default btn-u-xs btn-u-split dropdown-toggle" type="button">
							                            <i class="fa fa-angle-down"></i>
							                            <span class="sr-only">Toggle Dropdown</span>
							                        </button>
							                        <ul role="menu" class="dropdown-menu">
							                            <li ng-repeat="category in categories">
							                            	<a href="javascript:void(0);" ng-click="onCategoryChange(category)">{{category.name}}</a>
														</li>
							                        </ul>
							                    </div>
				                       		</div>
				                       		<!-- End: Product category -->
				                       		
				                       		<!-- Consumer Products -->
											<div class="col-lg-4">
			                        			<label class="toggle prak-toggle toggle-change"><input type="checkbox" name="checkbox-toggle" ng-model="consumerProducts" checked="" ng-change="fetchConsumerProducts(consumerProducts)"><i class="rounded-4x"></i>Consumer Products ?</label>
			                        		</div>
			                        		<!-- End: Consumer Products -->
			                        		
			                        		<!-- Page Size -->
			                        		<div class="col-lg-4">
			                        			<ul class="list-inline clear-both">
				                        			<li class="sort-list-btn">
						                                <label class="prak-label">Show :</label>
						                                <div class="btn-group">
						                                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
						                                        {{sizeText}} <span class="caret"></span>
						                                    </button>
						                                    <ul class="dropdown-menu" role="menu">
						                                        <li><a href="javascript: void(0);" ng-click="updatePageSize(-1, 'All')">All</a></li>
						                                        <li><a href="javascript: void(0);" ng-click="updatePageSize(36, '36')">36</a></li>
						                                        <li><a href="javascript: void(0);" ng-click="updatePageSize(24, '24')">24</a></li>
						                                        <li><a href="javascript: void(0);" ng-click="updatePageSize(12, '12')">12</a></li>
						                                    </ul>
						                                </div>
						                            </li>
						                        </ul>
			                        		</div>
			                        		<!-- End: Page Size -->
			                        		
				                       	</div>
	                        		</form>
	                        		
	                        		<form name="pricingUpdateFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate="">
		                                <h2 class="heading-md">Manage your products pricing.</h2>
		                                <p>Below are all the products in the selected category.</p>
		                                
		                                <br>
		                                
		                                <div ng-repeat="product in products">
		                                	
		                                	<hr ng-if="$first">
		                                
		                                	<div class="row">
		                                		<div class="col-lg-2">
		                                			<img class="img-responsive" src="{{product.defaultImage.smallImgPath}}" alt="">
		                                		</div>
		                                		
		                                		<div class="col-lg-3">
													<a href="javascript: void(0);" ng-click="viewDetail(product.uniqueId)">{{product.name}}</a>
		                                		</div>
		                                		
		                                		<!-- Pricing Section -->
		                                		<div class="col-lg-7">
		                                			<span ng-if="!product.editing">{{product.price}} {{product.priceCurrency.mneomic}}/{{product.priceUnit.name}}</span>
		                                			<div ng-if="product.editing" class="row col-lg-12">
			                                        	<div ng-class="{ 'state-error' : userFrm.firstName.$invalid && userFrm.firstName.$touched }">
			                                        		<label class="input-group">
									                       		<input type="text" name="price" ng-model="products[$index].price" class="form-control prak-form-control" placeholder="e.g. 4000" pattern="^\d*\.?\d*$" required>
									                            <div class="input-group-btn">
									                                <button type="button" class="btn btn-sm prak-btn-sm dropdown-toggle" data-toggle="dropdown">
									                                    {{product.priceCurrency.mneomic}}
									                                    <span class="caret"></span>
									                                </button>
									                                <ul class="dropdown-menu pull-right">
									                                    <li ng-repeat="currency in currencies"><a href="javascript:void(0);" ng-click="setPriceCurrency(product, currency)">{{currency.mneomic}}</a></li>
									                                </ul>
									                            </div>
									                            <span class="input-group-addon per-symbol">/</span>
									                            <div class="input-group-btn">
									                                <button type="button" class="btn btn-sm prak-btn-sm dropdown-toggle" data-toggle="dropdown">
									                                    {{product.priceUnit.name}}
									                                    <span class="caret"></span>
									                                </button>
									                                <ul class="dropdown-menu pull-right">
									                                    <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setPriceUnit(product, unit)">{{unit.name}}</a></li>
									                                </ul>
									                            </div>
									                        </label>
			                                        	</div>
									                    <div class="btn-group pull-right">
									                        <button class="btn-u" type="button" ng-click="done(product)"><i class="fa fa-check"></i></button>
									                        <button class="btn-u btn-u-red btn-u-red-split" type="button" ng-click="cancel(product)">
									                            <i class="fa fa-times"></i>                            
									                        </button>
									                  </div>
			                                        </div>
			                                        <span ng-if="!product.editing">
			                                            <a class="pull-right" href="javascript:void(0)" ng-click="editPrice(product)">
			                                                <i class="fa fa-pencil"></i>
			                                            </a>
			                                        </span>
		                                		</div>
		                                		<!-- End: Pricing Section -->
		                                		
		                                	</div>
		                                	
		                                	<hr>
		                                	
		                                </div>
		                                
		                                <!-- Pagination -->
		                                <div class="row">
								        	<div class="col-lg-12">
										        <div class="pull-right" ng-if="pages.length > 1">
										            <ul class="pagination">
										                <li class="{{pageNumber == 0 ? 'disabled' : ''}}">
										                	<a href="javascript: void(0);" ng-click="prevPage()" aria-label="Previous">&laquo;</a>
										                </li>
										                <li ng-repeat="page in pages" class="{{page - 1 == pageNumber ? 'active' : ''}}">
										                	<a href="javascript: void(0);" ng-click="moveTo(page)">{{page}}</a>
										                </li>
										                <li class="{{pageNumber == totalPage - 1 ? 'disabled' : ''}}">
										                	<a href="javascript: void(0);" ng-click="nextPage()" aria-label="Next">&raquo;</a>
										                </li>
										            </ul>
										        </div>
										    </div>
									    </div>
								        <!-- End: Pagination -->
								        
	                                </form>
                        		</div>

		                    </div>
							
			            </div>
			        
			        </div>
                    
                </div>
                
            </div>
            <!-- End Profile Content -->
        </div>
    </div>
    <!--=== End Profile ===-->	