	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Add broker</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="brokerFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
					
					<div class="headline">
						<h3>Broker Details</h3>
					</div>                	

                    <div class="row">
                        <section class="col col-6">
							<label class="label">First Name</label>
                            <label class="input" ng-class="{ 'state-error' : brokerFrm.firstName.$invalid && (brokerFrm.$submitted || brokerFrm.firstName.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="firstName" ng-model="broker.firstName" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="brokerFrm.firstName.$error.required && (brokerFrm.$submitted || brokerFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="brokerFrm.firstName.$error.minlength && (brokerFrm.$submitted || brokerFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="brokerFrm.firstName.$error.pattern && (brokerFrm.$submitted || brokerFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Last Name</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="lastName" ng-model="broker.lastName">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">License No. <span class="color-red">*</span></label>
                            <label class="input" ng-class="{ 'state-error' : brokerFrm.licenseNo.$invalid && (brokerFrm.$submitted || brokerFrm.licenseNo.$touched) }">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="text" name="licenseNo" ng-model="broker.licenseNo" ng-disabled="true" required>
                            </label>
							<em ng-if="brokerFrm.licenseNo.$error.required && (brokerFrm.$submitted || brokerFrm.licenseNo.$touched)">License No. is required.</em>
							<em ng-if="brokerFrm.licenseNo.$error.server && (brokerFrm.$submitted || brokerFrm.licenseNo.$touched)">{{brokerFrm.email.$error.message}}</em>
                        </section>
                        
                        <section class="col col-6">
							<label class="label">Mobile No. <span class="color-red">*</span></label>
                            <label class="input" ng-class="{ 'state-error' : brokerFrm.mobileNo.$invalid && (brokerFrm.$submitted || brokerFrm.mobileNo.$touched) }">
								<input type="tel" name="mobileNo" ng-model="broker.mobileNo" default-country="in" international-phone-number required />
                            </label>
							
							<em ng-if="brokerFrm.mobileNo.$error.required && (brokerFrm.$submitted || brokerFrm.mobileNo.$touched)">Mobile No. is required</em>
							<em ng-if="brokerFrm.mobileNo.$error.internationalPhoneNumber && (brokerFrm.$submitted || brokerFrm.mobileNo.$touched)">Mobile No. is not valid</em>
							<em ng-if="brokerFrm.mobileNo.$error.server && (brokerFrm.$submitted || brokerFrm.mobileNo.$touched)">{{brokerFrm.mobileNo.$error.message}}</em>
                        </section>                        
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Email Address</label>
                            <label class="input" ng-class="{ 'state-error' : brokerFrm.email.$invalid && (brokerFrm.$submitted || brokerFrm.email.$touched) }">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email" ng-model="broker.emailId" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" ng-disabled="true">
                            </label>
							<em ng-if="brokerFrm.email.$error.pattern && (brokerFrm.$submitted || brokerFrm.email.$touched)">Enter a valid email address.</em>
                        </section>
                        
                        <section class="col col-6">
							<label class="label">Phone No.</label>
                            <label class="input" ng-class="{ 'state-error' : brokerFrm.phoneNo.$invalid && (brokerFrm.$submitted || brokerFrm.phoneNo.$touched) }">
                                <input type="tel" name="phoneNo" ng-model="broker.phoneNo" default-country="in" international-phone-number required />
                            </label>

							<em ng-if="brokerFrm.phoneNo.$error.required && (brokerFrm.$submitted || brokerFrm.phoneNo.$touched)">Phone No. is required</em>
							<em ng-if="brokerFrm.phoneNo.$error.internationalPhoneNumber && (brokerFrm.$submitted || brokerFrm.phoneNo.$touched)">Phone No. is not valid</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Broker Image</label>
                            <label for="file" class="input input-file">
                                <div class="button"><input type="file" ngf-select ng-model="brokerImage" ngf-multiple="false" accept="image/*" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly>
                            </label>    
                        </section>
                    </div>

					<div class="headline">
						<h3>Broker Address</h3>
					</div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Address Line 1</label>
                            <label class="input" ng-class="{ 'state-error' : brokerFrm.addressLine1.$invalid && (brokerFrm.$submitted || brokerFrm.addressLine1.$touched) }">
                                <input type="text" name="addressLine1" ng-model="broker.address.addressLine1" required>
                            </label>
							<em ng-if="brokerFrm.addressLine1.$error.required && (brokerFrm.$submitted || brokerFrm.addressLine1.$touched)">Address Line 1 is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Address Line 2</label>
                            <label class="input">
                                <input type="text" name="addressLine2" ng-model="broker.address.addressLine2">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">City</label>
                            <label class="input" ng-class="{ 'state-error' : brokerFrm.city.$invalid && (brokerFrm.$submitted || brokerFrm.city.$touched) }">
                                <input type="text" name="city" ng-model="broker.address.city" required>
                            </label>
							<em ng-if="brokerFrm.city.$error.required && (brokerFrm.$submitted || brokerFrm.city.$touched)">City is required</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">State</label>
                            <label class="select" ng-class="{ 'state-error' : brokerFrm.state.$invalid && (brokerFrm.$submitted || brokerFrm.state.$touched) }">
                                <select name="state" data-ng-options="state.name for state in states track by state.id" data-ng-model="broker.address.state" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="brokerFrm.state.$error.required && (brokerFrm.$submitted || brokerFrm.state.$touched)">State is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Country</label>
                            <label class="select" ng-class="{ 'state-error' : brokerFrm.country.$invalid && (brokerFrm.$submitted || brokerFrm.country.$touched) }">
								<select name="country" data-ng-options="country.name for country in countries track by country.id" data-ng-model="broker.address.country" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="brokerFrm.country.$error.required && (brokerFrm.$submitted || brokerFrm.country.$touched)">Country is required</em>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-4">
							<label class="label">Zipcode</label>
                            <label class="input" ng-class="{ 'state-error' : brokerFrm.zipcode.$invalid && (brokerFrm.$submitted || brokerFrm.zipcode.$touched) }">
                                <input type="text" name="zipcode" ng-model="broker.address.zipcode" ui-mask="999999" required>
                            </label>
							<em ng-if="brokerFrm.zipcode.$error.required && (brokerFrm.$submitted || brokerFrm.zipcode.$touched)">Zipcode is required</em>
                        </section>
                    </div>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="brokerFrm.$submitted = true; ok(brokerFrm.$valid)">Save Changes</button>
        </div>
    </div>
	