/* Add here all your css styles (customizations) */

.search-form {
    border: none;
}

.search-form section {
    margin-bottom: 5px;
}

.search-form .input input {
	height: 28px;
}

.search-form .input .icon-append {
	min-width: 29px;
	height: 28px;
	line-height: 28px;
}

a.btn-more {
    background: none repeat scroll 0 0 #72c02c;
    bottom: 10px;
    color: #fff;
    display: inline-block;
    padding: 1px 6px;
    position: absolute;
    right: -10px;
}

a.btn-more:hover {
	text-decoration: none;
	box-shadow: 0 0 0 2px #5fb611;
}

.hover-effect {
    transition: all 0.4s ease-in-out 0s;
}

.load-more {
	margin-top: 13px;
}

.per-symbol {
	background: none repeat scroll 0 0 light-grey;
	border: none;
}

.custom-popup-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
}

.custom-popup-wrapper>.message {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #868686;
}

.custom-popup-wrapper>.dropdown-menu {
	position: static;
	float: none;
	display: block;
	min-width: 160px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.edit-btn {
	color: #5bc0de;
}

.filter {
	text-transform: capitalize;
}

.empty-cart {
	height: 75px
}

.phone-icon {
	border-left-style: solid;
    border-left-width: 1px;
    padding-left: 3px;
    right: 5px;
}

.intl-tel-input {
	width: 100%;
}

.company-logo {
	height: 14em;
}

.user-img {
	height: 17em;
}

p.verify-label {
	font-size: 11px;
}

.prak-reg-page {
	font-size: 13px;
    line-height: 1.6;
}

.prak-reg-page .state-error + em {
    color: #ee9393;
    display: block;
    font-size: 11px;
    font-style: normal;
    line-height: 15px;
    margin-top: 6px;
    padding: 0 1px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-left-40 {
    padding-left: 40px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-27 {
    padding-right: 27px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-right-40 {
    padding-right: 40px;
}

.padding-right-50 {
    padding-right: 50px;
}

.accord-heading .panel-heading {
	border-bottom: 0 solid #f7f7f7;
	padding: 1px;
}

.vocac-logo {
	text-decoration: none;
}

.vocac-logo .vocac-text {
	text-transform: uppercase; 
	margin-top: 40px; 
	margin-bottom: 40px; 
	font-weight: bold;
	color: #72c02c;
}

.bottom-middle {
	color: #ffffff;
}

.top-middle {
	color: #ddd;
}

.error-message {
	color: #ee9393;
    font-size: 11px;
    font-style: normal;
    line-height: 15px;
    margin-top: 6px;
    padding: 0 1px;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}

.current-img-container {
  margin-left: 20px;
}

.img-container {
  max-width: 400px;
  float: left;
  margin-left: 20px;
}

.preview-container {
  float: right;
}

.preview-container img {
  max-width: 400px;
}



/* Basic */

body {
  margin: 0;
  overflow-x: hidden;
}

.browserupgrade {
  margin: 0;
  padding: 5px 15px;
  background-color: #ff851b;
  color: #fff;
  text-align: center;
}


/* Header */

.docs-header {
  margin-bottom: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  border-color: #0074d9;
}

.navbar-toggle .icon-bar {
  background-color: #0074d9;
}


/* Jumbotron */

.docs-jumbotron {
  background-color: #0074d9;
  color: #fff;
}

.docs-jumbotron .version {
  font-size: 14px;
  color: #fff;
  filter: alpha(opacity=50);
  opacity: 0.5;
}


/* Content */

.img-container,
.img-preview {
  background-color: #f7f7f7;
  width: 100%;
  text-align: center;
}

.img-preview {
  text-align: left;
  margin-left: 20px;
  width: 91%;
}

.img-container {
  min-height: 200px;
  max-height: 516px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .img-container {
    min-height: 516px;
  }
}

.img-container > img {
  max-width: 100%;
}

.docs-preview {
  margin-right: -15px;
}

.img-preview {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.img-preview > img {
  max-width: 100%;
}

.preview-lg {
  width: 263px;
  height: 148px;
}

.preview-md {
  width: 139px;
  height: 78px;
}

.preview-sm {
  width: 69px;
  height: 39px;
}

.preview-xs {
  width: 35px;
  height: 20px;
  margin-right: 0;
}

.docs-data > .input-group {
  margin-bottom: 10px;
}

.docs-data > .input-group > label {
  min-width: 80px;
}

.docs-data > .input-group > span {
  min-width: 50px;
}

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
  margin-right: 5px;
  margin-bottom: 10px;
}

.docs-toggles > .btn,
.docs-toggles > .btn-group,
.docs-toggles > .dropdown {
  margin-bottom: 10px;
}

.docs-tooltip {
  display: block;
  margin: -6px -12px;
  padding: 6px 12px;
}

.docs-tooltip > .icon {
  margin: 0 -3px;
  vertical-align: top;
}

.tooltip-inner {
  white-space: normal;
}

.btn-upload .tooltip-inner {
  white-space: nowrap;
}

@media (max-width: 400px) {
  .btn-group-crop {
    margin-right: -15px!important;
  }

  .btn-group-crop > .btn {
    padding-left: 5px;
    padding-right: 5px;
  }

  .btn-group-crop .docs-tooltip {
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.docs-options .dropdown-menu {
  width: 100%;
}

.docs-options .dropdown-menu > li {
  padding: 3px 20px;
}

.docs-options .dropdown-menu > li:hover {
  background-color: #f7f7f7;
}

.docs-options .dropdown-menu > li > label {
  display: block;
}

.docs-cropped .modal-body {
  text-align: center;
}

.docs-cropped .modal-body > img,
.docs-cropped .modal-body > canvas {
  max-width: 100%;
}


/* Footer */

.docs-footer {
  overflow: hidden;
}

.hearts {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ddd;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.hearts:hover {
  color: #ff4136;
}

.hearts:before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  height: 0;
  border-top: 1px solid #eee;
  content: " ";
}

.hearts:after {
  position: relative;
  z-index: 1;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #fff;
  content: "♥";
}

.profile-box-header {
	height: 48px;
}





/*Product Quantity*/
.product-grid .product-quantity {
	float: left;
	margin-right: 30px;
	margin-top: 10px;
}

.product-grid .quantity-button {
	background: none repeat scroll 0 0 #72c02c;
    border: medium none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    height: 30px;
    margin-top: 0;
    outline: medium none;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    width: 35px;
}

.product-grid .quantity-field {
	border: 1px solid #72c02c;
    font-size: 16px;
    height: 30px;
    margin-left: -4px;
    margin-right: -4px;
    outline: medium none;
    text-align: center;
    width: 35px;
}

.prak-search-block:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    content: " ";
    height: 100%;
    left: 0;
    margin-left: 17%;
    margin-right: 9%;
    position: absolute;
    top: 0;
    width: 57.6%;
}

.prak-search-block {
	background: url("../../img/patterns/breadcrumbs.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-bottom: 2px solid #eee;
    padding: 5px 0 52px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-60 {
	margin-top: 60px;
}

.margin-left-40 {
	margin-left: 40px;
}

.margin-left-50 {
	margin-left: 50px;
}

.margin-left-60 {
	margin-left: 60px;
}

.padding-left-0 {
	padding-left: 0px;
}

.prak-result-category h2 {
	font-size: 16px;
}

.prak-breadcrumbs-v4 {
	background-image: url(../img/breadcrumbs-img-veg-1.jpg);
}

.sky-form .prak-toggle {
	border-radius: 0;
    color: inherit;
    font-size: 100%;
    text-align: left;
    white-space: normal;
    display: block;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 6px;
}

.header {
	z-index: 99;	
}

.header .open > .dropdown-menu {
    display: block;
}

em.settings-error {
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #ee9393;
}

.prak-custom-scrollbar-1 {
	height: auto;
	max-height: 220px;
}

.prak-custom-scrollbar-2 {
	height: auto;
	max-height: 320px;
}

.prak-custom-scrollbar-3 {
	height: auto;
	min-height: 220px;
	max-height: 320px;
}

.prak-btn {
	line-height: 1.64221;
}

.input-group-btn .dropdown-menu > li > a {
    padding: 3px 13px;
}
.input-group-btn .dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

.prak-order-info {
	font-size: 13px;
}

.prak-max-chars {
	font-size: 10px; 
	font-weight: normal;
}

.prak-label {
	border-radius: 0;
    color: inherit;
    text-align: left;
    white-space: normal;
    font-weight: 400;
    line-height: 26px;
}

.prak-form-control {
	height: 26px;
	margin-top: 2px;
}

.prak-btn-sm {
	line-height: 1.3;
}

.prak-badge-results {
	line-height: 42px;
}

i.prak-icon-color-u {
   color: #72c02c;
}

prak-verified-color-u {
   color: #72c02c;
}

.us-spinner-wrapper {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow: hidden;
    background: none;
    transition: background 0.1s ease;
    pointer-events: none;
}

.us-spinner-wrapper.loading {
    pointer-events: auto;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
}

.profile .profile-bio a.verify-mobile-no {
	left: 1%;
    bottom: 0px;
    margin-left: 0px;
    text-align: left;
    position: relative;
}

.profile .profile-bio a.verify-email-address {
	left: 1%;
    bottom: 0px;
    margin-left: 0px;
    text-align: left;
    position: relative;
}

.header .navbar-nav > li > a {
	color: #687074;
	font-size: 13px;
	font-weight:400;
	text-transform: none;
}

.header .navbar-nav > li > a {
	padding: 9px 27px 9px 19px;
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}

.product-image-thumbnail {
	max-width: 100%;
}

.images-container {
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
}

.preview-product-image {
	max-width: 100%;
	padding-top: 2px;
	padding-bottom: 3px;
}

.upload-button-container {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 30px;
}

.margin-top-26 {
	margin-top: -26px;
}

.title-box-v2 {
	text-align: left;
}

.flat-bg-block-v1 .checked-list i {
    margin-left: 20px;
}