/*Shop Badge
------------------------------------*/
/*Badge Lists*/
.header .shop-badge.badge-lists {
    margin-bottom: 0;
}

.header .shop-badge.badge-lists li {
    position: relative;
}

.header .shop-badge.badge-lists > li {
    margin-left: 0px;
    padding: 5px 0px;
}

.header .shop-badge.badge-lists span.badge {
    top:0px;
    right: 0px;
    position: absolute;
}

@media (max-width: 991px) {
    .header .shop-badge {
        display: none;
    }
}

/*Badge Icons*/
.header .shop-badge.badge-icons span.badge {
    min-width: 12px;
    padding: 3px 6px;
}

.header .shop-badge.badge-icons i {
    color: #687074;
    font-size: 24px;
    min-width: 25px;
}

/*Badge*/
.header .shop-badge span.badge {
    font-weight: 400;
    padding: 4px 7px;  
}

.header .shop-badge span.badge-sea {
    background: #72c02c;
}

/*Scrollbar*/
.header .mCustomScrollbar {
    height: 400px; 
}

/*Badge Open*/
.header ul.shop-badge > li {
    position: relative;
}

.header ul.shop-badge > li:hover .badge-open {
    display: block;
}

.header .badge-open {
    top: 41px;
    right: 0;
    display: none;
    padding: 0 20px;
    list-style: none;
    min-width: 320px;
    background: #fff;
    position: absolute;
    border-top: 2px solid #72c02c;
    -webkit-box-shadow: 0 2px 2px 0px rgba(90,90,90,0.075);
    -moz-box-shadow: 0 2px 2px 0px rgba(90,90,90,0.075);
    box-shadow: 0 5px 5px 0px rgba(90,90,90,0.075);
}

.header .badge-open li {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #dedede;
}

.header .badge-open li:first-child {
    margin-top: 0;
    border-top: none;
    padding-top: 20px;
}

.header .badge-open li:after,
.header .badge-open li:before {
    content: " ";
    display: table;
}

.header .badge-open li:after {
    clear: both;
}

.header .badge-open img {
    float: left;
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.header .badge-open .close {
    line-height: 1.9;
}

.header .badge-open span {
    margin: 7px 0;
    color: #687074;
    display: block;
    font-size: 14px;
}

.header .badge-open small {
    color: #999;
    font-size: 14px;
}

/*Subtotal*/
.header li.subtotal {
    padding: 3px 0 20px;
}

.header li.subtotal span {
    color: #555;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    text-transform: uppercase;
}

.header li.subtotal .subtotal-cost {
    color: #18ba9b;
}

.header li.subtotal .btn-u {
    font-size: 12px;
}

.header li.subtotal .col-xs-6:first-child {
    padding-right: 8px;
}

.header li.subtotal .col-xs-6:last-child {
    padding-left: 8px;
}
