	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Add retailer</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="retailerFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
                	
					<div class="headline">
						<h3>Retailer Details</h3>
					</div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">First Name</label>
                            <label class="input" ng-class="{ 'state-error' : retailerFrm.firstName.$invalid && (retailerFrm.$submitted || retailerFrm.firstName.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="firstName" ng-model="retailer.firstName" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="retailerFrm.firstName.$error.required && (retailerFrm.$submitted || retailerFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="retailerFrm.firstName.$error.minlength && (retailerFrm.$submitted || retailerFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="retailerFrm.firstName.$error.pattern && (retailerFrm.$submitted || retailerFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Last Name</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="lastName" ng-model="retailer.lastName">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Email Address</label>
                            <label class="input" ng-class="{ 'state-error' : retailerFrm.email.$invalid && (retailerFrm.$submitted || retailerFrm.email.$touched) }">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email" ng-model="retailer.emailId" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" ng-disabled="true">
                            </label>
							<em ng-if="retailerFrm.email.$error.pattern && (retailerFrm.$submitted || retailerFrm.email.$touched)">Enter a valid email address.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Phone No. / Mobile No.</label>
                            <label class="input" ng-class="{ 'state-error' : retailerFrm.phoneNo.$invalid && (retailerFrm.$submitted || retailerFrm.phoneNo.$touched) }">
                                <i class="icon-append fa fa-phone"></i>
                                <input type="tel" name="phoneNo" ng-model="retailer.phoneNo" default-country="in" international-phone-number required />
                            </label>
							
							<em ng-if="retailerFrm.phoneNo.$error.required && (retailerFrm.$submitted || retailerFrm.phoneNo.$touched)">Phone No. is required</em>
							<em ng-if="retailerFrm.phoneNo.$error.internationalPhoneNumber && (retailerFrm.$submitted || retailerFrm.phoneNo.$touched)">Phone No. is not valid</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Retailer Image</label>
                            <label for="file" class="input input-file">
                                <div class="button"><input type="file" ngf-select ng-model="retailerImage" ngf-multiple="false" accept="image/*" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly>
                            </label>    
                        </section>
                    </div>
					
					<div class="headline">
						<h3>Retailer Address</h3>
					</div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Address Line 1</label>
                            <label class="input" ng-class="{ 'state-error' : retailerFrm.addressLine1.$invalid && (retailerFrm.$submitted || retailerFrm.addressLine1.$touched) }">
                                <input type="text" name="addressLine1" ng-model="retailer.address.addressLine1" required>
                            </label>
							<em ng-if="retailerFrm.addressLine1.$error.required && (retailerFrm.$submitted || retailerFrm.addressLine1.$touched)">Address Line 1 is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Address Line 2</label>
                            <label class="input">
                                <input type="text" name="addressLine2" ng-model="retailer.address.addressLine2">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">City</label>
                            <label class="input" ng-class="{ 'state-error' : retailerFrm.city.$invalid && (retailerFrm.$submitted || retailerFrm.city.$touched) }">
                                <input type="text" name="city" ng-model="retailer.address.city" required>
                            </label>
							<em ng-if="retailerFrm.city.$error.required && (retailerFrm.$submitted || retailerFrm.city.$touched)">City is required</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">State</label>
                            <label class="select" ng-class="{ 'state-error' : retailerFrm.state.$invalid && (retailerFrm.$submitted || retailerFrm.state.$touched) }">
                                <select name="state" data-ng-options="state.name for state in states track by state.id" data-ng-model="retailer.address.state" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="retailerFrm.state.$error.required && (retailerFrm.$submitted || retailerFrm.state.$touched)">State is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Country</label>
                            <label class="select" ng-class="{ 'state-error' : retailerFrm.country.$invalid && (retailerFrm.$submitted || retailerFrm.country.$touched) }">
								<select name="country" data-ng-options="country.name for country in countries track by country.id" data-ng-model="retailer.address.country" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="retailerFrm.country.$error.required && (retailerFrm.$submitted || retailerFrm.country.$touched)">Country is required</em>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-4">
							<label class="label">Zipcode</label>
                            <label class="input" ng-class="{ 'state-error' : retailerFrm.zipcode.$invalid && (retailerFrm.$submitted || retailerFrm.zipcode.$touched) }">
                                <input type="text" name="zipcode" ng-model="retailer.address.zipcode" ui-mask="999999" required>
                            </label>
							<em ng-if="retailerFrm.zipcode.$error.required && (retailerFrm.$submitted || retailerFrm.zipcode.$touched)">Zipcode is required</em>
                        </section>
                    </div>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="retailerFrm.$submitted = true; ok(retailerFrm.$valid)">Save Changes</button>
        </div>
    </div>
	