
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Email Verification</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li class="active">Email Verification</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form name="verificationFrm" class="reg-page" ng-submit="verifyAndProceed(verificationFrm)" novalidate>
                    <div class="reg-header" ng-if="emailVerificationSuccess">
                        <button class="btn btn-u btn-lg">
                          	<i class="fa fa-check"></i>
                        </button>
                        <h2>Email Address has been verified successfully</h2>
                        <p class="verify-label">We have successfully verified your email address. Thank you for choosing us. Please click <a href="/#/login">here</a> to do the login</p>
                    </div>
					
					<div class="reg-header" ng-if="!emailVerificationSuccess">
						<div class="alert alert-danger fade in">
							{{emailVerificationMessage}}
						</div>
                    </div>
                </form>
            </div>
        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->

