
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Forgot password</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li class="active">Forgot password</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            	<div ng-if="!resetLinkSent">
	                <form ng-submit="login(credentials)" class="sky-form reg-page">
	                    <div class="reg-header">
	                        <h2>Forgot Password</h2>
	                        <h6>Please enter your email address. we will send you link to change your password.</h6>
	                    </div>
	
						<section>
	                   		<label class="input">
	                               <i class="icon-append fa fa-envelope-o"></i>
	                               <input type="email" ng-model="emailAddress" placeholder="Email address"/>
	                               <em class="settings-error">{{errorMessage}}</em>
	                           </label>
	                   	</section>
	                    
	                    <div class="row">
	                        <div class="col-md-6"></div>
	                        <div class="col-md-6">
	                            <button class="btn-u pull-right" type="submit" ng-click="submit(emailAddress)">Submit</button>
	                        </div>
	                    </div>
	                </form>
	        	</div>
	        	<div ng-if="resetLinkSent">
	        		<div class="well">
						<span>
							A link has been sent on your registered email address. Please follow the link to reset your password.
						</span>
						<br/>
						<br/>
						<a href="#/login">Login</a>
					</div>
	        	</div>
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
