
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Login</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li class="active">Login</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <form name="loginFrm" ng-submit="loginFrm.$submitted = true; login(loginFrm.$valid)" class="reg-page prak-reg-page" novalidate>
                    <div class="reg-header">
                        <h2>Login to your account</h2>
                    </div>

					<span ng-if="errorMessage" ng-class="error-message">
						<div class="alert alert-danger fade in">{{errorMessage}}</div>
					</span>
                    <div class="margin-bottom-20">
						        
                    	<div class="input-group" ng-class="{ 'state-error' : loginFrm.username.$invalid && (loginFrm.$submitted || loginFrm.username.$touched) }">
	                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
	                        <input type="text" name="username" placeholder="Email address / Mobile no." ng-model="credentials.username" class="form-control" required>
	                    </div>
	                    
	                    <em ng-class="pull-right" ng-if="loginFrm.username.$error.required && (loginFrm.$submitted || loginFrm.username.$touched)">Email Address / Mobile No. is required.</em>
                    </div>
                    <div class="margin-bottom-20">
                    	<div class="input-group" ng-class="{ 'state-error' : loginFrm.password.$invalid && (loginFrm.$submitted || loginFrm.password.$touched) }">
	                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
	                        <input type="password" name="password" placeholder="Password" ng-model="credentials.password" class="form-control" required>
	                    </div>
	                    
	                    <em ng-if="loginFrm.password.$error.required && (loginFrm.$submitted || loginFrm.password.$touched)">Password is required.</em>
                    </div>

                    <div class="row">
                        <div class="col-md-6 checkbox">
                            <label><input type="checkbox" name="staySigned" ng-model="staySigned"> Stay signed in</label>
                        </div>
                        <div class="col-md-6">
                            <button class="btn-u pull-right" type="submit">Login</button>
                            <!-- <button class="mdl-button pull-right mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  								Login
							</button> -->
                        </div>
                    </div>

                    <hr>

                    <h4>Forget your Password ?</h4>
                    <p>no worries, <a class="color-green" href="#/ForgotPasswd">click here</a> to reset your password.</p>
                </form>
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
