	
	<!-- START: modal -->
	<div class="modal-content">
		<div class="modal-body">
			<!-- Tab v1 -->
			<div class="tab-v1">
				<tabset justified="true">
				    <tab heading="Login">
				    	<div class="tab-pane fade in active" id="loginTab">
							<form name="loginFrm" class="prak-reg-page padding-left-40 padding-right-40" ng-submit="loginFrm.$submitted = true; login(loginFrm.$valid)" novalidate>
								<div class="reg-header">
									<h2>Login to your account</h2>
								</div>

								<div class=" margin-bottom-20">
									<label>Email Address / Mobile No.</label>
									<div class="input" ng-class="{ 'state-error' : loginFrm.username.$invalid && (loginFrm.$submitted || loginFrm.username.$touched) }">
										<input type="text" name="username" ng-model="credentials.username" placeholder="Email Address / Mobile No." class="form-control" required>
									</div>
									
									<em ng-if="loginFrm.username.$error.required && (loginFrm.$submitted || loginFrm.username.$touched)">Email Address / Mobile No. is required.</em>
								</div>

								<div class=" margin-bottom-20">
									<label>Password</label>
									<div class="input" ng-class="{ 'state-error' : loginFrm.password.$invalid && (loginFrm.$submitted || loginFrm.password.$touched) }">
										<input type="password" name="password" ng-model="credentials.password" placeholder="Password" class="form-control" required>
									</div>
									
									<em ng-if="loginFrm.password.$error.required && (loginFrm.$submitted || loginFrm.password.$touched)">Password is required.</em>
								</div>

								<div class="row">
									<div class="col-md-6 checkbox">
										<label><input type="checkbox"> Stay signed in</label>
									</div>
									<div class="col-md-6">
										<button class="btn-u pull-right" type="submit">Login</button>
									</div>
								</div>

								<hr>

								<h4>Forget your Password ?</h4>
								<p>
									no worries, <a class="color-green" href="javascript: void(0);">click here</a> to
									reset your password.
								</p>
							</form>
						</div>		
				    </tab>
				    <tab heading="Register">
						<div class="tab-pane fade in" id="registerTab">
							<form name="registerFrm" class="prak-reg-page padding-left-40 padding-right-40" ng-submit="registerFrm.$submitted = true; register(registerFrm.$valid)" novalidate>
								<div class="reg-header">
									<h2>Register a new account</h2>
									<!-- <p>
										Already Signed Up? Click <a href="page_login.html"
											class="color-green">Sign In</a> to login your account.
									</p> -->
								</div>
<!-- 
								<fieldset class="col-sm-12 margin-bottom-10">
									<div class="col-sm-4">
										<label class="radio"><input type="radio"
											name="userType" ng-model="userType" value="farmer"><i
											class="rounded-x"></i>Farmer</label>
									</div>
									<div class="col-sm-4">
										<label class="radio"><input type="radio"
											name="userType" ng-model="userType" value="customer"><i
											class="rounded-x"></i>Customer</label>
									</div> -->
									<!-- 
									<div class="col-sm-3">
										<label class="radio"><input type="radio"
											name="userType" ng-model="userType" value="trader"><i
											class="rounded-x"></i>Trader</label>
									</div>
									<div class="col-sm-3">
										<label class="radio"><input type="radio"
											name="userType" ng-model="userType" value="retailer"><i
											class="rounded-x"></i>Retailer</label>
									</div>
									 -->
									<!-- 
									<div class="col-sm-4">
										<label class="radio"><input type="radio"
											name="userType" ng-model="userType" value="company"><i
											class="rounded-x"></i>Company</label>
									</div> -->
								</fieldset>

								<div ng-if="userType == 'farmer'">
									<div class="row margin-bottom-20">
										<div class="col-sm-6">
											<label>First Name <span class="color-red">*</span></label>
						           		    <div class="input" ng-class="{ 'state-error' : registerFrm.firstName.$invalid && (registerFrm.$submitted || registerFrm.firstName.$touched) }">
						                    	<input type="text" name="firstName" ng-model="farmer.firstName" class="form-control" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
						                    </div>
						                    
						                    <em ng-if="registerFrm.firstName.$error.required && (registerFrm.$submitted || registerFrm.firstName.$touched)">First name is required.</em>
											<em ng-if="registerFrm.firstName.$error.minlength && (registerFrm.$submitted || registerFrm.firstName.$touched)">First Name is too short.</em>
											<em ng-if="registerFrm.firstName.$error.pattern && (registerFrm.$submitted || registerFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
										</div>
										
										<div class="col-sm-6">
											<label>Last Name</label>
						                    <div class="input">
						                    	<input type="text" name="lastName" ng-model="farmer.lastName" class="form-control margin-bottom-20">
						                    </div>
										</div>
									</div>
									
									<div class="margin-bottom-20">
										<label>Mobile No. <span class="color-red">*</span></label>
					                    <div class="input" ng-class="{ 'state-error' : registerFrm.mobileNo.$invalid && (registerFrm.$submitted || registerFrm.mobileNo.$touched) }">
					                    	<input type="text" name="mobileNo" ng-model="farmer.mobileNo" class="form-control" default-country="in" international-phone-number required />
					                    </div>
					                    
					                    <em ng-if="registerFrm.mobileNo.$error.required && (registerFrm.$submitted || registerFrm.mobileNo.$touched)">Mobile No. is required.</em>
										<em ng-if="registerFrm.mobileNo.$error.internationalPhoneNumber && (registerFrm.$submitted || registerFrm.mobileNo.$touched)">Mobile No. is not valid</em>
										<em ng-if="registerFrm.mobileNo.$error.server && (registerFrm.$submitted || registerFrm.mobileNo.$touched)">{{registerFrm.mobileNo.$error.message}}</em>
									</div>
	
									<div class="margin-bottom-20">
										<label>Email Address </label>
					                    <div class="input" ng-class="{ 'state-error' : registerFrm.emailAddress.$invalid && (registerFrm.$submitted || registerFrm.emailAddress.$touched) }">
					                    	<input type="email" name="emailAddress" ng-model="farmer.emailAddress" class="form-control" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
					                    </div>
					                    
					                    <em ng-if="registerFrm.emailAddress.$error.pattern && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">Please enter a valid Email Address</em>
					                    <em ng-if="registerFrm.emailAddress.$error.server && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">{{registerFrm.emailAddress.$error.message}}</em>
									</div>
	
									<div class="row margin-bottom-20">
										<div class="col-sm-6">
											<label>Password <span class="color-red">*</span></label>
				                            <div class="input" ng-class="{ 'state-error' : registerFrm.password.$invalid && (registerFrm.$submitted || registerFrm.password.$touched) }">
				                            	<input type="password" name="password" ng-model="farmer.password" class="form-control" equals="{{farmer.confirmPassword}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
				                            </div>
				                            <em ng-if="registerFrm.password.$error.required && (registerFrm.$submitted || registerFrm.password.$touched)">Password is required.</em>
											<em ng-if="registerFrm.password.$error.minlength && (registerFrm.$submitted || registerFrm.password.$touched)">Password is too short.</em>
											<em ng-if="registerFrm.password.$error.server && (registerFrm.$submitted || registerFrm.password.$touched)">{{registerFrm.password.$error.message}}</em>
											<em ng-if="registerFrm.password.$error.pattern && (registerFrm.$submitted || registerFrm.password.$touched)">Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
										</div>
										<div class="col-sm-6">
											<label>Confirm Password <span class="color-red">*</span></label>
				                            <div class="input" ng-class="{ 'state-error' : registerFrm.confirmPassword.$invalid && (registerFrm.$submitted || registerFrm.confirmPassword.$touched) }">
				                            	<input type="password" name="confirmPassword" ng-model="farmer.confirmPassword" class="form-control" equals="{{farmer.password}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
				                            </div>
				                            
				                            <em ng-if="registerFrm.confirmPassword.$error.required && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password is required.</em>
											<em ng-if="registerFrm.confirmPassword.$error.minlength && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password is too short.</em>
											<em ng-if="registerFrm.confirmPassword.$error.equals && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Passwords are not identical</em>
											<em ng-if="registerFrm.confirmPassword.$error.pattern && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
										</div>
									</div>
								</div>
								
								<div ng-if="userType == 'customer'">
									<div class="row margin-bottom-20">
										<div class="col-sm-6">
											<label>First Name <span class="color-red">*</span></label>
						           		    <div class="input" ng-class="{ 'state-error' : registerFrm.firstName.$invalid && (registerFrm.$submitted || registerFrm.firstName.$touched) }">
						                    	<input type="text" name="firstName" ng-model="customer.firstName" class="form-control" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
						                    </div>
						                    
						                    <em ng-if="registerFrm.firstName.$error.required && (registerFrm.$submitted || registerFrm.firstName.$touched)">First name is required.</em>
											<em ng-if="registerFrm.firstName.$error.minlength && (registerFrm.$submitted || registerFrm.firstName.$touched)">First Name is too short.</em>
											<em ng-if="registerFrm.firstName.$error.pattern && (registerFrm.$submitted || registerFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
										</div>
										
										<div class="col-sm-6">
											<label>Last Name</label>
						                    <div class="input">
						                    	<input type="text" name="lastName" ng-model="customer.lastName" class="form-control margin-bottom-20">
						                    </div>
										</div>
									</div>
									
									<div class="col margin-bottom-20">
					                    <label>Email Address <span class="color-red">*</span></label>
					                    <div class="input" ng-class="{ 'state-error' : registerFrm.emailAddress.$invalid && (registerFrm.$submitted || registerFrm.emailAddress.$touched) }">
					                    	<input type="email" name="emailAddress" ng-model="customer.emailAddress" class="form-control" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" required>
					                    </div>
					                    
					                    <em ng-if="registerFrm.emailAddress.$error.required && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">Email Address is required</em>
					                    <em ng-if="registerFrm.emailAddress.$error.pattern && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">Please enter a valid Email Address</em>
					                    <em ng-if="registerFrm.emailAddress.$error.server && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">{{registerFrm.emailAddress.$error.message}}</em>
					                </div>
					                
					                <div class="col margin-bottom-20">
					                    <label>Mobile No. </label>
					                    <div class="input" ng-class="{ 'state-error' : registerFrm.mobileNo.$invalid && (registerFrm.$submitted || registerFrm.mobileNo.$touched) }">
					                    	<input type="text" name="mobileNo" ng-model="customer.mobileNo" class="form-control" default-country="in" international-phone-number>
					                    </div>
					                    
					                    <em ng-if="registerFrm.mobileNo.$error.internationalPhoneNumber && (registerFrm.$submitted || registerFrm.mobileNo.$touched)">Mobile No. is not valid</em>
					                </div>
	
									<div class="row margin-bottom-20">
										<div class="col-sm-6">
											<label>Password <span class="color-red">*</span></label>
				                            <div class="input" ng-class="{ 'state-error' : registerFrm.password.$invalid && (registerFrm.$submitted || registerFrm.password.$touched) }">
				                            	<input type="password" name="password" ng-model="customer.password" class="form-control" equals="{{customer.confirmPassword}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
				                            </div>
				                            <em ng-if="registerFrm.password.$error.required && (registerFrm.$submitted || registerFrm.password.$touched)">Password is required.</em>
											<em ng-if="registerFrm.password.$error.minlength && (registerFrm.$submitted || registerFrm.password.$touched)">Password is too short.</em>
											<em ng-if="registerFrm.password.$error.server && (registerFrm.$submitted || registerFrm.password.$touched)">{{registerFrm.password.$error.message}}</em>
											<em ng-if="registerFrm.password.$error.pattern && (registerFrm.$submitted || registerFrm.password.$touched)">Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
										</div>
										<div class="col-sm-6">
											<label>Confirm Password <span class="color-red">*</span></label>
				                            <div class="input" ng-class="{ 'state-error' : registerFrm.confirmPassword.$invalid && (registerFrm.$submitted || registerFrm.confirmPassword.$touched) }">
				                            	<input type="password" name="confirmPassword" ng-model="customer.confirmPassword" class="form-control" equals="{{customer.password}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
				                            </div>
				                            
				                            <em ng-if="registerFrm.confirmPassword.$error.required && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password is required.</em>
											<em ng-if="registerFrm.confirmPassword.$error.minlength && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password is too short.</em>
											<em ng-if="registerFrm.confirmPassword.$error.equals && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Passwords are not identical</em>
											<em ng-if="registerFrm.confirmPassword.$error.pattern && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
										</div>
									</div>
								</div>
								
								<!-- 
								<div ng-if="userType == 'trader'">
									<div class="row margin-bottom-20">
										<div class="col-sm-6">
											<label>First Name <span class="color-red">*</span></label>
						           		    <div class="input" ng-class="{ 'state-error' : registerFrm.firstName.$invalid && registerFrm.firstName.$touched }">
						                    	<input type="text" name="firstName" ng-model="broker.firstName" class="form-control" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
						                    </div>
						                    
						                    <em ng-if="registerFrm.firstName.$error.required && registerFrm.firstName.$touched">First name is required.</em>
											<em ng-if="registerFrm.firstName.$error.minlength && registerFrm.firstName.$touched">First Name is too short.</em>
											<em ng-if="registerFrm.firstName.$error.pattern && registerFrm.firstName.$touched">Only alphanumerics are allowed.</em>
										</div>
										
										<div class="col-sm-6">
											<label>Last Name</label>
						                    <div class="input">
						                    	<input type="text" name="lastName" ng-model="broker.lastName" class="form-control margin-bottom-20">
						                    </div>
										</div>
									</div>
									
									<div class="margin-bottom-20">
										<label>Phone No. <span class="color-red">*</span></label>
					                    <div class="input" ng-class="{ 'state-error' : registerFrm.phoneNo.$invalid && registerFrm.phoneNo.$touched }">
					                    	<input type="text" name="phoneNo" ng-model="broker.phoneNo" class="form-control" default-country="in" international-phone-number required />
					                    </div>
					                    
					                    <em ng-if="registerFrm.phoneNo.$error.required && registerFrm.phoneNo.$touched">Phone No. is required.</em>
										<em ng-if="registerFrm.phoneNo.$error.internationalPhoneNumber && registerFrm.phoneNo.$touched">Phone No. is not valid</em>
										<em ng-if="registerFrm.phoneNo.$error.server && registerFrm.phoneNo.$touched">{{registerFrm.phoneNo.$error.message}}</em>
									</div>
	
									<div class="margin-bottom-20">
										<label>Email Address </label>
					                    <div class="input" ng-class="{ 'state-error' : registerFrm.emailAddress.$invalid && registerFrm.emailAddress.$touched }">
					                    	<input type="email" name="emailAddress" ng-model="farmer.emailAddress" class="form-control" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
					                    </div>
					                    
					                    <em ng-if="registerFrm.emailAddress.$error.pattern && registerFrm.emailAddress.$touched">Please enter a valid Email Address</em>
					                    <em ng-if="registerFrm.emailAddress.$error.server && registerFrm.emailAddress.$touched">{{registerFrm.emailAddress.$error.message}}</em>
									</div>

									<div class="row margin-bottom-20">
										<label>Mobile No. </label>
					                    <div class="input" ng-class="{ 'state-error' : registerFrm.mobileNo.$invalid && registerFrm.mobileNo.$touched }">
					                    	<input type="text" name="mobileNo" ng-model="broker.mobileNo" class="form-control" default-country="in" international-phone-number />
					                    </div>
					                    
					                    <em ng-if="registerFrm.mobileNo.$error.internationalPhoneNumber && registerFrm.mobileNo.$touched">Mobile No. is not valid</em>
									</div>
	
									<div class="row margin-bottom-20">
										<div class="col-sm-6">
											<label>Password <span class="color-red">*</span></label>
				                            <div class="input" ng-class="{ 'state-error' : registerFrm.password.$invalid && registerFrm.password.$touched }">
				                            	<input type="password" name="password" ng-model="broker.password" class="form-control" equals="{{farmer.conficustomerword}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
				                            </div>
				                            <em ng-if="registerFrm.password.$error.required && registerFrm.password.$touched">Password is required.</em>
											<em ng-if="registerFrm.password.$error.minlength && registerFrm.password.$touched">Password is too short.</em>
											<em ng-if="registerFrm.password.$error.server && registerFrm.password.$touched">{{registerFrm.password.$error.message}}</em>
											<em ng-if="registerFrm.password.$error.pattern && registerFrm.password.$touched">Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
										</div>
										<div class="col-sm-6">
											<label>Confirm Password <span class="color-red">*</span></label>
				                            <div class="input" ng-class="{ 'state-error' : registerFrm.confirmPassword.$invalid && registerFrm.confirmPassword.$touched }">
				                            	<input type="password" name="confirmPassword" ng-model="broker.confirmPassword" class="form-control" equals="{{farmer.password}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
				                            </div>
				                            
				                            <em ng-if="registerFrm.confirmPassword.$error.required && registerFrm.confirmPassword.$touched">Confirm Password is required.</em>
											<em ng-if="registerFrm.confirmPassword.$error.minlength && registerFrm.confirmPassword.$touched">Confirm Password is too short.</em>
											<em ng-if="registerFrm.confirmPassword.$error.equals && registerFrm.confirmPassword.$touched">Passwords are not identical</em>
											<em ng-if="registerFrm.confirmPassword.$error.pattern && registerFrm.confirmPassword.$touched">Confirm Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
										</div>
									</div>
								</div>
								
								<div ng-if="userType == 'retailer'">
									<div class="row margin-bottom-20">
										<div class="col-sm-6">
											<label>First Name <span class="color-red">*</span></label>
						           		    <div class="input" ng-class="{ 'state-error' : registerFrm.firstName.$invalid && registerFrm.firstName.$touched }">
						                    	<input type="text" name="firstName" ng-model="retailer.firstName" class="form-control" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
						                    </div>
						                    
						                    <em ng-if="registerFrm.firstName.$error.required && registerFrm.firstName.$touched">First name is required.</em>
											<em ng-if="registerFrm.firstName.$error.minlength && registerFrm.firstName.$touched">First Name is too short.</em>
											<em ng-if="registerFrm.firstName.$error.pattern && registerFrm.firstName.$touched">Only alphanumerics are allowed.</em>
										</div>
										
										<div class="col-sm-6">
											<label>Last Name</label>
						                    <div class="input">
						                    	<input type="text" name="lastName" ng-model="retailer.lastName" class="form-control margin-bottom-20">
						                    </div>
										</div>
									</div>
									
									<div class="margin-bottom-20">
										<label>Phone No. <span class="color-red">*</span></label>
					                    <div class="input" ng-class="{ 'state-error' : registerFrm.phoneNo.$invalid && registerFrm.phoneNo.$touched }">
					                    	<input type="text" name="phoneNo" ng-model="retailer.phoneNo" class="form-control" default-country="in" international-phone-number required />
					                    </div>
					                    
					                    <em ng-if="registerFrm.phoneNo.$error.required && registerFrm.phoneNo.$touched">Phone No. is required.</em>
										<em ng-if="registerFrm.phoneNo.$error.internationalPhoneNumber && registerFrm.phoneNo.$touched">Phone No. is not valid</em>
										<em ng-if="registerFrm.phoneNo.$error.server && registerFrm.phoneNo.$touched">{{registerFrm.phoneNo.$error.message}}</em>
									</div>
	
									<div class="margin-bottom-20">
										<label>Email Address </label>
					                    <div class="input" ng-class="{ 'state-error' : registerFrm.emailAddress.$invalid && registerFrm.emailAddress.$touched }">
					                    	<input type="email" name="emailAddress" ng-model="retailer.emailAddress" class="form-control" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
					                    </div>
					                    
					                    <em ng-if="registerFrm.emailAddress.$error.pattern && registerFrm.emailAddress.$touched">Please enter a valid Email Address</em>
					                    <em ng-if="registerFrm.emailAddress.$error.server && registerFrm.emailAddress.$touched">{{registerFrm.emailAddress.$error.message}}</em>
									</div>
									
									<div class="margin-bottom-20">
					                    <label>Mobile No. </label>
					                    <div class="input" ng-class="{ 'state-error' : registerFrm.mobileNo.$invalid && registerFrm.mobileNo.$touched }">
					                    	<input type="text" name="mobileNo" ng-model="retailer.mobileNo" class="form-control" default-country="in" international-phone-number />
					                    </div>
					                    
					                    <em ng-if="registerFrm.mobileNo.$error.internationalPhoneNumber && registerFrm.mobileNo.$touched">Mobile No. is not valid</em>
					                </div>
				                    		
									<div class="row margin-bottom-20">
										<div class="col-sm-6">
											<label>Password <span class="color-red">*</span></label>
				                            <div class="input" ng-class="{ 'state-error' : registerFrm.password.$invalid && registerFrm.password.$touched }">
				                            	<input type="password" name="password" ng-model="retailer.password" class="form-control" equals="{{farmer.confirmPassword}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
				                            </div>
				                            <em ng-if="registerFrm.password.$error.required && registerFrm.password.$touched">Password is required.</em>
											<em ng-if="registerFrm.password.$error.minlength && registerFrm.password.$touched">Password is too short.</em>
											<em ng-if="registerFrm.password.$error.server && registerFrm.password.$touched">{{registerFrm.password.$error.message}}</em>
											<em ng-if="registerFrm.password.$error.pattern && registerFrm.password.$touched">Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
										</div>
										<div class="col-sm-6">
											<label>Confirm Password <span class="color-red">*</span></label>
				                            <div class="input" ng-class="{ 'state-error' : registerFrm.confirmPassword.$invalid && registerFrm.confirmPassword.$touched }">
				                            	<input type="password" name="confirmPassword" ng-model="retailer.confirmPassword" class="form-control" equals="{{farmer.password}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
				                            </div>
				                            
				                            <em ng-if="registerFrm.confirmPassword.$error.required && registerFrm.confirmPassword.$touched">Confirm Password is required.</em>
											<em ng-if="registerFrm.confirmPassword.$error.minlength && registerFrm.confirmPassword.$touched">Confirm Password is too short.</em>
											<em ng-if="registerFrm.confirmPassword.$error.equals && registerFrm.confirmPassword.$touched">Passwords are not identical</em>
											<em ng-if="registerFrm.confirmPassword.$error.pattern && registerFrm.confirmPassword.$touched">Confirm Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
										</div>
									</div>
								</div>
								 -->
								
								<div ng-if="userType == 'company'">
									<div class="col margin-bottom-20">
					           		    <label>Company Name <span class="color-red">*</span></label>
					           		    <div class="input" ng-class="{ 'state-error' : registerFrm.name.$invalid && (registerFrm.$submitted || registerFrm.name.$touched) }">
					                    	<input type="text" name="name" ng-model="retailer.name" class="form-control" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
					                    </div>
					                    
					                    <em ng-if="registerFrm.name.$error.required && (registerFrm.$submitted || registerFrm.name.$touched)">Company Name is required.</em>
										<em ng-if="registerFrm.name.$error.minlength && (registerFrm.$submitted || registerFrm.name.$touched)">Company Name is too short.</em>
										<em ng-if="registerFrm.name.$error.pattern && (registerFrm.$submitted || registerFrm.name.$touched)">Only alphanumerics are allowed.</em>
									</div>
									
					               	<div class="col margin-bottom-20">
					                    <label>Email Address <span class="color-red">*</span></label>
					                    <div class="input" ng-class="{ 'state-error' : registerFrm.emailAddress.$invalid && (registerFrm.$submitted || registerFrm.emailAddress.$touched) }">
					                    	<input type="email" name="emailAddress" ng-model="company.emailAddress" class="form-control" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" required>
					                    </div>
					                    
					                    <em ng-if="registerFrm.emailAddress.$error.required && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">Email Address is required</em>
					                    <em ng-if="registerFrm.emailAddress.$error.pattern && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">Please enter a valid Email Address</em>
					                </div>
				
									<div class="col margin-bottom-20">
										<label>Phone No. <span class="color-red">*</span></label>
					                    <div class="input" ng-class="{ 'state-error' : registerFrm.phoneNo.$invalid && (registerFrm.$submitted || registerFrm.phoneNo.$touched) }">
					                    	<input type="text" name="phoneNo" ng-model="company.phoneNo" class="form-control margin-bottom-20" default-country="in" international-phone-number required />
					                    </div>
					                    
										<em ng-if="registerFrm.phoneNo.$error.required && (registerFrm.$submitted || registerFrm.phoneNo.$touched)">Phone No. is required.</em>
										<em ng-if="registerFrm.phoneNo.$error.internationalPhoneNumber && (registerFrm.$submitted || registerFrm.phoneNo.$touched)">Phone No. is not valid</em>
					               	</div>
								</div>
								
								<hr>

								<div class="row">
									<div class="col-lg-6 checkbox">
			                            <label ng-class="{ 'state-error' : registerFrm.termsAndConditions.$invalid && (registerFrm.$submitted || registerFrm.termsAndConditions.$touched) }">
			                                <input name="termsAndConditions" ng-model="termsAndConditions" type="checkbox" ng-required="!termsAndConditions">
			                                I read <a href="assets/pages/terms-and-conditions.component.html" target="_blank" class="color-green">Terms and Conditions</a>
			                            </label>
			                            <em ng-if="registerFrm.termsAndConditions.$error.required && (registerFrm.$submitted || registerFrm.termsAndConditions.$touched)">Please accept the terms and conditions.</em>
			                        </div>
			                        <div class="col-lg-6 text-right">
			                            <button class="btn-u" type="submit">Register</button>
			                        </div>
								</div>
							</form>
						</div>						    	
				    </tab>
				</tabset>
			</div>
			<!-- End Tab v1 -->
		</div>
	</div>
	<!-- END: modal -->