
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Registration</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li class="active">Registration</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form name="registerFrm" class="reg-page prak-reg-page" ng-submit="registerFrm.$submitted = true; register(registerFrm.$valid);" novalidate>
                    <div class="reg-header">
                        <h2>Register a new account</h2>
                        <p>Already Signed Up? Click <a href="#/login" class="color-green">Sign In</a> to login your account.</p>
                    </div>
			
            		<fieldset class="col-sm-12 margin-bottom-10">
                        <div class="col-sm-4 col-xs-6">
                            <label class="radio"><input type="radio" name="userType" ng-model="userType" value="farmer" ng-change="registerFrm.$submitted = false;"><i class="rounded-x"></i>Farmer</label>
                        </div>
                        <!-- 
                        <div class="col-sm-4 col-xs-6">
                        	<label class="radio"><input type="radio" name="userType" ng-model="userType" value="customer" ng-change="registerFrm.$submitted = false;"><i class="rounded-x"></i>Customer</label>
                        </div>
                        -->
                        <div class="col-sm-4 col-xs-6">
                        	<label class="radio"><input type="radio" name="userType" ng-model="userType" value="broker" ng-change="registerFrm.$submitted = false;"><i class="rounded-x"></i>Trader</label>
                        </div>
                        <!-- 
                        <div class="col-sm-3 col-xs-6">
                        	<label class="radio"><input type="radio" name="userType" ng-model="userType" value="retailer" ng-change="registerFrm.$submitted = false;"><i class="rounded-x"></i>Retailer</label>
                        </div>
                         -->
                        <div class="col-sm-4 col-xs-6">
                        	<label class="radio"><input type="radio" name="userType" ng-model="userType" value="company" ng-change="registerFrm.$submitted = false;"><i class="rounded-x"></i>Company</label>
                        </div>
                    </fieldset>
            		
            		<fieldset class="col-sm-12" ng-if="userType == 'farmer'">
            			<section class="col margin-bottom-20">
		           		    <label>First Name <span class="color-red">*</span></label>
		           		    <div class="input" ng-class="{ 'state-error' : registerFrm.firstName.$invalid && (registerFrm.$submitted || registerFrm.firstName.$touched) }">
		                    	<input type="text" name="firstName" ng-model="farmer.firstName" class="form-control" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
		                    </div>
		                    
		                    <em ng-if="registerFrm.firstName.$error.required && (registerFrm.$submitted || registerFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="registerFrm.firstName.$error.minlength && (registerFrm.$submitted || registerFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="registerFrm.firstName.$error.pattern && (registerFrm.$submitted || registerFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
						</section>
						
						<div class="col margin-bottom-20">
		                    <label>Last Name</label>
		                    <div class="input">
		                    	<input type="text" name="lastName" ng-model="farmer.lastName" class="form-control margin-bottom-20">
		                    </div>
						</div>
						
						<div class="col margin-bottom-20">
		                    <label>Mobile No. <span class="color-red">*</span></label>
		                    <div class="input" ng-class="{ 'state-error' : registerFrm.mobileNo.$invalid && (registerFrm.$submitted || registerFrm.mobileNo.$touched) }">
		                    	<input type="text" name="mobileNo" ng-model="farmer.mobileNo" class="form-control" default-country="in" 
		                    			international-phone-number required>
		                    </div>
		                    <em ng-if="registerFrm.mobileNo.$error.required && (registerFrm.$submitted || registerFrm.mobileNo.$touched)">Mobile No. is required.</em>
							<em ng-if="registerFrm.mobileNo.$error.internationalPhoneNumber && (registerFrm.$submitted || registerFrm.mobileNo.$touched)">Mobile No. is not valid</em>
							<em ng-if="registerFrm.mobileNo.$error.server && (registerFrm.$submitted || registerFrm.mobileNo.$touched)">{{registerFrm.mobileNo.$error.message}}</em>
		                </div>
	                    
	                    <div class="col margin-bottom-20">
		                    <label>Email Address </label>
		                    <div class="input" ng-class="{ 'state-error' : registerFrm.emailAddress.$invalid && (registerFrm.$submitted || registerFrm.emailAddress.$touched) }">
		                    	<input type="email" name="emailAddress" ng-model="farmer.emailAddress" class="form-control" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
		                    </div>
		                    
		                    <em ng-if="registerFrm.emailAddress.$error.pattern && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">Please enter a valid Email Address</em>
		                    <em ng-if="registerFrm.emailAddress.$error.server && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">{{registerFrm.emailAddress.$error.message}}</em>
		                </div>
	                    
	                    <div class="col margin-bottom-20">
		                    <label>Password <span class="color-red">*</span></label>
                            <div class="input" ng-class="{ 'state-error' : registerFrm.password.$invalid && (registerFrm.$submitted || registerFrm.password.$touched) }">
                            	<input type="password" name="password" ng-model="farmer.password" class="form-control" equals="{{farmer.confirmPassword}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                            </div>
                            <em ng-if="registerFrm.password.$error.required && (registerFrm.$submitted || registerFrm.password.$touched)">Password is required.</em>
							<em ng-if="registerFrm.password.$error.minlength && (registerFrm.$submitted || registerFrm.password.$touched)">Password is too short.</em>
							<em ng-if="registerFrm.password.$error.server && (registerFrm.$submitted || registerFrm.password.$touched)">{{registerFrm.password.$error.message}}</em>
							<em ng-if="registerFrm.password.$error.pattern && (registerFrm.$submitted || registerFrm.password.$touched)">Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
		                </div>
	                    
	                    <div class="col margin-bottom-20">
		                    <label>Confirm Password <span class="color-red">*</span></label>
                            <div class="input" ng-class="{ 'state-error' : registerFrm.confirmPassword.$invalid && (registerFrm.$submitted || registerFrm.confirmPassword.$touched) }">
                            	<input type="password" name="confirmPassword" ng-model="farmer.confirmPassword" class="form-control" equals="{{farmer.password}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                            </div>
                            
                            <em ng-if="registerFrm.confirmPassword.$error.required && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password is required.</em>
							<em ng-if="registerFrm.confirmPassword.$error.minlength && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password is too short.</em>
							<em ng-if="registerFrm.confirmPassword.$error.equals && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Passwords are not identical</em>
							<em ng-if="registerFrm.confirmPassword.$error.pattern && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
		                </div>
					</fieldset>
					
					<fieldset class="col-sm-12" ng-if="userType == 'customer'">
            			<section class="col margin-bottom-20">
		           		    <label>First Name <span class="color-red">*</span></label>
		           		    <div class="input" ng-class="{ 'state-error' : registerFrm.firstName.$invalid && (registerFrm.$submitted || registerFrm.firstName.$touched) }">
		                    	<input type="text" name="firstName" ng-model="customer.firstName" class="form-control" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
		                    </div>
		                    
		                    <em ng-if="registerFrm.firstName.$error.required && (registerFrm.$submitted || registerFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="registerFrm.firstName.$error.minlength && (registerFrm.$submitted || registerFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="registerFrm.firstName.$error.pattern && (registerFrm.$submitted || registerFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
						</section>
						
						<div class="col margin-bottom-20">
		                    <label>Last Name</label>
		                    <div class="input">
		                    	<input type="text" name="lastName" ng-model="customer.lastName" class="form-control margin-bottom-20">
		                    </div>
						</div>
						
						<div class="col margin-bottom-20">
		                    <label>Email Address <span class="color-red">*</span></label>
		                    <div class="input" ng-class="{ 'state-error' : registerFrm.emailAddress.$invalid && (registerFrm.$submitted || registerFrm.emailAddress.$touched) }">
		                    	<input type="email" name="emailAddress" ng-model="customer.emailAddress" class="form-control" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" required>
		                    </div>
		                    
		                    <em ng-if="registerFrm.emailAddress.$error.required && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">Email Address is required</em>
		                    <em ng-if="registerFrm.emailAddress.$error.pattern && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">Please enter a valid Email Address</em>
		                    <em ng-if="registerFrm.emailAddress.$error.server && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">{{registerFrm.emailAddress.$error.message}}</em>
		                </div>
		                
		                <div class="col margin-bottom-20">
		                    <label>Mobile No. </label>
		                    <div class="input" ng-class="{ 'state-error' : registerFrm.mobileNo.$invalid && (registerFrm.$submitted || registerFrm.mobileNo.$touched) }">
		                    	<input type="text" name="mobileNo" ng-model="customer.mobileNo" class="form-control" default-country="in" international-phone-number>
		                    </div>
		                    
		                    <em ng-if="registerFrm.mobileNo.$error.internationalPhoneNumber && (registerFrm.$submitted || registerFrm.mobileNo.$touched)">Mobile No. is not valid</em>
		                </div>
	                    
	                    <div class="col margin-bottom-20">
		                    <label>Password <span class="color-red">*</span></label>
                            <div class="input" ng-class="{ 'state-error' : registerFrm.password.$invalid && (registerFrm.$submitted || registerFrm.password.$touched) }">
                            	<input type="password" name="password" ng-model="customer.password" class="form-control" equals="{{customer.confirmPassword}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                            </div>
                            <em ng-if="registerFrm.password.$error.required && (registerFrm.$submitted || registerFrm.password.$touched)">Password is required.</em>
							<em ng-if="registerFrm.password.$error.minlength && (registerFrm.$submitted || registerFrm.password.$touched)">Password is too short.</em>
							<em ng-if="registerFrm.password.$error.server && (registerFrm.$submitted || registerFrm.password.$touched)">{{registerFrm.password.$error.message}}</em>
							<em ng-if="registerFrm.password.$error.pattern && (registerFrm.$submitted || registerFrm.password.$touched)">Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
		                </div>
	                    
	                    <div class="col margin-bottom-20">
		                    <label>Confirm Password <span class="color-red">*</span></label>
                            <div class="input" ng-class="{ 'state-error' : registerFrm.confirmPassword.$invalid && (registerFrm.$submitted || registerFrm.confirmPassword.$touched) }">
                            	<input type="password" name="confirmPassword" ng-model="customer.confirmPassword" class="form-control" equals="{{customer.password}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                            </div>
                            
                            <em ng-if="registerFrm.confirmPassword.$error.required && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password is required.</em>
							<em ng-if="registerFrm.confirmPassword.$error.minlength && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password is too short.</em>
							<em ng-if="registerFrm.confirmPassword.$error.equals && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Passwords are not identical</em>
							<em ng-if="registerFrm.confirmPassword.$error.pattern && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
		                </div>
					</fieldset>
					
					<fieldset class="col-sm-12" ng-if="userType == 'broker'">
	           		    <section class="col margin-bottom-20">
		           		    <label>First Name <span class="color-red">*</span></label>
		           		    <div class="input" ng-class="{ 'state-error' : registerFrm.firstName.$invalid && (registerFrm.$submitted || registerFrm.firstName.$touched) }">
		                    	<input type="text" name="firstName" ng-model="broker.firstName" class="form-control" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
		                    </div>
		                    
		                    <em ng-if="registerFrm.firstName.$error.required && (registerFrm.$submitted || registerFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="registerFrm.firstName.$error.minlength && (registerFrm.$submitted || registerFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="registerFrm.firstName.$error.pattern && (registerFrm.$submitted || registerFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
						</section>
						
						<div class="col margin-bottom-20">
		                    <label>Last Name</label>
		                    <div class="input">
		                    	<input type="text" name="lastName" ng-model="broker.lastName" class="form-control margin-bottom-20">
		                    </div>
						</div>
						
		                <div class="col margin-bottom-20">
		                    <label>Mobile No. <span class="color-red">*</span></label>
		                    <div class="input" ng-class="{ 'state-error' : registerFrm.mobileNo.$invalid && (registerFrm.$submitted || registerFrm.mobileNo.$touched) }">
		                    	<input type="text" name="mobileNo" ng-model="broker.mobileNo" class="form-control" default-country="in" international-phone-number required >
		                    </div>
		                    
		                    <em ng-if="registerFrm.phoneNo.$error.required && (registerFrm.$submitted || registerFrm.phoneNo.$touched)">Phone No. is required.</em>
							<em ng-if="registerFrm.mobileNo.$error.internationalPhoneNumber && (registerFrm.$submitted || registerFrm.mobileNo.$touched)">Mobile No. is not valid</em>
							<em ng-if="registerFrm.phoneNo.$error.server && (registerFrm.$submitted || registerFrm.phoneNo.$touched)">{{registerFrm.phoneNo.$error.message}}</em>
		                </div>
	                    
						<div class="col margin-bottom-20">
		                    <label>License No. <span class="color-red">*</span></label>
		                    <div class="input" ng-class="{ 'state-error' : registerFrm.licenseNo.$invalid && (registerFrm.$submitted || registerFrm.licenseNo.$touched) }">
		                    	<input type="text" name="licenseNo" ng-model="broker.licenseNo" class="form-control" required/>
		                    </div>
		                    
		                    <em ng-if="registerFrm.licenseNo.$error.required && (registerFrm.$submitted || registerFrm.licenseNo.$touched)">License No. is required</em>
		                </div>
		                
		                <div class="col margin-bottom-20">
		                    <label>Email Address </label>
		                    <div class="input" ng-class="{ 'state-error' : registerFrm.emailAddress.$invalid && (registerFrm.$submitted || registerFrm.emailAddress.$touched) }">
		                    	<input type="email" name="emailAddress" ng-model="broker.emailAddress" class="form-control" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
		                    </div>
		                    
		                    <em ng-if="registerFrm.emailAddress.$error.pattern && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">Please enter a valid Email Address</em>
		                    <em ng-if="registerFrm.emailAddress.$error.server && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">{{registerFrm.emailAddress.$error.message}}</em>
		                </div>
		                
	                    <div class="col margin-bottom-20">
		                    <label>Password <span class="color-red">*</span></label>
                            <div class="input" ng-class="{ 'state-error' : registerFrm.password.$invalid && (registerFrm.$submitted || registerFrm.password.$touched) }">
                            	<input type="password" name="password" ng-model="broker.password" class="form-control" equals="{{broker.confirmPassword}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                            </div>
                            <em ng-if="registerFrm.password.$error.required && (registerFrm.$submitted || registerFrm.password.$touched)">Password is required.</em>
							<em ng-if="registerFrm.password.$error.minlength && (registerFrm.$submitted || registerFrm.password.$touched)">Password is too short.</em>
							<em ng-if="registerFrm.password.$error.server && (registerFrm.$submitted || registerFrm.password.$touched)">{{registerFrm.password.$error.message}}</em>
							<em ng-if="registerFrm.password.$error.pattern && (registerFrm.$submitted || registerFrm.password.$touched)">Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
		                </div>
	                    
	                    <div class="col margin-bottom-20">
		                    <label>Confirm Password <span class="color-red">*</span></label>
                            <div class="input" ng-class="{ 'state-error' : registerFrm.confirmPassword.$invalid && (registerFrm.$submitted || registerFrm.confirmPassword.$touched) }">
                            	<input type="password" name="confirmPassword" ng-model="broker.confirmPassword" class="form-control" equals="{{broker.password}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                            </div>
                            
                            <em ng-if="registerFrm.confirmPassword.$error.required && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password is required.</em>
							<em ng-if="registerFrm.confirmPassword.$error.minlength && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password is too short.</em>
							<em ng-if="registerFrm.confirmPassword.$error.equals && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Passwords are not identical</em>
							<em ng-if="registerFrm.confirmPassword.$error.pattern && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
		                </div>
	                    
					</fieldset>
					
					<fieldset class="col-sm-12" ng-if="userType == 'retailer'">
	           		    <section class="col margin-bottom-20">
		           		    <label>First Name <span class="color-red">*</span></label>
		           		    <div class="input" ng-class="{ 'state-error' : registerFrm.firstName.$invalid && (registerFrm.$submitted || registerFrm.firstName.$touched) }">
		                    	<input type="text" name="firstName" ng-model="retailer.firstName" class="form-control" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
		                    </div>
		                    
		                    <em ng-if="registerFrm.firstName.$error.required && (registerFrm.$submitted || registerFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="registerFrm.firstName.$error.minlength && (registerFrm.$submitted || registerFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="registerFrm.firstName.$error.pattern && (registerFrm.$submitted || registerFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
						</section>
						
						<div class="col margin-bottom-20">
		                    <label>Last Name</label>
		                    <div class="input">
		                    	<input type="text" name="lastName" ng-model="retailer.lastName" class="form-control margin-bottom-20">
		                    </div>
						</div>
						
						<div class="col margin-bottom-20">
		                    <label>Phone No. <span class="color-red">*</span></label>
		                    <div class="input" ng-class="{ 'state-error' : registerFrm.phoneNo.$invalid && (registerFrm.$submitted || registerFrm.phoneNo.$touched) }">
		                    	<input type="text" name="phoneNo" ng-model="retailer.phoneNo" class="form-control" default-country="in" international-phone-number required>
		                    </div>
		                    
		                    <em ng-if="registerFrm.phoneNo.$error.required && (registerFrm.$submitted || registerFrm.phoneNo.$touched)">Phone No. is required.</em>
							<em ng-if="registerFrm.phoneNo.$error.internationalPhoneNumber && (registerFrm.$submitted || registerFrm.phoneNo.$touched)">Phone No. is not valid</em>
							<em ng-if="registerFrm.phoneNo.$error.server && (registerFrm.$submitted || registerFrm.phoneNo.$touched)">{{registerFrm.phoneNo.$error.message}}</em>
		                </div>
		                
		                <div class="col margin-bottom-20">
		                    <label>Email Address </label>
		                    <div class="input" ng-class="{ 'state-error' : registerFrm.emailAddress.$invalid && (registerFrm.$submitted || registerFrm.emailAddress.$touched) }">
		                    	<input type="email" name="emailAddress" ng-model="retailer.emailAddress" class="form-control" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
		                    </div>
		                    
		                    <em ng-if="registerFrm.emailAddress.$error.pattern && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">Please enter a valid Email Address</em>
		                    <em ng-if="registerFrm.emailAddress.$error.server && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">{{registerFrm.emailAddress.$error.message}}</em>
		                </div>
		                
		                <div class="col margin-bottom-20">
		                    <label>Mobile No. </label>
		                    <div class="input" ng-class="{ 'state-error' : registerFrm.mobileNo.$invalid && (registerFrm.$submitted || registerFrm.mobileNo.$touched) }">
		                    	<input type="text" name="mobileNo" ng-model="retailer.mobileNo" class="form-control" default-country="in" international-phone-number />
		                    </div>
		                    
		                    <em ng-if="registerFrm.mobileNo.$error.internationalPhoneNumber && (registerFrm.$submitted || registerFrm.mobileNo.$touched)">Mobile No. is not valid</em>
		                </div>
	                    
	                    
	                    <div class="col margin-bottom-20">
		                    <label>Password <span class="color-red">*</span></label>
                            <div class="input" ng-class="{ 'state-error' : registerFrm.password.$invalid && (registerFrm.$submitted || registerFrm.password.$touched) }">
                            	<input type="password" name="password" ng-model="retailer.password" class="form-control" equals="{{retailer.confirmPassword}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                            </div>
                            <em ng-if="registerFrm.password.$error.required && (registerFrm.$submitted || registerFrm.password.$touched)">Password is required.</em>
							<em ng-if="registerFrm.password.$error.minlength && (registerFrm.$submitted || registerFrm.password.$touched)">Password is too short.</em>
							<em ng-if="registerFrm.password.$error.server && (registerFrm.$submitted || registerFrm.password.$touched)">{{registerFrm.password.$error.message}}</em>
							<em ng-if="registerFrm.password.$error.pattern && (registerFrm.$submitted || registerFrm.password.$touched)">Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
		                </div>
	                    
	                    <div class="col margin-bottom-20">
		                    <label>Confirm Password <span class="color-red">*</span></label>
                            <div class="input" ng-class="{ 'state-error' : registerFrm.confirmPassword.$invalid && (registerFrm.$submitted || registerFrm.confirmPassword.$touched) }">
                            	<input type="password" name="confirmPassword" ng-model="retailer.confirmPassword" class="form-control" equals="{{retailer.password}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
                            </div>
                            
                            <em ng-if="registerFrm.confirmPassword.$error.required && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password is required.</em>
							<em ng-if="registerFrm.confirmPassword.$error.minlength && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password is too short.</em>
							<em ng-if="registerFrm.confirmPassword.$error.equals && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Passwords are not identical</em>
							<em ng-if="registerFrm.confirmPassword.$error.pattern && (registerFrm.$submitted || registerFrm.confirmPassword.$touched)">Confirm Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
		                </div>
	                    
					</fieldset>
					
					<fieldset class="col-sm-12" ng-if="userType == 'company'">
						<section class="col margin-bottom-20">
		           		    <label>First Name <span class="color-red">*</span></label>
		           		    <div class="input" ng-class="{ 'state-error' : registerFrm.firstName.$invalid && (registerFrm.$submitted || registerFrm.firstName.$touched) }">
		                    	<input type="text" name="firstName" ng-model="company.firstName" class="form-control" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
		                    </div>
		                    
		                    <em ng-if="registerFrm.firstName.$error.required && (registerFrm.$submitted || registerFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="registerFrm.firstName.$error.minlength && (registerFrm.$submitted || registerFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="registerFrm.firstName.$error.pattern && (registerFrm.$submitted || registerFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
						</section>
						
						<div class="col margin-bottom-20">
		                    <label>Last Name</label>
		                    <div class="input">
		                    	<input type="text" name="lastName" ng-model="company.lastName" class="form-control margin-bottom-20">
		                    </div>
						</div>
						
		               	<div class="col margin-bottom-20">
		                    <label>Email Address <span class="color-red">*</span></label>
		                    <div class="input" ng-class="{ 'state-error' : registerFrm.emailAddress.$invalid && (registerFrm.$submitted || registerFrm.emailAddress.$touched) }">
		                    	<input type="email" name="emailAddress" ng-model="company.emailAddress" class="form-control" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" required>
		                    </div>
		                    
		                    <em ng-if="registerFrm.emailAddress.$error.required && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">Email Address is required</em>
		                    <em ng-if="registerFrm.emailAddress.$error.pattern && (registerFrm.$submitted || registerFrm.emailAddress.$touched)">Please enter a valid Email Address</em>
		                </div>
	
						<div class="col margin-bottom-20">
							<label>Phone No. <span class="color-red">*</span></label>
		                    <div class="input" ng-class="{ 'state-error' : registerFrm.phoneNo.$invalid && (registerFrm.$submitted || registerFrm.phoneNo.$touched) }">
		                    	<input type="text" name="phoneNo" ng-model="company.phoneNo" class="form-control margin-bottom-20" default-country="in" international-phone-number required />
		                    </div>
		                    
							<em ng-if="registerFrm.phoneNo.$error.required && (registerFrm.$submitted || registerFrm.phoneNo.$touched)">Phone No. is required.</em>
							<em ng-if="registerFrm.phoneNo.$error.internationalPhoneNumber && (registerFrm.$submitted || registerFrm.phoneNo.$touched)">Phone No. is not valid</em>
		               	</div>
						
						<div class="col margin-bottom-20">
		           		    <label>Company Name <span class="color-red">*</span></label>
		           		    <div class="input" ng-class="{ 'state-error' : registerFrm.name.$invalid && (registerFrm.$submitted || registerFrm.name.$touched) }">
		                    	<input type="text" name="name" ng-model="company.name" class="form-control" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
		                    </div>
		                    
		                    <em ng-if="registerFrm.name.$error.required && (registerFrm.$submitted || registerFrm.name.$touched)">Company Name is required.</em>
							<em ng-if="registerFrm.name.$error.minlength && (registerFrm.$submitted || registerFrm.name.$touched)">Company Name is too short.</em>
							<em ng-if="registerFrm.name.$error.pattern && (registerFrm.$submitted || registerFrm.name.$touched)">Only alphanumerics are allowed.</em>
						</div>
						
						<div class="col margin-bottom-20">
							<label class="label">Business Category <span class="color-red">*</span></label>
                            <selectize config='businessCategoryConfig' options='businessCategories' ng-model="company.businessCategory"></selectize>
						</div>
						
					</fieldset>

                    <hr>

                    <div class="row">
                        <div class="col-lg-6 checkbox">
                            <label ng-class="{ 'state-error' : registerFrm.termsAndConditions.$invalid && (registerFrm.$submitted || registerFrm.termsAndConditions.$touched) }">
                                <input name="termsAndConditions" ng-model="termsAndConditions" type="checkbox" ng-required="!termsAndConditions">
                                I read <a href="assets/pages/terms-and-conditions.component.html" target="_blank" class="color-green">Terms and Conditions</a>
                            </label>
                            <em ng-if="registerFrm.termsAndConditions.$error.required && (registerFrm.$submitted || registerFrm.termsAndConditions.$touched)">Please accept the terms and conditions.</em>
                        </div>
                        <div class="col-lg-6 text-right">
                            <button class="btn-u" type="submit">Register</button>
                        </div>
                    </div>
            	</form>
            </div>
        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->
