
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Reset password</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="#/">Home</a></li>
                <li class="active">Reset password</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            	<div class="panel panel-default">
			        <div class="panel-heading">Reset password</div>
			        <div class="panel-body">
			        	<div ng-if="!passwdGotReset && !resetCodeValid">
			        		<div class="well">
								<span>
									Your password reset link have got expired. Please try again.
								</span>
								<br/>
								<br/>
								<a href="#/ForgotPasswd">Forgot password</a>
							</div>
			        	</div>
			        	<div ng-if="!passwdGotReset && resetCodeValid">
				        	<form name="contactFrm" novalidate>
				        		<div class="col-lg-12"><div style="height: 40px;"></div></div>
					        	<div class="col-lg-12">
					        		<div class="col-lg-1"></div>
					        		<div class="col-lg-6">
						        		<div class="form-group">
				                            <label>New password:</label>
				                            <input type="password" class="form-control" ng-model="passwd" placeholder="New password"/>
				                        </div>
				                    </div>
			                        <div class="col-lg-2"></div>
					        	</div>
					        	<div class="col-lg-12">
					        		<div class="col-lg-1"></div>
					        		<div class="col-lg-6">
						        		<div class="form-group">
				                            <label>Confirm new password:</label>
				                            <input type="password" class="form-control" ng-model="confirmPasswd" placeholder="Confirm new password"/>
				                        </div>
				                    </div>
			                        <div class="col-lg-2"></div>
					        	</div>
					        	<div class="col-lg-12"><div style="height: 50px;"></div></div>
					        	<div class="col-lg-12">
					        		<div class="col-lg-1"></div>
					        		<div class="col-lg-4">
					        			<button type="button" class="btn btn-sm btn-warning" style="width: 13em;" ng-click="submit(passwd, confirmPasswd)">Submit</button>
					        		</div>
					        		<div class="col-lg-5">
					        			<button type="cancel" class="btn btn-sm btn-default" style="width: 13em;" ng-click="cancel()">Cancel</button>
					        		</div>
					        		<div class="col-lg-2"></div>
					        	</div>
					        </form>
						</div>
						<div ng-if="passwdGotReset && resetCodeValid">
							<div class="well">
								<span>
									Your password got reset successfully. Please try to login new.
								</span>
								<br/>
								<br/>
								<a href="#/login">Login</a>
							</div>
						</div>
			        </div>
			    </div>	
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
