
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Thank You</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li class="active">Thank You</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                                <div class="tag-box tag-box-v3">
                    <!-- Heading v1 -->
                    <div class="heading heading-v1 margin-bottom-40">
                        <h2>Thank You</h2>
                        <p>Your registeration is successful. Thank you for choosing us. Our executives will get in touch with you shortly.</p>
                    </div>
                    <!-- End Heading v1 -->
                </div>
            </div>
        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->
