
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Registration</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li class="active">Registration</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form name="verificationFrm" class="reg-page" ng-submit="verifyAndProceed(verificationFrm)" novalidate>
                    <div class="reg-header">
                        <h2>Verify Email Address and Contact No.</h2>
                        <p class="verify-label">We have just sent an email to you. Please verify your email address. We have also sent an OTP to your Contact No., Please enter this OTP below.</p>
                    </div>
					
					<div class="row">
						<div class="col-lg-10">
		                    <label>OTP (One-time Password)</label>
		                    <div class="input-group" ng-class="{ 'state-error' : verificationFrm.oneTimePasswd.$invalid && verificationFrm.oneTimePasswd.$touched }">
		                    	<input type="text" name="oneTimePasswd" ng-model="oneTimePasswd" class="form-control margin-bottom-20" required>
		                    	<span class="input-group-btn">
	                                <button type="submit" class="btn-u btn-u-blue">Verify &amp; Proceed</button>
	                            </span>
		                    </div>
		                    <em ng-if="verificationFrm.oneTimePasswd.$error.required && verificationFrm.oneTimePasswd.$touched">One-Time Password is required</em>
		                    <em ng-if="verificationFrm.oneTimePasswd.$error.server && verificationFrm.oneTimePasswd.$touched">{{verificationFrm.oneTimePasswd.$error.message}}</em>
		                    <em ng-if="!verificationFrm.oneTimePasswd.$error.server && verificationFrm.oneTimePasswd.$touched">{{verificationFrm.oneTimePasswd.message}}</em>
		                </div>
		            </div>
	                
					<div class="margin-bottom-50"></div>
					
                    <div class="row">
                        <div class="col-lg-10 text-right">
                            Want to proceed without verification? 
                            <a class="btn-u" type="submit" ng-click="continueToHome()">&nbsp;&nbsp;&nbsp;Continue&nbsp;&nbsp;&nbsp;</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->

