<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Add demand</h4>
        </div>
        <div class="modal-body">
            
			<form name="demandFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>

				<div class="headline">
					<h3>Demand Details</h3>
				</div>
			
				<div class="row">
                    
					<section class="col col-6">
						<label class="label">Product Name</label>
                        <label class="input" ng-class="{ 'state-error' : demandFrm.name.$invalid && demandFrm.name.$touched }">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="name" ng-model="demand.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                        </label>
						<em ng-if="demandFrm.name.$error.required && demandFrm.name.$touched">Name is required.</em>
						<em ng-if="demandFrm.name.$error.minlength && demandFrm.name.$touched">Name is too short.</em>
						<em ng-if="demandFrm.name.$error.pattern && demandFrm.name.$touched">Only alphanumerics are allowed.</em>
                    </section>
              		<section class="col col-6">
              			<label class="label">Category</label>
                    	<selectize config='categoryConfig' options='categories' ng-model="demand.categoryId"></selectize>
						<em ng-if="demandFrm.category.$error.required && demandFrm.category.$touched">Category is required.</em>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-6">
						<label class="label">Quantity</label>
                        <label class="input-group" ng-class="{ 'state-error' : demandFrm.quantity.$invalid && demandFrm.quantity.$touched }">
                        		<input type="text" name="quantity" ng-model="demand.quantity" class="form-control" placeholder="e.g. 300" required pattern="^\d*\.?\d*$">
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{demand.quantityUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setQuantityUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="demandFrm.quantity.$error.required && demandFrm.quantity.$touched">Quantity is requierd.</em>
						<em ng-if="demandFrm.quantity.$error.pattern && demandFrm.quantity.$touched">Only numbers are allowed</em>
                    </section>
    
                    <section class="col col-6">
						<label class="label">Price</label>
                        <label class="input-group" ng-class="{ 'state-error' : demandFrm.pricePerUnit.$invalid && demandFrm.pricePerUnit.$touched }">
                        		<input type="text" name="pricePerUnit" ng-model="demand.pricePerUnit" class="form-control" placeholder="e.g. 4000" pattern="^\d*\.?\d*$" required>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{demand.priceCurrency.mneomic}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="currency in currencies"><a href="javascript:void(0);" ng-click="setPriceCurrency(currency)">{{currency.mneomic}}</a></li>
                                       </ul>
                                   </div>
                                   <span class="input-group-addon per-symbol">/</span>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{demand.priceUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setPriceUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="demandFrm.pricePerUnit.$error.required && demandFrm.pricePerUnit.$touched">Price is requierd.</em>
						<em ng-if="demandFrm.pricePerUnit.$error.pattern && demandFrm.pricePerUnit.$touched">Only numbers are allowed</em>
                    </section>
                </div>

				<div class="row">
					<div class="col col-11">
						<label class="label">Tags</label>
                        <label class="input">
                            <tags-input ng-model="demand.tags" display-property="name" key-property="name" replace-spaces-with-dashes="false">
								<auto-complete source="searchTag($query)"></auto-complete>
    						</tags-input>
                        </label>
                    </div>
				</div>

				<div class="row">
					<div class="col col-6 margin-top-10">
						<label class="label">Images</label>
                        <label for="file" class="input input-file">
                            <div class="button"><input type="file" ngf-select ng-model="file" ngf-multiple="false" accept="image/*" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly>
                        </label>
                    </div>
				</div>

				<div class="row">
                    
					<section class="col col-6 margin-top-20">
						<label class="label">Expected Delivery Date</label>
                        <label class="input">
							<i class="icon-append fa fa-calendar"></i>
                            <input type="text" name="start" ng-model="demand.deliveryDate" prak-datepicker placeholder="Delivery date">
                        </label>
                    </section>
              
			        <section class="col col-6">
						
                    </section>
                </div>
				
				<div class="headline">
					<h3>Delivery Address</h3>
				</div>

				<div class="row">
                    
					<section class="col col-6">
						<label class="label">Address Line 1</label>
                        <label class="input" ng-class="{ 'state-error' : demandFrm.deliveryAddressAddressLine1.$invalid && demandFrm.deliveryAddressAddressLine1.$touched }">
							<i class="icon-append"></i>
                            <input type="text" name="deliveryAddressAddressLine1" ng-model="demand.deliveryAddress.addressLine1" placeholder="Address Line 1" required>
                        </label>
						<em ng-if="demandFrm.deliveryAddressAddressLine1.$error.required && demandFrm.deliveryAddressAddressLine1.$touched">Address Line 1 is required.</em>
                    </section>
              
			        <section class="col col-6">
						<label class="label">Address Line 2</label>
                        <label class="input">
							<i class="icon-append"></i>
                            <input type="text" name="deliveryAddressAddressLine2" ng-model="demand.deliveryAddress.addressLine2" placeholder="Address Line 2">
                        </label>
                    </section>
                </div>
				
				<div class="row">
					<section class="col col-6">
						<label class="label">City</label>
                        <label class="input" ng-class="{ 'state-error' : demandFrm.deliveryAddressCity.$invalid && demandFrm.deliveryAddressCity.$touched }">
							<i class="icon-append"></i>
                            <input type="text" name="deliveryAddressCity" ng-model="demand.deliveryAddress.city" placeholder="City" required>
                        </label>
						<em ng-if="demandFrm.deliveryAddressCity.$error.required && demandFrm.deliveryAddressCity.$touched">City is required.</em>
                    </section>
                </div>

	         	<div class="row">
                    <section class="col col-6">
						<label class="label">State</label>
                        <label class="select" ng-class="{ 'state-error' : demandFrm.deliveryAddressState.$invalid && demandFrm.deliveryAddressState.$touched }">
							<select name="deliveryAddressState" data-ng-options="state.id as state.name for state in states" data-ng-model="demand.deliveryAddress.stateId" required>
                      		</select>
							<i></i>
                        </label>
						<em ng-if="demandFrm.deliveryAddressState.$error.required && demandFrm.deliveryAddressState.$touched">State is required.</em>
                    </section>

                    <section class="col col-6">
						<label class="label">Country</label>
                        <label class="select" ng-class="{ 'state-error' : demandFrm.deliveryAddressCountry.$invalid && demandFrm.deliveryAddressCountry.$touched }">
                            <select name="deliveryAddressCountry" data-ng-options="country.id as country.name for country in countries" data-ng-model="demand.deliveryAddress.countryId" required>
                      		</select>
                            <i></i>
                        </label>
						<em ng-if="demandFrm.deliveryAddressCountry.$error.required && demandFrm.deliveryAddressCountry.$touched">Country is required.</em>
                    </section>
                </div>

				<div class="row">
			        <section class="col col-6">
						<label class="label">Zipcode</label>
                        <label class="input" ng-class="{ 'state-error' : demandFrm.deliveryAddressZipcode.$invalid && demandFrm.deliveryAddressZipcode.$touched }">
							<i class="icon-append"></i>
                            <input type="text" name="deliveryAddressZipcode" ng-model="demand.deliveryAddress.zipcode" ui-mask="999999" required>
                        </label>
                        <em ng-if="demandFrm.deliveryAddressZipcode.$error.required && demandFrm.deliveryAddressZipcode.$touched">Zipcode is required.</em>
                    </section>
                </div>

				<div class="tab-v2 margin-bottom-50" ng-show="isAuthorized('ROLE_ADMIN')">
					<ul class="nav nav-tabs">
                        <li class="active"><a href="#ExistingUser" aria-controls="ExistingUser" data-toggle="tab">Existing User</a></li>
                        <li><a href="#NewUser" aria-controls="ExistingUser" data-toggle="tab">New User</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="ExistingUser">
                        	<div class="row">
                        		<section class="col col-6">
									<label class="label">Search user:</label>
			                        <label class="input">
			                            <input type="text" name="search" ng-model="keywords" placeholder="Search by email id, phone number" 
			                            	uib-typeahead="owner as owner.emailId + ' Phone: ' + owner.mobileNo for owner in searchOwner($viewValue)" 
			                                typeahead-popup-template-url="custom-popup-template.component.html" 
			                                typeahead-on-select="selectOwner($item, $model, $label)" typeahead-wait-ms="1000">
			                        </label>
			                    </section>
			                    <section class="col-lg-6">
								</section>
                        	</div>
                        </div>
                        <div class="tab-pane fade in" id="NewUser">

							<div class="headline">
                            	<h3>Owner Information:</h3>
                            </div>

                            <div class="row">
		                        <section class="col col-6">
									<label class="label">First Name</label>
		                            <label class="input" ng-class="{ 'state-error' : demandFrm.firstName.$invalid && demandFrm.firstName.$touched }">
		                                <i class="icon-append fa fa-user"></i>
		                                <input type="text" name="firstName" ng-model="demand.owner.firstName" required ng-minlength="3" pattern="[a-z]+[a-z0-9]+">
		                            </label>
									<em ng-if="demandFrm.firstName.$error.required && demandFrm.firstName.$touched">First name is required.</em>
									<em ng-if="demandFrm.firstName.$error.minlength && demandFrm.firstName.$touched">First Name is too short.</em>
									<em ng-if="demandFrm.firstName.$error.pattern && demandFrm.firstName.$touched">Only alphanumerics are allowed.</em>
		                        </section>
		                        
		                        <section class="col col-6">
									<label class="label">Last Name</label>
		                            <label class="input">
		                                <i class="icon-append fa fa-user"></i>
		                                <input type="text" name="lastName" ng-model="demand.owner.lastName">
		                            </label>
		                        </section>
		                    </div>
		
		                    <div class="row">
		                        <section class="col col-6">
									<label class="label">Email Address</label>
		                            <label class="input" ng-class="{ 'state-error' : demandFrm.email.$invalid && demandFrm.email.$touched }">
		                                <i class="icon-append fa fa-envelope"></i>
		                                <input type="email" name="email" ng-model="demand.owner.email" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
		                            </label>
									<em ng-if="demandFrm.email.$error.pattern && demandFrm.email.$touched">Enter a valid email address.</em>
		                        </section>
		                        
		                        <section class="col col-6">
									<label class="label">Phone No. / Mobile No.</label>
		                            <label class="input" ng-class="{ 'state-error' : demandFrm.phoneNo.$invalid && demandFrm.phoneNo.$touched }">
		                                <i class="icon-append fa fa-phone"></i>
		                                <input type="tel" name="phoneNo" ng-model="demand.owner.phoneNo" ui-mask="(+99) 999-999-9999" required>
		                            </label>
									<em ng-if="demandFrm.phoneNo.$error.required && demandFrm.phoneNo.$touched">Phone No. is required</em>
		                        </section>
		                    </div>
		
		                    <div class="row">
		                        <section class="col col-6">
									<label class="label">Group</label>
		                            <label class="select"  ng-class="{ 'state-error' : demandFrm.group.$invalid && demandFrm.group.$touched }">
		                                <select name="group" data-ng-options="group.id as group.name for group in groups" data-ng-model="demand.owner.groupId" required>
                      					</select>
                      					<i></i>
		                            </label>
		                            <em ng-if="demandFrm.group.$error.required && demandFrm.group.$touched">Group is required</em>
		                        </section>
		                    </div>
                            
                            <div class="headline">
                            	<h3>Registered Address:</h3>
                            </div>

							<div class="row">
			                    <section class="col col-6">
									<label class="label">Address Line 1</label>
			                        <label class="input" ng-class="{ 'state-error' : demandFrm.addressLine1.$invalid && demandFrm.addressLine1.$touched }">
			                            <input type="text" name="addressLine1" ng-model="demand.owner.addressLine1" required>
			                        </label>
									<em ng-if="demandFrm.addressLine1.$error.required && demandFrm.addressLine1.$touched">Address Line 1 is required.</em>
			                    </section>
			
			                    <section class="col col-6">
									<label class="label">Address Line 2</label>
			                        <label class="input">
			                            <input type="text" name="addressLine2" ng-model="demand.owner.addressLine2">
			                        </label>
			                    </section>
			                </div>
			
			                <div class="row">
			                    <section class="col col-6">
									<label class="label">City</label>
			                        <label class="input" ng-class="{ 'state-error' : demandFrm.city.$invalid && demandFrm.city.$touched }">
			                            <input type="text" name="city" ng-model="demand.owner.city" required>
			                        </label>
									<em ng-if="demandFrm.city.$error.required && demandFrm.city.$touched">City is required.</em>
			                    </section>
			                </div>
			
			                <div class="row">
			                    <section class="col col-6">
									<label class="label">State</label>
			                        <label class="select" ng-class="{ 'state-error' : demandFrm.state.$invalid && demandFrm.state.$touched }">
										<select name="state" data-ng-options="state.id as state.name for state in states" data-ng-model="demand.owner.stateId" required>
			                      		</select>
										<i></i>
			                        </label>
									<em ng-if="demandFrm.state.$error.required && demandFrm.state.$touched">State is required.</em>
			                    </section>
			
			                    <section class="col col-6">
									<label class="label">Country</label>
			                        <label class="select" ng-class="{ 'state-error' : demandFrm.country.$invalid && demandFrm.country.$touched }">
			                            <select name="country" data-ng-options="country.id as country.name for country in countries" data-ng-model="demand.owner.countryId" required>
			                      		</select>
			                            <i></i>
			                        </label>
									<em ng-if="demandFrm.country.$error.required && demandFrm.country.$touched">Country is required.</em>
			                    </section>
			
			                </div>
			
			                <div class="row">
			                    <section class="col col-4">
									<label class="label">Zipcode</label>
			                        <label class="input" ng-class="{ 'state-error' : demandFrm.zipcode.$invalid && demandFrm.zipcode.$touched }">
			                            <input type="text" name="zipcode" ng-model="demand.owner.zipcode" ui-mask="999999" required>
			                        </label>
									<em ng-if="demandFrm.zipcode.$error.required && demandFrm.zipcode.$touched">Zipcode is required.</em>
			                    </section>
			                </div>
							
                        </div>
                    </div>
            	</div>
				
	        </form>

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(demandFrm)">Proceed</button>
        </div>
    </div>
	
	<script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select owner from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>