	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="close()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Demand Details</h4>
        </div>
        <div class="modal-body profile">
            
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-responsive md-margin-bottom-10" src="{{demand.defaultImage.filepath}}" alt="">
                        </div>
                        <div class="col-md-9">
                            <h2>{{demand.name}}</h2>
                            <span><strong><small>Quantity:</small></strong> {{demand.quantity}} {{demand.quantityUnit.name}}</span>
                            <span><strong><small>Price:</small></strong> {{demand.price}} {{demand.priceCurrency.mneomic}}/{{demand.priceUnit.name}}</span>
                            <span><strong><small>Delivery Date:</small></strong> {{demand.deliveryDate}}</span>
                            <hr>
                            <p>{{demand.shortDesc}}</p>
                        </div>
                    </div>
                </div><!--/end row-->

                <hr>
                
                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Delivery Address</h2>
                                <a href="javascript:void(0)" ng-if="isAuthorized('ROLE_ADMIN')"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <h2>{{demand.createdBy.firstName}} {{demand.createdBy.lastName}}</h2>
                                <span>{{demand.deliveryAddress.addressLine1}}</span><br/>
                                <span>{{demand.deliveryAddress.addressLine2}}</span><br/>
                                <span>{{demand.deliveryAddress.city}}, {{demand.deliveryAddress.state.name}} ({{demand.deliveryAddress.country.name}}) {{agent.address.zipcode}}</span><br/>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                    <!--Social Icons v3-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Demand By</h2>
                                <a href="javascript:void(0)" ng-if="isAuthorized('ROLE_ADMIN')"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <h2>{{demand.createdBy.firstName}} {{demand.createdBy.lastName}}</h2>
                                <span>Email Id.: {{demand.createdBy.emailId}}</span><br/>
                                <span ng-if="demand.createdBy.phoneNo">Phone No.: {{demand.createdBy.phoneNo | tel}}</span><br/>
								<span ng-if="demand.createdBy.mobileNo">Mobile No.: {{demand.createdBy.mobileNo | tel}}</span>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->
                </div><!--/end row-->
                
                <hr>
                
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Other images</h2>
                        <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                    </div>
                    <div class="panel-body margin-bottom-40">
                        <!-- Owl Carousel v4 -->
						<data-owl-carousel class="owl-carousel">
						    <div owl-carousel-item="" ng-repeat="image in demand.images" class="item">
        						<img src="{{image.filepath}}" alt="">
      						</div>
    					</data-owl-carousel>
                        <!-- End Owl Carousel v4 -->
                    </div>
                </div>
                
                <hr>

                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Owner Details</h2>
                                <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <h2>{{demand.owner.firstName}} {{demand.owner.lastName}}</h2>
                                <span>{{demand.owner.addressLine1}}</span><br/>
                                <span>{{demand.owner.addressLine2}}</span><br/>
                                <span>{{demand.owner.city}}, {{demand.owner.state}} ({{demand.owner.country}}) {{demand.owner.zipcode}}</span><br/>
                                <span>Phone No.: {{demand.owner.mobileNo}}</span><br/>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                    <!--Skills-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Reviews</h2>
                                <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <small>Quality</small>
                                <small>92%</small>
                                <div class="progress progress-u progress-xxs">
                                    <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                                    </div>
                                </div>

                                <small>Owner Satisfaction</small>
                                <small>77%</small>
                                <div class="progress progress-u progress-xxs">
                                    <div style="width: 77%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="77" role="progressbar" class="progress-bar progress-bar-u">
                                    </div>
                                </div>

                                <small>Delivery</small>
                                <small>85%</small>
                                <div class="progress progress-u progress-xxs">
                                    <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar progress-bar-u">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--End Skills-->
                </div><!--/end row-->
                
                <hr ng-show="isAuthorized('ROLE_EMPLOYEE')">
                
                <!--Timeline-->
                <div class="panel panel-profile" ng-show="isAuthorized('ROLE_EMPLOYEE')">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Assigned By</h2>
                        <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                    </div>
                    <div class="panel-body margin-bottom-40">
                        
		                <div class="row">
		                	<div class="col col-lg-12">
		                		<div class="panel-body">
			                        <div id="testimonials-9" class="carousel slide testimonials testimonials-v2 testimonials-bg-default">
			                            <div class="carousel-inner">
			                                <div class="item active">
			                                    <p class="rounded-2x">{{demand.comments}}</p>
			                                    <div class="testimonial-info">
			                                        <span class="testimonial-author">
			                                            {{demand.assignedBy.firstName}} {{demand.assignedBy.lastName}}
			                                            <em>{{demand.dateAssigned}}</em>
			                                        </span>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                      </div>
		                    </div>
		                </div>
		                
                    </div>
                </div>
                <!--End Timeline-->
                
                <hr/>
                
                <!--Timeline-->
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> History</h2>
                        <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                    </div>
                    <div class="panel-body margin-bottom-40">
                        <ul class="timeline-v2 timeline-me">
                            <li>
                                <time datetime="" class="cbp_tmtime"><span>29 Aug 2015</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <p>Demand was placed for the demand. currently, we are shipping this demand.</p>
                                </div>
                            </li>
                            <li>
                                <time datetime="" class="cbp_tmtime"><span>18 Aug 2015</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <p>Demands market price was updated by <a href="javascript:void(0)">Mahavir Singh</a>. market price was as per market conditions.</p>
                                </div>
                            </li>
                            <li>
                                <time datetime="" class="cbp_tmtime"><span>12 Jan 2015</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    
                                    <p>Demand was added by <a href="javascript:void(0)">Mahavir Singh</a>. Initial price was set to 3500 INR/Quintal. The initial price was as per market trend.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--End Timeline-->
                
                
            </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn-u" type="button" ng-click="close()">&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>
        </div>
    </div>
	