	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Edit demand</h4>
        </div>
        <div class="modal-body">
            
			<form name="demandFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>

				<div class="headline">
					<h3>Demand Details</h3>
				</div>
				
				<div class="row">
                    
					<section class="col col-6">
						<label class="label">Product Name</label>
                        <label class="input" ng-class="{ 'state-error' : demandFrm.name.$invalid && demandFrm.name.$touched }">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="name" ng-model="demand.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                        </label>
						<em ng-if="demandFrm.name.$error.required && demandFrm.name.$touched">Name is required.</em>
						<em ng-if="demandFrm.name.$error.minlength && demandFrm.name.$touched">Name is too short.</em>
						<em ng-if="demandFrm.name.$error.pattern && demandFrm.name.$touched">Only alphanumerics are allowed.</em>
                    </section>
              
			        <section class="col col-6" ng-show="isAuthorized('ROLE_EMPLOYEE')">
			        	<label class="label">Category</label>
                    	<selectize config='categoryConfig' options='categories' ng-model="demand.categoryId"></selectize>
						<!-- 
						<label class="label">Category</label>
						<div class="input-group-btn"  ng-class="{ 'state-error' : demandFrm.category.$invalid && demandFrm.category.$touched }">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                {{demand.category ? demand.category.name : 'select category'}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                            	<div ng-repeat-start="category in categories" ng-if="false"></div>
                            		<li><a href="javascript:void(0);" ng-click="setCategory(category)">{{category.name}}</a></li>
                            		<div ng-repeat-start="childCategory in category.childCategories" ng-if="false"></div>
	                            		<li><a href="javascript:void(0);" ng-click="setCategory(childCategory)">&nbsp;&nbsp;{{childCategory.name}}</a></li>
	                            		<div ng-repeat-start="grandChildCategory in childCategory.childCategories" ng-if="false"></div>
		                            		<li><a href="javascript:void(0);" ng-click="setCategory(grandChildCategory)">&nbsp;&nbsp;&nbsp;&nbsp;{{grandChildCategory.name}}</a></li>
		                            	<div ng-repeat-end ng-if="false"></div>
	                            	<div ng-repeat-end ng-if="false"></div>
                            	<div ng-repeat-end ng-if="false"></div>
                            </ul>
                        </div>
						 -->
						
						<!-- 
                        <label class="select">
                            <select name="category" data-ng-options="category as category.name for category in categories track by category.id" data-ng-model="demand.category" required>
                      		</select>
							<i></i>
                        </label>
						 -->
						<em ng-if="demandFrm.category.$error.required && demandFrm.category.$touched">Category is required.</em>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-6">
						<label class="label">Quantity</label>
                        <label class="input-group" ng-class="{ 'state-error' : demandFrm.quantity.$invalid && demandFrm.quantity.$touched }">
                        		<input type="text" name="quantity" ng-model="demand.quantity" class="form-control" placeholder="e.g. 300" required pattern="^\d*\.?\d*$">
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{demand.quantityUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-clic="setQuantityUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="demandFrm.quantity.$error.required && demandFrm.quantity.$touched">Quantity is requierd.</em>
						<em ng-if="demandFrm.quantity.$error.pattern && demandFrm.quantity.$touched">Only numbers are allowed</em>
                    </section>
    
                    <section class="col col-6">
						<label class="label">Price</label>
                        <label class="input-group" ng-class="{ 'state-error' : demandFrm.price.$invalid && demandFrm.price.$touched }">
                        		<input type="text" name="price" ng-model="demand.price" class="form-control" placeholder="e.g. 4000" pattern="^\d*\.?\d*$" required>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{demand.priceCurrency.mneomic}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="currency in currencies"><a href="javascript:void(0);" ng-clic="setPriceCurrency(currency)">{{currency.mneomic}}</a></li>
                                       </ul>
                                   </div>
                                   <span class="input-group-addon per-symbol">/</span>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{demand.priceUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-clic="setPriceUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="demandFrm.price.$error.required && demandFrm.price.$touched">Price is requierd.</em>
						<em ng-if="demandFrm.price.$error.pattern && demandFrm.price.$touched">Only numbers are allowed</em>
                    </section>
                </div>

				<div class="row">
					<div class="col col-11">
						<label class="label">Tags</label>
                        <label class="input">
                            <tags-input ng-model="demand.tags" display-property="name" key-property="name" replace-spaces-with-dashes="false">
								<auto-complete source="searchTag($query)"></auto-complete>
    						</tags-input>
                        </label>
                    </div>
				</div>

				<div class="row">
                    
					<section class="col col-6 margin-top-20">
						<label class="label">Expected Delivery Date</label>
                        <label class="input">
							<i class="icon-append fa fa-calendar"></i>
                            <input type="text" name="start" ng-model="demand.deliveryDate" prak-datepicker placeholder="Delivery date">
                        </label>
                    </section>
              
			        <section class="col col-6">
						
                    </section>
                </div>

                <div class="row" ng-if="isAuthorized('ROLE_ADMIN')">
                    <section class="col col-6">
						<label class="label">Update owner:</label>
                        <label class="input">
                            <input type="text" name="search" ng-model="keywords" placeholder="Search by email id, phone number" 
                            	uib-typeahead="owner as owner.emailId + ' Phone: ' + owner.mobileNo for owner in searchOwner($viewValue)" 
                                typeahead-popup-template-url="custom-popup-template.component.html" 
                                typeahead-on-select="selectOwner($item, $model, $label)" typeahead-wait-ms="1000">
                        </label>    
                    </section>
					<section class="col col-6">
						<label class="label">Update status:</label>
                        <label class="select">
                            <select name="demandStatus" data-ng-options="demandStatus as demandStatus.status for demandStatus in demandStatuses track by demandStatus.id" data-ng-model="demand.status">
                      		</select>
							<i></i>
                        </label>    
                    </section>
                </div>
	        </form>

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(demandFrm)">Update</button>
        </div>
    </div>
	
	<script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select owner from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>