<div class="modal-content">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
		<h4 class="modal-title" id="myModalLabel">Social Account</h4>
	</div>
	<form name="socialAccountFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
			<div class="row">
				<section class="col col-md-offset-1 col-10">
					<label>Display Name:</label>
					<label class="input" ng-class="{ 'state-error' : socialAccountFrm.displayName.$invalid && (socialAccountFrm.$submitted || socialAccountFrm.displayName.$touched) }">
						<input type="text" name="displayName" ng-model="socialAccount.displayName" class="form-control" placeholder="Display Name" required>
					</label>
					<em ng-if="socialAccountFrm.displayName.$error.required && (socialAccountFrm.$submitted || socialAccountFrm.displayName.$touched)">Display Name is required.</em> 
					<em ng-if="socialAccountFrm.displayName.$error.server && (socialAccountFrm.$submitted || socialAccountFrm.displayName.$touched)">{{socialAccountFrm.displayName.$error.message}}</em>
				</section>
			</div>
			<div class="row">
				<section class="col col-md-offset-1 col-10">
					<label>Username:</label>
					<label class="input" ng-class="{ 'state-error' : socialAccountFrm.username.$invalid && (socialAccountFrm.$submitted || socialAccountFrm.username.$touched) }">
						<input type="text" name="username" ng-model="socialAccount.username" class="form-control" placeholder="Username" required>
					</label>
					<em ng-if="socialAccountFrm.username.$error.required && (socialAccountFrm.$submitted || socialAccountFrm.username.$touched)">Username is required.</em> 
					<em ng-if="socialAccountFrm.username.$error.server && (socialAccountFrm.$submitted || socialAccountFrm.username.$touched)">{{socialAccountFrm.username.$error.message}}</em>
				</section>
			</div>
			<div class="row">
				<section class="col col-md-offset-1 col-10">
					<label>Account URL:</label>
					<label class="input" ng-class="{ 'state-error' : socialAccountFrm.accountUrl.$invalid && (socialAccountFrm.$submitted || socialAccountFrm.accountUrl.$touched) }">
						<input type="text" name="accountUrl" ng-model="socialAccount.accountUrl" class="form-control" placeholder="Account URL" required>
					</label>
					<em ng-if="socialAccountFrm.accountUrl.$error.required && (socialAccountFrm.$submitted || socialAccountFrm.accountUrl.$touched)">Account URL is required.</em> 
					<em ng-if="socialAccountFrm.accountUrl.$error.server && (socialAccountFrm.$submitted || socialAccountFrm.accountUrl.$touched)">{{socialAccountFrm.accountUrl.$error.message}}</em>
				</section>
			</div>
			<div class="row">
				<section class="col col-md-offset-1 col-10">
					<label>Social Site:</label>
		            <div class="row brand-page">
		            	<div class="col-sm-12 col-md-6">
							<button class="btn btn-block" ng-class="socialAccount.socialSite == 'INSTAGRAM' ? 'btn-instagram-inversed' : 'btn-instagram'" ng-click="setSocialSite('INSTAGRAM')">
		                      <i class="fa fa-instagram"></i> Instagram
		                    </button>
		                </div>
		                <div class="col-sm-12 col-md-6">
							<button class="btn btn-block" ng-class="socialAccount.socialSite == 'LINKEDIN' ? 'btn-linkedin-inversed' : 'btn-linkedin'" ng-click="setSocialSite('LINKEDIN')">
		                      <i class="fa fa-linkedin"></i> LinkedIn
		                    </button>
		                </div>
		            </div>
					<div class="row brand-page">
						<div class="col-sm-12 col-md-6">
							<button class="btn btn-block" ng-class="socialAccount.socialSite == 'FACEBOOK' ? 'btn-facebook-inversed' : 'btn-facebook'" ng-click="setSocialSite('FACEBOOK')">
		                      <i class="fa fa-facebook"></i> Facebook
		                    </button>
		                </div>
		                <div class="col-sm-12 col-md-6">
							<button class="btn btn-block" ng-class="socialAccount.socialSite == 'TWITTER' ? 'btn-twitter-inversed' : 'btn-twitter'" ng-click="setSocialSite('TWITTER')">
		                      <i class="fa fa-twitter"></i> twitter
		                    </button>
		                </div>
		            </div>
					<em ng-if="socialAccountFrm.socialSite.$error.required && (socialAccountFrm.$submitted || socialAccountFrm.socialSite.$touched)">Please select the social site.</em> 
					<em ng-if="socialAccountFrm.socialSite.$error.server && (socialAccountFrm.$submitted || socialAccountFrm.socialSite.$touched)">{{socialAccountFrm.socialSite.$error.message}}</em>
				</section>
			</div>
	</form>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn-u" type="button" ng-click="ok(socialAccountFrm.$valid)">Proceed</button>
	</div>
</div>