	
	<!--=== Breadcrumbs v4 ===-->
    <div class="breadcrumbs-v4 prak-breadcrumbs-v4">
        <div class="container">
            <span class="page-name">Check Out</span>
            <h1>Have <span class="shop-green">a nice</span> day</h1>
            <ul class="breadcrumb-v4-in">
                <li><a href="/#/">Home</a></li>
                <li><a href="">Product</a></li>
                <li class="active">Grain Cart</li>
            </ul>
        </div><!--/end container-->
    </div> 
    <!--=== End Breadcrumbs v4 ===-->

    <!--=== Content Medium Part ===-->
    <div class="content-md margin-bottom-30">
        <div class="container">
            <form class="shopping-cart" action="#" ui-wizard-form on-finished="placeOrder()">
                <div>
                    <div class="header-tags">            
                        <div class="overflow-h">
                            <h2>Grain Cart</h2>
                            <p>Review &amp; edit your product</p>
                            <i class="rounded-x fa fa-check"></i>
                        </div>    
                    </div>
                    <section>
                        <div class="table-responsive">
                            <table class="table table-striped" ng-if="grainCart.products.length > 0 || grainCart.items.length > 0">
                                <thead>
                                    <tr>
                                        <th ng-if="grainCart.products.length > 0">Product</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody ng-if="grainCart.products.length > 0">
                                	<tr ng-repeat="product in grainCart.products">
                                		<td class="product-in-table">
                                            <img class="img-responsive" src="{{product.defaultImage.filepath}}" alt="">
                                            <div class="product-it-in">
                                                <h3>{{product.name}}</h3>
                                                <span>{{product.shortDesc | limitTo:shortDescMaxLimit}}...</span>
                                            </div>    
                                        </td>
                                        <td>{{product.price | number:2}} {{product.priceCurrency.mneomic}}/{{product.priceUnit.name}}</td>
                                        <td>{{product.quantity | number:1}} {{product.quantityUnit.name}}</td>
                                        <td class="shop-red">{{product.totalPrice}}</td>
                                        <td>
                                            <button type="button" class="close" ng-click="removeFromCart(product.uniqueId)"><span>&times;</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody ng-if="grainCart.items.length > 0">
                                	<tr ng-repeat="item in grainCart.items">
                                		<td class="product-in-table">
                                            <img class="img-responsive" src="{{item.image.filepath}}" alt="">
                                            <div class="product-it-in">
                                                <h3>{{item.name}}</h3>
                                                <span>{{item.shortDesc | limitTo:shortDescMaxLimit}}...</span>
                                            </div>    
                                        </td>
                                        <td>{{item.price}} /{{item.priceUnit.symbol}}</td>
                                        <td>{{item.quantity}} {{item.quantityUnit.symbol}}</td>
                                        <td class="shop-red">{{item.totalPrice}}</td>
                                        <td>
                                            <button type="button" class="close" ng-click="removeFromConsumerCart(item.uniqueId)"><span>&times;</span><span class="sr-only">Close</span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="tag-box tag-box-v2 margin-bottom-40" ng-if="grainCart.products.length <= 0 && grainCart.items.length <= 0">
			                    <p>Your grain cart is empty. Please add the items to the cart.</p>
			                </div>
                        </div>
                    </section>
                    
                    <div class="header-tags">
                        <div class="overflow-h">
                            <h2>Billing info</h2>
                            <p>Shipping and address infot</p>
                            <i class="rounded-x fa fa-home"></i>
                        </div>    
                    </div>
                    <section class="billing-info">
                    	<div class="row">
                            <div class="col-md-6 md-margin-bottom-40" ng-if="billingAddresses.length > 0">
                                <h2 class="title-type">Billing Addresses</h2>
                                <div class="shadow-wrapper">
                                    <div class="tag-box tag-box-v1" ng-repeat="billingAddress in billingAddresses">
                                       	<div>
	                                       	<h4>{{billingAddress.firstName}} {{billingAddress.lastName}} 
	                                       		<a class="pull-right" href="javascript: void(0);" ng-click="editAddressEntity('Billing', 'billing', billingAddress)">
	                                       			<i class="fa fa-edit btn rounded btn-xs fa-fixed"></i>
	                                       		</a>
	                                       	</h4>
                                       	</div>
					           			<div>{{billingAddress.addressLine1}}</div>
					           			<div>{{billingAddress.addressLine2}}</div>
					           			<div>{{billingAddress.city}}, {{billingAddress.state.name}}</div>
					           			<div>{{billingAddress.country.name}} {{billingAddress.zipcode}}</div>
					           			<div>Phone No: {{billingAddress.phoneNo}}</div>
					           			<div class="row margin-top-20">
					           				<div class="col col-sm-6">
					           					<button type="button" class="btn-u btn-brd btn-brd-hover rounded btn-u-red btn-u-xs" ng-click="deleteAddress(billingAddress)"> Delete this billing address</button>
					           				</div>
					           				<div class="col col-sm-6">
					           					<button type="button" class="btn-u btn-brd btn-brd-hover rounded btn-u-orange btn-u-xs" ng-click="setBillingAddress(billingAddress)"> Use this billing address</button>
					           				</div>
					           			</div>
                                    </div>
                                    <!-- 
                                    <label class="checkbox text-left">
                                        <input type="checkbox" name="checkbox" ng-model="shipItemsToBilling" ng-click="shipItemsToBillingAddress()"/>
                                        <i></i>
                                        Ship item to the above billing address
                                    </label>
                                     -->
                                </div>
                            </div>

                            <div class="col-md-6" ng-if="deliveryAddresses.length > 0">
                                <h2 class="title-type">Shipping Addresses</h2>
                                <div class="shadow-wrapper">
                                    <div class="tag-box tag-box-v1" ng-repeat="deliveryAddress in deliveryAddresses">
                                       	<div>
                                       		<h4>{{deliveryAddress.firstName}} {{deliveryAddress.lastName}}
                                       			<a class="pull-right" href="javascript: void(0);" ng-click="editAddressEntity('Delivery', 'delivery', deliveryAddress)">
                                       				<i class="fa fa-edit btn rounded btn-xs fa-fixed"></i>
                                       			</a>
                                       		</h4> 
                                       	</div>
					           			<div>{{deliveryAddress.addressLine1}}</div>
					           			<div>{{deliveryAddress.addressLine2}}</div>
					           			<div>{{deliveryAddress.city}}, {{deliveryAddress.state.name}}</div>
					           			<div>{{deliveryAddress.country.name}} {{deliveryAddress.zipcode}}</div>
					           			<div>Phone No: {{deliveryAddress.phoneNo}}</div>
					           			<div class="row margin-top-20">
					           				<div class="col col-sm-6">
					           					<button type="button" class="btn-u btn-brd btn-brd-hover rounded btn-u-red btn-u-xs" ng-click="deleteAddress(deliveryAddress)"> Delete this shipping address</button>
					           				</div>
					           				<div class="col col-sm-6">
					           					<button type="button" class="btn-u btn-brd btn-brd-hover rounded btn-u-orange btn-u-xs" ng-click="setShippingAddress(deliveryAddress)"> Use this shipping address</button>
					           				</div>
					           			</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-6 md-margin-bottom-40">
                                <h2 class="title-type">Billing Address</h2>
                                <div class="billing-info-inputs checkbox-list">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="name" type="text" placeholder="First Name" name="firstname" ng-model="orderDetails.billingAddress.firstName" class="form-control required">
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="surname" type="text" placeholder="Last Name" name="lastname" ng-model="orderDetails.billingAddress.lastName" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                        	<input id="email" type="text" placeholder="Email" name="email" ng-model="orderDetails.billingAddress.emailAddress" class="form-control required email">
                                        </div>
                                        <div class="col-sm-6">
                                        	<input id="phone" type="tel" name="phone" ng-model="orderDetails.billingAddress.phoneNo" class="form-control required" default-country="in" international-phone-number>
                                        </div>
                                    </div>
                                    <input id="billingAddress" type="text" placeholder="Address Line 1" name="address1" ng-model="orderDetails.billingAddress.addressLine1" class="form-control required">
                                    <input id="billingAddress2" type="text" placeholder="Address Line 2" name="address2"ng-model="orderDetails.billingAddress.addressLine2"  class="form-control required">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="city" type="text" placeholder="City" name="city" ng-model="orderDetails.billingAddress.city" class="form-control required">
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <select id="state" type="text" name="state" data-ng-options="state.id as state.name for state in states" ng-model="orderDetails.billingAddress.state.id" class="form-control required">
                                            	<option value="" disabled selected style="display: none;"> State </option>
                                            </select>
                                            <i></i>
                                        </div>
                                        <div class="col-sm-6">
                                            <select id="country" type="text" name="country" data-ng-options="country.id as country.name for country in countries" ng-model="orderDetails.billingAddress.country.id" class="form-control required">
                                            	<option value="" disabled selected style="display: none;"> Country </option>
                                            </select>
                                            <i></i>
                                        </div>
                                    </div>
                                    
                                    <div class="row margin-top-20">
                                        <div class="col-sm-6">
                                            <input id="zip" type="text" placeholder="Zip/Postal Code" name="zip" ng-model="orderDetails.billingAddress.zipcode" class="form-control required">
                                        </div>
                                    </div>
                                    
                                    <label class="checkbox text-left">
                                        <input type="checkbox" name="checkbox" ng-model="shipItemsToBilling" ng-click="shipItemsToBillingAddress()"/>
                                        <i></i>
                                        Ship item to the above billing address
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h2 class="title-type">Shipping Address</h2>
                                <div class="billing-info-inputs checkbox-list">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="name2" type="text" placeholder="First Name" name="firstname" ng-model="orderDetails.shippingAddress.firstName" class="form-control required">
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="surname2" type="text" placeholder="Last Name" name="lastname" ng-model="orderDetails.shippingAddress.lastName" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="email2" type="text" placeholder="Email" name="email" ng-model="orderDetails.shippingAddress.emailAddress" class="form-control email required">
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="phone2" type="tel" placeholder="Phone" name="phone" ng-model="orderDetails.shippingAddress.phoneNo" class="form-control required" default-country="in" international-phone-number>
                                        </div>
                                    </div>
                                    <input id="shippingAddress" type="text" placeholder="Address Line 1" name="address1" ng-model="orderDetails.shippingAddress.addressLine1" class="form-control required">
                                    <input id="shippingAddress2" type="text" placeholder="Address Line 2" name="address2" ng-model="orderDetails.shippingAddress.addressLine2" class="form-control required">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input id="city2" type="text" placeholder="City" name="city" ng-model="orderDetails.shippingAddress.city" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <select id="state" type="text" name="state" data-ng-options="state.id as state.name for state in states" ng-model="orderDetails.shippingAddress.state.id" class="form-control required">
                                            	<option value="" disabled selected style="display: none;"> State </option>
                                            </select>
                                            <i></i>
                                        </div>
                                        <div class="col-sm-6">
                                            <select id="country" type="text" name="country" data-ng-options="country.id as country.name for country in countries" ng-model="orderDetails.shippingAddress.country.id" class="form-control required">
                                            	<option value="" disabled selected style="display: none;"> Country </option>
                                            </select>
                                            <i></i>
                                        </div>
                                    </div>
                                    <div class="row margin-top-20">
                                        <div class="col-sm-6">
                                            <input id="zip" type="text" placeholder="Zip/Postal Code" name="zip" ng-model="orderDetails.shippingAddress.zipcode" class="form-control required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </section>
                        
                    <div class="header-tags">
                        <div class="overflow-h">
                            <h2>Payment</h2>
                            <p>Select Payment method</p>
                            <i class="rounded-x fa fa-credit-card"></i>
                        </div>    
                    </div>
                    <section>
                        <div class="row">
                            <div class="col-md-6 md-margin-bottom-50">
                                <h2 class="title-type">Choose a payment method</h2>
                                <!-- Accordion -->
                                <div class="accordion-v2">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default" ng-if="false">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        <i class="fa fa-credit-card"></i>
                                                        Credit or Debit Card
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body cus-form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 no-col-space control-label">Cardholder Name</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control required" name="cardholder" ng-model="orderDetails.creditCart.owner" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 no-col-space control-label">Card Number</label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control required" name="cardnumber" ng-model="orderDetails.creditCart.number" ui-mask="9999-9999-9999-9999" >
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 no-col-space control-label">Payment Types</label>
                                                        <div class="col-sm-8">
                                                            <ul class="list-inline payment-type">
                                                                <li><i class="fa fa-cc-paypal"></i></li>
                                                                <li><i class="fa fa-cc-visa"></i></li>
                                                                <li><i class="fa fa-cc-mastercard"></i></li>
                                                                <li><i class="fa fa-cc-discover"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4">Expiration Date</label>
                                                        <div class="col-sm-8 input-small-field">
                                                            <input type="text" name="mm" placeholder="MM" ng-model="orderDetails.creditCart.expMonth" class="form-control required sm-margin-bottom-20">
                                                            <span class="slash">/</span>
                                                            <input type="text" name="yy" placeholder="YY" ng-model="orderDetails.creditCart.expYear" class="form-control required">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-4 no-col-space control-label">CSC</label>
                                                        <div class="col-sm-8 input-small-field">
                                                            <input type="password" name="number" ng-model="orderDetails.creditCart.csc" placeholder="" class="form-control required">
                                                            <a href="javascript:void(0)">What's this?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default" ng-if="false">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                        <i class="fa fa-paypal"></i>
                                                        Pay with PayPal
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="content margin-left-10">
                                                    <a href="javascript:void(0)"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" alt="PayPal"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                        <i class="fa fa-truck"></i>
                                                        Cash On Delivery
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse in">
                                                <div class="content margin-left-10">
                                                  Currently we are supporting Cash on Delivery method only. Please pay this amount on delivery. 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Accordion -->    
                            </div>

                            <div class="col-md-6">
                                <h2 class="title-type">Frequently asked questions</h2>
                                <!-- Accordion -->
                                <div class="accordion-v2 plus-toggle">
                                    <div class="panel-group" id="accordion-v2">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseOne-v2">
                                                        What payments methods can I use?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne-v2" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                	Currently, we are supporting only Cash on Delivery payment method. but in near future, we will support other payment methods as well like Credit Card, Debit Card and Paypal. Support for them is coming soon.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" class="collapsed" data-parent="#accordion-v2" href="#collapseTwo-v2">
                                                        Can I use gift card to pay for my purchase?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo-v2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                	Currently, we support only Vocac gift cards which are issued by us only. we doesn't support gift card of any other company now. for these cards, you can apply here only. 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" class="collapsed" data-parent="#accordion-v2" href="#collapseThree-v2">
                                                        Will I be charged when I place my order?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree-v2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                	No, we will not charge anything from you when you place your order now. you have to pay this amount on delivery.    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" class="collapsed" data-parent="#accordion-v2" href="#collapseFour-v2">
                                                        How long will it take to get my order?
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour-v2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                	We will take maximum 4 hours to complete your order. you can also track your order online. we will update you on each and every delivery step.    
                                                </div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                                <!-- End Accordion -->    
                            </div>
                        </div>
                    </section>

                    <div class="coupon-code">
                        <div class="row">
                            <div class="col-sm-4 sm-margin-bottom-30">
                                <h3>Discount Code</h3>
                                <p>Enter your coupon code</p>
                                <input class="form-control margin-bottom-10" name="code" type="text">
                                <button type="button" class="btn-u btn-u-sea-shop">Apply Coupon</button>
                            </div>
                            <div class="col-sm-3 col-sm-offset-5">
                                <ul class="list-inline total-result">
                                    <li>
                                        <h4>Subtotal:</h4>
                                        <div class="total-result-in">
                                            <span>{{grainCart.subtotal}}</span>
                                        </div>    
                                    </li>    
                                    <li>
                                        <h4>Shipping:</h4>
                                        <div class="total-result-in">
                                            <span class="text-right">{{grainCart.shippingCost}}</span>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="total-price">
                                        <h4>Total:</h4>
                                        <div class="total-result-in">
                                            <span>{{grainCart.totalCost}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>    
                </div>
            </form>
        </div><!--/end container-->
    </div>
    <!--=== End Content Medium Part ===-->     

    <!--=== Shop Suvbscribe ===-->
    <div class="shop-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-8 md-margin-bottom-20">
                    <h2>subscribe to our weekly <strong>newsletter</strong></h2>
                </div>  
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email your email...">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><i class="fa fa-envelope-o"></i></button>
                        </span>
                    </div>    
                </div>
            </div>
        </div><!--/end container-->
    </div>
    <!--=== End Shop Suvbscribe ===-->
    
    <!-- 
    <script type="text/javascript">
		jQuery(document).ready(function() {
			StepWizard.initStepWizard();     
		});
	</script>
	-->