
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">My Wishlist</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li><a href="">My Account</a></li>
                <li class="active">Wishlist</li>
            </ul>
        </div>
    </div>
    <!--=== End Breadcrumbs ===-->

	
    <!--=== Cube-Portfdlio ===-->
    <div class="cube-portfolio container margin-bottom-60">
        <div class="content-xs">
            <div id="filters-container" class="cbp-l-filters-text content-xs">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
                <div data-filter=".product" class="cbp-filter-item"> Product </div> |
                <div data-filter=".demand" class="cbp-filter-item"> Demand </div>
            </div><!--/end Filters Container-->
        </div>

        <div id="grid-container" class="cbp-l-grid-agency">
            <div class="cbp-item product" ng-repeat="product in wishlist.products" cube-portfolio="">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{product.defaultImage.filepath}}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="#/search/product/{{product.uniqueId}}"><i class="rounded-x fa fa-link"></i></a></li>
                                    <li><a href="{{product.defaultImage.filepath}}" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    <li><a href="javascript: void(0);" ng-click="removeProductFromWishlist(product.uniqueId)"><i class="rounded-x fa fa-trash"></i></a></li>
                                </ul>
                                <div class="cbp-l-grid-agency-title">{{product.name}}</div>
                                <div class="cbp-l-grid-agency-desc">{{product.quantity}} {{product.quantityUnit.name}}</div>
                                <div class="cbp-l-grid-agency-desc">{{product.price}} {{product.priceCurrency.mneomic}}/{{product.priceUnit.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cbp-item demand" ng-repeat="demand in wishlist.demand" cube-portfolio="">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{demand.defaultImage.filepath}}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions">
                                    <li><a href="#/search/demand/{{demand.uniqueId}}"><i class="rounded-x fa fa-link"></i></a></li>
                                    <li><a href="{{product.defaultImage.filepath}}" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    <li><a href="javascript: void(0);" ng-click="removeDemandFromWishlist(demand.uniqueId)" class="cbp-lightbox"><i class="rounded-x fa fa-trash"></i></a></li>
                                </ul>
                                <div class="cbp-l-grid-agency-title">{{demand.name}}</div>
                                <div class="cbp-l-grid-agency-desc">{{demand.quantity}} {{demand.quantityUnit.name}}</div>
                                <div class="cbp-l-grid-agency-desc">{{demand.price}} {{demand.priceCurrency.mneomic}}/{{demand.priceUnit.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/end Grid Container-->
    </div>
    <!--=== End Cube-Portfdlio ===-->

	<!-- <script type="text/javascript" src="assets/js/plugins/cube-portfolio/cube-portfolio-4.js"></script> -->