<div class="modal-content">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
		<h4 class="modal-title" id="myModalLabel">Note Details</h4>
	</div>
	<form name="noteFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
			<div class="row">
				<section class="col col-11">
					<label>Title <i>*</i></label>
					<label class="input" ng-class="{ 'state-error' : noteFrm.title.$invalid && (noteFrm.$submitted || noteFrm.title.$touched) }">
						<input type="text" name="title" ng-model="note.title" placeholder="Title" required >
					</label> 
					<em ng-if="noteFrm.title.$error.required && (noteFrm.$submitted || noteFrm.title.$touched)">Title is required.</em> 
					<em ng-if="noteFrm.title.$error.server && (noteFrm.$submitted || noteFrm.title.$touched)">{{noteFrm.title.$error.message}}</em>
				</section>
			</div>
	
			<div class="row">
				<section class="col col-11">
					<label>Additional Information </label>
					<label class="textarea" ng-class="{ 'state-error' : noteFrm.note.$invalid && (noteFrm.$submitted || noteFrm.note.$touched) }">
						<textarea name="note" ng-model="note.note" rows="3" style="white-space: pre" placeholder="Additional Info" maxlength="{{maxlength}}"></textarea>
						<span class="pull-right prak-max-chars"> {{note.note.length}} of {{maxlength}} chars</span>
					</label>  
					<em ng-if="noteFrm.note.$error.server && (noteFrm.$submitted || noteFrm.note.$touched)">{{noteFrm.note.$error.message}}</em>
				</section>
			</div>
			
	</form>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn-u" type="button" ng-click="noteFrm.$submitted = true; ok(noteFrm.$valid);">Proceed</button>
	</div>
</div>