	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Add farmer</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="farmerFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
                	
					<div class="headline">
						<h3>Farmer Details</h3>
					</div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">First Name</label>
                            <label class="input" ng-class="{ 'state-error' : farmerFrm.firstName.$invalid && (farmerFrm.$submitted || farmerFrm.firstName.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="firstName" ng-model="farmer.firstName" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="farmerFrm.firstName.$error.required && (farmerFrm.$submitted || farmerFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="farmerFrm.firstName.$error.minlength && (farmerFrm.$submitted || farmerFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="farmerFrm.firstName.$error.pattern && (farmerFrm.$submitted || farmerFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
							<em ng-if="farmerFrm.firstName.$error.server && (farmerFrm.$submitted || farmerFrm.firstName.$touched)">{{farmerFrm.firstName.$error.message}}</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Last Name</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="lastName" ng-model="farmer.lastName">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Email Address</label>
                            <label class="input" ng-class="{ 'state-error' : farmerFrm.email.$invalid && (farmerFrm.$submitted || farmerFrm.email.$touched) }">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email" ng-model="farmer.email" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
                            </label>
							<em ng-if="farmerFrm.email.$error.pattern && (farmerFrm.$submitted || farmerFrm.email.$touched)">Enter a valid email address.</em>
							<em ng-if="farmerFrm.email.$error.server && (farmerFrm.$submitted || farmerFrm.email.$touched)">{{farmerFrm.email.$error.message}}</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Phone No. / Mobile No.</label>
                            <label class="input" ng-class="{ 'state-error' : farmerFrm.mobileNo.$invalid && (farmerFrm.$submitted || farmerFrm.mobileNo.$touched) }">
                                <i class="icon-append fa fa-phone"></i>
                                <input type="tel" name="mobileNo" ng-model="farmer.mobileNo" default-country="in" international-phone-number required />
                            </label>
							<em ng-if="farmerFrm.mobileNo.$error.required && (farmerFrm.$submitted || farmerFrm.mobileNo.$touched)">Phone No. / Mobile No. is required</em>
							<em ng-if="farmerFrm.mobileNo.$error.internationalPhoneNumber && (farmerFrm.$submitted || farmerFrm.mobileNo.$touched)">Phone No. / Mobile No. is not valid</em>
							<em ng-if="farmerFrm.mobileNo.$error.server && (farmerFrm.$submitted || farmerFrm.mobileNo.$touched)">{{farmerFrm.mobileNo.$error.message}}</em>
                        </section>
                    </div>
					
                    <div class="row">
                        <section class="col col-6">
							<label class="label">Farmer Image</label>
                            <label for="file" class="input input-file">
                                <div class="button"><input type="file" ngf-select ng-model="farmerImage" ngf-multiple="false" accept="image/*" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly>
                            </label>
                        </section>
                    </div>

					<div class="headline">
						<h3>Farmer Address</h3>
					</div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Address Line 1</label>
                            <label class="input" ng-class="{ 'state-error' : farmerFrm.addressLine1.$invalid && (farmerFrm.$submitted || farmerFrm.addressLine1.$touched) }">
                                <input type="text" name="addressLine1" ng-model="farmer.addressLine1" required>
                            </label>
							<em ng-if="farmerFrm.addressLine1.$error.required && (farmerFrm.$submitted || farmerFrm.addressLine1.$touched)">Address Line 1 is required.</em>
							<em ng-if="farmerFrm.addressLine1.$error.server && (farmerFrm.$submitted || farmerFrm.addressLine1.$touched)">{{farmerFrm.addressLine1.$error.message}}</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Address Line 2</label>
                            <label class="input">
                                <input type="text" name="addressLine2" ng-model="farmer.addressLine2">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">City</label>
                            <label class="input" ng-class="{ 'state-error' : farmerFrm.city.$invalid && (farmerFrm.$submitted || farmerFrm.city.$touched) }">
                                <input type="text" name="city" ng-model="farmer.city" required>
                            </label>
							<em ng-if="farmerFrm.city.$error.required && (farmerFrm.$submitted || farmerFrm.city.$touched)">City is required.</em>
							<em ng-if="farmerFrm.city.$error.server && (farmerFrm.$submitted || farmerFrm.city.$touched)">{{farmerFrm.city.$error.message}}</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">State</label>
                            <label class="select" ng-class="{ 'state-error' : farmerFrm.state.$invalid && (farmerFrm.$submitted || farmerFrm.state.$touched) }">
								<select name="state" data-ng-options="state.id as state.name for state in states" data-ng-model="farmer.stateId" required>
		                        </select>
								<i></i>
                            </label>
							<em ng-if="farmerFrm.state.$error.required && (farmerFrm.$submitted || farmerFrm.state.$touched)">State is required.</em>
							<em ng-if="farmerFrm.state.$error.server && (farmerFrm.$submitted || farmerFrm.state.$touched)">{{farmerFrm.state.$error.message}}</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Country</label>
                            <label class="select" ng-class="{ 'state-error' : farmerFrm.country.$invalid && (farmerFrm.$submitted || farmerFrm.country.$touched) }">
                                <select name="country" data-ng-options="country.id as country.name for country in countries" data-ng-model="farmer.countryId" required>
		                        </select>
                                <i></i>
                            </label>
							<em ng-if="farmerFrm.country.$error.required && (farmerFrm.$submitted || farmerFrm.country.$touched)">Country is required.</em>
							<em ng-if="farmerFrm.country.$error.server && (farmerFrm.$submitted || farmerFrm.country.$touched)">{{farmerFrm.country.$error.message}}</em>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-4">
							<label class="label">Zipcode</label>
                            <label class="input" ng-class="{ 'state-error' : farmerFrm.zipcode.$invalid && (farmerFrm.$submitted || farmerFrm.zipcode.$touched) }">
                                <input type="text" name="zipcode" ng-model="farmer.zipcode" ui-mask="999999" required>
                            </label>
							<em ng-if="farmerFrm.zipcode.$error.required && (farmerFrm.$submitted || farmerFrm.zipcode.$touched)">Zipcode is required.</em>
							<em ng-if="farmerFrm.zipcode.$error.server && (farmerFrm.$submitted || farmerFrm.zipcode.$touched)">{{farmerFrm.zipcode.$error.message}}</em>
                        </section>
                    </div>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="farmerFrm.$submitted = true; ok(farmerFrm.$valid)">Proceed</button>
        </div>
    </div>