
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Search Results</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li><a href="">Demands</a></li>
                <li class="active">Search results</li>
            </ul>
        </div>
    </div>
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <div class="col-md-3 filter-by-block md-margin-bottom-60">
                <h1>Filter By</h1>
                
                <div class="panel-group" id="accordion-v2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseTwo">
                                    Buyers
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                	<li class="filter" ng-repeat="buyer in filters.buyers">
                                        <label class="checkbox">
                                            <input type="checkbox" name="buyerFacets" ng-model="facets.buyers[buyer.name]" ng-true-value="'selected'" ng-false-value="'unselected'" ng-change="filterResults()" checked />
                                            <i></i>
                                            {{buyer.name}}
                                            <small><a href="javascript:void(0)">({{buyer.count}})</a></small>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/end panel group-->
                
                <div class="panel-group" id="accordion-v2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseTwo">
                                    Categories
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                	<li class="filter" ng-repeat="category in filters.categories">
                                        <label class="checkbox">
                                            <input type="checkbox" name="categoryFacets" ng-model="facets.categories[category.name]" ng-true-value="'selected'" ng-false-value="'unselected'" ng-change="filterResults()" checked />
                                            <i></i>
                                            {{category.name}}
                                            <small><a href="javascript:void(0)">({{category.count}})</a></small>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/end panel group-->

                <div class="panel-group" id="accordion-v3" ng-if="currentUser && !isAuthorized('ROLE_CUSTOMER')">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v3" href="#collapseThree">
                                    Quantity
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                    <li ng-repeat="quantity in filters.quantities">
                                        <label class="checkbox">
                                            <input type="checkbox" name="quantityFacets" ng-model="facets.quantities[quantity.name]" ng-true-value="'selected'" ng-false-value="'unselected'" ng-change="filterResults()" checked/>
                                            <i></i>
                                            {{quantity.from ? (quantity.from | number:1) + ' - ' : 'below'}}
                                            {{quantity.to ? (quantity.to | number:1) : ' & above'}}
                                            <small><a href="javascript:void(0)">({{quantity.count}})</a></small>
                                        </label>
                                    </li>
                                </ul>        
                            </div>
                        </div>
                    </div>
                </div>
                <!--/end panel group-->

                <div class="panel-group" id="accordion-v4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v4" href="#collapseFour">
                                    Price
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in">
                        	<div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                	<li ng-repeat="price in filters.prices">
                                        <label class="checkbox">
                                            <input type="checkbox" name="priceFacets" ng-model="facets.prices[price.name]" ng-true-value="'selected'" ng-false-value="'unselected'" ng-change="filterResults()" checked />
                                            <i></i>
                                            {{price.from ? (price.from | number:2) + ' - ' : 'below'}}
                                            {{price.to ? (price.to | number:2) : ' & above'}}
                                            <small><a href="javascript:void(0)">({{price.count}})</a></small>
                                        </label>
                                    </li>
                                </ul>        
                            </div>
                            
                            <!-- 
                            <div class="panel-body">
                                <div class="slider-snap"></div>
                                <p class="slider-snap-text">
                                    <span class="slider-snap-value-lower"></span>
                                    <span class="slider-snap-value-upper"></span>
                                </p>    
                            </div>
                            -->
                        </div>
                    </div>
                </div><!--/end panel group-->

                <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-lg btn-u-sea-shop btn-block">Reset</button>
            </div>

            <div class="col-md-9">
                <div class="row margin-bottom-5">
                    <div class="col-sm-4 result-category prak-result-category">
                        <h2>{{keywords != null ? keywords : '&nbsp;'}}</h2>
                        <small class="shop-bg-red badge-results">{{resultSize}} Results</small>
                    </div>
                    <div class="col-sm-8">
                        <ul class="list-inline clear-both">
                            <li class="grid-list-icons">
                            	<a href="{{contains(location, category) ? '/#/search/list-category/demand/' + uniqueId : '/#/search/list/demand/' + keywords}}"><i class="fa fa-th-list"></i></a>
                                <a href="{{contains(location, category) ? '/#/search/grid-category/demand/' + uniqueId : '/#/search/grid/demand/' + keywords}}"><i class="fa fa-th"></i></a>
                            </li>
                            <li class="sort-list-btn">
                                <h3>Sort By :</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Popularity <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript:void(0)">All</a></li>
                                        <li><a href="javascript:void(0)">Best Sales</a></li>
                                        <li><a href="javascript:void(0)">Top Last Week Sales</a></li>
                                        <li><a href="javascript:void(0)">New Arrived</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sort-list-btn">
                                <h3>Show :</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        {{sizeText}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript: void(0);" ng-click="updatePageSize(-1, 'All')">All</a></li>
                                        <li><a href="javascript: void(0);" ng-click="updatePageSize(36, '36')">36</a></li>
                                        <li><a href="javascript: void(0);" ng-click="updatePageSize(24, '24')">24</a></li>
                                        <li><a href="javascript: void(0);" ng-click="updatePageSize(12, '12')">12</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>    
                </div><!--/end result category-->

				<div class="filter-results">
					<div class="row illustration-v2 margin-bottom-30" ng-repeat="row in matrix">
                        <div class="col-md-4" ng-repeat="demand in row">
                        	<div class="product-img product-img-brd">
                                <a href="javascript:void(0)"><img class="full-width img-responsive" src="{{demand.defaultImage.mediumImgPath}}" alt=""></a>
                                <a class="product-review" href="shop-ui-inner.html">Quick review</a>
                                <!-- <a class="add-to-cart" href="javascript: void(0);" ng-click="addToCart(demand.uniqueId)"><i class="fa fa-shopping-cart"></i>Add to cart</a> -->
                                <div class="shop-rgba-dark-green rgba-banner" ng-if="demand.recent">New</div>
                            </div> 
                            <div class="product-description product-description-brd margin-bottom-30">
                                <div class="overflow-h margin-bottom-5">
                                    <div class="pull-left">
                                        <h4 class="title-price"><a href="javascript:void(0)" ng-click="viewDetail(demand.uniqueId)">{{demand.name}}</a></h4>
                                        <span class="gender text-uppercase">{{demand.quantity | number:1}} {{demand.quantityUnit.name}}</span>
                                        <span class="gender">{{demand.price | number:2}} {{demand.priceCurrency.mneomic}}/{{demand.priceUnit.symbol}}</span>
                                    </div>
                                </div>
                                <ul class="list-inline product-ratings">
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating fa fa-star"></i></li>
                                    <li><i class="rating fa fa-star"></i></li>
                                    <li class="like-icon"><a data-original-title="Add to wishlist" data-toggle="tooltip" data-placement="left" class="tooltips" href="javascript: void(0);" ng-click="addToWishlist(demand.uniqueId)"><i class="fa fa-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/end filter resilts-->

                <div class="text-center" ng-if="pages.length > 1">
                    <ul class="pagination pagination-v2">
                        <li class="{{pageNumber == 0 ? 'disabled' : ''}}">
                        	<a href="javascript: void(0);" ng-click="prevPage()" ><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li ng-repeat="page in pages track by $index" class="{{page - 1 == pageNumber ? 'active' : ''}}">
		                	<a href="javascript: void(0);" ng-click="moveTo(page)">{{page}}</a>
		                </li>
                        <li class="{{pageNumber == totalPage - 1 ? 'disabled' : ''}}">
                        	<a href="javascript: void(0);" ng-click="nextPage()" ><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>                                                            
                </div><!--/end pagination-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

    <script type="text/javascript">
	    jQuery(document).ready(function() {
	        MouseWheel.initMouseWheel();     
	    });
	</script>