
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Search Results</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li><a href="">Products</a></li>
                <li class="active">Search results</li>
            </ul>
        </div>
    </div>
    <!--=== End Breadcrumbs ===-->
    
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <div class="col-md-3 filter-by-block md-margin-bottom-60">
                <h1>Filter By</h1>
                
                <!--  ng-if="currentUser && !isAuthorized('ROLE_CUSTOMER')" -->
                <div class="panel-group" id="accordion-v2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseTwo">
                                    Seller
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                	<li class="filter" ng-repeat="seller in filters.sellers">
                                        <label class="checkbox">
                                            <input type="checkbox" name="sellerFacets" ng-model="facets.sellers[seller.name]" ng-true-value="'selected'" ng-false-value="'unselected'" ng-change="filterResults()" checked />
                                            <i></i>
                                            {{seller.name}}
                                            <small><a href="javascript:void(0)">({{seller.count}})</a></small>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/end panel group-->
                
                <div class="panel-group" id="accordion-v2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseTwo">
                                    Categories
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                	<li class="filter" ng-repeat="category in filters.categories">
                                        <label class="checkbox">
                                            <input type="checkbox" name="categoryFacets" ng-model="facets.categories[category.name]" ng-true-value="'selected'" ng-false-value="'unselected'" ng-change="filterResults()" checked />
                                            <i></i>
                                            {{category.name}}
                                            <small><a href="javascript:void(0)">({{category.count}})</a></small>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/end panel group-->

				<!--  ng-if="currentUser && !isAuthorized('ROLE_CUSTOMER')" -->
                <div class="panel-group" id="accordion-v3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v3" href="#collapseThree">
                                    Quantity
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                	<li ng-repeat="quantity in filters.quantities">
                                        <label class="checkbox">
                                            <input type="checkbox" name="quantityFacets" ng-model="facets.quantities[quantity.name]" ng-true-value="'selected'" ng-false-value="'unselected'" ng-change="filterResults()" checked/>
                                            <i></i>
                                            {{quantity.from ? (quantity.from | number:1) + ' - ' : 'below'}}
                                            {{quantity.to ? (quantity.to | number:1) : ' & above'}}
                                            <small><a href="javascript:void(0)">({{quantity.count}})</a></small>
                                        </label>
                                    </li>
                                </ul>        
                            </div>
                        </div>
                    </div>
                </div><!--/end panel group-->

                <div class="panel-group" id="accordion-v4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v4" href="#collapseFour">
                                    Price
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in">
                        	<div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                	<li ng-repeat="price in filters.prices">
                                        <label class="checkbox">
                                            <input type="checkbox" name="priceFacets" ng-model="facets.prices[price.name]" ng-true-value="'selected'" ng-false-value="'unselected'" ng-change="filterResults()" checked />
                                            <i></i>
                                            {{price.from ? (price.from | number:2) + ' - ' : 'below'}}
                                            {{price.to ? (price.to | number:2) : ' & above'}}
                                            <small><a href="javascript:void(0)">({{price.count}})</a></small>
                                        </label>
                                    </li>
                                </ul>        
                            </div>
                            <!-- 
                            <div class="panel-body">
                                <div class="slider-snap"></div>
                                <p class="slider-snap-text">
                                    <span class="slider-snap-value-lower"></span>
                                    <span class="slider-snap-value-upper"></span>
                                </p>    
                            </div>
                            -->
                        </div>
                    </div>
                </div><!--/end panel group-->

                <div class="panel-group margin-bottom-30" id="accordion-v6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v6" href="#collapseSix">
                                    Rating
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse in">
                        	<div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                	<li ng-repeat="review in filters.reviews">
                                        <label class="checkbox">
                                            <input type="checkbox" name="reviewFacets" ng-model="facets.reviews[review.name]" ng-true-value="'selected'" ng-false-value="'unselected'" ng-change="filterResults()" checked />
                                            <i></i>
                                            {{review.from ? (review.from | number:1) + ' - ' : 'below'}}
                                            {{review.to ? (review.to | number:1) : ' & above'}}
                                            <small><a href="javascript:void(0)">({{review.count}})</a></small>
                                        </label>
                                    </li>
                                </ul>        
                            </div>
                        	<!-- 
                            <div class="panel-body">
                                <div class="stars-ratings stars-ratings-label">
                                    <input type="radio" name="stars-rating" id="stars-rating-5">
                                    <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                    <input type="radio" name="stars-rating" id="stars-rating-4">
                                    <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                    <input type="radio" name="stars-rating" id="stars-rating-3">
                                    <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                                    <input type="radio" name="stars-rating" id="stars-rating-2">
                                    <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                                    <input type="radio" name="stars-rating" id="stars-rating-1">
                                    <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                                </div>
                            </div>
                             -->
                        </div>
                    </div>
                </div><!--/end panel group-->
                <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-lg btn-u-sea-shop btn-block">Reset</button>
            </div>

            <div class="col-md-9">
                <div class="row margin-bottom-5">
                    <div class="col-sm-4 result-category prak-result-category">
                        <h2>{{keywords != null ? keywords : '&nbsp;'}}</h2>
                        <small class="shop-bg-red badge-results">{{resultSize}} Results</small>
                    </div>
                    <div class="col-sm-8">
                        <ul class="list-inline clear-both">
                            <li class="grid-list-icons">
                                <a href="{{contains(location, category) ? '/#/search/list-category/product/' + uniqueId : '/#/search/list/product/' + keywords}}"><i class="fa fa-th-list"></i></a>
                                <a href="{{contains(location, category) ? '/#/search/grid-category/product/' + uniqueId : '/#/search/grid/product/' + keywords}}"><i class="fa fa-th"></i></a>
                            </li>
                            <li class="sort-list-btn">
                                <h3>Sort By :</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Popularity <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript:void(0)">All</a></li>
                                        <li><a href="javascript:void(0)">Best Sales</a></li>
                                        <li><a href="javascript:void(0)">Top Last Week Sales</a></li>
                                        <li><a href="javascript:void(0)">New Arrived</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sort-list-btn">
                                <h3>Show :</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        {{sizeText}} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="javascript: void(0);" ng-click="updatePageSize(-1, 'All')">All</a></li>
                                        <li><a href="javascript: void(0);" ng-click="updatePageSize(40, '40')">40</a></li>
                                        <li><a href="javascript: void(0);" ng-click="updatePageSize(20, '20')">20</a></li>
                                        <li><a href="javascript: void(0);" ng-click="updatePageSize(10, '10')">10</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>    
                </div><!--/end result category-->

                <div class="filter-results">
                	<!--  ng-if="!currentUser || isAuthorized('ROLE_CUSTOMER')" -->
                	<div class="list-product-description product-description-brd margin-bottom-30" ng-repeat="product in products" ng-if="false">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="shop-ui-inner.html"><img class="img-responsive sm-margin-bottom-20" src="{{product.defaultImage.filepath}}" alt=""></a>
                            </div> 
                            <div class="col-sm-8 product-description">
                                <div class="overflow-h margin-bottom-5">
                                    <ul class="list-inline overflow-h">
                                        <li><h4 class="title-price"><a href="#/search/product?uniqueId={{product.uniqueId}}&layout=list&keywords={{keywords}}">{{product.name}}</a></h4></li>
                                        <!-- <li><span class="gender text-uppercase">{{product.ownerType}}</span></li> -->
                                        <li class="pull-right">
                                            <ul class="list-inline product-ratings">
                                                <li><i class="fa fa-star" ng-class="product.totalRating >= 1 ? 'rating-selected' : 'rating'"></i></li>
                                    			<li><i class="fa fa-star" ng-class="product.totalRating >= 2 ? 'rating-selected' : 'rating'"></i></li>
			                                    <li><i class="fa fa-star" ng-class="product.totalRating >= 3 ? 'rating-selected' : 'rating'"></i></li>
			                                    <li><i class="fa fa-star" ng-class="product.totalRating >= 4 ? 'rating-selected' : 'rating'"></i></li>
			                                    <li><i class="fa fa-star" ng-class="product.totalRating >= 5 ? 'rating-selected' : 'rating'"></i></li>
                                            </ul>
                                        </li>
                                    </ul>    
                                    <div class="margin-bottom-10">
                                        <span class="title-price margin-right-10">{{product.price}} {{product.priceCurrency.mneomic}}/{{product.priceUnit.name}}</span>
                                        <!-- <span class="title-price">({{product.quantity}} {{product.quantityUnit.name}})</span> -->
                                    </div>    
                                    <p class="margin-bottom-20">{{product.shortDesc}}</p>
                                    <span class="product-grid">
                                       	<form ng-init="product.quantity = 1" class="product-quantity sm-margin-bottom-20" name="f1">
				                            <button value="-" name="subtract" class="quantity-button" type="button" ng-click="product.quantity > 1 ? product.quantity = product.quantity - 1 : product.quantity = 1">-</button>
				                            <input type="text" value="1" name="qty" ng-model="product.quantity" class="quantity-field">
				                            <button value="+" name="add" class="quantity-button" type="button" ng-click="product.quantity = product.quantity + 1">+</button>
				                        </form>
				                        <div class="margin-top-30">
				                        	<button type="button" class="btn-u btn-u-sm btn-u-orange rounded" ng-click="addToConsumerCart(product)"><i class="fa fa-shopping-cart"></i></button>
				                        </div>
                                    </span>
                                    <!-- <button type="button" class="btn-u btn-u-sea-shop margin-bottom-20" ng-click="addToCart(product.uniqueId);">Add to Cart</button> -->
                                    <ul class="list-inline add-to-wishlist margin-top-20">
                                        <li class="wishlist-in">
                                            <i class="fa fa-heart"></i>
                                            <a href="javascript: void(0);" ng-click="addToWishlist(product.uniqueId)">Add to Wishlist</a>
                                        </li>
                                        <!-- 
                                        <li class="compare-in">
                                            <i class="fa fa-exchange"></i>
                                            <a href="javascript: void(0);" ng-click="addToCompare(product.uniqueId)">Add to Compare</a>
                                        </li>
                                         -->
                                    </ul>
                                </div>    
                            </div>
                        </div>
                    </div>
                
                	<!--  ng-if="currentUser && !isAuthorized('ROLE_CUSTOMER')" -->
                	<div class="list-product-description product-description-brd margin-bottom-30" ng-repeat="product in products">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="{{makeDetailUrl(product.uniqueId, searchParams)}}"><img class="img-responsive sm-margin-bottom-20" src="{{product.defaultImage.mediumImgPath}}" alt=""></a>
                            </div> 
                            <div class="col-sm-8 product-description">
                                <div class="overflow-h margin-bottom-5">
                                    <ul class="list-inline overflow-h">
                                        <li><h4 class="title-price"><a href="{{makeDetailUrl(product.uniqueId, searchParams)}}">{{product.name}}</a></h4></li>
                                        <li><span class="gender text-uppercase">{{product.ownerType}}</span></li>
                                        <li ng-if="product.owner.verified"><i class="fa fa-check prak-icon-color-u"></i></li>
                                        <li class="pull-right">
                                            <ul class="list-inline product-ratings">
                                                <li><i class="fa fa-star" ng-class="product.totalRating >= 1 ? 'rating-selected' : 'rating'"></i></li>
                                    			<li><i class="fa fa-star" ng-class="product.totalRating >= 2 ? 'rating-selected' : 'rating'"></i></li>
			                                    <li><i class="fa fa-star" ng-class="product.totalRating >= 3 ? 'rating-selected' : 'rating'"></i></li>
			                                    <li><i class="fa fa-star" ng-class="product.totalRating >= 4 ? 'rating-selected' : 'rating'"></i></li>
			                                    <li><i class="fa fa-star" ng-class="product.totalRating >= 5 ? 'rating-selected' : 'rating'"></i></li>
                                            </ul>
                                        </li>
                                    </ul>   
                                    <div class="margin-bottom-10">
                                        <span class="title-price margin-right-10" ng-if="product.priceUnit.id != -1">{{product.price | number:2}} {{product.priceCurrency.mneomic}}/{{product.priceUnit.name}}</span>
                                        <span class="title-price margin-right-10" ng-if="product.priceUnit.id == -1">{{product.price | number:2}} {{product.priceCurrency.mneomic}}</span>
                                        <span class="title-price" ng-if="product.quantity != 1">({{product.quantity | number:1}} {{product.quantityUnit.name}})</span>
                                    </div>    
                                    <p class="margin-bottom-20">{{product.shortDesc}}</p>
                                    <ul class="list-inline add-to-wishlist margin-bottom-20">
                                        <li class="wishlist-in">
                                            <i class="fa fa-heart"></i>
                                            <a href="javascript: void(0);" ng-click="addToWishlist(product.uniqueId)">Add to Wishlist</a>
                                        </li>
                                        <li class="compare-in">
                                            <i class="fa fa-exchange"></i>
                                            <a href="javascript: void(0);" ng-click="addToCompare(product.uniqueId)">Add to Compare</a>
                                        </li>
                                    </ul>
                                    <button type="button" class="btn-u btn-u-sea-shop" ng-click="addToCart(product.uniqueId);">Add to Cart</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div><!--/end filter resilts-->

                <div class="text-center" ng-if="pages.length > 1">
                    <ul class="pagination pagination-v2">
                        <li class="{{pageNumber == 0 ? 'disabled' : ''}}">
                        	<a href="javascript: void(0);" ng-click="prevPage()" ><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li ng-repeat="page in pages track by $index" class="{{page - 1 == pageNumber ? 'active' : ''}}">
		                	<a href="javascript: void(0);" ng-click="moveTo(page)">{{page}}</a>
		                </li>
                        <li class="{{pageNumber == totalPage - 1 ? 'disabled' : ''}}">
                        	<a href="javascript: void(0);" ng-click="nextPage()" ><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>                                                            
                </div><!--/end pagination-->
            </div>
        </div><!--/end row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

    <script type="text/javascript">
	    jQuery(document).ready(function() {
	        MouseWheel.initMouseWheel();     
	    });
	</script>