
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Product Details</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li><a href="javascript:void(0)">Products</a></li>
                <li class="active">Details</li>
            </ul>
        </div>
    </div>
    <!--=== End Breadcrumbs ===-->
    
    <!--=== Shop Product ===-->
    <div class="shop-product">
        <!-- Breadcrumbs v5 -->
        <div class="container">
            <ul class="breadcrumb-v5">
                <li><a href="/#/"><i class="fa fa-home"></i></a></li>
                <li><a href="/#/search/{{layout}}/{{keywords}}">Search</a></li>
                <li class="active">Product</li>
                <div class="pull-right"><a href="/#/search/{{layout}}/product/{{categoryId ? categoryId : keywords}}">BACK</a></div>
            </ul>
        </div>
        <!-- End Breadcrumbs v5 -->

        <div class="container">
            <div class="row">
       
            	<!-- 
				<img ng-elevate-zoom
			         ng-src="assets/img/products/medium/m_25.jpg"
			         zoom-image="assets/img/products/big/b_1.jpg" />
				 -->
			
			    <br/>
            	
            	<div class="col-md-5 md-margin-bottom-50">
            	
                	<div class="ms-showcase2-template">
                        <div carousel active="active" interval="interval" no-wrap="noWrapSlides">
                        	<div slide ng-repeat="image in product.images track by image.id" index="$index" ng-if="product.images.length > 0">
					        	<img ng-src="{{image.bigImgPath}}" style="margin:auto;">
					      	</div>
					      	<div slide ng-if="product.images.length <= 0">
					        	<img ng-src="{{product.defaultImage.bigImgPath}}" style="margin:auto;">
					      	</div>
					    </div>
                    </div>
                    
            		<!-- 
                    <div class="ms-showcase2-template">
                        <div class="master-slider ms-skin-default" id="masterslider">
                        	<div class="ms-slide">
                        		<img ng-elevate-zoom ng-src="assets/img/products/medium/m_25.jpg" zoom-image="assets/img/products/big/b_1.jpg" />
                                <img src="assets/img/blank.gif" data-src="assets/img/products/big/b_1.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/products/small/s_1.jpg" alt="thumb">
                            </div>
                            <div class="ms-slide">
                            	<img ng-elevate-zoom ng-src="assets/img/products/medium/m_25.jpg" zoom-image="assets/img/products/big/b_1.jpg" />
                                <img src="assets/img/blank.gif" data-src="assets/img/products/big/b_2.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/products/small/s_2.jpg" alt="thumb">
                            </div>
                            <div class="ms-slide">
                            	<img ng-elevate-zoom ng-src="assets/img/products/medium/m_25.jpg" zoom-image="assets/img/products/big/b_1.jpg" />
                                <img src="assets/img/blank.gif" data-src="assets/img/products/big/b_3.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/products/small/s_3.jpg" alt="thumb">
                            </div>
                            <div class="ms-slide">
                            	<img ng-elevate-zoom ng-src="assets/img/products/medium/m_25.jpg" zoom-image="assets/img/products/big/b_1.jpg" />
                                <img src="assets/img/blank.gif" data-src="assets/img/products/big/b_4.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/products/small/s_4.jpg" alt="thumb">
                            </div>
                            <div class="ms-slide">
                            	<img ng-elevate-zoom ng-src="assets/img/products/medium/m_25.jpg" zoom-image="assets/img/products/big/b_1.jpg" />
                                <img src="assets/img/blank.gif" data-src="assets/img/products/big/b_5.jpg" alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="assets/img/products/small/s_5.jpg" alt="thumb">
                            </div>
                        </div>
                    </div>
                	 -->
                </div>

                <div class="col-md-7">
                    <div class="shop-product-heading">
                        <h2>{{product.name}}</h2>
                        <ul class="list-inline shop-product-social">
                            <li><a href="/#/facebook/share"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="/#/twitter/share"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="/#/gplus/share"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="/#/pinterest/share"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div><!--/end shop product social-->
					
					<p>{{product.shortDesc}}</p>
					<!-- 
					<div>
						<h4>Owner: {{product.owner.firstName}} {{product.owner.lastName}}</h4>
						<span>Mobile No: {{product.owner.mobileNo}}</span><br/>
						<span>City: {{product.owner.address.city}} {{product.owner.address.state.name}} ({{product.owner.address.country.name}})</span><br/>
					</div>
 					-->
                    <ul class="list-inline product-ratings margin-bottom-30">
                        <li><i class="fa fa-star" ng-class="product.totalRating >= 1 ? 'rating-selected' : 'rating'"></i></li>
                        <li><i class="fa fa-star" ng-class="product.totalRating >= 2 ? 'rating-selected' : 'rating'"></i></li>
                        <li><i class="fa fa-star" ng-class="product.totalRating >= 3 ? 'rating-selected' : 'rating'"></i></li>
                        <li><i class="fa fa-star" ng-class="product.totalRating >= 4 ? 'rating-selected' : 'rating'"></i></li>
                        <li><i class="fa fa-star" ng-class="product.totalRating >= 5 ? 'rating-selected' : 'rating'"></i></li>
                        <li class="product-review-list">
                            <span>({{product.reviews.length}}) <a href="/#/reviews">Review</a> | <a href="javascript:void(0)"> Add Review</a></span>
                        </li>
                    </ul><!--/end shop product ratings-->
					
					<p>{{product.desc}}</p><br/>
                    <!-- <p>Integer <strong>dapibus ut elit</strong> non volutpat. Integer auctor purus a lectus suscipit fermentum. Vivamus lobortis nec erat consectetur elementum.</p><br> -->

                    <ul class="list-inline shop-product-prices">
                        <li class="shop-red" ng-if="product.priceUnit.id != -1">{{product.price | number:2}} {{product.priceCurrency.mneomic}}/{{product.priceUnit.name}}</li>
                        <li class="shop-red" ng-if="product.priceUnit.id == -1">{{product.price | number:2}} {{product.priceCurrency.mneomic}}</li>
                    </ul><!--/end shop product prices-->
                    
                    <!-- 
                    <h3 class="shop-product-title">Size</h3>
                    <ul class="list-inline product-size margin-bottom-30">
                        <li>
                            <input type="radio" id="size-1" name="size" checked>
                            <label for="size-1">L</label>
                        </li>
                    </ul>
                     -->
                    <!--/end product size-->
<!-- 
                    <h3 class="shop-product-title">Color</h3>
                    <ul class="list-inline product-color margin-bottom-30">
                        <li>
                            <input type="radio" id="color-1" name="color" checked>
                            <label class="color-four" for="color-1"></label>
                        </li>
                    </ul>
 					-->                    
                    <!--/end product color-->

                    <h3 class="shop-product-title" ng-if="product.quantity != 1">Quantity: &nbsp; &nbsp;{{product.quantity | number:1}} {{product.quantityUnit.name}}</h3>
                    
                    <div class="margin-bottom-40">
                        <button type="button" class="btn-u btn-u-sea-shop btn-u-lg" ng-click="addToCart(product.uniqueId)">Add to Cart</button>
                    </div><!--/end product quantity-->    

                    <ul class="list-inline add-to-wishlist add-to-wishlist-brd">
                        <li class="wishlist-in">
                            <i class="fa fa-heart"></i>
                            <a href="javascript: void(0);" ng-click="addToWishlist(product.uniqueId)">Add to Wishlist</a>
                        </li>
                        <li class="compare-in">
                            <i class="fa fa-exchange"></i>
                            <a href="javascript: void(0);" ng-click="addToCompare(product.uniqueId)">Add to Compare</a>
                        </li>
                    </ul>    
                    <p class="wishlist-category"><strong>Categories:</strong>
                    	<a href="/#/search/{{layout}}/{{category.name}}" ng-repeat="category in product.categories">{{category.name}}<span ng-if="!$last">, </span></a> 
                    	<!-- <a href="/#/search/{{layout}}/{{product.category.parentCategory.name}}" ng-if="product.category.parentCategory">{{product.category.parentCategory.name}},</a> <a href="/#/search/{{layout}}/{{product.category.name}}">{{product.category.name}}</a> -->
                    </p>
                    <p class="wishlist-category"><strong>Tags:</strong> <a href="/#/search/{{layout}}/{{tag.name}}" ng-repeat="tag in product.tags">{{tag.name}}<span ng-if="!$last">, </span></a></p>
                </div>
            </div><!--/end row-->
        </div>    
    </div>
    <!--=== End Shop Product ===-->

    <!--=== Content Medium ===-->
    <div class="content-md container">
        <!--=== Product Service ===-->
        <div class="row margin-bottom-60">
            <div class="col-md-4 product-service md-margin-bottom-30">
                <div class="product-service-heading">
                    <i class="fa fa-truck"></i>
                </div>
                <div class="product-service-in">
                    <h3>Two-day Delivery</h3>
                    <p>The maximum time that We need to deliver your product is two days without any additional cost...</p>
                    <a href="/#/twodaydelivery/readmore">+Read More</a>
                </div>
                <!-- <div class="product-service-in">
                    <h3>Free Delivery</h3>
                    <p>Integer mattis lacinia felis vel molestie. Ut eu euismod erat, tincidunt pulvinar semper veliUt porta, leo...</p>
                    <a href="javascript:void(0)">+Read More</a>
                </div> -->
            </div>
            <div class="col-md-4 product-service md-margin-bottom-30">
                <div class="product-service-heading">
                    <i class="icon-earphones-alt"></i>
                </div>
                <div class="product-service-in">
                    <h3>Customer Service</h3>
                    <p>We provide the best customer support. You can track the products ordered by you online while it is on the way...</p>
                    <a href="/#/customerservice/readmore">+Read More</a>
                </div>
            </div>
            <div class="col-md-4 product-service">
                <div class="product-service-heading">
                    <i class="icon-refresh"></i>
                </div>
                <div class="product-service-in">
                    <h3>Ask Feedback</h3>
                    <p>We ask feedback of each and every individual who is involve in the delivery of your. so that we can serve you better...</p>
                    <a href="/#/askfeedback/readmore">+Read More</a>
                </div>
            </div>
        </div><!--/end row-->
        <!--=== End Product Service ===-->

		<div class="tab-v5">
			<tabset justified="false">
				<tab heading="Description">
					<div class="tab-pane fade in active" id="description">
	                    <div class="row">
	                        <div class="col-md-7">
	                            <p>{{product.shortDesc}} </p><br>
	
	                            <h3 class="heading-md margin-bottom-20">Specifies</h3>
	                            <div class="row">
	                                <div class="col-sm-6">
	                                    <ul class="list-unstyled specifies-list">
	                                    	<li ng-repeat="attribute in product.attributes" ng-if="$index < product.attributes.length / 2"><i class="fa fa-caret-right"></i>{{attribute.name}}: <span ng-if="attribute.value">{{attribute.value}}</span><span ng-if="!attribute.value">Not specified</span></li>
	                                        <!-- 
	                                        <li><i class="fa fa-caret-right"></i>Brand: <span>Rice 81</span></li>
	                                        <li><i class="fa fa-caret-right"></i>Size: <span>Long</span> </li>
	                                        <li><i class="fa fa-caret-right"></i>Color: <span>Pure White</span></li>
	                                        <li><i class="fa fa-caret-right"></i>Calcium: <span>10g</span></li>
	                                        <li><i class="fa fa-caret-right"></i>Proteins: <span>5g</span></li>
	                                        <li><i class="fa fa-caret-right"></i>Fat: <span>0g</span></li>
	                                         -->
	                                    </ul>
	                                </div>
	                                <div class="col-sm-6">
	                                    <ul class="list-unstyled specifies-list">
	                                    	<li ng-repeat="attribute in product.attributes | startFrom : product.attributes.length / 2" ng-if="$index < product.attributes.length / 2"><i class="fa fa-caret-right"></i>{{attribute.name}}: <span ng-if="attribute.value">{{attribute.value}}</span><span ng-if="!attribute.value">Not specified</span></li>
	                                    	<!-- 
	                                        <li><i class="fa fa-caret-right"></i>Calories: <span>170</span></li>
	                                        <li><i class="fa fa-caret-right"></i>Carbohydrates: <span>36g</span></li>
	                                        <li><i class="fa fa-caret-right"></i>Sodium: <span>3mg</span></li>
	                                        <li><i class="fa fa-caret-right"></i>Cholestrol: <span>0mg </span></li>
	                                        <li><i class="fa fa-caret-right"></i>Vitamin: <span>D (rich)</span></li>
	                                        <li><i class="fa fa-caret-right"></i>Minerals: <span>30%</span></li>
	                                         -->
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-md-5">
	                            <div class="responsive-video">
	                                <iframe src="https://player.vimeo.com/video/72343553" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	                            </div>
	                        </div>
	                    </div>
	                </div>						
				</tab>
				<tab heading="Reviews ({{product.reviews.length}})">
					<div class="product-comment margin-bottom-40" ng-if="product.reviews.length > 0">
                   		<div class="product-comment-in tag-box tag-box-v6" ng-repeat="review in product.reviews">
                            <img class="product-comment-img rounded-x" src="{{review.reviewBy.defaultImage.filepath}}" alt="">
                            <div class="product-comment-dtl">
                                <h4>{{review.reviewBy.firstName}} {{review.reviewBy.lastName}}<small>{{review.reviewDate}}</small></h4>
                                <p>{{review.comment}}</p>
                                <ul class="list-inline product-ratings">
                                    <li class="reply margin-top-20"><a href="javascript:void(0)">Reply</a></li>
                                    <li class="pull-right">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-star" ng-class="review.rating >= 1 ? 'rating-selected' : 'rating'"></i></li>
					                        <li><i class="fa fa-star" ng-class="review.rating >= 2 ? 'rating-selected' : 'rating'"></i></li>
					                        <li><i class="fa fa-star" ng-class="review.rating >= 3 ? 'rating-selected' : 'rating'"></i></li>
					                        <li><i class="fa fa-star" ng-class="review.rating >= 4 ? 'rating-selected' : 'rating'"></i></li>
					                        <li><i class="fa fa-star" ng-class="review.rating >= 5 ? 'rating-selected' : 'rating'"></i></li>
                                        </ul>
                                    </li>    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h3 class="heading-md margin-bottom-30">Add a review</h3>
                    <form name="reviewFrm" method="post" id="sky-form3" class="sky-form sky-changes-4" ng-submit="submitReview(reviewFrm.$valid)" novalidate>
                        <fieldset>
                            <div class="margin-bottom-30">
                                <label class="label-v2">Name</label>
                                <label class="input" ng-class="{ 'state-error' : reviewFrm.name.$invalid && reviewFrm.name.$touched }">
                                    <input type="text" name="name" ng-model="review.name" id="name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                                </label>
                                <em ng-if="reviewFrm.name.$error.required && reviewFrm.name.$touched">Name is required.</em>
								<em ng-if="reviewFrm.name.$error.minlength && reviewFrm.name.$touched">Name is too short.</em>
								<em ng-if="reviewFrm.name.$error.pattern && reviewFrm.name.$touched">Only alphanumerics are allowed.</em>
								<em ng-if="reviewFrm.name.$error.server && reviewFrm.name.$touched">{{reviewFrm.name.$error.message}}</em>
                            </div>    
                            
                            <div class="margin-bottom-30">
                                <label class="label-v2">Email</label>
                                <label class="input" ng-class="{ 'state-error' : reviewFrm.emailAddress.$invalid && reviewFrm.emailAddress.$touched }">
                                    <input type="email" name="emailAddress" ng-model="review.emailAddress" id="email" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
                                </label>
                                <em ng-if="reviewFrm.emailAddress.$error.pattern && reviewFrm.emailAddress.$touched">Enter a valid email address.</em>
								<em ng-if="reviewFrm.emailAddress.$error.server && reviewFrm.emailAddress.$touched">{{review.emailAddress.$error.message}}</em>
                            </div>    
                            
                            <div class="margin-bottom-30">
                                <label class="label-v2">Review</label>
                                <label class="textarea">
                                    <textarea rows="7" name="comment" ng-model="review.comment" id="message"></textarea>
                                </label>
                            </div>    
                        </fieldset>    
                            
                        <footer class="review-submit">
                            <label class="label-v2">Review</label>
                            <div class="stars-ratings">
                                <input type="radio" name="stars-rating" ng-click="setReview(5.0)" id="stars-rating-5">
                                <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" ng-click="setReview(4.0)" id="stars-rating-4">
                                <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" ng-click="setReview(3.0)" id="stars-rating-3">
                                <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" ng-click="setReview(2.0)" id="stars-rating-2">
                                <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                                <input type="radio" name="stars-rating" ng-click="setReview(1.0)" id="stars-rating-1">
                                <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                            </div>
                            <button type="submit" class="btn-u btn-u-sea-shop btn-u-sm pull-right">Submit</button>
                        </footer>
                    </form>
				</tab>
			</tabset>
		</div>
    </div><!--/end container-->    
    <!--=== End Content Medium ===-->

     <!--=== Illustration v2 ===-->
    <div class="container">
        <div class="heading heading-v1 margin-bottom-20">
            <h2>Product you may like</h2>
            <p>As per your browsing experience following products can also interest you. Vocac is giving special offers and/or other benefits to its customers when the customers buy multiple products in one go.</p>
        </div>

        <div class="illustration-v2 margin-bottom-60">
        	<!-- 
            <div class="customNavigation margin-bottom-25">
                <a class="owl-btn prev rounded-x"><i class="fa fa-angle-left"></i></a>
                <a class="owl-btn next rounded-x"><i class="fa fa-angle-right"></i></a>
            </div>
			 -->
            <data-owl-carousel owl-carousel="" class="margin-top-40">
            	<div class="item" owl-carousel-item="" ng-repeat="relatedProduct in relatedProducts">
                    <a href="javascript:void(0)"><img class="img-responsive" src="{{relatedProduct.defaultImage.filepath}}" alt=""></a>
                    <div class="product-description-v2">
                        <div class="margin-bottom-5">
                            <h4 class="title-price"><a href="/#/search/product?uniqueId={{relatedProduct.uniqueId}}">{{relatedProduct.name}}</a></h4>
                            <span class="title-price">{{relatedProduct.priceWithCurrency}} /{{relatedProduct.priceUnit.symbol}}</span>
                        </div>    
                        <ul class="list-inline product-ratings">
                            <li><i class="fa fa-star" ng-class="product.totalRating >= 1 ? 'rating-selected' : 'rating'"></i></li>
                            <li><i class="fa fa-star" ng-class="product.totalRating >= 2 ? 'rating-selected' : 'rating'"></i></li>
                            <li><i class="fa fa-star" ng-class="product.totalRating >= 3 ? 'rating-selected' : 'rating'"></i></li>
                            <li><i class="fa fa-star" ng-class="product.totalRating >= 4 ? 'rating-selected' : 'rating'"></i></li>
                            <li><i class="fa fa-star" ng-class="product.totalRating >= 5 ? 'rating-selected' : 'rating'"></i></li>
                        </ul>    
                    </div>
                </div>
            </data-owl-carousel>
        </div> 
    </div>    
    <!--=== End Illustration v2 ===-->

    <!--=== Shop Suvbscribe ===-->
    <div class="shop-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-8 md-margin-bottom-20">
                    <h2>subscribe to our weekly <strong>newsletter</strong></h2>
                </div>  
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email your email...">
                        <span class="input-group-btn">
                            <button class="btn" type="button"><i class="fa fa-envelope-o"></i></button>
                        </span>
                    </div>    
                </div>
            </div>
        </div><!--/end container-->
    </div>
    <!--=== End Shop Suvbscribe ===-->

	<script type="text/javascript">
		jQuery(document).ready(function() {
			OwlCarousel.initOwlCarousel();     
		    MasterSliderShowcase2.initMasterSliderShowcase2();
		});
	</script>