	
	<div class="modal-content">
        <div class="modal-header">
            <!-- <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button> -->
            <h4 id="myLargeModalLabel2" class="modal-title">You're being logged out</h4>
        </div>
        <div class="modal-body">
        	<p>You were idle too long. So we will log you out and redirect you to the login page.</p>
        </div>
        <div class="modal-footer">
            <!-- <button class="btn-u" type="button" ng-click="close()">&nbsp;&nbsp;Close&nbsp;&nbsp;</button> -->
        </div>
    </div>
