	<div class="modal-content">
        <div class="modal-header">
            <!-- <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="Keepalive.ping()">×</button> -->
            <h4 id="myLargeModalLabel2" class="modal-title">We're logging you out</h4>
        </div>
        <div class="modal-body">
        	<div idle-countdown="countdown" ng-init="countdown = 10">
        		<h3 class="heading-xs">We're logging you out because you are idle <span class="pull-right">{{countdown * 5}}%</span></h3>
        		<div class="progress progress-u">
			   		<div max="10" value="countdown" animate="true" class="active" progressbar=""></div>
			   	</div>
			</div>
        </div>
        <div class="modal-footer">
            <!-- <button class="btn-u" type="button" ng-click="Keepalive.ping()">&nbsp;&nbsp;Cancel&nbsp;&nbsp;</button> -->
        </div>
    </div>