    	
	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Company</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Settings</a></li>
                <li><a href="">My Account</a></li>
                <li class="active">Company</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Company ===-->
    <div class="container content profile">
    	<div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">
            	<div class="thumbnail">
                	<img class="img-responsive profile-img margin-bottom-20" src="{{currentUser.defaultImage.filepath}}" alt="">
	                <div class="text-center">
	                  	<a ng-click="changePicture()" href="javascript:void(0);" class="btn-u btn-u-sm">Change Picture</a>
	                </div>
                </div>

                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item">
                        <a href="#/dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#/profile/me"><i class="fa fa-user"></i> Profile</a>
                    </li>
                    <li class="list-group-item active" ng-if="isAuthorized('ROLE_COMPANY_ADMIN') || isAuthorized('ROLE_AGENT')">
                        <a href="#/profile/company"><i class="fa fa-building-o"></i> Company</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/bankAccounts"><i class="fa fa-money"></i> Bank Accounts</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_FARMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/creditCards"><i class="fa fa-credit-card"></i> Credit Cards</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_BROKER') || isAuthorized('ROLE_FARMER') || isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/products"><i class="fa fa-bars"></i> Products</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_COMPANY_ADMIN', 'ROLE_AGENT', 'ROLE_RETAILER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER']) && !isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/demands"><i class="fa fa-bars"></i> Demands</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_COMPANY_ADMIN', 'ROLE_AGENT', 'ROLE_RETAILER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER']) && !isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/bids"><i class="fa fa-gavel"></i> Bids</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT']) && isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/drivers"><i class="fa fa-bars"></i> Drivers</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT']) && isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/transports"><i class="fa fa-bars"></i> Transports</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_CUSTOMER') || isAuthorized('ROLE_BROKER') || isAuthorized('ROLE_RETAILER') || isAuthorized('ROLE_COMPANY_ADMIN') || isAuthorized('ROLE_AGENT') || isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/orders"><i class="fa fa-truck"></i> Orders</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/reviews"><i class="fa fa-comments"></i> Reviews</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/history"><i class="fa fa-history"></i> History</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#/profile/settings"><i class="fa fa-cog"></i> Settings</a>
                    </li>
                </ul>

                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> Reviews</h2>
                    <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <h3 class="heading-xs">Customer Satisfaction <span class="pull-right">92%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                <h3 class="heading-xs">Product Quality <span class="pull-right">96%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div style="width: 96%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="96" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                <h3 class="heading-xs">Delivery on Time <span class="pull-right">97%</span></h3>
                <div class="progress progress-u progress-xxs margin-bottom-40">
                    <div style="width: 97%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="97" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>

                <hr ng-if="notifications.length > 0">

                <!--Notification-->
                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>
                    <a href="javascript: void(0)"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <ul class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark" ng-controller="NotificationListCtrl" prak-scrollbar>
                	<li class="notification" ng-repeat="notification in notifications | reverse">
                        <i class="icon-custom icon-sm rounded-x {{notificationColor(notification.code)}} icon-line {{notificationIcon(notification.code)}}"></i>
                        <div class="overflow-h">
                            <span ng-bind-html="notification.notification"></span>
                            <small>Two minutes ago</small>
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn-u btn-u-default btn-u-sm btn-block" ng-if="notifications.length > 0">Load More</button>
                <!--End Notification-->

                <div class="margin-bottom-50"></div>

                <!--Datepicker-->
                <form action="#" id="sky-form2" class="sky-form">
                    <div id="inline-start" prak-calendar></div>
                </form>
                <!--End Datepicker-->
            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->
            <div class="col-md-9">
                <div class="profile-body">
                    <div class="profile-bio">
                        <div class="row">
                            <div class="col-md-4">
                            	<div class="thumbnail">
	                            	<img class="img-responsive md-margin-bottom-10" src="{{company.defaultImage.filepath}}" alt="">
	                            </div>
	                            <div class="text-center" ng-if="isAuthorized('ROLE_COMPANY_ADMIN')">
				                  	<a ng-click="changeCompanyLogo()" href="javascript:void(0);" class="btn-u btn-u-blue btn-u-sm">Change Logo</a>
				                </div>
                            </div>
                            <div class="col-md-8">
                            	<form class="sky-form" id="sky-form" action="#" novalidate="novalidate">
                            		<div class="row">
	                                	<div class="col-lg-10"><h2>{{company.name}}</h2></div>
	                                </div>
	                                <div class="row">
	                                	<div class="col-lg-12" ng-if="!fields.phoneNo">
	                                		<i class="pull-right fa fa-pencil" ng-click="editField('phoneNo')"></i>
	                                		<span><strong><small>Phone No:</small></strong> {{company.phoneNo | tel}}</span>
	                                	</div>
	                                	<div class="col-lg-12 margin-top-10 margin-bottom-10" ng-if="fields.phoneNo">
	                                		<div class="row">
	                                            <div class="col-lg-12">
	                                            	<input type="text" name="phoneNo" ng-model="company.phoneNo" class="form-control" default-country="in" international-phone-number required >
	                                            </div>
											</div>
						                    <div class="btn-group pull-right">
						                        <button class="btn-u" type="button" ng-click="done('phoneNo')"><i class="fa fa-check"></i></button>
						                        <button class="btn-u btn-u-red btn-u-red-split" type="button" ng-click="cancel('phoneNo')">
						                            <i class="fa fa-times"></i>
						                        </button>
						                  	</div>
	                                	</div>
	                                </div>
	                                <div class="row">
	                                	<div class="col-lg-12" ng-if="!fields.emailId">
	                                		<i class="pull-right fa fa-pencil" ng-click="editField('emailId')"></i>
	                                		<span><strong><small>Email Address:</small></strong> {{company.emailId}}</span>
	                                	</div>
	                                	<div class="col-lg-12 margin-top-10" ng-if="fields.emailId">
	                                		<div class="row">
	                                            <div class="col-lg-12">
	                                            	<input type="text" name="emailId" ng-model="company.emailId" class="form-control">
	                                            </div>
											</div>
						                    <div class="btn-group pull-right">
						                        <button class="btn-u" type="button" ng-click="done('emailId')"><i class="fa fa-check"></i></button>
						                        <button class="btn-u btn-u-red btn-u-red-split" type="button" ng-click="cancel('emailId')">
						                            <i class="fa fa-times"></i>
						                        </button>
						                  	</div>
	                                	</div>
	                                </div>
	                                <hr>
	                                <div class="row">
	                                	<div class="col-lg-12 margin-top-10 margin-bottom-10" ng-if="!fields.shortDesc">
	                                		<i class="pull-right fa fa-pencil" ng-click="editField('shortDesc')"></i>
	                                		<div ng-bind-html="company.shortDesc"></div>
	                                	</div>
	                                	<div class="col-lg-12 margin-top-10" ng-if="fields.shortDesc">
	                             			<div class="row">
	                                            <div class="col-lg-12">
	                                            	<label class="textarea">
	                                            		<textarea name="shortDesc" ng-model="company.shortDesc" rows="3" maxlength="{{maxlength}}" placeholder="Short Description"></textarea>
	                                            		<span class="pull-right prak-max-chars"> {{company.shortDesc.length}} of {{maxlength}} chars</span>
	                                            	</label>
	                                            </div>
											</div>
						                    <div class="btn-group pull-right">
						                        <button class="btn-u" type="button" ng-click="done('shortDesc')"><i class="fa fa-check"></i></button>
						                        <button class="btn-u btn-u-red btn-u-red-split" type="button" ng-click="cancel('shortDesc')">
						                            <i class="fa fa-times"></i>
						                        </button>
						                  	</div>
	                                	</div>
	                                </div>
                                </form>
                            </div>
                        </div>
                    </div><!--/end row-->

                    <hr>				
					
					<div class="row">
	                    <!--Social Icons v3-->
	                    <div class="col-sm-6 sm-margin-bottom-30">
	                        <div class="panel panel-profile">
	                            <div class="panel-heading profile-box-header">
	                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Billing Address</h2>
	                                <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
	                                       <ul class="dropdown-menu pull-right">
	                                           <li><a href="javascript:void(0);" ng-click="addAddressEntity('Billing', 'billing');">Add</a></li>
	                                           <li><a href="javascript:void(0);">Edit</a></li>
	                                       </ul>
	                                </div>
	                            </div>
	                            <div class="panel-body">
	                            	<span class="pull-right "><a href="javascript:void(0)"><i class="fa fa-edit btn rounded btn-xs fa-fixed" ng-click="editAddressEntity('Billing', 'billing', company.defaultBillingAddress)"></i></a></span>
	                                <h2>{{company.defaultBillingAddress.firstName}} {{company.defaultBillingAddress.lastName}}</h2>
	                                <span>{{company.defaultBillingAddress.addressLine1}}</span><br/>
	                                <span>{{company.defaultBillingAddress.addressLine2}}</span><br/>
	                                <span>{{company.defaultBillingAddress.city}}, {{company.defaultBillingAddress.state.name}} ({{company.defaultBillingAddress.country.name}}) {{company.defaultBillingAddress.zipcode}}</span><br/>
	                                <span ng-if="company.defaultBillingAddress.phoneNo">Phone No.: {{company.defaultBillingAddress.phoneNo | tel}}</span>
									<div class="row">
										<div class="col-lg-6 margin-top-10">
											<a class="btn-u btn-u-sm btn-u-blue rounded" href="javascript:void(0)" ng-click="showAddresses('Billing', 'billing')">View All</a>
										</div>
									</div>
	                            </div>
	                        </div>
	                    </div>
	                    <!--End Social Icons v3-->
	
	                    <!--Social Icons v3-->
	                    <div class="col-sm-6 sm-margin-bottom-30">
	                        <div class="panel panel-profile">
	                            <div class="panel-heading profile-box-header">
	                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Delivery Address</h2>
	                                <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
	                                       <ul class="dropdown-menu pull-right">
	                                           <li><a href="javascript:void(0);" ng-click="addAddressEntity('Delivery', 'delivery');">Add</a></li>
	                                           <li><a href="javascript:void(0);">Edit</a></li>
	                                       </ul>
	                                </div>
	                            </div>
	                            <div class="panel-body">
	                            	<span class="pull-right "><a href="javascript:void(0)"><i class="fa fa-edit btn rounded btn-xs fa-fixed" ng-click="editAddressEntity('Delivery', 'delivery', company.defaultDeliveryAddress)"></i></a></span>
	                                <h2>{{company.defaultDeliveryAddress.firstName}} {{company.defaultDeliveryAddress.lastName}}</h2>
	                                <span>{{company.defaultDeliveryAddress.addressLine1}}</span><br/>
	                                <span>{{company.defaultDeliveryAddress.addressLine2}}</span><br/>
	                                <span>{{company.defaultDeliveryAddress.city}}, {{company.defaultDeliveryAddress.state.name}} ({{company.defaultDeliveryAddress.country.name}}) {{company.defaultDeliveryAddress.zipcode}}</span><br/>
	                                <span ng-if="company.defaultDeliveryAddress.phoneNo">Phone No.: {{company.defaultDeliveryAddress.phoneNo | tel}}</span>
									<div class="row">
										<div class="col-lg-6 margin-top-10">
											<a class="btn-u btn-u-sm btn-u-blue rounded" href="javascript:void(0)" ng-click="showAddresses('Delivery', 'delivery')">View All</a>
										</div>
									</div>
	                            </div>
	                        </div>
	                    </div>
	                    <!--End Social Icons v3-->
	                </div><!--/end row-->
	                
	                <hr/>
	                	
                    <div class="row">
                        <!--Social Icons v3-->
                        <div class="col-sm-6 sm-margin-bottom-30">
                            <div class="panel panel-profile">
                                <div class="panel-heading profile-box-header">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Social Accounts </h2>
                                    <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
	                                       <ul class="dropdown-menu pull-right">
	                                           <li><a href="javascript:void(0);" ng-click="addSocialAccount()">Add</a></li>
	                                       </ul>
	                                </div>
                                </div>
                                <div class="panel-body" ng-if="company.socialAccounts.length > 0">
                                     <ul class="list-unstyled social-contacts-v2">
                                     	<li ng-repeat="socialAccount in company.socialAccounts">
                                     		<i class="rounded-x {{socialCode(socialAccount.socialSite)}} fa {{socialSite(socialAccount.socialSite)}}"></i> 
                                     		<a href="{{socialAccount.accountUrl}}">{{socialAccount.displayName}}</a>
                                     		<div class="pull-right">
                                     			<span><a href="javascript: void(0)" ng-click="editSocialAccount(socialAccount.uniqueId)"><i class="fa fa-pencil"></i></a></span>
                                     			<span><a href="javascript: void(0)" ng-click="deleteSocialAccount(socialAccount.uniqueId)"><i class="fa fa-trash"></i></a></span>
                                     		</div>
                                     	</li>
                                    </ul>
                                </div>
                                <div class="panel-body" ng-if="!company.socialAccounts || company.socialAccounts.length <= 0">
	                                <div class="panel panel-profile">
		                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
						                    <h2>No social accounts are specified!</h2>
						                    <p>You don't have any social account.</p>
						                </div>
		                            </div>
		                        </div>
                            </div>
                        </div>
                        <!--End Social Icons v3-->

                        <!--Skills-->
                        <div class="col-sm-6 sm-margin-bottom-30">
                            <div class="panel panel-profile">
                                <div class="panel-heading profile-box-header">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Deals In</h2>
                                    <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
	                                       <ul class="dropdown-menu pull-right">
	                                           <li><a href="javascript:void(0);" ng-click="addExpertise()">Add</a></li>
	                                       </ul>
	                                </div>
                                </div>
                                <div class="panel-body" ng-if="company.expertises.length > 0">
                                	<table class="table table-hover table-striped">
                                		<tbody>
                                			<tr ng-repeat="expertise in company.expertises">
                                				<td class="col-lg-5">{{expertise.name}}</td>
                                				<td class="col-lg-5">{{expertise.experLabel}}</td>
                                				<td class="col-lg-1"><a href="javascript: void(0)" ng-click="editExpertise(expertise.uniqueId)"><i class="fa fa-pencil"></i></a></td>
                                				<td class="col-lg-1"><a href="javascript: void(0)" ng-click="deleteExpertise(expertise.uniqueId)"><i class="fa fa-trash"></i></a></td>
                                			</tr>
                                		</tbody>
                                	</table>
                                </div>
                                <div class="panel-body" ng-if="!company.expertises || company.expertises.length <= 0">
	                                <div class="panel panel-profile">
		                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
						                    <h2>No expertise is specified!</h2>
						                    <p>You don't have any expertise.</p>
						                </div>
		                            </div>
		                        </div>
                            </div>
                        </div>
                        <!--End Skills-->
                    </div><!--/end row-->

                    <hr>

					<div class="row">
                        <!--Social Icons v3-->
                        <div class="col-sm-6 sm-margin-bottom-30">
                            <div class="panel panel-profile">
                                <div class="panel-heading profile-box-header">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Administrators </h2>
                                    <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
	                                       <ul class="dropdown-menu pull-right">
	                                           <li><a href="javascript:void(0);" ng-click="addAdmin()">Add</a></li>
	                                       </ul>
	                                </div>
                                </div>
                                <div class="panel-body" ng-if="company.admins.length > 0">
                                     <table class="table table-hover table-striped">
                                		<tbody>
                                     		<tr ng-repeat="admin in company.admins">
                                     			<td class="col-lg-1">{{$index + 1}}</td>
                                     			<td class="col-lg-9"><a href="javascript:void(0)" ng-click="viewAdminDetail(admin.userNo)">{{admin.firstName}} {{admin.lastName}}</a></td>
	                                     		<td class="col-lg-1" ng-if="isAuthorized('ROLE_COMPANY_ADMIN')"><a href="javascript: void(0)" ng-click="editAdmin(admin.userNo)"><i class="fa fa-pencil"></i></a></td>
	                                			<td class="col-lg-1" ng-if="isAuthorized('ROLE_COMPANY_ADMIN')"><a href="javascript: void(0)" ng-click="deleteAdmin(admin.userNo)"><i class="fa fa-trash"></i></a></td>
                                     		</tr>
                                     	</tbody>
                                     </table>
                                </div>
                                <div class="panel-body" ng-if="!company.admins || company.admins.length <= 0">
	                                <div class="panel panel-profile">
		                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
						                    <h2>No administrator is specified!</h2>
						                    <p>No administrator is specified for the company.</p>
						                </div>
		                            </div>
		                        </div>
                            </div>
                        </div>
                        <!--End Social Icons v3-->

                        <!--Skills-->
                        <div class="col-sm-6 sm-margin-bottom-30">
                            <div class="panel panel-profile">
                                <div class="panel-heading profile-box-header">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Agents</h2>
                                    <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
	                                       <ul class="dropdown-menu pull-right">
	                                           <li><a href="javascript:void(0);" ng-click="addAgent()">Add</a></li>
	                                       </ul>
	                                </div>
                                </div>
                                <div class="panel-body" ng-if="company.agents.length > 0">
                                	<table class="table table-hover table-striped">
                                		<tbody>
                                			<tr ng-repeat="agent in company.agents">
                                				<td class="col-lg-1">{{$index + 1}}</td>
                                     			<td class="col-lg-9"><a href="javascript:void(0)" ng-click="viewAgentDetail(agent.userNo)">{{agent.firstName}} {{agent.lastName}}</a></td>
	                                     		<td class="col-lg-1" ng-if="isAuthorized('ROLE_COMPANY_ADMIN')"><a href="javascript: void(0)" ng-click="editAgent(agent.userNo)"><i class="fa fa-pencil"></i></a></td>
	                                			<td class="col-lg-1" ng-if="isAuthorized('ROLE_COMPANY_ADMIN')"><a href="javascript: void(0)" ng-click="deleteAgent(agent.userNo)"><i class="fa fa-trash"></i></a></td>
                                			</tr>
                                		</tbody>
                                	</table>
                                </div>
                                <div class="panel-body" ng-if="!company.agents || company.agents.length <= 0">
	                                <div class="panel panel-profile">
		                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
						                    <h2>No agent is specified!</h2>
						                    <p>You don't have any agent.</p>
						                </div>
		                            </div>
		                        </div>
                            </div>
                        </div>
                        <!--End Skills-->
                    </div><!--/end row-->

                    <hr>

					<div class="row">
                        <!--Skills-->
                        <div class="col-sm-6 sm-margin-bottom-30">
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Reviews <small>(Products)</small></h2>
                                    <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                                </div>
                                <div class="panel-body">
                                	<div ng-repeat="categoryWiseReview in company.categoryWiseReviews">
	                                    <small>{{categoryWiseReview.name}}</small>
	                                    <small>{{categoryWiseReview.ratingPercent}}%</small>
	                                    <div class="progress progress-u progress-xxs">
	                                        <div style="width: {{categoryWiseReview.ratingPercent}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{categoryWiseReview.ratingPercent}}" role="progressbar" class="progress-bar progress-bar-u">
	                                        </div>
	                                    </div>
	                                </div>
                                </div>
                            </div>
                        </div>
                        <!--End Skills-->

                        <!--Skills-->
                        <div class="col-sm-6 sm-margin-bottom-30">
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Reviews <small>(Deals In)</small></h2>
                                    <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                                </div>
                                <div class="panel-body">
                                	<div class="margin-bottom-20" ng-repeat="expertise in company.expertises">
                                		<div class="col-sm-8">
	                                    	<small>{{expertise.name}}</small>
	                                    </div>
	                                    <div class="col-sm-4">
	                                    	<small>{{expertise.ratingPercent}}%</small>
	                                    </div>
	                                </div>
                                </div>
                            </div>
                        </div>
                        <!--End Skills-->
                    </div><!--/end row-->

                </div>
            </div>
            <!-- End Profile Content -->
        </div>
    </div>
    <!--=== End Company ===-->
    
    
   	<!-- START: delete companyAdmin -->
	<script type="text/ng-template" id="delete-company-admin.component.html">
		<div class="modal-content">
	        <div class="modal-header">
	            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
	            <h4 class="modal-title">Delete Company Admin?</h4>
	        </div>
	        <div class="modal-body">
	            <p>Do you really want to delete this companyAdmin?</p>
	        </div>
	        <div class="modal-footer">
	        	<button class="btn-u" type="button" ng-click="ok()">Proceed</button>
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
            </div>
	    </div>
	</script>
	<!-- END: delete companyAdmin -->
	
	<!-- START: delete agent -->
	<script type="text/ng-template" id="delete-agent.component.html">
		<div class="modal-content">
	        <div class="modal-header">
	            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
	            <h4 class="modal-title">Delete Agent?</h4>
	        </div>
	        <div class="modal-body">
	            <p>Do you really want to delete this agent?</p>
	        </div>
	        <div class="modal-footer">
	        	<button class="btn-u" type="button" ng-click="ok()">Proceed</button>
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
            </div>
	    </div>
	</script>
	<!-- END: delete agent -->
	