    	
	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">History</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Settings</a></li>
                <li><a href="">My Account</a></li>
                <li class="active">History</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Profile ===-->
    <div class="container content profile">
    	<div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">
                <div class="thumbnail">
                	<img class="img-responsive profile-img margin-bottom-20" src="{{currentUser.defaultImage.filepath}}" alt="">
	                <div class="text-center">
	                  	<a ng-click="changePicture()" href="javascript:void(0);" class="btn-u btn-u-sm">Change Picture</a>
	                </div>
                </div>

                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                	<li class="list-group-item">
                        <a href="#/dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#/profile/me"><i class="fa fa-user"></i> Profile</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_COMPANY_ADMIN') || isAuthorized('ROLE_AGENT')">
                        <a href="#/profile/company"><i class="fa fa-building-o"></i> Company</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/bankAccounts"><i class="fa fa-money"></i> Bank Accounts</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_FARMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/creditCards"><i class="fa fa-credit-card"></i> Credit Cards</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_BROKER') || isAuthorized('ROLE_FARMER') || isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/products"><i class="fa fa-bars"></i> Products</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_COMPANY_ADMIN', 'ROLE_AGENT', 'ROLE_RETAILER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER']) && !isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/demands"><i class="fa fa-bars"></i> Demands</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_COMPANY_ADMIN', 'ROLE_AGENT', 'ROLE_RETAILER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER']) && !isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/bids"><i class="fa fa-gavel"></i> Bids</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT']) && isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/drivers"><i class="fa fa-bars"></i> Drivers</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT']) && isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/transports"><i class="fa fa-bars"></i> Transports</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_CUSTOMER') || isAuthorized('ROLE_BROKER') || isAuthorized('ROLE_RETAILER') || isAuthorized('ROLE_COMPANY_ADMIN') || isAuthorized('ROLE_AGENT') || isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/orders"><i class="fa fa-truck"></i> Orders</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/reviews"><i class="fa fa-comments"></i> Reviews</a>
                    </li>
                    <li class="list-group-item active" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/history"><i class="fa fa-history"></i> History</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#/profile/settings"><i class="fa fa-cog"></i> Settings</a>
                    </li>
                </ul>

                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> Reviews</h2>
                    <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <h3 class="heading-xs">Customer Satisfaction <span class="pull-right">92%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                <h3 class="heading-xs">Product Quality <span class="pull-right">96%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div style="width: 96%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="96" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                <h3 class="heading-xs">Delivery on Time <span class="pull-right">97%</span></h3>
                <div class="progress progress-u progress-xxs margin-bottom-40">
                    <div style="width: 97%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="97" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>

                <hr ng-if="notifications.length > 0">

                <!--Notification-->
                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>
                    <a href="javascript: void(0)"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <ul class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark" ng-controller="NotificationListCtrl" prak-scrollbar>
                	<li class="notification" ng-repeat="notification in notifications | reverse">
                        <i class="icon-custom icon-sm rounded-x {{notificationColor(notification.code)}} icon-line {{notificationIcon(notification.code)}}"></i>
                        <div class="overflow-h">
                            <span ng-bind-html="notification.notification"></span>
                            <small>Two minutes ago</small>
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn-u btn-u-default btn-u-sm btn-block" ng-if="notifications.length > 0">Load More</button>
                <!--End Notification-->

                <div class="margin-bottom-50"></div>

                <!--Datepicker-->
                <form action="#" id="sky-form2" class="sky-form">
                    <div id="inline-start" prak-datepicker></div>
                </form>
                <!--End Datepicker-->
            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->
            <div class="col-md-9">
                <div class="profile-body margin-bottom-20">
                	
                	<!--History-->
                    <div class="panel panel-profile">
                        <div class="panel-heading profile-box-header">
                            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> History</h2>
                            <div class="pull-right">
			                   	<section class="col col-12">
			                   		<form class="sky-form search-form" ng-click="searchByKeyword()">
			                            <label class="input">
			                                <i class="icon-append fa fa-search"></i>
			                                <input type="text" name="keywords" ng-model="keyword" placeholder="Search"/>
			                            </label>
			                        </form>
			                    </section>
			                </div>
                        </div>
                       
                       	<div class="testimonials-v6">
			            	<div ng-repeat="product in products">
				            	<div class="row margin-bottom-50" ng-if="$even">
				                    <div class="col-md-6 md-margin-bottom-50">
				                        <div class="testimonials-info rounded-bottom">
				                            <img class="rounded-x" src="{{products[$index].defaultImage.smallImgPath}}" alt="">
				                            <div class="testimonials-desc">
			                                	<strong><a href="javascript: void(0);" ng-click="viewDetail(products[$index].uniqueId)">{{products[$index].name}}</a></strong>
			                                	<span><a href="#/owner/{{owner.uniqueId}}">{{products[$index].owner.firstName}} {{products[$index].owner.lastName}} ({{products[$index].owner.address.city}}, {{products[$index].owner.address.country.name}})</a></span>
			                                	<small>Bid Enabled: {{products[$index].bidEnabled ? 'Yes' : 'No'}}</small><br/>
			                                	<small>
			                                		Bidding Started: 
			                                		<em ng-if="products[$index].bidEnabled">{{products[$index].initialBidAmount}} {{products[$index].biddingCurrency.mneomic}}/{{products[$index].biddingUnit.name}}</em>
			                                		<em ng-if="!products[$index].bidEnabled">NA</em>
			                                	</small><br/>
			                                	<small>
			                                		Latest Bid: 
			                                		<em ng-if="products[$index].highestBid">{{products[$index].highestBid.price}} {{products[$index].highestBid.currency.mneomic}}/{{products[$index].highestBid.unit.name}}</em>
			                                		<em ng-if="!products[$index].highestBid">NA</em>
			                                	</small><br/>
			                                	<small>
			                                		Latest Bidder: 
			                                		<em ng-if="products[$index].highestBid && products[$index].highestBid.company"><a href="javascript:void(0)">{{products[$index].highestBid.company.name}}</a></em>
			                                		<em ng-if="products[$index].highestBid && !products[$index].highestBid.company"><a href="javascript:void(0)">{{products[$index].highestBid.user.firstName}} {{products[$index].highestBid.user.lastName}}</a></em>
			                                		<em ng-if="!products[$index].highestBid">NA</em>
			                                	</small><br/>
			                                	<small>Quantity:- {{products[$index].quantity}} {{products[$index].quantityUnit.name}}</small>
			                                	<span>Price:- {{products[$index].price}} {{products[$index].priceCurrency.mneomic}}/{{products[$index].priceUnit.name}}</span>
			                                	<div class="margin-top-15">
				                                	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="editDetail(products[$index].uniqueId)"><i class="fa fa-edit"></i></a></div>
			                                    	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="remove(products[$index].uniqueId)"><i class="fa fa-trash-o"></i></a></div>
			                                    </div>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="col-md-6">
				                        <div class="testimonials-info rounded-bottom" ng-if="products[$index + 1]">
				                            <img class="rounded-x" src="{{products[$index + 1].defaultImage.smallImgPath}}" alt="">
				                            <div class="testimonials-desc">
				                                <strong><a href="javascript: void(0);" ng-click="viewDetail(products[$index + 1].uniqueId)">{{products[$index + 1].name}}</a></strong>
			                                	<span><a href="#/owner/{{owner.uniqueId}}">{{products[$index + 1].owner.firstName}} {{products[$index + 1].owner.lastName}} ({{products[$index + 1].owner.address.city}}, {{products[$index + 1].owner.address.country.name}})</a></span>
			                                	<small>Bid Enabled: {{products[$index + 1].bidEnabled ? 'Yes' : 'No'}}</small><br/>
			                                	<small>
			                                		Bidding Started: 
			                                		<em ng-if="products[$index + 1].bidEnabled">{{products[$index + 1].initialBidAmount}} {{products[$index + 1].biddingCurrency.mneomic}}/{{products[$index + 1].biddingUnit.name}}</em>
			                                		<em ng-if="!products[$index + 1].bidEnabled">NA</em>
			                                	</small><br/>
			                                	<small>
			                                		Latest Bid: 
			                                		<em ng-if="products[$index + 1].highestBid">{{products[$index + 1].highestBid.price}} {{products[$index + 1].highestBid.currency.mneomic}}/{{products[$index + 1].highestBid.unit.name}}</em>
			                                		<em ng-if="!products[$index + 1].highestBid">NA</em>
			                                	</small><br/>
			                                	<small>
			                                		Latest Bidder: 
			                                		<em ng-if="products[$index + 1].highestBid && products[$index + 1].highestBid.company"><a href="javascript:void(0)">{{products[$index + 1].highestBid.company.name}}</a></em>
			                                		<em ng-if="products[$index + 1].highestBid && !products[$index + 1].highestBid.company"><a href="javascript:void(0)">{{products[$index + 1].highestBid.user.firstName}} {{products[$index + 1].highestBid.user.lastName}}</a></em>
			                                		<em ng-if="!products[$index + 1].highestBid">NA</em>
			                                	</small><br/>
			                                	<small>Quantity:- {{products[$index + 1].quantity}} {{products[$index + 1].quantityUnit.name}}</small>
			                                	<span>Price:- {{products[$index + 1].price}} {{products[$index + 1].priceCurrency.mneomic}}/{{products[$index + 1].priceUnit.name}}</span>
			                                	<div class="margin-top-15">
				                                	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="editDetail(products[$index + 1].uniqueId)"><i class="fa fa-edit"></i></a></div>
			                                    	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="remove(products[$index + 1].uniqueId)"><i class="fa fa-trash-o"></i></a></div>
			                                    </div>
				                            </div>
				                        </div>
				                    </div>
				                </div><!--/end row-->
			            	</div>
			            </div>
		            
                        <div class="panel-body margin-bottom-40" ng-if="products.length > 0">
                            <div class="pull-right" ng-if="pages.length > 1">
					            <ul class="pagination">
					                <li class="{{pageNumber == 0 ? 'disabled' : ''}}">
					                	<a href="javascript: void(0);" ng-click="prevPage()" aria-label="Previous">&laquo;</a>
					                </li>
					                <li ng-repeat="page in pages" class="{{page - 1 == pageNumber ? 'active' : ''}}">
					                	<a href="javascript: void(0);" ng-click="moveTo(page)">{{page}}</a>
					                </li>
					                <li class="{{pageNumber == totalPage - 1 ? 'disabled' : ''}}">
					                	<a href="javascript: void(0);" ng-click="nextPage()" aria-label="Next">&raquo;</a>
					                </li>
					            </ul>
					        </div>
                        </div>
                        
                        <div class="panel-body margin-bottom-40" ng-if="products == null || products.length <= 0">
                            <div class="alert alert-success fade in">
			                    <h4>No history is available!</h4>
			                    Sorry, We are not able to find any history of you. We think, you have not done any activity with us till now.
			                </div>
                        </div>
                    </div>
                    <!--End History-->
                    
                    <!--Timeline-->
                    <ul class="timeline-v2" ng-if="history.length > 0">
                        <li>
                            <time class="cbp_tmtime" datetime=""><span>4/1/08</span> <span>January</span></time>
                            <i class="cbp_tmicon rounded-x hidden-xs"></i>
                            <div class="cbp_tmlabel">
                                <h2>Our first step</h2>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-responsive" src="assets/img/main/img18.jpg" alt="">
                                        <div class="md-margin-bottom-20"></div>
                                    </div>
                                    <div class="col-md-8">
                                        <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
                                        <p>Cabbage lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <time class="cbp_tmtime" datetime=""><span>7/2/09</span> <span>February</span></time>
                            <i class="cbp_tmicon rounded-x hidden-xs"></i>
                            <div class="cbp_tmlabel">
                                <h2>First achievements</h2>
                                <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                                            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                            <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                                            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                                            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                            <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                                            <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <time class="cbp_tmtime" datetime=""><span>28/6/12</span> <span>May</span></time>
                            <i class="cbp_tmicon rounded-x hidden-xs"></i>
                            <div class="cbp_tmlabel">
                                <h2>Difficulties</h2>
                                <p>Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jícama bell pepper carrot onion corn plantain garbanzo. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot.</p>
                            </div>
                        </li>
                        <li>
                            <time class="cbp_tmtime" datetime=""><span>11/3/10</span> <span>March</span></time>
                            <i class="cbp_tmicon rounded-x hidden-xs"></i>
                            <div class="cbp_tmlabel">
                                <h2>Our Popularity</h2>
                                <p>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard.</p>

                                <div class="margin-bottom-20"></div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- Progress Bar Text -->
                                        <div class="progress-bar-text">
                                            <p class="text-left">HTML &amp; CSS</p>
                                            <p class="text-right">91%</p>
                                            <div class="progress progress-u progress-xs">
                                                <div class="progress-bar progress-bar-u progress-bar-u-success" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100" style="width: 91%">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Progress Bar Text -->

                                        <!-- Progress Bar Text -->
                                        <div class="progress-bar-text">
                                            <p class="text-left">Web Animation</p>
                                            <p class="text-right">55%</p>
                                            <div class="progress progress-u progress-xs">
                                                <div class="progress-bar progress-bar-u progress-bar-u-info" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Progress Bar Text -->
                                    </div>

                                    <div class="col-sm-6">
                                        <!-- Progress Bar Text -->
                                        <div class="progress-bar-text">
                                            <p class="text-left">Web Design</p>
                                            <p class="text-right">67%</p>
                                            <div class="progress progress-u progress-xs">
                                                <div class="progress-bar progress-bar-u progress-bar-u-danger" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Progress Bar Text -->

                                        <!-- Progress Bar Text -->
                                        <div class="progress-bar-text">
                                            <p class="text-left">PHP &amp; Javascript</p>
                                            <p class="text-right">73%</p>
                                            <div class="progress progress-u progress-xs">
                                                <div class="progress-bar progress-bar-u progress-bar-u-warning" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Progress Bar Text -->
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <time class="cbp_tmtime" datetime=""><span>2/4/11</span> <span>April</span></time>
                            <i class="cbp_tmicon rounded-x hidden-xs"></i>
                            <div class="cbp_tmlabel">
                                <h2>Back to the past</h2>
                                <p>Peanut gourd nori welsh onion rock melon mustard jícama. Desert raisin amaranth kombu aubergine kale seakale brussels sprout pea. Black-eyed pea celtuce bamboo shoot salad kohlrabi leek squash prairie turnip catsear rock melon chard taro broccoli turnip greens. Fennel quandong potato watercress ricebean swiss chard garbanzo. Endive daikon brussels sprout lotus root silver beet epazote melon shallot.</p>
                            </div>
                        </li>
                        <li>
                            <time class="cbp_tmtime" datetime=""><span>18/7/13</span> <span>June</span></time>
                            <i class="cbp_tmicon rounded-x hidden-xs"></i>
                            <div class="cbp_tmlabel">
                                <h2>Unify in recent years</h2>
                                <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
                                <p>Bitterleaf celery coriander epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout.</p>

                                <div class="margin-bottom-20"></div>

                                <div class="row">
                                    <div class="col-md-4 col-xs-6">
                                        <img class="img-responsive md-margin-bottom-10" src="assets/img/main/img3.jpg" alt="">
                                    </div>
                                    <div class="col-md-4 col-xs-6">
                                        <img class="img-responsive md-margin-bottom-10" src="assets/img/main/img9.jpg" alt="">
                                    </div>
                                    <div class="col-md-4 col-xs-6">
                                        <img class="img-responsive md-margin-bottom-10" src="assets/img/main/img4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--End Timeline-->
                    
                </div>
            </div>
            <!-- End Profile Content -->
        </div>
    </div><!--/container-->
    <!--=== End Profile ===-->
