    	
	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Orders</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Settings</a></li>
                <li><a href="">My Account</a></li>
                <li class="active">Orders</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Profile ===-->
    <div class="container content profile">
    	<div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">
                <div class="thumbnail">
                	<img class="img-responsive profile-img margin-bottom-20" src="{{currentUser.defaultImage.filepath}}" alt="">
	                <div class="text-center">
	                  	<a ng-click="changePicture()" href="javascript:void(0);" class="btn-u btn-u-sm">Change Picture</a>
	                </div>
                </div>

                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                	<li class="list-group-item">
                        <a href="#/dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#/profile/me"><i class="fa fa-user"></i> Profile</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_COMPANY_ADMIN') || isAuthorized('ROLE_AGENT')">
                        <a href="#/profile/company"><i class="fa fa-building-o"></i> Company</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/bankAccounts"><i class="fa fa-money"></i> Bank Accounts</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_FARMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/creditCards"><i class="fa fa-credit-card"></i> Credit Cards</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_BROKER') || isAuthorized('ROLE_FARMER') || isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/products"><i class="fa fa-bars"></i> Products</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_COMPANY_ADMIN', 'ROLE_AGENT', 'ROLE_RETAILER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER']) && !isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/demands"><i class="fa fa-bars"></i> Demands</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_COMPANY_ADMIN', 'ROLE_AGENT', 'ROLE_RETAILER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER']) && !isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/bids"><i class="fa fa-gavel"></i> Bids</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT']) && isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/drivers"><i class="fa fa-bars"></i> Drivers</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT']) && isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/transports"><i class="fa fa-bars"></i> Transports</a>
                    </li>
                    <li class="list-group-item active" ng-if="isAuthorized('ROLE_CUSTOMER') || isAuthorized('ROLE_BROKER') || isAuthorized('ROLE_RETAILER') || isAuthorized('ROLE_COMPANY_ADMIN') || isAuthorized('ROLE_AGENT') || isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/orders"><i class="fa fa-truck"></i> Orders</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/reviews"><i class="fa fa-comments"></i> Reviews</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/history"><i class="fa fa-history"></i> History</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#/profile/settings"><i class="fa fa-cog"></i> Settings</a>
                    </li>
                </ul>

                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> Reviews</h2>
                    <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <h3 class="heading-xs">Customer Satisfaction <span class="pull-right">92%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                <h3 class="heading-xs">Product Quality <span class="pull-right">96%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div style="width: 96%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="96" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                <h3 class="heading-xs">Delivery on Time <span class="pull-right">97%</span></h3>
                <div class="progress progress-u progress-xxs margin-bottom-40">
                    <div style="width: 97%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="97" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>

                <hr ng-if="notifications.length > 0">

                <!--Notification-->
                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>
                    <a href="javascript: void(0)"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <ul class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark" ng-controller="NotificationListCtrl" prak-scrollbar>
                	<li class="notification" ng-repeat="notification in notifications | reverse">
                        <i class="icon-custom icon-sm rounded-x {{notificationColor(notification.code)}} icon-line {{notificationIcon(notification.code)}}"></i>
                        <div class="overflow-h">
                            <span ng-bind-html="notification.notification"></span>
                            <small>Two minutes ago</small>
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn-u btn-u-default btn-u-sm btn-block" ng-if="notifications.length > 0">Load More</button>
                <!--End Notification-->

                <div class="margin-bottom-50"></div>

                <!--Datepicker-->
                <form action="#" id="sky-form2" class="sky-form">
                    <div id="inline-start" prak-datepicker></div>
                </form>
                <!--End Datepicker-->
            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->
            <div class="col-md-9">
                <div class="profile-body margin-bottom-20">
                	
                	<!--Orders-->
                    <div class="panel panel-profile">
                        <div class="panel-heading profile-box-header">
                            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Orders</h2>
                            <div class="pull-right">
			                   	<section class="col col-12">
			                   		<form class="sky-form search-form" ng-click="searchByKeyword()">
			                            <label class="input">
			                                <i class="icon-append fa fa-search"></i>
			                                <input type="text" name="keywords" ng-model="keyword" placeholder="Search order"/>
			                            </label>
			                        </form>
			                    </section>
			                </div>
                        </div>
                        <div class="panel-body margin-bottom-40" ng-if="orders.length > 0">
                        	<table class="table table-bordered table-striped">
			                    <thead>
					                <tr>
					                    <th ng-if="!isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">#</th>
					                    <th>Order Id</th>
					                    <th ng-if="!isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">Shipping Cost</th>
					                    <th>Total Price</th>
					                    <th>Status</th>
					                    <th>Order Date</th>
					                    <th>Delivery Date</th>
					                    <th ng-if="isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')"></th>
					                </tr>
					            </thead>
					            <tbody>
					                <tr ng-repeat="order in orders">
					                    <td ng-if="!isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">{{(pageNumber * pageSize) + $index + 1}}</td>
					                    <td><a href="javascript: void(0);" ng-click="viewDetail(order.orderNo)">{{order.orderNo}}</a></td>
					                    <td ng-if="!isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">{{order.shippingCost}}</td>
					                    <td>{{order.totalPrice}}</td>
					                    <td>{{order.status}}</td>
					                    <td>{{order.orderDate}}</td>
					                    <td>{{order.deliveryDate}}</td>
					                    <td ng-if="isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')">
					                    	<div class="btn-group pull-right">
						                        <button class="btn btn-xs btn-default" type="button">Actions</button>
						                        <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle" type="button">
						                            <i class="fa fa-cog"></i>
						                            <span class="sr-only">Toggle Dropdown</span>
						                        </button>
						                        <ul role="menu" class="dropdown-menu">
						                            <li ng-if="!isAuthorized('ROLE_DISPATCHER')"><a href="javascript: void(0);" ng-click="assignOrder(order)"> Assign</a></li>
						                        	<li ng-if="!isAuthorized('ROLE_DISPATCHER')"><a href="javascript: void(0);" ng-click="markAsShipped(order)"> Mark as shipped</a></li>
						                        	<li><a href="javascript: void(0);" ng-click="markAsDispatched(order)"> Mark as dispatched</a></li>
						                        	<li><a href="javascript: void(0);" ng-click="markAsDelivered(order])"> Mark as delivered</a></li>
						                        </ul>
						                    </div>
					                    </td>
					                </tr>
					            </tbody>
			                </table>
			                <div class="pull-right" ng-if="pages.length > 1">
					            <ul class="pagination">
					                <li class="{{pageNumber == 0 ? 'disabled' : ''}}">
					                	<a href="javascript: void(0);" ng-click="prevPage()" aria-label="Previous">&laquo;</a>
					                </li>
					                <li ng-repeat="page in pages" class="{{page - 1 == pageNumber ? 'active' : ''}}">
					                	<a href="javascript: void(0);" ng-click="moveTo(page)">{{page}}</a>
					                </li>
					                <li class="{{pageNumber == totalPage - 1 ? 'disabled' : ''}}">
					                	<a href="javascript: void(0);" ng-click="nextPage()" aria-label="Next">&raquo;</a>
					                </li>
					            </ul>
					        </div>
                        </div>
                        <div class="panel-body margin-bottom-40" ng-if="orders == null || orders.length <= 0">
                            <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
			                    <h2>You don't have any order!</h2>
			                    <p>Sorry, We are not able to find any order placed by you. We think, you have not placed any order till now.</p>
			                </div>
                        </div>
                    </div>
                    <!--End Orders-->
			        
                </div>
            </div>
            <!-- End Profile Content -->
        </div>
    </div><!--/container-->
    <!--=== End Profile ===-->

    <!-- START: mark as shipped -->
	<script type="text/ng-template" id="mark-as-shipped.component.html">
			<div class="modal-content">
		        <div class="modal-body">            
					<form name="orderDispatchFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" ng-submit="orderDispatchFrm.$submitted = true; submit(orderDispatchFrm.$valid)" novalidate>
						<div class="row">
							<div class="col col-11">
								<p>You are going to mark this order as shipped.</p>
							</div>
		                </div>
		                
		                <div class="row">
		                	<div class="col col-8"></div>
		                	<div class="col col-2 margin-top-20">
		                		<div class="pull-right">
		                			<span class="input-group-btn">
		                            	<button ng-click="cancel()" type="button" class="btn btn-default btn-u-md">Cancel</button>
		                            </span>
		                		</div>
		                	</div>
		                	<div class="col col-2 margin-top-20">
		                		<div class="pull-right">
		                			<span class="input-group-btn">
		                            	<button type="submit" class="btn-u btn-u-md">Proceed</button>
		                            </span>
		                		</div>
		                	</div>
		                </div>
		             
			        </form>
		        </div>
		    </div>
	</script>
	<!-- END: mark as shipped -->

	<!-- START: mark as delivered -->
	<script type="text/ng-template" id="mark-as-delivered.component.html">
			<div class="modal-content">
		        <div class="modal-body">            
					<form name="orderDispatchFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" ng-submit="orderDispatchFrm.$submitted = true; submit(orderDispatchFrm.$valid)" novalidate>
						<div class="row">
							<div class="col col-11">
								<p>You are going to mark this order as delivered.</p>
							</div>
		                </div>
		                
		                <div class="row">
		                	<div class="col col-8"></div>
		                	<div class="col col-2 margin-top-20">
		                		<div class="pull-right">
		                			<span class="input-group-btn">
		                            	<button ng-click="cancel()" type="button" class="btn btn-default btn-u-md">Cancel</button>
		                            </span>
		                		</div>
		                	</div>
		                	<div class="col col-2 margin-top-20">
		                		<div class="pull-right">
		                			<span class="input-group-btn">
		                            	<button type="submit" class="btn-u btn-u-md">Proceed</button>
		                            </span>
		                		</div>
		                	</div>
		                </div>
		             
			        </form>
		        </div>
		    </div>
	</script>
	<!-- END: mark as delivered -->
    