    	
	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Products</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Settings</a></li>
                <li><a href="">My Account</a></li>
                <li class="active">Products</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Profile ===-->
    <div class="container content profile">
    	<div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">
                <div class="thumbnail">
                	<img class="img-responsive profile-img margin-bottom-20" src="{{currentUser.defaultImage.filepath}}" alt="">
	                <div class="text-center">
	                  	<a ng-click="changePicture()" href="javascript:void(0);" class="btn-u btn-u-sm">Change Picture</a>
	                </div>
                </div>

                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item">
                        <a href="#/dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#/profile/me"><i class="fa fa-user"></i> Profile</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_COMPANY_ADMIN') || isAuthorized('ROLE_AGENT')">
                        <a href="#/profile/company"><i class="fa fa-building-o"></i> Company</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/bankAccounts"><i class="fa fa-money"></i> Bank Accounts</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_FARMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/creditCards"><i class="fa fa-credit-card"></i> Credit Cards</a>
                    </li>
                    <li class="list-group-item active" ng-if="isAuthorized('ROLE_BROKER') || isAuthorized('ROLE_FARMER') || isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/products"><i class="fa fa-bars"></i> Products</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_COMPANY_ADMIN', 'ROLE_AGENT', 'ROLE_RETAILER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER']) && !isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/demands"><i class="fa fa-bars"></i> Demands</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_COMPANY_ADMIN', 'ROLE_AGENT', 'ROLE_RETAILER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER']) && !isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/bids"><i class="fa fa-gavel"></i> Bids</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT']) && isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/drivers"><i class="fa fa-bars"></i> Drivers</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT']) && isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/transports"><i class="fa fa-bars"></i> Transports</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_CUSTOMER') || isAuthorized('ROLE_BROKER') || isAuthorized('ROLE_RETAILER') || isAuthorized('ROLE_COMPANY_ADMIN') || isAuthorized('ROLE_AGENT') || isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/orders"><i class="fa fa-truck"></i> Orders</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/reviews"><i class="fa fa-comments"></i> Reviews</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/history"><i class="fa fa-history"></i> History</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#/profile/settings"><i class="fa fa-cog"></i> Settings</a>
                    </li>
                </ul>

                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> Reviews</h2>
                    <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <h3 class="heading-xs">Customer Satisfaction <span class="pull-right">92%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                <h3 class="heading-xs">Product Quality <span class="pull-right">96%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div style="width: 96%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="96" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                <h3 class="heading-xs">Delivery on Time <span class="pull-right">97%</span></h3>
                <div class="progress progress-u progress-xxs margin-bottom-40">
                    <div style="width: 97%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="97" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                
                <hr ng-if="notifications.length > 0">

                <!--Notification-->
                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>
                    <a href="javascript: void(0)"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <ul class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark" ng-controller="NotificationListCtrl" prak-scrollbar>
                	<li class="notification" ng-repeat="notification in notifications | reverse">
                        <i class="icon-custom icon-sm rounded-x {{notificationColor(notification.code)}} icon-line {{notificationIcon(notification.code)}}"></i>
                        <div class="overflow-h">
                            <span ng-bind-html="notification.notification"></span>
                            <small>Two minutes ago</small>
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn-u btn-u-default btn-u-sm btn-block" ng-if="notifications.length > 0">Load More</button>
                <!--End Notification-->

                <div class="margin-bottom-50"></div>

                <!--Datepicker-->
                <form action="#" id="sky-form2" class="sky-form">
                    <div id="inline-start" prak-datepicker></div>
                </form>
                <!--End Datepicker-->
            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->
            <div class="col-md-9">
                <div class="profile-body margin-bottom-20">
                	
	 				<!-- Products -->
                    <div class="panel panel-profile">
                        <div class="panel-heading profile-box-header">
                            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Products </h2>
                            
                            <div class="pull-right">
			                   	<section class="col col-12">
			                   		<form class="sky-form search-form" ng-click="searchByKeyword()">
			                            <label class="input">
			                                <i class="icon-append fa fa-search"></i>
			                                <input type="text" name="keywords" ng-model="keyword" placeholder="Search"/>
			                            </label>
			                        </form>
			                    </section>
			                </div>
			                
                        </div>
                        
                        <div class="panel-body margin-bottom-40">
                        	
                            <div class="testimonials-v6 rounded-bottom">
                            	<div class="btn-group pull-right">
			                        <button class="btn btn-default" type="button">Actions</button>
			                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
			                            <i class="fa fa-cog"></i>
			                            <span class="sr-only">Toggle Dropdown</span>
			                        </button>
			                        <ul role="menu" class="dropdown-menu">
			                            <li><a href="javascript: void(0);" ng-click="addProduct()"> Add new</a></li>
			                            <li><a href="javascript: void(0);" ng-click="import()"> Import</a></li>
			                            <li><a href="javascript: void(0);" ng-click="export()"> Export</a></li>
			                            <li class="divider"></li>
			                            <li><a href="javascript: void(0);" ng-click="deleteAll()"> Delete All</a></li>
			                        </ul>
			                    </div>
			                
                            </div>
                                
                            <hr class="margin-top-50"/>
                            
                            <div class="testimonials-v6">
			        	
				            	<div ng-repeat="product in products">
					            	<div class="row margin-bottom-50" ng-if="$even">
					                    <div class="col-md-6 md-margin-bottom-50">
					                        <div class="testimonials-info rounded-bottom">
					                            <img class="rounded-x" src="{{products[$index].defaultImage.smallImgPath}}" alt="">
					                            <div class="testimonials-desc">
				                                	<strong><a href="javascript: void(0);" ng-click="viewDetail(products[$index].uniqueId)">{{products[$index].name}}</a></strong>
				                                	<span><a href="#/owner/{{owner.uniqueId}}">{{products[$index].owner.firstName}} {{products[$index].owner.lastName}} ({{products[$index].owner.address.city}}, {{products[$index].owner.address.country.name}})</a></span>
				                                	<small>Bid Enabled: {{products[$index].bidEnabled ? 'Yes' : 'No'}}</small><br/>
				                                	<small>
				                                		Bidding Started: 
				                                		<em ng-if="products[$index].bidEnabled">{{products[$index].initialBidAmount}} {{products[$index].biddingCurrency.mneomic}}/{{products[$index].biddingUnit.name}}</em>
				                                		<em ng-if="!products[$index].bidEnabled">NA</em>
				                                	</small><br/>
				                                	<small>
				                                		Latest Bid: 
				                                		<em ng-if="products[$index].highestBid">{{products[$index].highestBid.price}} {{products[$index].highestBid.currency.mneomic}}/{{products[$index].highestBid.unit.name}}</em>
				                                		<em ng-if="!products[$index].highestBid">NA</em>
				                                	</small><br/>
				                                	<small>
				                                		Latest Bidder: 
				                                		<em ng-if="products[$index].highestBid && products[$index].highestBid.company"><a href="javascript:void(0)">{{products[$index].highestBid.company.name}}</a></em>
				                                		<em ng-if="products[$index].highestBid && !products[$index].highestBid.company"><a href="javascript:void(0)">{{products[$index].highestBid.user.firstName}} {{products[$index].highestBid.user.lastName}}</a></em>
				                                		<em ng-if="!products[$index].highestBid">NA</em>
				                                	</small><br/>
				                                	<small>Quantity:- {{products[$index].quantity}} {{products[$index].quantityUnit.name}}</small>
				                                	<span>Price:- {{products[$index].price}} {{products[$index].priceCurrency.mneomic}}/{{products[$index].priceUnit.name}}</span>
				                                	<div class="margin-top-15">
					                                	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="editDetail(products[$index].uniqueId)"><i class="fa fa-edit"></i></a></div>
				                                    	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="remove(products[$index].uniqueId)"><i class="fa fa-trash-o"></i></a></div>
				                                    </div>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-md-6">
					                        <div class="testimonials-info rounded-bottom" ng-if="products[$index + 1]">
					                            <img class="rounded-x" src="{{products[$index + 1].defaultImage.smallImgPath}}" alt="">
					                            <div class="testimonials-desc">
					                                <strong><a href="javascript: void(0);" ng-click="viewDetail(products[$index + 1].uniqueId)">{{products[$index + 1].name}}</a></strong>
				                                	<span><a href="#/owner/{{owner.uniqueId}}">{{products[$index + 1].owner.firstName}} {{products[$index + 1].owner.lastName}} ({{products[$index + 1].owner.address.city}}, {{products[$index + 1].owner.address.country.name}})</a></span>
				                                	<small>Bid Enabled: {{products[$index + 1].bidEnabled ? 'Yes' : 'No'}}</small><br/>
				                                	<small>
				                                		Bidding Started: 
				                                		<em ng-if="products[$index + 1].bidEnabled">{{products[$index + 1].initialBidAmount}} {{products[$index + 1].biddingCurrency.mneomic}}/{{products[$index + 1].biddingUnit.name}}</em>
				                                		<em ng-if="!products[$index + 1].bidEnabled">NA</em>
				                                	</small><br/>
				                                	<small>
				                                		Latest Bid: 
				                                		<em ng-if="products[$index + 1].highestBid">{{products[$index + 1].highestBid.price}} {{products[$index + 1].highestBid.currency.mneomic}}/{{products[$index + 1].highestBid.unit.name}}</em>
				                                		<em ng-if="!products[$index + 1].highestBid">NA</em>
				                                	</small><br/>
				                                	<small>
				                                		Latest Bidder: 
				                                		<em ng-if="products[$index + 1].highestBid && products[$index + 1].highestBid.company"><a href="javascript:void(0)">{{products[$index + 1].highestBid.company.name}}</a></em>
				                                		<em ng-if="products[$index + 1].highestBid && !products[$index + 1].highestBid.company"><a href="javascript:void(0)">{{products[$index + 1].highestBid.user.firstName}} {{products[$index + 1].highestBid.user.lastName}}</a></em>
				                                		<em ng-if="!products[$index + 1].highestBid">NA</em>
				                                	</small><br/>
				                                	<small>Quantity:- {{products[$index + 1].quantity}} {{products[$index + 1].quantityUnit.name}}</small>
				                                	<span>Price:- {{products[$index + 1].price}} {{products[$index + 1].priceCurrency.mneomic}}/{{products[$index + 1].priceUnit.name}}</span>
				                                	<div class="margin-top-15">
					                                	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="editDetail(products[$index + 1].uniqueId)"><i class="fa fa-edit"></i></a></div>
				                                    	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="remove(products[$index + 1].uniqueId)"><i class="fa fa-trash-o"></i></a></div>
				                                    </div>
					                            </div>
					                        </div>
					                    </div>
					                </div><!--/end row-->
				            	</div>
				            </div>
			            		
				            <div class="pull-right" ng-if="pages.length > 1">
					            <ul class="pagination">
					                <li class="{{pageNumber == 0 ? 'disabled' : ''}}">
					                	<a href="javascript: void(0);" ng-click="prevPage()" aria-label="Previous">&laquo;</a>
					                </li>
					                <li ng-repeat="page in pages" class="{{page - 1 == pageNumber ? 'active' : ''}}">
					                	<a href="javascript: void(0);" ng-click="moveTo(page)">{{page}}</a>
					                </li>
					                <li class="{{pageNumber == totalPage - 1 ? 'disabled' : ''}}">
					                	<a href="javascript: void(0);" ng-click="nextPage()" aria-label="Next">&raquo;</a>
					                </li>
					            </ul>
					        </div>
					        
			            </div>
			        
			        </div>
                    <!--End Products-->
                    
                </div>
            </div>
            <!-- End Profile Content -->
        </div><!--/end row-->
    </div>
    <!--=== End Profile ===-->

	<!-- START: add product -->
    <script type="text/ng-template" id="add-product.component.html">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Add product</h4>
        </div>
        <div class="modal-body">
            
			<form name="productFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>

				<div class="headline">
					<h3>Product Details</h3>
				</div>
			
				<div class="row">
                    
					<section class="col col-6">
						<label class="label">Product Name</label>
                        <label class="input" ng-class="{ 'state-error' : productFrm.name.$invalid && productFrm.name.$touched }">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="name" ng-model="product.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                        </label>
						<em ng-if="productFrm.name.$error.required && productFrm.name.$touched">Name is required.</em>
						<em ng-if="productFrm.name.$error.minlength && productFrm.name.$touched">Name is too short.</em>
						<em ng-if="productFrm.name.$error.pattern && productFrm.name.$touched">Only alphanumerics are allowed.</em>
                    </section>
              
			        <section class="col col-6" ng-class="{ 'state-error' : productFrm.category.$invalid && productFrm.category.$touched }">
						<label class="label">Category</label>
                        <label class="select">
                            <select name="category" data-ng-options="category.id as category.name for category in categories" data-ng-model="product.categoryId" required>
                      		</select>
							<i></i>
                        </label>
						<em ng-if="productFrm.category.$error.required && productFrm.category.$touched">Category is required.</em>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-6">
						<label class="label">Quantity</label>
                        <label class="input-group" ng-class="{ 'state-error' : productFrm.quantity.$invalid && productFrm.quantity.$touched }">
                       		<input type="text" name="quantity" ng-model="product.quantity" class="form-control" placeholder="e.g. 300" required pattern="^\d*\.?\d*$"/>
                            <div class="input-group-btn">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {{product.quantityUnit.name}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setQuantityUnit(unit)">{{unit.name}}</a></li>
                                </ul>
                            </div>
                        </label>
						<em ng-if="productFrm.quantity.$error.required && productFrm.quantity.$touched">Quantity is requierd.</em>
						<em ng-if="productFrm.quantity.$error.pattern && productFrm.quantity.$touched">Only numbers are allowed</em>
                    </section>
    
                    <section class="col col-6">
						<label class="label">Price</label>
                        <label class="input-group" ng-class="{ 'state-error' : productFrm.price.$invalid && productFrm.price.$touched }">
                        		<input type="text" name="price" ng-model="product.price" class="form-control" placeholder="e.g. 4000" pattern="^\d*\.?\d*$" required>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{product.priceCurrency.mneomic}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="currency in currencies"><a href="javascript:void(0);" ng-click="setPriceCurrency(currency)">{{currency.mneomic}}</a></li>
                                       </ul>
                                   </div>
                                   <span class="input-group-addon per-symbol">/</span>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{product.priceUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setPriceUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="productFrm.price.$error.required && productFrm.price.$touched">Price is requierd.</em>
						<em ng-if="productFrm.price.$error.pattern && productFrm.price.$touched">Only numbers are allowed</em>
                    </section>
                </div>

				<section>
					<label class="label">Description</label>
                    <label class="textarea">
                        <textarea rows="4" name="description" ng-model="product.desc" placeholder="Description"></textarea>
                    </label>
				</section>

				<div class="row">
					<div class="col col-11">
						<label class="label">Tags</label>
                        <label class="input">
                            <tags-input ng-model="product.tags" display-property="name" key-property="name" replace-spaces-with-dashes="false">
								<auto-complete source="searchTag($query)"></auto-complete>
    						</tags-input>
                        </label>
                    </div>
				</div>

				<div class="row">
					<div class="col col-6">
						<label class="label">Images</label>
                        <label for="file" class="input input-file">
                            <div class="button"><input type="file" ngf-select ng-model="files" ngf-multiple="true" accept="image/*" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly>
                        </label>
                    </div>
				</div>
				
				<!--
				<div class="row">
					<div class="col col-6">
						<label class="label">Upload Images</label>
                        <label for="file" class="input input-file">
                            <droplet ng-model="interface"></droplet>
                        </label>
                    </div>
					<div class="col col-6">
					</div>
				</div>
				-->

				<div class="tab-v2 margin-bottom-50" ng-show="isAuthorized('ROLE_ADMIN')">
					<ul class="nav nav-tabs">
                        <li class="active"><a href="#ExistingUser" aria-controls="ExistingUser" data-toggle="tab">Existing User</a></li>
                        <li><a href="#NewUser" aria-controls="ExistingUser" data-toggle="tab">New User</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="ExistingUser">
                        	<div class="row">
                        		<section class="col col-6">
									<label class="label">Search user:</label>
			                        <label class="input">
			                            <input type="text" name="search" ng-model="keywords" placeholder="Search by email id, phone number" 
			                            	uib-typeahead="owner as owner.emailId + ' Phone: ' + owner.mobileNo for owner in searchOwner($viewValue)" 
			                                typeahead-popup-template-url="custom-popup-template.component.html" 
			                                typeahead-on-select="selectOwner($item, $model, $label)" typeahead-wait-ms="1000">
			                        </label>
			                    </section>
			                    <section class="col-lg-6">
								</section>
                        	</div>
                        </div>
                        <div class="tab-pane fade in" id="NewUser">

							<div class="headline">
                            	<h3>Owner Information:</h3>
                            </div>

                            <div class="row">
		                        <section class="col col-6">
									<label class="label">First Name</label>
		                            <label class="input" ng-class="{ 'state-error' : productFrm.firstName.$invalid && productFrm.firstName.$touched }">
		                                <i class="icon-append fa fa-user"></i>
		                                <input type="text" name="firstName" ng-model="product.owner.firstName" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
		                            </label>
									<em ng-if="productFrm.firstName.$error.required && productFrm.firstName.$touched">First name is required.</em>
									<em ng-if="productFrm.firstName.$error.minlength && productFrm.firstName.$touched">First Name is too short.</em>
									<em ng-if="productFrm.firstName.$error.pattern && productFrm.firstName.$touched">Only alphanumerics are allowed.</em>
		                        </section>
		                        
		                        <section class="col col-6">
									<label class="label">Last Name</label>
		                            <label class="input">
		                                <i class="icon-append fa fa-user"></i>
		                                <input type="text" name="lastName" ng-model="product.owner.lastName">
		                            </label>
		                        </section>
		                    </div>
		
		                    <div class="row">
		                        <section class="col col-6">
									<label class="label">Email Address</label>
		                            <label class="input" ng-class="{ 'state-error' : productFrm.email.$invalid && productFrm.email.$touched }">
		                                <i class="icon-append fa fa-envelope"></i>
		                                <input type="email" name="email" ng-model="product.owner.email" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
		                            </label>
									<em ng-if="productFrm.email.$error.pattern && productFrm.email.$touched">Enter a valid email address.</em>
		                        </section>
		                        
		                        <section class="col col-6">
									<label class="label">Phone No. / Mobile No.</label>
		                            <label class="input" ng-class="{ 'state-error' : productFrm.phoneNo.$invalid && productFrm.phoneNo.$touched }">
		                                <i class="icon-append fa fa-phone"></i>
		                                <input type="tel" name="phoneNo" ng-model="product.owner.phoneNo" ui-mask="(+99) 999-999-9999" required>
		                            </label>
									<em ng-if="productFrm.phoneNo.$error.required && productFrm.phoneNo.$touched">Phone No. is required</em>
		                        </section>
		                    </div>
		
		                    <div class="row">
		                        <section class="col col-6">
									<label class="label">Group</label>
		                            <label class="select"  ng-class="{ 'state-error' : productFrm.group.$invalid && productFrm.group.$touched }">
		                                <select name="group" data-ng-options="group.id as group.name for group in groups" data-ng-model="product.owner.groupId" required>
                      					</select>
                      					<i></i>
		                            </label>
		                            <em ng-if="productFrm.group.$error.required && productFrm.group.$touched">Group is required</em>
		                        </section>
		                    </div>
                            
                            <div class="headline">
                            	<h3>Registered Address:</h3>
                            </div>

							<div class="row">
			                    <section class="col col-6">
									<label class="label">Address Line 1</label>
			                        <label class="input" ng-class="{ 'state-error' : productFrm.addressLine1.$invalid && productFrm.addressLine1.$touched }">
			                            <input type="text" name="addressLine1" ng-model="product.owner.addressLine1" required>
			                        </label>
									<em ng-if="productFrm.addressLine1.$error.required && productFrm.addressLine1.$touched">Address Line 1 is required.</em>
			                    </section>
			
			                    <section class="col col-6">
									<label class="label">Address Line 2</label>
			                        <label class="input">
			                            <input type="text" name="addressLine2" ng-model="product.owner.addressLine2">
			                        </label>
			                    </section>
			                </div>
			
			                <div class="row">
			                    <section class="col col-6">
									<label class="label">City</label>
			                        <label class="input" ng-class="{ 'state-error' : productFrm.city.$invalid && productFrm.city.$touched }">
			                            <input type="text" name="city" ng-model="product.owner.city" required>
			                        </label>
									<em ng-if="productFrm.city.$error.required && productFrm.city.$touched">City is required.</em>
			                    </section>
			                </div>
			
			                <div class="row">
			                    <section class="col col-6">
									<label class="label">State</label>
			                        <label class="select" ng-class="{ 'state-error' : productFrm.state.$invalid && productFrm.state.$touched }">
										<select name="state" data-ng-options="state.id as state.name for state in states" data-ng-model="product.owner.stateId" required>
			                      		</select>
										<i></i>
			                        </label>
									<em ng-if="productFrm.state.$error.required && productFrm.state.$touched">State is required.</em>
			                    </section>
			
			                    <section class="col col-6">
									<label class="label">Country</label>
			                        <label class="select" ng-class="{ 'state-error' : productFrm.country.$invalid && productFrm.country.$touched }">
			                            <select name="country" data-ng-options="country.id as country.name for country in countries" data-ng-model="product.owner.countryId" required>
			                      		</select>
			                            <i></i>
			                        </label>
									<em ng-if="productFrm.country.$error.required && productFrm.country.$touched">Country is required.</em>
			                    </section>
			
			                </div>
			
			                <div class="row">
			                    <section class="col col-4">
									<label class="label">Zipcode</label>
			                        <label class="input" ng-class="{ 'state-error' : productFrm.zipcode.$invalid && productFrm.zipcode.$touched }">
			                            <input type="text" name="zipcode" ng-model="product.owner.zipcode" ui-mask="999999" required>
			                        </label>
									<em ng-if="productFrm.zipcode.$error.required && productFrm.zipcode.$touched">Zipcode is required.</em>
			                    </section>
			                </div>
							
                        </div>
                    </div>
            	</div>
				
	        </form>

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(productFrm)">Proceed</button>
        </div>
    </div>
	</script>
	<!-- END: add product -->

	<!-- START: edit product -->
	<script type="text/ng-template" id="edit-product.component.html">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Edit details</h4>
        </div>
        <div class="modal-body">
            
			<form name="productFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>

				<div class="headline">
					<h3>Product Details</h3>
				</div>
				
				<div class="row">
                    
					<section class="col col-6">
						<label class="label">Product Name</label>
                        <label class="input" ng-class="{ 'state-error' : productFrm.name.$invalid && productFrm.name.$touched }">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="name" ng-model="product.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                        </label>
						<em ng-if="productFrm.name.$error.required && productFrm.name.$touched">Name is required.</em>
						<em ng-if="productFrm.name.$error.minlength && productFrm.name.$touched">Name is too short.</em>
						<em ng-if="productFrm.name.$error.pattern && productFrm.name.$touched">Only alphanumerics are allowed.</em>
                    </section>
              
			        <section class="col col-6" ng-class="{ 'state-error' : productFrm.category.$invalid && productFrm.category.$touched }">
						<label class="label">Category</label>
                        <label class="select">
                            <select name="category" data-ng-options="category as category.name for category in categories track by category.id" data-ng-model="product.category" required>
                      		</select>
							<i></i>
                        </label>
						<em ng-if="productFrm.category.$error.required && productFrm.category.$touched">Category is required.</em>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-6">
						<label class="label">Quantity</label>
                        <label class="input-group" ng-class="{ 'state-error' : productFrm.quantity.$invalid && productFrm.quantity.$touched }">
                        		<input type="text" name="quantity" ng-model="product.quantity" class="form-control" placeholder="e.g. 300" required pattern="^\d*\.?\d*$">
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{product.quantityUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setQuantityUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="productFrm.quantity.$error.required && productFrm.quantity.$touched">Quantity is requierd.</em>
						<em ng-if="productFrm.quantity.$error.pattern && productFrm.quantity.$touched">Only numbers are allowed</em>
                    </section>
    
                    <section class="col col-6">
						<label class="label">Price</label>
                        <label class="input-group" ng-class="{ 'state-error' : productFrm.price.$invalid && productFrm.price.$touched }">
                        		<input type="text" name="price" ng-model="product.price" class="form-control" placeholder="e.g. 4000" pattern="^\d*\.?\d*$" required>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{product.priceCurrency.mneomic}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="currency in currencies"><a href="javascript:void(0);" ng-click="setPriceCurrency(currency)">{{currency.mneomic}}</a></li>
                                       </ul>
                                   </div>
                                   <span class="input-group-addon per-symbol">/</span>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{product.priceUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setPriceUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="productFrm.price.$error.required && productFrm.price.$touched">Price is requierd.</em>
						<em ng-if="productFrm.price.$error.pattern && productFrm.price.$touched">Only numbers are allowed</em>
                    </section>
                </div>

				
				<section>
					<label class="label">Description</label>
                    <label class="textarea">
                        <textarea rows="4" name="description" ng-model="product.desc" placeholder="Description"></textarea>
                    </label>
				</section>

                <div class="row" ng-show="isAuthorized('ROLE_ADMIN')">
                    <section class="col col-6">
						<label class="label">Update owner:</label>
                        <label class="input">
                            <input type="text" name="search" ng-model="keywords" placeholder="Search by email id, phone number" 
                            	uib-typeahead="owner as owner.emailId + ' Phone: ' + owner.mobileNo for owner in searchOwner($viewValue)" 
                                typeahead-popup-template-url="custom-popup-template.component.html" 
                                typeahead-on-select="selectOwner($item, $model, $label)" typeahead-wait-ms="1000">
                        </label>    
                    </section>
					<section class="col col-6">
						<label class="label">Update status:</label>
                        <label class="select">
                            <select name="productStatus" data-ng-options="productStatus as productStatus.status for productStatus in productStatuses track by productStatus.id" data-ng-model="product.status">
                      		</select>
							<i></i>
                        </label>    
                    </section>
                </div>
	        </form>

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(productFrm)">Update</button>
        </div>
    </div>
	</script>
	<!-- END: edit product -->

	<!-- START: view product details -->
	<script type="text/ng-template" id="detail-product.component.html">
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="close()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Product Details</h4>
        </div>
        <div class="modal-body profile">
            
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-responsive md-margin-bottom-10" src="{{product.defaultImage.filepath}}" alt="">
                        </div>
                        <div class="col-md-9">
                            <h2>{{product.name}}</h2>
                            <span>Quantity:- {{product.quantity}} {{product.quantityUnit.name}}</span>
                            <span>Price:- {{product.price}} {{product.priceCurrency.mneomic}}/{{product.priceUnit.name}}</span>
                            <hr>
                            <p>{{product.desc}}</p>
                        </div>
                    </div>
                </div><!--/end row-->

                <hr>
                
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Other images</h2>
                        <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                    </div>
                    <div class="panel-body margin-bottom-40">
                        <!-- Owl Carousel v4 -->
						<data-owl-carousel class="owl-carousel">
						    <div owl-carousel-item="" ng-repeat="image in product.images" class="item">
        						<img src="{{image.filepath}}" alt="">
      						</div>
    					</data-owl-carousel>
                        <!-- End Owl Carousel v4 -->
                    </div>
                </div>
                
                <hr>

                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Owner Details</h2>
                                <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <h2>{{product.owner.firstName}} {{product.owner.lastName}}</h2>
                                <span>{{product.owner.addressLine1}}</span><br/>
                                <span>{{product.owner.addressLine2}}</span><br/>
                                <span>{{product.owner.city}}, {{product.owner.state}} ({{product.owner.country}}) {{product.owner.zipcode}}</span><br/>
                                <span>Phone No.: {{product.owner.mobileNo}}</span><br/>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                    <!--Skills-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Reviews</h2>
                                <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <small>Quality</small>
                                <small>92%</small>
                                <div class="progress progress-u progress-xxs">
                                    <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                                    </div>
                                </div>

                                <small>Owner Satisfaction</small>
                                <small>77%</small>
                                <div class="progress progress-u progress-xxs">
                                    <div style="width: 77%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="77" role="progressbar" class="progress-bar progress-bar-u">
                                    </div>
                                </div>

                                <small>Delivery</small>
                                <small>85%</small>
                                <div class="progress progress-u progress-xxs">
                                    <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar progress-bar-u">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--End Skills-->
                </div><!--/end row-->
                
                <hr/>
                
                <!--Timeline-->
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> History</h2>
                        <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                    </div>
                    <div class="panel-body margin-bottom-40">
                        <ul class="timeline-v2 timeline-me">
                            <li>
                                <time datetime="" class="cbp_tmtime"><span>29 Aug 2015</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <p>Order was placed for the product. currently, we are shipping this product.</p>
                                </div>
                            </li>
                            <li>
                                <time datetime="" class="cbp_tmtime"><span>18 Aug 2015</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <p>Products market price was updated by <a href="javascript:void(0)">Mahavir Singh</a>. market price was as per market conditions.</p>
                                </div>
                            </li>
                            <li>
                                <time datetime="" class="cbp_tmtime"><span>12 Jan 2015</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    
                                    <p>Product was added by <a href="javascript:void(0)">Mahavir Singh</a>. Initial price was set to 3500 INR/Quintal. The initial price was as per market trend.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--End Timeline-->
                
            </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn-u" type="button" ng-click="close()">&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>
        </div>
    </div>
	</script>	
	<!-- END: view product details -->

	<!-- START: delete product -->
	<script type="text/ng-template" id="delete-product.component.html">
		<div class="modal-content">
	        <div class="modal-header">
	            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
	            <h4 class="modal-title">Delete Product?</h4>
	        </div>
	        <div class="modal-body">
	            <p>Do you really want to delete this product?</p>
	        </div>
	        <div class="modal-footer">
	        	<button class="btn-u" type="button" ng-click="ok()">Proceed</button>
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
            </div>
	    </div>
		
	</script>
	<!-- END: delete product -->

	<script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select owner from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>
	