    	
	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Profile</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Settings</a></li>
                <li><a href="">My Account</a></li>
                <li class="active">Profile</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Profile ===-->
    <div class="container content profile">
    	<div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">
            	<div class="thumbnail">
                	<img class="img-responsive profile-img margin-bottom-20" src="{{currentUser.defaultImage.filepath}}" alt="">
	                <div class="text-center">
	                  	<a ng-click="changePicture()" href="javascript:void(0);" class="btn-u btn-u-sm">Change Picture</a>
	                </div>
                </div>

                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item">
                        <a href="#/dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a>
                    </li>
                    <li class="list-group-item active">
                        <a href="#/profile/me"><i class="fa fa-user"></i> Profile</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT'])">
                        <a href="#/profile/company"><i class="fa fa-building-o"></i> Company</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/bankAccounts"><i class="fa fa-money"></i> Bank Accounts</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_FARMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/creditCards"><i class="fa fa-credit-card"></i> Credit Cards</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_FARMER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER'])">
                        <a href="#/profile/products"><i class="fa fa-bars"></i> Products</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_COMPANY_ADMIN', 'ROLE_AGENT', 'ROLE_RETAILER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER']) && !isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/demands"><i class="fa fa-bars"></i> Demands</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_COMPANY_ADMIN', 'ROLE_AGENT', 'ROLE_RETAILER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER']) && !isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/bids"><i class="fa fa-gavel"></i> Bids</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT']) && isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/drivers"><i class="fa fa-bars"></i> Drivers</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT']) && isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/transports"><i class="fa fa-bars"></i> Transports</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_CUSTOMER') || isAuthorized('ROLE_BROKER') || isAuthorized('ROLE_RETAILER') || isAuthorized('ROLE_COMPANY_ADMIN') || isAuthorized('ROLE_AGENT') || isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/orders"><i class="fa fa-truck"></i> Orders</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/reviews"><i class="fa fa-comments"></i> Reviews</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/history"><i class="fa fa-history"></i> History</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#/profile/settings"><i class="fa fa-cog"></i> Settings</a>
                    </li>
                </ul>

                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> Reviews</h2>
                    <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <h3 class="heading-xs">Customer Satisfaction <span class="pull-right">92%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                <h3 class="heading-xs">Product Quality <span class="pull-right">96%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div style="width: 96%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="96" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                <h3 class="heading-xs">Delivery on Time <span class="pull-right">97%</span></h3>
                <div class="progress progress-u progress-xxs margin-bottom-40">
                    <div style="width: 97%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="97" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>

                <hr ng-if="notifications.length > 0">

                <!--Notification-->
                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>
                    <a href="javascript: void(0)"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <ul class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark" ng-controller="NotificationListCtrl" prak-scrollbar>
                	<li class="notification" ng-repeat="notification in notifications | reverse">
                        <i class="icon-custom icon-sm rounded-x {{notificationColor(notification.code)}} icon-line {{notificationIcon(notification.code)}}"></i>
                        <div class="overflow-h">
                            <span ng-bind-html="notification.notification"></span>
                            <small>Two minutes ago</small>
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn-u btn-u-default btn-u-sm btn-block" ng-if="notifications.length > 0">Load More</button>
                <!--End Notification-->

                <div class="margin-bottom-50"></div>

                <!--Datepicker-->
                <form action="#" id="sky-form2" class="sky-form">
                    <div id="inline-start" prak-calendar></div>
                </form>
                <!--End Datepicker-->
            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->
            <div class="col-md-9">
                <div class="profile-body">
                    <div class="profile-bio">
                        <div class="row">
                            <div class="col-md-4">
                            	<div class="thumbnail">
	                            	<img class="img-responsive md-margin-bottom-10" src="{{currentUser.defaultImage.filepath}}" alt="">
	                            </div>
                            </div>
                            <div class="col-md-8">
                                <span><h2>{{profileDetails.user.firstName}} {{profileDetails.user.lastName}}</h2></span>
                                <span>
                                	<strong><small>Mobile No:</small></strong> {{profileDetails.user.mobileNo | tel}}
                                	<small ng-if="profileDetails.user.mobileVerified">
                                		<i class="fa icon-check prak-icon-color-u padding-left-10" title="Mobile No. is verified"></i>
                                	</small>
                                	<small ng-if="!profileDetails.user.mobileVerified">
                                		<i class="fa fa fa-exclamation-triangle padding-left-10" title="Mobile No. is not verified"></i> 
                                		<a class="verify-mobile-no" href="javascript: void(0);" ng-click="sendMobileVerificationCode()">Verify</a>
                                	</small>
                                </span>
                                <span ng-if="profileDetails.user.emailId">
                                	<strong><small>Email Address:</small></strong> 
                                	{{profileDetails.user.emailId}}
                                	 
                                	<small ng-if="profileDetails.user.emailVerified">
                                		<i class="fa icon-check prak-icon-color-u padding-left-10" title="Email Address is verified"></i>
                                	</small>
                                	<small ng-if="!profileDetails.user.emailVerified">
                                		<i class="fa fa fa-exclamation-triangle padding-left-10" title="Email Address is not verified"></i> 
                                		<a class="verify-mobile-no" href="javascript: void(0);" ng-click="sendVerificationLink()">Send verification link</a>
                                	</small>
                                </span>
                                <span ng-show="!isAuthorized('ROLE_CUSTOMER')"><strong>Profession:</strong> {{profileDetails.userType}}</span>
                                <hr>
                                <div ng-bind-html="profileDetails.user.shortDesc"></div>
                            </div>
                        </div>
                    </div><!--/end row-->

                    <hr>					
					
					<div ng-show="isAuthorized('ROLE_CUSTOMER') || isAuthorized('ROLE_RETAILER') || isAuthorized('ROLE_BROKER')">
	                    
	                    <div class="row">
	                        <!--Social Icons v3-->
	                        <div class="col-sm-6 sm-margin-bottom-30">
	                            <div class="panel panel-profile">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Billing Address <small>(default)</small></h2>
	                                    <div class="pull-right btn-group">
		                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		                                           <span class="fa fa-cog"></span>
		                                       </button>
		                                       <ul class="dropdown-menu pull-right">
		                                           <li><a href="javascript:void(0);" ng-click="addAddressEntity('Billing', 'billing');">Add</a></li>
		                                       </ul>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="profileDetails.user.defaultBillingAddress">
	                                     <ul class="list-unstyled social-contacts-v2" ng-if="profileDetails.user.defaultBillingAddress">
	                                     	<div class="pull-right"><a href="javascript:void(0)" ng-click="showAddresses('Billing', 'billing')">View All</a></div>
	                                     	<div><h4>{{profileDetails.user.defaultBillingAddress.firstName}} {{profileDetails.user.defaultBillingAddress.lastName}}</h4></div>
						           			<div>{{profileDetails.user.defaultBillingAddress.addressLine1}}</div>
						           			<div>{{profileDetails.user.defaultBillingAddress.addressLine2}}</div>
						           			<div>{{profileDetails.user.defaultBillingAddress.city}}, {{profileDetails.user.defaultBillingAddress.state.name}}</div>
						           			<div>{{profileDetails.user.defaultBillingAddress.country.name}} {{profileDetails.user.defaultBillingAddress.zipcode}}</div>
						           			<div>Phone No: {{profileDetails.user.defaultBillingAddress.phoneNo}}</div>
	                                    </ul>
	                                </div>
	                                <div class="panel-body" ng-if="!profileDetails.user.defaultBillingAddress">
		                                <div class="panel panel-profile">
			                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
							                    <h2>No Billing address specified!</h2>
							                    <p>Please specify your billing addresses.</p>
							                </div>
			                            </div>
			                        </div>
	                            </div>
	                        </div>
	                        <!--End Social Icons v3-->
	
	                        <!--Social Icons v3-->
	                        <div class="col-sm-6 sm-margin-bottom-30">
	                            <div class="panel panel-profile">
	                                <div class="panel-heading profile-box-header">
	                                	<h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Delivery Address <small>(default)</small></h2>
	                                    <div class="btn-group dropdown pull-right ">
		                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		                                           <span class="fa fa-cog"></span>
		                                       </button>
		                                       <ul class="dropdown-menu">
		                                           <li><a href="javascript:void(0);" ng-click="addAddressEntity('Delivery', 'delivery');">Add</a></li>
		                                           <li><a href="javascript:void(0);">Edit</a></li>
		                                       </ul>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="profileDetails.user.defaultDeliveryAddress">
	                                     <ul class="list-unstyled social-contacts-v2" ng-if="profileDetails.user.defaultDeliveryAddress">
	                                     	<div class="pull-right"><a href="javascript:void(0)" ng-click="showAddresses('Delivery', 'delivery')">View All</a></div>
	                                     	<div><h4>{{profileDetails.user.defaultDeliveryAddress.firstName}} {{profileDetails.user.defaultDeliveryAddress.lastName}}</h4></div>
						           			<div>{{profileDetails.user.defaultDeliveryAddress.addressLine1}}</div>
						           			<div>{{profileDetails.user.defaultDeliveryAddress.addressLine2}}</div>
						           			<div>{{profileDetails.user.defaultDeliveryAddress.city}}, {{profileDetails.user.defaultDeliveryAddress.state.name}}</div>
						           			<div>{{profileDetails.user.defaultDeliveryAddress.country.name}} {{profileDetails.user.defaultDeliveryAddress.zipcode}}</div>
						           			<div>Phone No: {{profileDetails.user.defaultDeliveryAddress.phoneNo}}</div>
	                                    </ul>
	                                </div>
	                                <div class="panel-body" ng-if="!profileDetails.user.defaultDeliveryAddress">
		                                <div class="panel panel-profile">
			                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
							                    <h2>No shipping address specified!</h2>
							                    <p>Please specify your shipping addresses.</p>
							                </div>
			                            </div>
			                        </div>
	                            </div>
	                        </div>
	                        <!--End Social Icons v3-->
	                    </div><!--/end row-->
	                    
	                    <hr>
	                        
					</div>
					
					<div ng-show="isAuthorized('ROLE_FARMER')">
	                    
	                    <div class="row">
	                        <!--Social Icons v3-->
	                        <div class="col-sm-6 sm-margin-bottom-30">
	                            <div class="panel panel-profile">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Address </h2>
	                                    <div class="pull-right btn-group">
		                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		                                           <span class="fa fa-cog"></span>
		                                       </button>
		                                       <ul class="dropdown-menu pull-right">
		                                           <li><a href="javascript:void(0);" ng-click="addAddress();">Add</a></li>
		                                           <li><a href="javascript:void(0);">Edit</a></li>
		                                       </ul>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="profileDetails.user.address">
	                                     <ul class="list-unstyled social-contacts-v2" ng-if="profileDetails.user.address">
	                                     	<div><h4>{{profileDetails.user.firstName}} {{profileDetails.user.lastName}}</h4></div>
						           			<div>{{profileDetails.user.address.addressLine1}}</div>
						           			<div>{{profileDetails.user.address.addressLine2}}</div>
						           			<div>{{profileDetails.user.address.city}}, {{profileDetails.user.address.state.name}}</div>
						           			<div>{{profileDetails.user.address.country.name}} {{profileDetails.user.address.zipcode}}</div>
	                                    </ul>
	                                </div>
	                                <div class="panel-body" ng-if="!profileDetails.user.address">
		                                <div class="panel panel-profile">
			                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
							                    <h2>Please Add your address!</h2>
							                    <p>You have not added it yet.</p>
							                </div>
			                            </div>
			                        </div>
	                            </div>
	                        </div>
	                        <!--End Social Icons v3-->
	
	                        <!--Reviews (Products)-->
	                        <div class="col-sm-6 sm-margin-bottom-30">
	                            <div class="panel panel-profile">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Reviews <small>(Products)</small></h2>
	                                    <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
	                                       <ul class="dropdown-menu pull-right">
	                                           <li><a href="javascript:void(0);" ng-click="addExpertise()">Add</a></li>
	                                           <li><a href="javascript:void(0);">Edit</a></li>
	                                       </ul>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="profileDetails.productReviews.length > 0">
	                                	<div class="margin-bottom-20" ng-repeat="expertise in profileDetails.expertises">
	                                		<div class="col-sm-8">
		                                    	<small>{{expertise.name}}</small>
		                                    </div>
		                                    <div class="col-sm-4">
		                                    	<small>{{expertise.ratingPercent}}%</small>
		                                    </div>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="!profileDetails.productReviews || profileDetails.productReviews.length > 0">
										<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels">
										</canvas>

		                                <!-- <div class="panel panel-profile">
			                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
							                    <h2>No review on your products!</h2>
							                    <p>Nobody has reviewed your products yet.</p>
							                </div>
			                            </div> -->
			                        </div>
	                            </div>
	                        </div>
	                        <!--End Reviews (Products)-->
	                        
	                    </div><!--/end row-->
	                    
	                    <hr>
	                    
	                    <div class="row">
	                        <!--Social Icons v3-->
	                        <div class="col-sm-6 sm-margin-bottom-30">
	                            <div class="panel panel-profile">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Social Accounts </h2>
	                                    <div class="pull-right btn-group">
		                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		                                           <span class="fa fa-cog"></span>
		                                       </button>
		                                       <ul class="dropdown-menu pull-right">
		                                           <li><a href="javascript:void(0);" ng-click="addSocialAccount()">Add</a></li>
		                                       </ul>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="profileDetails.socialAccounts.length > 0">
	                                     <ul class="list-unstyled social-contacts-v2">
	                                     	<li ng-repeat="socialAccount in profileDetails.socialAccounts">
	                                     		<i class="rounded-x {{socialCode(socialAccount.socialSite)}} fa {{socialSite(socialAccount.socialSite)}}"></i> 
	                                     		<a href="{{socialAccount.accountUrl}}">{{socialAccount.displayName}}</a>
	                                     		<span class="pull-right">
	                                     			<a href="javascript: void(0)" ng-click="editSocialAccount(socialAccount.uniqueId)"><i class="fa fa-pencil"></i></a>
	                                     			<a href="javascript: void(0)" ng-click="deleteSocialAccount(socialAccount.uniqueId)"><i class="fa fa-trash"></i></a>
	                                     		</span>
	                                     	</li>
	                                    </ul>
	                                </div>
	                                <div class="panel-body" ng-if="!profileDetails.socialAccounts || profileDetails.socialAccounts.length <= 0">
		                                <div class="panel panel-profile">
			                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
							                    <h2>No social accounts are specified!</h2>
							                    <p>You don't have any social account.</p>
							                </div>
			                            </div>
			                        </div>
	                            </div>
	                        </div>
	                        <!--End Social Icons v3-->
	
	                        <!--Skills-->
	                        <div class="col-sm-6 sm-margin-bottom-30">
	                            <div class="panel panel-profile">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Expertise</h2>
	                                    <div class="pull-right btn-group">
		                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		                                           <span class="fa fa-cog"></span>
		                                       </button>
		                                       <ul class="dropdown-menu pull-right">
		                                           <li><a href="javascript:void(0);" ng-click="addExpertise()">Add</a></li>
		                                       </ul>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="profileDetails.expertises.length > 0">
	                                	<table class="table table-hover table-striped">
	                                		<tbody>
	                                			<tr ng-repeat="expertise in profileDetails.expertises">
	                                				<td class="col-lg-6">{{expertise.name}}</td>
                                					<td class="col-lg-4">{{expertise.experLabel}}</td>
                                					<td class="col-lg-1">
                                						<a href="javascript: void(0)" ng-click="editExpertise(expertise.uniqueId)"><i class="fa fa-pencil"></i></a>
                                					</td>
                                					<td class="col-lg-1">
                                						<a href="javascript: void(0)" ng-click="deleteExpertise(expertise.uniqueId)"><i class="fa fa-trash"></i></a>
                                					</td>
	                                			</tr>
	                                		</tbody>
	                                	</table>
	                                </div>
	                                <div class="panel-body" ng-if="!profileDetails.expertises || profileDetails.expertises.length <= 0">
		                                <div class="panel panel-profile">
			                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
							                    <h2>No expertise is specified!</h2>
							                    <p>You don't have any expertise.</p>
							                </div>
			                            </div>
			                        </div>
	                            </div>
	                        </div>
	                        <!--End Skills-->
	                    </div><!--/end row-->
		                
		                <hr>
		                
						<div class="row">
	                        <!--Reviews (Skills)-->
	                        <div class="col-sm-6 sm-margin-bottom-30">
	                            <div class="panel panel-profile">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Reviews <small>(Skills)</small></h2>
	                                    <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
	                                       <ul class="dropdown-menu pull-right">
	                                           <li><a href="javascript:void(0);">Add</a></li>
	                                           <li><a href="javascript:void(0);">Edit</a></li>
	                                       </ul>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="profileDetails.skillReviews.length > 0">
	                                	<div class="margin-bottom-20" ng-repeat="expertise in profileDetails.expertises">
	                                		<div class="col-sm-8">
		                                    	<small>{{expertise.name}}</small>
		                                    </div>
		                                    <div class="col-sm-4">
		                                    	<small>{{expertise.ratingPercent}}%</small>
		                                    </div>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="!profileDetails.skillReviews || profileDetails.skillReviews.length <= 0">
		                                <div class="panel panel-profile">
			                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
							                    <h2>Your skills are not reviewed!</h2>
							                    <p>Sorry, Nobody have reviewed your skills till now.</p>
							                </div>
			                            </div>
			                        </div>
	                            </div>
	                        </div>
	                        <!--End Reviews (Products)-->
	                    </div><!--/end row-->
	
	                    <hr>
	                    
					</div>
					
					<div ng-show="isAuthorized('ROLE_BROKER')">
						<div class="row">
	                        <!--Social Icons v3-->
	                        <div class="col-sm-6 sm-margin-bottom-30">
	                            <div class="panel panel-profile">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Social Accounts </h2>
	                                    <div class="pull-right btn-group">
		                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		                                           <span class="fa fa-cog"></span>
		                                       </button>
		                                       <ul class="dropdown-menu pull-right">
		                                           <li><a href="javascript:void(0);" ng-click="addSocialAccount()">Add</a></li>
		                                       </ul>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="profileDetails.socialAccounts.length > 0">
	                                     <ul class="list-unstyled social-contacts-v2">
	                                     	<li ng-repeat="socialAccount in profileDetails.socialAccounts">
	                                     		<i class="rounded-x {{socialCode(socialAccount.socialSite)}} fa {{socialSite(socialAccount.socialSite)}}"></i> 
	                                     		<a href="{{socialAccount.accountUrl}}">{{socialAccount.displayName}}</a>
	                                     		<span class="pull-right"><a href="javascript: void(0)" ng-click="editSocialAccount(socialAccount.uniqueId)"><i class="fa fa-pencil"></i></a></span>
	                                     	</li>
	                                    </ul>
	                                </div>
	                                <div class="panel-body" ng-if="!profileDetails.socialAccounts || profileDetails.socialAccounts.length <= 0">
		                                <div class="panel panel-profile">
			                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
							                    <h2>No social accounts are specified!</h2>
							                    <p>You don't have any social account.</p>
							                </div>
			                            </div>
			                        </div>
	                            </div>
	                        </div>
	                        <!--End Social Icons v3-->
	
	                        <!--Skills-->
	                        <div class="col-sm-6 sm-margin-bottom-30">
	                            <div class="panel panel-profile">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Expertise</h2>
	                                    <div class="pull-right btn-group">
		                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		                                           <span class="fa fa-cog"></span>
		                                       </button>
		                                       <ul class="dropdown-menu pull-right">
		                                           <li><a href="javascript:void(0);" ng-click="addExpertise()">Add</a></li>
		                                       </ul>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="profileDetails.expertises.length > 0">
	                                	<table class="table table-hover table-striped">
	                                		<tbody>
	                                			<tr ng-repeat="expertise in profileDetails.expertises">
	                                				<td class="col-lg-6">{{expertise.name}}</td>
                                					<td class="col-lg-5">{{expertise.experLabel}}</td>
                                					<td class="col-lg-1"><a href="javascript: void(0)" ng-click="editExpertise(expertise.uniqueId)"><i class="fa fa-pencil"></i></a></td>
	                                			</tr>
	                                		</tbody>
	                                	</table>
	                                </div>
	                                <div class="panel-body" ng-if="!profileDetails.expertises || profileDetails.expertises.length <= 0">
		                                <div class="panel panel-profile">
			                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
							                    <h2>No expertise is specified!</h2>
							                    <p>You don't have any expertise.</p>
							                </div>
			                            </div>
			                        </div>
	                            </div>
	                        </div>
	                        <!--End Skills-->
	                    </div><!--/end row-->
		                
		                <hr>
		                
						<div class="row">
							<!-- Review Products -->
	                        <div class="col-sm-6 sm-margin-bottom-30">
	                            <div class="panel panel-profile">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Reviews <small>(Products)</small></h2>
	                                    <div class="pull-right btn-group">
		                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		                                           <span class="fa fa-cog"></span>
		                                       </button>
		                                       <ul class="dropdown-menu pull-right">
		                                           <li><a href="javascript:void(0);">Add</a></li>
		                                           <li><a href="javascript:void(0);">Edit</a></li>
		                                       </ul>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="profileDetails.expertises > 0">
	                                	<table class="table table-hover table-striped">
	                                		<tbody>
	                                			<tr ng-repeat="expertise in profileDetails.expertises">
	                                				<td class="col-lg-8">{{expertise.name}}</td>
	                                				<td class="col-lg-4">{{expertise.experience}}years</td>
	                                			</tr>
	                                		</tbody>
	                                	</table>
	                                </div>
	                                <div class="panel-body" ng-if="!profileDetails.expertises || profileDetails.expertises.length <= 0">
		                                <div class="panel panel-profile">
			                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
							                    <h2>You don't have any product review!</h2>
							                    <p>Sorry, You have not any product review yet.</p>
							                </div>
			                            </div>
			                        </div>
	                            </div>
	                        </div>
	                        <!--End Review Products-->
	                        
	                        <!-- Review Skills -->
	                        <div class="col-sm-6 sm-margin-bottom-30">
	                            <div class="panel panel-profile">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Reviews <small>(Skills)</small></h2>
	                                    <div class="pull-right btn-group">
		                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		                                           <span class="fa fa-cog"></span>
		                                       </button>
		                                       <ul class="dropdown-menu pull-right">
		                                           <li><a href="javascript:void(0);">Add</a></li>
		                                           <li><a href="javascript:void(0);">Edit</a></li>
		                                       </ul>
		                                </div>
	                                </div>
	                                <div class="panel-body" ng-if="profileDetails.expertises > 0">
	                                	<table class="table table-hover table-striped">
	                                		<tbody>
	                                			<tr ng-repeat="expertise in profileDetails.expertises">
	                                				<td class="col-lg-8">{{expertise.name}}</td>
	                                				<td class="col-lg-4">{{expertise.experience}}years</td>
	                                			</tr>
	                                		</tbody>
	                                	</table>
	                                </div>
	                                <div class="panel-body" ng-if="!profileDetails.expertises || profileDetails.expertises.length <= 0">
		                                <div class="panel panel-profile">
			                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
							                    <h2>You don't have any skill review!</h2>
							                    <p>Sorry, You have not any skill review yet.</p>
							                </div>
			                            </div>
			                        </div>
	                            </div>
	                        </div>
	                        <!--End Review Skills-->
	                    </div><!--/end row-->
	
	                    <hr>
	                    
					</div>

                    <div ng-show="isAuthorized('ROLE_EXECUTIVE') || isAuthorized('ROLE_CTMEMBER') || isAuthorized('ROLE_STMEMBER')">
						<div class="row">
	                        <!--Social Icons v3-->
	                        <!-- 
	                        <div class="col-sm-6 sm-margin-bottom-30">
	                            <div class="panel panel-profile" ng-if="profileDetails.socialAccounts.length > 0">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Social Contacts </h2>
	                                    <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
	                                       <ul class="dropdown-menu pull-right">
	                                           <li><a href="javascript:void(0);" ng-click="addSocialAccount()">Add</a></li>
	                                           <li><a href="javascript:void(0);">Edit</a></li>
	                                       </ul>
		                                </div>
	                                </div>
	                                <div class="panel-body">
	                                     <ul class="list-unstyled social-contacts-v2">
	                                     	<li ng-repeat="socialAccount in profileDetails.socialAccounts">
	                                     		<i class="rounded-x {{socialCode(socialAccount.socialSite)}} fa {{socialSite(socialAccount.socialSite)}}"></i> 
	                                     		<a href="{{socialAccount.accountUrl}}">{{socialAccount.displayName}}</a>
	                                     	</li>
	                                    </ul>
	                                </div>
	                            </div>
	                            
	                            <div class="panel panel-profile" ng-if="profileDetails.socialAccounts.length <= 0">
	                            	<div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Social Contacts </h2>
	                                    <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
	                                       <ul class="dropdown-menu pull-right">
	                                           <li><a href="javascript:void(0);" ng-click="addSocialAccount()">Add</a></li>
	                                           <li><a href="javascript:void(0);">Edit</a></li>
	                                       </ul>
		                                </div>
	                                </div>
	                                <div class="alert alert-success fade in">
					                    <h4>You don't have any social contact!</h4>
					                    Sorry, You have not added any social account.
					                </div>
	                            </div>
	                        </div>
	                        -->
	                        <!--End Social Icons v3-->
	
							<!--Alert-->
	                        <div class="col-sm-7 sm-margin-bottom-30">
	                            <div class="panel panel-profile">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-send"></i> Alarm Notification</h2>
	                                    <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
		                                    <ul class="dropdown-menu pull-right">
	                                           	<li><a href="javascript:void(0);" ng-click="sendNotification()">Send Notification</a></li>
	                                           	<li><a href="javascript:void(0);">Edit</a></li>
	                                       	</ul>
		                                </div>
	                                </div>
	                                <div id="scrollbar3" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark" prak-scrollbar>
	                                    <div class="alert-blocks alert-blocks-pending alert-dismissable">
	                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
	                                        <img class="rounded-x" src="assets/img/testimonials/img3.jpg" alt="">
	                                        <div class="overflow-h">
	                                            <strong class="color-yellow">Pending... <small class="pull-right"><em>Just now</em></small></strong>
	                                            <p>Your friend request has been sent.</p>
	                                        </div>
	                                    </div>
	                                    <div class="alert-blocks alert-blocks-success alert-dismissable">
	                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
	                                        <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
	                                        <div class="overflow-h">
	                                            <strong class="color-green">Accepted. <small class="pull-right"><em>7 hours ago</em></small></strong>
	                                            <p>Your friend request has been accepted.</p>
	                                        </div>
	                                    </div>
	                                    <div class="alert-blocks alert-blocks-info alert-dismissable">
	                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
	                                        <i class="icon-custom rounded-x icon-bg-blue fa fa-bolt"></i>
	                                        <div class="overflow-h">
	                                            <strong class="color-blue">Info <small class="pull-right"><em>2 days ago</em></small></strong>
	                                            <p>Your friend request has been denied :)</p>
	                                        </div>
	                                    </div>
	                                    <div class="alert-blocks alert-blocks-error alert-dismissable">
	                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
	                                        <img class="rounded-x" src="assets/img/testimonials/img6.jpg" alt="">
	                                        <div class="overflow-h">
	                                            <strong class="color-red">Denied! <small class="pull-right"><em>2 days ago</em></small></strong>
	                                            <p>Your friend request has been denied.</p>
	                                        </div>
	                                    </div>
	                                    <div class="alert-blocks alert-dismissable">
	                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
	                                        <i class="icon-custom rounded-x icon-bg-dark fa fa-magic"></i>
	                                        <div class="overflow-h">
	                                            <strong class="color-dark">Default <small class="pull-right"><em>Just now</em></small></strong>
	                                            <p><strong>Adam Johnson's</strong> friend request pending..</p>
	                                        </div>
	                                    </div>
	                                    <div class="alert-blocks alert-blocks-pending alert-dismissable">
	                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
	                                        <i class="icon-custom rounded-x icon-bg-yellow fa fa-info"></i>
	                                        <div class="overflow-h">
	                                            <strong class="color-yellow">Pending <small class="pull-right"><em>Just now</em></small></strong>
	                                            <p><strong>Adam Johnson's</strong> friend request pending..</p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--End Alert-->
		
	                        <!--Skills-->
	                        <div class="col-sm-5 sm-margin-bottom-30">
	                            <div class="panel panel-profile" ng-if="profileDetails.discussions.length > 0">
	                                <div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Discussions </h2>
	                                    <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
		                                    <ul class="dropdown-menu pull-right">
	                                           	<li><a href="javascript:void(0);" ng-click="addDiscussion()">Add</a></li>
	                                           	<li><a href="javascript:void(0);">Edit</a></li>
	                                       	</ul>
		                                </div>
	                                </div>
	                                <div id="scrollbar4" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark" prak-scrollbar>
	                                	<div class="comment" ng-repeat="discussion in profileDetails.discussions">
	                                        <img src="assets/img/farmers/farmer1.jpg" alt="">
	                                        <div class="overflow-h">
	                                            <strong>{{discussion.user.firstName}} {{discussion.user.lastName}}<small class="pull-right"> 25m</small></strong>
	                                            <p>{{discussion.title}}</p>
	                                            <ul class="list-inline comment-list">
	                                                <li><i class="fa fa-heart"></i> <a href="javascript:void(0)">{{discussion.comments.length}}</a></li>
	                                                <li><i class="fa fa-comments"></i> <a href="javascript:void(0)">{{discussion.comments.length}}</a></li>
	                                            </ul>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            
	                            <div class="panel panel-profile" ng-if="profileDetails.discussions.length <= 0">
	                            	<div class="panel-heading profile-box-header">
	                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Discussions </h2>
	                                    <div class="pull-right btn-group">
	                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
	                                           <span class="fa fa-cog"></span>
	                                       </button>
	                                       <ul class="dropdown-menu pull-right">
	                                           <li><a href="javascript:void(0);" ng-click="addDiscussion()">Add</a></li>
	                                           <li><a href="javascript:void(0);">Edit</a></li>
	                                       </ul>
		                                </div>
	                                </div>
	                                <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
					                    <h4>You don't have initiated any discussion!</h4>
					                    Sorry, You have not initiated any discussion.
					                </div>
	                            </div>
	                        </div>
	                        <!--End Skills-->
	                    </div><!--/end row-->
						
	                	<hr>
	                
					</div>
					
                    <div ng-show="isAuthorized('ROLE_AGENT') || isAuthorized('ROLE_COMPANY_ADMIN')">
		
						<div class="row">
		                    <!--Social Icons v3-->
		                    <div class="col-sm-6 sm-margin-bottom-30">
		                        <div class="panel panel-profile">
		                            <div class="panel-heading overflow-h">
		                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Address</h2>
		                                <a href="javascript:void(0)" ng-if="isAuthorized('ROLE_ADMIN')"><i class="fa fa-cog pull-right"></i></a>
		                            </div>
		                            <div class="panel-body">
		                                <h2>{{profileDetails.user.firstName}} {{profileDetails.user.lastName}}</h2>
		                                <span>{{profileDetails.user.address.addressLine1}}</span><br/>
		                                <span>{{profileDetails.user.address.addressLine2}}</span><br/>
		                                <span>{{profileDetails.user.address.city}}, {{profileDetails.user.address.state.name}} ({{profileDetails.user.address.country.name}}) {{profileDetails.user.address.zipcode}}</span><br/>
		                                <span ng-if="profileDetails.user.phoneNo">Phone No.: {{profileDetails.user.phoneNo | tel}}</span><br/>
										<span ng-if="profileDetails.user.mobileNo">Phone No.: {{profileDetails.user.mobileNo | tel}}</span><br/>
		                            </div>
		                        </div>
		                    </div>
		                    <!--End Social Icons v3-->
		
		                    <!--Social Icons v3-->
		                    <div class="col-sm-6 sm-margin-bottom-30">
		                        
		                    </div>
		                    <!--End Social Icons v3-->
		                </div><!--/end row-->
		                
		                <hr/>
		                
		                <div class="row">
		                    <!--Social Icons v3-->
		                    <div class="col-sm-12 sm-margin-bottom-30">
		                        <div class="panel panel-profile">
		                            <div class="panel-heading overflow-h">
		                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Demands</h2>
		                                <a href="javascript:void(0)" ng-if="isAuthorized('ROLE_ADMIN')"><i class="fa fa-cog pull-right"></i></a>
		                            </div>
		                            <div class="panel-body">
		                                 <table class="table table-bordered" style="color: grey;">
		                                    <thead>
		                                        <th>#</th>
		                                        <th>Name</th>
		                                        <th>Quantity</th>
		                                        <th>Demand Price</th>
		                                        <th>Delivery Date</th>
		                                        <th>Request Date</th>
		                                     </thead>
		                                    <tbody>
		                                        <tr ng-repeat="demand in profileDetails.demands">
		                                            <td>{{$index + 1}}</td>
								                    <td>{{demand.name}}</td>
								                    <td>{{demand.quantity}} {{demand.quantityUnit.name}}</td>
								                    <td>{{demand.priceWithCurrency}} /{{demand.priceUnit.name}}</td>
								                    <td>{{demand.deliveryDate}}</td>
								                    <td>{{demand.requestDate}}</td>
		                                        </tr>
		                                     </tbody>
		                                </table>
		                            </div>
		                        </div>
		                    </div>
		                    <!--End Social Icons v3-->
		
		                </div><!--/end row-->
		                
		                <hr>
		                
		                <div class="row">
		                    <!--Social Icons v3-->
		                    <div class="col-sm-12 sm-margin-bottom-30">
		                        <div class="panel panel-profile">
		                            <div class="panel-heading overflow-h">
		                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Bids</h2>
		                                <a href="javascript:void(0)" ng-if="isAuthorized('ROLE_ADMIN')"><i class="fa fa-cog pull-right"></i></a>
		                            </div>
		                            <div class="panel-body">
		                                 <table class="table table-bordered" style="color: grey;">
		                                    <thead>
		                                        <th>#</th>
		                                        <th>Product Name</th>
		                                        <th>Quantity</th>
		                                        <th>Highest Bid</th>
		                                        <th>Date/Time</th>
		                                     </thead>
		                                    <tbody>
		                                        <tr ng-repeat="bid in profileDetails.bids">
		                                            <td>{{$index + 1}}</td>
								                    <td>{{bid.product.name}}</td>
								                    <td>{{bid.product.quantity}} {{bid.product.quantityUnit.name}}</td>
								                    <td>{{bid.price}} {{bid.currency.mneomic}}/{{bid.unit.name}}</td>
								                    <td>{{bid.createdOn}}</td>
		                                        </tr>
		                                     </tbody>
		                                </table>
		                            </div>
		                        </div>
		                    </div>
		                    <!--End Social Icons v3-->
		
		                </div><!--/end row-->
		                
		                <hr>
		                
		                <div class="row">
		                    <!--Social Icons v3-->
		                    <div class="col-sm-12 sm-margin-bottom-30">
		                        <div class="panel panel-profile">
		                            <div class="panel-heading overflow-h">
		                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Orders</h2>
		                                <a href="javascript:void(0)" ng-if="isAuthorized('ROLE_ADMIN')"><i class="fa fa-cog pull-right"></i></a>
		                            </div>
		                            <div class="panel-body">
		                                 <table class="table table-bordered" style="color: grey;">
		                                    <thead>
		                                        <th>#</th>
							                    <th>Order Id</th>
							                    <th>Shipping Cost</th>
							                    <th>Total Price</th>
							                    <th>Order Date</th>
							                    <th>Delivery Date</th>
							                    <th>Status</th>
		                                     </thead>
		                                    <tbody>
		                                        <tr ng-repeat="order in profileDetails.orders">
		                                            <td>{{$index + 1}}</td>
								                    <td>{{order.orderNo}}</td>
								                    <td>{{order.shippingCost}}</td>
								                    <td>{{order.totalPrice}}</td>
								                    <td>{{order.orderDate}}</td>
								                    <td>{{order.deliveryDate}}</td>
								                    <td>{{order.status}}</td>
		                                        </tr>
		                                     </tbody>
		                                </table>
		                            </div>
		                        </div>
		                    </div>
		                    <!--End Social Icons v3-->
		
		                </div><!--/end row-->
		                
		                <hr>
		                
					</div>
					
                    <!--Timeline-->
                    <div class="panel panel-profile" ng-if="false">
                        <div class="panel-heading overflow-h">
                            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Experience</h2>
                            <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                        </div>
                        <div class="panel-body margin-bottom-40">
                            <ul class="timeline-v2 timeline-me">
                                <li>
                                    <time datetime="" class="cbp_tmtime"><span>Mobile Design</span> <span>2012 - Current</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <h2>BFC NYC Partners</h2>
                                        <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Peasprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
                                    </div>
                                </li>
                                <li>
                                    <time datetime="" class="cbp_tmtime"><span>Web Designer</span> <span>2007 - 2012</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                    <h2>Freelance</h2>
                                        <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce.</p>
                                    </div>
                                </li>
                                <li>
                                    <time datetime="" class="cbp_tmtime"><span>Photodesigner</span> <span>2003 - 2007</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                    <h2>Toren Condo</h2>
                                        <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End Timeline-->

                    <!--Timeline-->
                    <div class="panel panel-profile" ng-if="false">
                        <div class="panel-heading overflow-h">
                            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-mortar-board"></i> Education</h2>
                            <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                        </div>
                        <div class="panel-body">
                            <ul class="timeline-v2 timeline-me">
                                <li>
                                    <time datetime="" class="cbp_tmtime"><span>Bachelor of IT</span> <span>2003 - 2000</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <h2>Harvard University</h2>
                                        <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Peasprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
                                    </div>
                                </li>
                                <li>
                                    <time datetime="" class="cbp_tmtime"><span>Web Design</span> <span>1997 - 2000</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                    <h2>Imperial College London</h2>
                                        <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce.</p>
                                    </div>
                                </li>
                                <li>
                                    <time datetime="" class="cbp_tmtime"><span>High School</span> <span>1988 - 1997</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                    <h2>Chicago High School</h2>
                                        <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End Timeline-->
					
                    <hr ng-if="false">

                </div>
            </div>
            <!-- End Profile Content -->
        </div>
    </div>
    <!--=== End Profile ===-->