    	
	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left"> Settings</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Settings</a></li>
                <li><a href="">My Account</a></li>
                <li class="active"> Settings</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Profile ===-->
    <div class="container content profile">
        <div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">
                <div class="thumbnail">
                	<img class="img-responsive profile-img margin-bottom-20" src="{{currentUser.defaultImage.filepath}}" alt="">
	                <div class="text-center">
	                  	<a ng-click="changePicture()" href="javascript:void(0);" class="btn-u btn-u-sm">Change Picture</a>
	                </div>
                </div>

                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item">
                        <a href="#/dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#/profile/me"><i class="fa fa-user"></i> Profile</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_COMPANY_ADMIN') || isAuthorized('ROLE_AGENT')">
                        <a href="#/profile/company"><i class="fa fa-building-o"></i> Company</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/bankAccounts"><i class="fa fa-money"></i> Bank Accounts</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_FARMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/creditCards"><i class="fa fa-credit-card"></i> Credit Cards</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_BROKER') || isAuthorized('ROLE_FARMER') || isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/products"><i class="fa fa-bars"></i> Products</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_COMPANY_ADMIN', 'ROLE_AGENT', 'ROLE_RETAILER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER']) && !isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/demands"><i class="fa fa-bars"></i> Demands</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_BROKER', 'ROLE_COMPANY_ADMIN', 'ROLE_AGENT', 'ROLE_RETAILER', 'ROLE_REGION_ADMIN', 'ROLE_REGION_MANAGER', 'ROLE_DISPATCHER']) && !isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/bids"><i class="fa fa-gavel"></i> Bids</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT']) && isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/drivers"><i class="fa fa-bars"></i> Drivers</a>
                    </li>
                    <li class="list-group-item" ng-if="orIsAuthorized(['ROLE_COMPANY_ADMIN', 'ROLE_AGENT']) && isBusinessCategory('TRANSPORTER')">
                        <a href="#/profile/transports"><i class="fa fa-bars"></i> Transports</a>
                    </li>
                    <li class="list-group-item" ng-if="isAuthorized('ROLE_CUSTOMER') || isAuthorized('ROLE_BROKER') || isAuthorized('ROLE_RETAILER') || isAuthorized('ROLE_COMPANY_ADMIN') || isAuthorized('ROLE_AGENT') || isAuthorized('ROLE_REGION_ADMIN') || isAuthorized('ROLE_REGION_MANAGER') || isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/orders"><i class="fa fa-truck"></i> Orders</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/reviews"><i class="fa fa-comments"></i> Reviews</a>
                    </li>
                    <li class="list-group-item" ng-if="!isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER') && !isAuthorized('ROLE_REGION_ADMIN') && !isAuthorized('ROLE_REGION_MANAGER') && !isAuthorized('ROLE_DISPATCHER')">
                        <a href="#/profile/history"><i class="fa fa-history"></i> History</a>
                    </li>
                    <li class="list-group-item active">
                        <a href="#/profile/settings"><i class="fa fa-cog"></i> Settings</a>
                    </li>
                </ul>

                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> Reviews</h2>
                    <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <h3 class="heading-xs">Customer Satisfaction <span class="pull-right">92%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                <h3 class="heading-xs">Product Quality <span class="pull-right">96%</span></h3>
                <div class="progress progress-u progress-xxs">
                    <div style="width: 96%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="96" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>
                <h3 class="heading-xs">Delivery on Time <span class="pull-right">97%</span></h3>
                <div class="progress progress-u progress-xxs margin-bottom-40">
                    <div style="width: 97%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="97" role="progressbar" class="progress-bar progress-bar-u">
                    </div>
                </div>

                <hr ng-if="notifications.length > 0">

                <!--Notification-->
                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i> Notification</h2>
                    <a href="javascript: void(0)"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <ul class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark" ng-controller="NotificationListCtrl" prak-scrollbar>
                	<li class="notification" ng-repeat="notification in notifications | reverse">
                        <i class="icon-custom icon-sm rounded-x {{notificationColor(notification.code)}} icon-line {{notificationIcon(notification.code)}}"></i>
                        <div class="overflow-h">
                            <span ng-bind-html="notification.notification"></span>
                            <small>Two minutes ago</small>
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn-u btn-u-default btn-u-sm btn-block" ng-if="notifications.length > 0">Load More</button>
                <!--End Notification-->

                <div class="margin-bottom-50"></div>

                <!--Datepicker-->
                <form action="#" id="sky-form2" class="sky-form">
                    <div id="inline-start" prak-datepicker></div>
                </form>
                <!--End Datepicker-->
            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->
            <div class="col-md-9">
                <div class="profile-body margin-bottom-20">
                    <div class="tab-v1">
						<tabset justified="true">
						    <tab heading="Edit Profile">
						    	<div class="profile-edit tab-pane fade in active">
						    		<form name="userFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
		                                <h2 class="heading-md">Manage your Name, ID and Email Addresses.</h2>
		                                <p>Below are the name and email addresses on file for your account.</p>
		                                <br>
		                                <dl class="dl-horizontal">
		                                    <dt><strong>Your name </strong></dt>
		                                    <dd>
		                                        <span ng-if="!fields.name">{{user.firstName + ' ' + user.lastName}}</span>
		                                        <div ng-if="fields.name" class="row col-lg-10">
		                                        	<div class="row">
	                                              		<div class="col-lg-6" ng-class="{ 'state-error' : userFrm.firstName.$invalid && userFrm.firstName.$touched }">
	                                              			<input type="text" name="firstName" ng-model="user.firstName" class="form-control" placeholder="First Name" ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+" required>
	                                              			<em class="settings-error" ng-if="userFrm.firstName.$error.required && userFrm.firstName.$touched">First name is required.</em>
															<em class="settings-error" ng-if="userFrm.firstName.$error.minlength && userFrm.firstName.$touched">First Name is too short.</em>
															<em class="settings-error" ng-if="userFrm.firstName.$error.pattern && userFrm.firstName.$touched">Only alphanumerics are allowed.</em>
	                                              		</div>
	                                              		<div class="col-lg-6" ng-class="{ 'state-error' : userFrm.lastName.$invalid && userFrm.lastName.$touched }">
		                                        			<input type="text" name="lastName" ng-model="user.lastName" class="form-control" placeholder="Last Name">
		                                        		</div>
	  												</div>
								                    <div class="btn-group pull-right">
								                        <button class="btn-u" type="button" ng-click="done('name')"><i class="fa fa-check"></i></button>
								                        <button class="btn-u btn-u-red btn-u-red-split" type="button" ng-click="cancel('name')">
								                            <i class="fa fa-times"></i>
								                        </button>
								                  	</div>
		                                        </div>
		                                        <span>
		                                            <a class="pull-right" href="javascript:void(0)" ng-click="editField('name')">
		                                                <i class="fa fa-pencil"></i>
		                                            </a>
		                                        </span>
		                                    </dd>
		                                    <hr>
		                                    <dt><strong>Profession </strong></dt>
		                                    <dd>
		                                        {{settings.userType}}
		                                        <!-- 
		                                        <span>
		                                            <a class="pull-right" href="javascript:void(0)">
		                                                <i class="fa fa-pencil"></i>
		                                            </a>
		                                        </span>
		                                        -->
		                                    </dd>
		                                    <hr>
		                                    <dt ng-show="isAuthorized('ROLE_COMPANY_ADMIN') && isAuthorized('ROLE_AGENT')"><strong>Company name </strong></dt>
		                                    <dd ng-show="isAuthorized('ROLE_COMPANY_ADMIN') && isAuthorized('ROLE_AGENT')">
		                                        {{user.company.name}}
		                                        <!-- 
		                                        <span>
		                                            <a class="pull-right" href="javascript:void(0)">
		                                                <i class="fa fa-pencil"></i>
		                                            </a>
		                                        </span>
		                                        -->
		                                    </dd>
		                                    <hr ng-show="isAuthorized('ROLE_COMPANY_ADMIN') && isAuthorized('ROLE_AGENT')">
		                                    
		                                    <dt><strong>Email Address </strong></dt>
		                                    <dd>
		                                        <span ng-if="!fields.email">{{user.emailId}}</span>
		                                        <div ng-if="fields.email" class="row col-lg-8">
		                                        	<div ng-class="{ 'state-error' : userFrm.firstName.$invalid && userFrm.firstName.$touched }">
		                                        		<input type="text" ng-model="user.emailId" class="form-control">
		                                        	</div>
								                    <div class="btn-group pull-right">
								                        <button class="btn-u" type="button" ng-click="done('email')"><i class="fa fa-check"></i></button>
								                        <button class="btn-u btn-u-red btn-u-red-split" type="button" ng-click="cancel('email')">
								                            <i class="fa fa-times"></i>                            
								                        </button>
								                  </div>
		                                        </div>
		                                        <!-- 
		                                        <span>
		                                            <a class="pull-right" href="javascript:void(0)" ng-click="editField('email')">
		                                                <i class="fa fa-pencil"></i>
		                                            </a>
		                                        </span>
		                                         -->
		                                    </dd>
		                                    <hr/>
		                                    
		                                    <dt ng-show="!isAuthorized('ROLE_FARMER') && !isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER')"><strong>Phone Number </strong></dt>
		                                    <dd ng-show="!isAuthorized('ROLE_FARMER') && !isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER')">
		                                      	<span ng-if="!fields.phoneNo">{{user.phoneNo}}</span>
		                                        <div ng-if="fields.phoneNo" class="row col-lg-8">
		                                        	<div class="row">
			                                        	<div class="col-lg-12" ng-class="{ 'state-error' : userFrm.phoneNo.$invalid && userFrm.phoneNo.$touched }">
				                                        	<input type="text" name="phoneNo" ng-model="user.phoneNo" class="form-control" default-country="in" international-phone-number required >
				                                        	<em class="settings-error" ng-if="userFrm.phoneNo.$error.required && userFrm.phoneNo.$touched">Phone No. is required</em>
															<em class="settings-error" ng-if="userFrm.phoneNo.$error.internationalPhoneNumber && userFrm.phoneNo.$touched">Phone No. is not valid</em>
														</div>
													</div>
								                    <div class="btn-group pull-right">
								                        <button class="btn-u" type="button" ng-click="done('phoneNo')"><i class="fa fa-check"></i></button>
								                        <button class="btn-u btn-u-red btn-u-red-split" type="button" ng-click="cancel('phoneNo')">
								                            <i class="fa fa-times"></i>                            
								                        </button>
								                  </div>
		                                        </div>
		                                        <span>
		                                            <a class="pull-right" href="javascript:void(0)" ng-click="editField('phoneNo')">
		                                                <i class="fa fa-pencil"></i>
		                                            </a>
		                                        </span>
		                                    </dd>
		                                    <hr ng-show="!isAuthorized('ROLE_FARMER') && !isAuthorized('ROLE_CUSTOMER') && !isAuthorized('ROLE_RETAILER')"/>
		                                    
		                                    <dt><strong>Mobile Number </strong></dt>
		                                    <dd>
		                                        <span ng-if="!fields.mobileNo">{{user.mobileNo}}</span>
		                                        <div ng-if="fields.mobileNo" class="row col-lg-8">
		                                        	<div class="row">
		                                        		<div class="col-lg-12" ng-class="{ 'state-error' : userFrm.mobileNo.$invalid && userFrm.mobileNo.$touched }">
		                                        			<input type="text" name="mobileNo" ng-model="user.mobileNo" class="form-control" default-country="in" international-phone-number required>
		                                        			<em class="settings-error" ng-if="userFrm.mobileNo.$error.required && userFrm.mobileNo.$touched">Phone No. is required</em>
															<em class="settings-error" ng-if="userFrm.mobileNo.$error.internationalPhoneNumber && userFrm.mobileNo.$touched">Phone No. is not valid</em>
		                                        		</div>
		                                        	</div>
								                    <div class="btn-group pull-right">
								                        <button class="btn-u" type="button" ng-click="done('mobileNo')"><i class="fa fa-check"></i></button>
								                        <button class="btn-u btn-u-red btn-u-red-split" type="button" ng-click="cancel('mobileNo')">
								                            <i class="fa fa-times"></i>                            
								                        </button>
								                  </div>
		                                        </div>
		                                        <span>
		                                            <a class="pull-right" href="javascript:void(0)" ng-click="editField('mobileNo')">
		                                                <i class="fa fa-pencil"></i>
		                                            </a>
		                                        </span>
		                                    </dd>
		                                    <hr/>
		                                    
		                                    <dt><strong>Address </strong></dt>
		                                    <dd>
		                                        <span ng-if="!fields.address">{{user.address.city}}, {{user.address.country.name}}</span>
		                                        <div ng-if="fields.address" class="row col-lg-8">
		                                        	<input type="text" ng-model="user.address" class="form-control">
								                    <div class="btn-group pull-right">
								                        <button class="btn-u" type="button" ng-click="done('address')"><i class="fa fa-check"></i></button>
								                        <button class="btn-u btn-u-red btn-u-red-split" type="button" ng-click="cancel('address')">
								                            <i class="fa fa-times"></i>
								                        </button>
								                 	</div>
		                                        </div>
		                                        <span>
		                                            <a class="pull-right" href="javascript:void(0)" ng-click="editAddress()">
		                                                <i class="fa fa-pencil"></i>
		                                            </a>
		                                        </span>
		                                    </dd>
		                                    <hr>
		                                    <dt><strong>Language </strong></dt>
		                                    <dd>
		                                        <span ng-if="!fields.language">{{user.defaultLanguage.name}}</span>
		                                        <div ng-if="fields.language" class="row col-lg-8">
		                                        	<input type="text" ng-model="user.defaultLanguage.name" class="form-control" placeholder="Search by name"
		                                        		uib-typeahead="language as language.name for language in searchLanguage($viewValue)" 
		                                				typeahead-popup-template-url="custom-popup-template.component.html" 
		                                				typeahead-on-select="selectLanguage($item, $model, $label)" typeahead-wait-ms="1000">
								                    <div class="btn-group pull-right">
								                        <button class="btn-u" type="button" ng-click="done('language')"><i class="fa fa-check"></i></button>
								                        <button class="btn-u btn-u-red btn-u-red-split" type="button" ng-click="cancel('language')">
								                            <i class="fa fa-times"></i>
								                        </button>
								                  </div>
		                                        </div>
		                                        <span>
		                                            <a class="pull-right" href="javascript:void(0)" ng-click="editField('language')">
		                                                <i class="fa fa-pencil"></i>
		                                            </a>
		                                        </span>
		                                    </dd>
		                                    <hr>
		                                </dl>
	                                </form>
                            	</div>
						    </tab>
						    <tab heading="Change Password">
						    	<div class="profile-edit tab-pane fade in active">
						    		<form name="changePasswdFrm" role="form" class="sky-form" novalidate>
		                                <h2 class="heading-md">Manage your Security Settings</h2>
		                                <p>Change your password.</p>
		                                <br>
		                                
		                                <div class="alert alert-success fade in alert-dismissable" ng-if="changePasswdFrm.message">
			                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                                {{changePasswdFrm.message}}
			                            </div>
		                                <br>
		                                
	                                    <dl class="dl-horizontal">
	                                        <dt>Current Password</dt>
	                                        <dd>
	                                            <section>
	                                                <label class="input" ng-class="{ 'state-error' : changePasswdFrm.oldPasswd.$invalid && changePasswdFrm.oldPasswd.$touched }">
	                                                    <i class="icon-append fa fa-lock"></i>
	                                                    <input type="password" name="oldPasswd" ng-model="changePasswd.oldPasswd" placeholder="Current Password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required/>
	                                                    <b class="tooltip tooltip-bottom-right">Needed to verify your current credentials</b>
	                                                </label>
	                                                
	                                                <em class="settings-error" ng-if="changePasswdFrm.oldPasswd.$error.required && changePasswdFrm.oldPasswd.$touched">Old Password is required.</em>
													<em class="settings-error" ng-if="changePasswdFrm.oldPasswd.$error.minlength && changePasswdFrm.oldPasswd.$touched">Old Password is too short.</em>
													<em class="settings-error" ng-if="changePasswdFrm.oldPasswd.$error.pattern && changePasswdFrm.oldPasswd.$touched">Old Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
													<em class="settings-error" ng-if="changePasswdFrm.oldPasswd.$error.server && changePasswdFrm.oldPasswd.$touched">{{changePasswdFrm.oldPasswd.$error.message}}</em>
	                                            </section>
	                                        </dd>
	                                        <dt>Enter your password</dt>
	                                        <dd>
	                                            <section>
	                                                <label class="input" ng-class="{ 'state-error' : changePasswdFrm.newPasswd.$invalid && changePasswdFrm.newPasswd.$touched }">
	                                                    <i class="icon-append fa fa-lock"></i>
	                                                    <input type="password" name="newPasswd" ng-model="changePasswd.newPasswd" placeholder="Password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
	                                                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
	                                                </label>
	                                                
	                                                <em class="settings-error" ng-if="changePasswdFrm.newPasswd.$error.required && changePasswdFrm.newPasswd.$touched">New Password is required.</em>
													<em class="settings-error" ng-if="changePasswdFrm.newPasswd.$error.minlength && changePasswdFrm.newPasswd.$touched">New Password is too short.</em>
													<em class="settings-error" ng-if="changePasswdFrm.newPasswd.$error.pattern && changePasswdFrm.newPasswd.$touched">Old Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
													<em class="settings-error" ng-if="changePasswdFrm.newPasswd.$error.server && changePasswdFrm.newPasswd.$touched">{{changePasswdFrm.newPasswd.$error.message}}</em>
	                                            </section>
	                                        </dd>
	                                        <dt>Confirm Password</dt>
	                                        <dd>
	                                            <section>
	                                                <label class="input" ng-class="{ 'state-error' : changePasswdFrm.confirmNewPasswd.$invalid && changePasswdFrm.confirmNewPasswd.$touched }">
	                                                    <i class="icon-append fa fa-lock"></i>
	                                                    <input type="password" name="confirmNewPasswd" ng-model="changePasswd.confirmNewPasswd" placeholder="Confirm password" equals="{{changePasswd.newPasswd}}" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" required>
	                                                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
	                                                </label>
	                                                
	                                                <em class="settings-error" ng-if="changePasswdFrm.confirmNewPasswd.$error.required && changePasswdFrm.confirmNewPasswd.$touched">Confirm Password is required.</em>
													<em class="settings-error" ng-if="changePasswdFrm.confirmNewPasswd.$error.minlength && changePasswdFrm.confirmNewPasswd.$touched">Confirm Password is too short.</em>
													<em class="settings-error" ng-if="changePasswdFrm.confirmNewPasswd.$error.equals && changePasswdFrm.confirmNewPasswd.$touched">Passwords are not identical</em>
													<em class="settings-error" ng-if="changePasswdFrm.confirmNewPasswd.$error.pattern && changePasswdFrm.confirmNewPasswd.$touched">Confirm Password should be of 8 characters and It should contain at least 1 alphabet and 1 number.</em>
													<em class="settings-error" ng-if="changePasswdFrm.confirmNewPasswd.$error.server && changePasswdFrm.confirmNewPasswd.$touched">{{changePasswdFrm.confirmNewPasswd.$error.message}}</em>
	                                            </section>
	                                        </dd>
	                                    </dl>
	                                    <button type="button" class="btn-u btn-u-default" ng-click="reset(changePasswdFrm)">Reset</button>
	                                    <button class="btn-u" type="button" ng-click="changePassword(changePasswdFrm)">Change Password</button>
	                                </form>
	                            </div>
						    </tab>
						    <!-- 
						    <tab heading="Payment Options">
						    	<div class="profile-edit tab-pane fade in">
	                                <h2 class="heading-md">Manage your Payment Settings</h2>
	                                <p>Below are the payment options for your account.</p>
	                                <br>

	                            	<accordion close-others="true" class="acc-v1">
									    <accordion-group heading="Bank Account" is-open="true">
									      	<form class="sky-form" id="sky-form" action="#">
			                                    <section>
			                                        <div class="inline-group">
			                                            <label class="radio"><input type="radio" checked="" name="radio-inline"><i class="rounded-x"></i>Visa</label>
			                                            <label class="radio"><input type="radio" name="radio-inline"><i class="rounded-x"></i>MasterCard</label>
			                                            <label class="radio"><input type="radio" name="radio-inline"><i class="rounded-x"></i>PayPal</label>
			                                        </div>
			                                    </section>
			
			                                    <section>
			                                        <label class="input">
			                                            <input type="text" name="name" placeholder="Name on card">
			                                        </label>
			                                    </section>
			
			                                    <div class="row">
			                                        <section class="col col-10">
			                                            <label class="input">
			                                                <input type="text" name="card" id="card" placeholder="Card number">
			                                            </label>
			                                        </section>
			                                        <section class="col col-2">
			                                            <label class="input">
			                                                <input type="text" name="cvv" id="cvv" placeholder="CVV2">
			                                            </label>
			                                        </section>
			                                    </div>
			
			                                    <div class="row">
			                                        <label class="label col col-4">Expiration date</label>
			                                        <section class="col col-5">
			                                            <label class="select">
			                                                <select name="month">
			                                                    <option disabled="" selected="" value="0">Month</option>
			                                                    <option value="1">January</option>
			                                                    <option value="1">February</option>
			                                                    <option value="3">March</option>
			                                                    <option value="4">April</option>
			                                                    <option value="5">May</option>
			                                                    <option value="6">June</option>
			                                                    <option value="7">July</option>
			                                                    <option value="8">August</option>
			                                                    <option value="9">September</option>
			                                                    <option value="10">October</option>
			                                                    <option value="11">November</option>
			                                                    <option value="12">December</option>
			                                                </select>
			                                                <i></i>
			                                            </label>
			                                        </section>
			                                        <section class="col col-3">
			                                            <label class="input">
			                                                <input type="text" placeholder="Year" id="year" name="year">
			                                            </label>
			                                        </section>
			                                    </div>
			                                    <button type="button" class="btn-u btn-u-default">Cancel</button>
			                                    <button class="btn-u" type="submit">Save Changes</button>
			                                </form>
									    </accordion-group>
									    <accordion-group heading="Credit Card">
									    	<form class="sky-form" id="sky-form" action="#">
			                                    <section>
			                                        <div class="inline-group">
			                                            <label class="radio"><input type="radio" checked="" name="radio-inline"><i class="rounded-x"></i>Visa</label>
			                                            <label class="radio"><input type="radio" name="radio-inline"><i class="rounded-x"></i>MasterCard</label>
			                                            <label class="radio"><input type="radio" name="radio-inline"><i class="rounded-x"></i>PayPal</label>
			                                        </div>
			                                    </section>
			
			                                    <section>
			                                        <label class="input">
			                                            <input type="text" name="name" placeholder="Name on card">
			                                        </label>
			                                    </section>
			
			                                    <div class="row">
			                                        <section class="col col-10">
			                                            <label class="input">
			                                                <input type="text" name="card" id="card" placeholder="Card number">
			                                            </label>
			                                        </section>
			                                        <section class="col col-2">
			                                            <label class="input">
			                                                <input type="text" name="cvv" id="cvv" placeholder="CVV2">
			                                            </label>
			                                        </section>
			                                    </div>
			
			                                    <div class="row">
			                                        <label class="label col col-4">Expiration date</label>
			                                        <section class="col col-5">
			                                            <label class="select">
			                                                <select name="month">
			                                                    <option disabled="" selected="" value="0">Month</option>
			                                                    <option value="1">January</option>
			                                                    <option value="1">February</option>
			                                                    <option value="3">March</option>
			                                                    <option value="4">April</option>
			                                                    <option value="5">May</option>
			                                                    <option value="6">June</option>
			                                                    <option value="7">July</option>
			                                                    <option value="8">August</option>
			                                                    <option value="9">September</option>
			                                                    <option value="10">October</option>
			                                                    <option value="11">November</option>
			                                                    <option value="12">December</option>
			                                                </select>
			                                                <i></i>
			                                            </label>
			                                        </section>
			                                        <section class="col col-3">
			                                            <label class="input">
			                                                <input type="text" placeholder="Year" id="year" name="year">
			                                            </label>
			                                        </section>
			                                    </div>
			                                    <button type="button" class="btn-u btn-u-default">Cancel</button>
			                                    <button class="btn-u" type="submit">Save Changes</button>
			                                </form>
									    </accordion-group>
									</accordion>
	                                
	                    
	                            </div>
						    </tab>
						     -->
						    <tab heading="Notification Settings">
	                            <div class="profile-edit tab-pane fade in">
	                                <h2 class="heading-md">Manage your Notifications.</h2>
	                                <p>Below are the notifications you may manage.</p>
	                                <br>
	                                <form class="sky-form" id="sky-form3" action="#">
	                                    <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Email notification</label>
	                                    <hr>
	                                    <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me email notification when a user shows interest in my product</label>
	                                    <hr>
	                                    <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me SMS notification when a user shows interest in my product</label>
	                                    <hr>
	                                    <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me SMS notification when a user demands an interested product</label>
	                                    <hr>
	                                    <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me SMS notification when product price changes</label>
	                                    <hr>
	                                    <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Receive our monthly newsletter</label>
	                                    <hr>
	                                    <button type="button" class="btn-u btn-u-default">Reset</button>
	                                    <button class="btn-u" type="submit">Save Changes</button>
	                                </form>
	                            </div>
						    </tab>
						  </tabset>
                    </div>
                </div>
            </div>
            <!-- End Profile Content -->
        </div><!--/end row-->
    </div>
    <!--=== End Profile ===-->

    <script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select company from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>