	
	<div class="modal-content">
        <div class="modal-body">            
			<form name="verifyMobileNoFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" ng-submit="verifyMobileNoFrm.$submitted = true; submit(verifyMobileNoFrm.$valid)" novalidate>
				
				<div class="reg-header">
                    <p>Please verify your mobile no. by entering the OTP(One-Time Password)</p>
                </div>
			
				<div class="row">
					<div class="col col-lg-12">
						<label class="label">OTP(One-Time Password):</label>
                        <label class="input" ng-class="{ 'state-error' : verifyMobileNoFrm.oneTimePassword.$invalid && verifyMobileNoFrm.oneTimePassword.$touched }">
                        	<input type="text" name="oneTimePassword" ng-model="oneTimePassword" class="form-control" required/>
                        </label>
                        <em class="error-message" ng-if="verifyMobileNoFrm.oneTimePassword.$error.required && verifyMobileNoFrm.oneTimePassword.$touched">OTP(One-Time Password) is required.</em>
					</div>
                </div>
                
                <div class="row margin-top-20">
                	<div class="col col-8"></div>
                	<div class="col col-2 margin-top-20">
                		<div class="pull-right">
                			<span class="input-group-btn">
                            	<button ng-click="cancel()" type="button" class="btn btn-default btn-u-md">Cancel</button>
                            </span>
                		</div>
                	</div>
                	<div class="col col-2 margin-top-20">
                		<div class="pull-right">
                			<span class="input-group-btn">
                            	<button type="submit" class="btn-u btn-u-md">Verify</button>
                            </span>
                		</div>
                	</div>
                </div>
             
	        </form>
        </div>
    </div>