	
    <!--=== Container Part ===-->
    <div class="container content-md">
        <ul class="row block-grid-v2">
            <li class="col-md-3 col-sm-6 md-margin-bottom-30">
                <div class="easy-block-v1">
                	<a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid-category/demand' : 'grid-category/product'}}/539a69b0-63c9-49de-a995-f64ef7ea0987">
                    	<!-- <img class="img-responsive" src="assets/img/386281_small.jpg" alt=""> -->
                    	<img class="img-responsive" src="assets/img/farming/DSCN0393.JPG" alt="">
                    </a>
                    <div class="easy-block-v1-badge rgba-purple">Cereals &amp; pulses</div>
                </div>
                <div class="block-grid-v2-info rounded-bottom">
                    <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid-category/demand' : 'grid-category/product'}}/539a69b0-63c9-49de-a995-f64ef7ea0987">Cereals &amp; pulses</a></h3>
                    <p>Best and top quality wheat, rice, barley and many more from all over the India at the best price..</p>
                    <ul class="list-inline star-vote">
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star-half-o"></i></li>
                    </ul>
                </div>
            </li>
            <li class="col-md-3 col-sm-6 md-margin-bottom-30">
                <div class="easy-block-v1">
                	<a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid-category/demand' : 'grid-category/product'}}/2710b7a6-bf08-4c27-b4a4-410b3d2212b2">
                    	<!-- <img class="img-responsive" src="assets/img/327162.jpg" alt=""> -->
                    	<img class="img-responsive" src="assets/img/farming/DSCN0319.JPG" alt="">
                    </a>
                    <div class="easy-block-v1-badge rgba-blue">Fruits</div>
                </div>
                <div class="block-grid-v2-info rounded-bottom">
                    <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid-category/demand' : 'grid-category/product'}}/2710b7a6-bf08-4c27-b4a4-410b3d2212b2">Fruits</a></h3>
                    <p>Best quality seasonal and non seasonal fruits collection from all over the India..</p>
                    <ul class="list-inline star-vote">
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star-half-o"></i></li>
                        <li><i class="color-green fa fa-star-o"></i></li>
                    </ul>
                </div>
            </li>
            <li class="col-md-3 col-sm-12">
                <div class="easy-block-v1">
                	<a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid-category/demand' : 'grid-category/product'}}/ed5d3e14-01f0-4c75-aa0e-8d74b245cb6e">
                    	<!-- <img class="img-responsive" src="assets/img/5_small.jpeg" alt=""> -->
                    	<img class="img-responsive" src="assets/img/farming/DSCN0250.JPG" alt="">
                    </a>
                    <div class="easy-block-v1-badge rgba-default">Vegetables </div>
                </div>
                <div class="block-grid-v2-info rounded-bottom">
                    <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid-category/demand' : 'grid-category/product'}}/ed5d3e14-01f0-4c75-aa0e-8d74b245cb6e">Vegetables </a></h3>
                    <p>Fresh and pure vegetables directly picked from farmers get delivered at your door step..</p>
                    <ul class="list-inline star-vote">
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star-o"></i></li>
                    </ul>
                </div>
            </li>
            <li class="col-md-3 col-sm-12">
                <div class="easy-block-v1">
                	<a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid-category/demand' : 'grid-category/product'}}/00c95745-29ba-413f-a117-ffdb87a99e5a">
                    	<img class="img-responsive" src="assets/img/6_small.jpg" alt="">
                    </a>
                    <div class="easy-block-v1-badge rgba-red">Spice &amp; herbs</div>
                </div>
                <div class="block-grid-v2-info rounded-bottom">
                    <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid-category/demand' : 'grid-category/product'}}/00c95745-29ba-413f-a117-ffdb87a99e5a">Spice &amp; herbs</a></h3>
                    <p>Vocac delivering best taste of India to our customers at the genuine price..</p>
                    <ul class="list-inline star-vote">
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star"></i></li>
                        <li><i class="color-green fa fa-star-o"></i></li>
                    </ul>
                </div>
            </li>
            
        </ul>
    </div><!--/container-->
    <!--=== Container Part ===-->

    <!--=== Parallax Counter ===-->
    <div class="parallax-counter-v2 parallaxBg1">
        <div class="container">
            <ul class="row list-row">
                <li class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30">
                    <div class="counters rounded">
                        <span class="counter">{{37193 + bleugrain.farmers}}</span>
                        <h4>Farmers</h4>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30">
                    <div class="counters rounded">
                        <span class="counter">{{1583 + bleugrain.brokers}}</span>
                        <h4>Brokers</h4>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12 sm-margin-bottom-30">
                    <div class="counters rounded">
                        <span class="counter">{{1714 + bleugrain.retailers}}</span>
                        <h4>Retailers</h4>
                    </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div class="counters rounded">
                        <span class="counter">{{392 + bleugrain.companies}}</span>
                        <h4>Supermarkets</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--=== End Parallax Counter ===-->

    <!--=== Content ===-->
    <div class="container content">
        <!-- Top Categories -->
        <div class="headline"><h2>Top Categories</h2></div>
        <div class="row category margin-bottom-20">
            <!-- Info Blocks -->
            <div class="col-md-4 col-sm-6">
                <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                    <i class="icon-custom icon-sm rounded-x icon-bg-sea icon-line icon-badge"></i>
                    <div class="content-boxes-in-v3">
                        <h3><a href="/#/search/grid/products"> Top 100 products</a></h3>
                        <p>Top 100 fresh products searched on Vocac and their reviews from our customers</p>
                    </div>
                </div>
                <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                    <i class="icon-custom icon-sm rounded-x icon-bg-red fa fa-hdd-o"></i>
                    <div class="content-boxes-in-v3">
                        <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid-category/demand' : 'grid-category/product'}}/539a69b0-63c9-49de-a995-f64ef7ea0987"> Cereals &amp; pulses</a> <small>({{10837 + bleugrain['1']}})</small></h3>
                        <p>Best quality staple food with great nutrients and proteins available in all over India</p>
                    </div>
                </div>
                <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                    <i class="icon-custom icon-sm rounded-x icon-bg-brown fa fa-desktop"></i>
                    <div class="content-boxes-in-v3">
                        <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid-category/demand' : 'grid-category/product'}}/115dac2f-5c31-46bc-a909-e51efeba9769"> Dry fruits</a> <small>({{462 + bleugrain['2']}})</small></h3>
                        <p>Everyday use of Dry Fruits &amp; Nuts keeps diseases and stress away, improves Hemoglobin.</p>
                    </div>
                </div>
                <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                    <i class="icon-custom icon-sm rounded-x icon-bg-green icon-line icon-graduation"></i>
                    <div class="content-boxes-in-v3">
                        <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid-category/demand' : 'grid-category/product'}}/00c95745-29ba-413f-a117-ffdb87a99e5a"> Spices &amp; herbs</a> <small>({{396 + bleugrain['3']}})</small></h3>
                        <p>Order best taste of India online and got delivered directly from the producers of it</p>
                    </div>
                </div>
                <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                    <i class="icon-custom icon-sm rounded-x icon-bg-dark fa fa-film"></i>
                    <div class="content-boxes-in-v3">
                        <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid-category/demand' : 'grid-category/product'}}/ed5d3e14-01f0-4c75-aa0e-8d74b245cb6e"> Vegetables</a> <small>({{156 + bleugrain['4']}})</small></h3>
                        <p>Buy fresh vegetables online which will get delivered to you directly from farmers</p>
                    </div>
                </div>
            </div>
            <!-- End Info Blocks -->

            <!-- Info Blocks -->
            <div class="col-md-4 col-sm-6 md-margin-bottom-40">
                <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                    <i class="icon-custom icon-sm rounded-x icon-bg-blue fa fa-bell-o"></i>
                    <div class="content-boxes-in-v3">
                        <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid/demand' : 'grid/product'}}/wheat"> Wheat</a> <small>(324)</small></h3>
                        <p>Top quality wheat from Punjab, Haryana, Uttar Pradesh and Madhya Pradesh</p>
                    </div>
                </div>
                <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                    <i class="icon-custom icon-sm rounded-x icon-bg-yellow fa fa-thumbs-o-up"></i>
                    <div class="content-boxes-in-v3">
                        <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid/demand' : 'grid/product'}}/paddy"> Rice</a> <small>(4053)</small></h3>
                        <p>Top varieties of basmati rice, white rice, white long grain rice and others from all over the India</p>
                    </div>
                </div>
                <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                    <i class="icon-custom icon-sm rounded-x icon-bg-aqua icon-line icon-playlist"></i>
                    <div class="content-boxes-in-v3">
                        <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid/demand' : 'grid/product'}}/pigeon pea"> Pigeon pea</a> <small>(268)</small></h3>
                        <p>Best quality Pigeon peas from Maharashtra, Karnataka, Tamil Nadu, Andhra Pradesh, and Kerala </p>
                    </div>
                </div>
                <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                    <i class="icon-custom icon-sm rounded-x icon-bg-purple fa fa-lightbulb-o"></i>
                    <div class="content-boxes-in-v3">
                        <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid/demand' : 'grid/product'}}/almonds"> Almonds</a> <small>(703)</small></h3>
                        <p>Top quality almonds from Maharashtra, Karnataka, Tamil Nadu, Andhra Pradesh, and Kerala</p>
                    </div>
                </div>
                <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                    <i class="icon-custom icon-sm rounded-x icon-bg-orange fa fa-area-chart"></i>
                    <div class="content-boxes-in-v3">
                        <h3><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid/demand' : 'grid/product'}}/others"> Others</a> <small>(1296)</small></h3>
                        <p>You can find many other products also like Dry Fruits, Vegetables, Cereals &amp; Pulses and many more</p>
                    </div>
                </div>
            </div>
            <!-- End Info Blocks -->

            <!-- Begin Section-Block -->
            <div class="col-md-4 col-sm-12">
                <div class="section-block">
                    <div class="text-center">
                        <i class="rounded icon-custom icon-sm icon-bg-darker line-icon icon-graph"></i>
                        <h2>Popular Search</h2>
                        <p>Following categories are the most popular search categories on Vocac. <a href="javascript:void(0)">View more</a></p>
                    </div>

                    </br>

                    <!-- Progress Bar -->
                    <h3 class="heading-xs no-top-space">Cereals &amp; pulses <span class="pull-right">88%</span></h3>
                    <div class="progress progress-u progress-xxs">
                        <div style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar" class="progress-bar progress-bar-u">
                        </div>
                    </div>

                    <h3 class="heading-xs no-top-space">Dry fruits <span class="pull-right">76%</span></h3>
                    <div class="progress progress-u progress-xxs">
                        <div style="width: 76%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="76" role="progressbar" class="progress-bar progress-bar-u">
                        </div>
                    </div>

                    <h3 class="heading-xs no-top-space">Spices &amp; herbs <span class="pull-right">97%</span></h3>
                    <div class="progress progress-u progress-xxs">
                        <div style="width: 97%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="97" role="progressbar" class="progress-bar progress-bar-u">
                        </div>
                    </div>
                    <!-- End Progress Bar -->

                    <div class="clearfix"></div>

                    <div class="section-block-info">
                        <ul class="list-inline tags-v1">
                            <li><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid/demand' : 'grid/product'}}/wheat">#Wheat</a></li>
                            <li><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid/demand' : 'grid/product'}}/rice">#Rice</a></li>
                            <li><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid/demand' : 'grid/product'}}/pigeon pea">#Pigeon pea</a></li>
                            <li><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid/demand' : 'grid/product'}}/red lentils">#Red lentils</a></li>
                            <li><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid/demand' : 'grid/product'}}/green gram">#Green gram</a></li>
                            <li><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid/demand' : 'grid/product'}}/almonds">#Almonds</a></li>
                            <li><a href="/#/search/{{isAuthorized('ROLE_FARMER') ? 'grid/demand' : 'grid/product'}}/elaichi">#Elaichi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Section-Block -->
        </div>
        <!-- End Top Categories -->
    </div><!--/container-->
    <!--=== End Content ===-->

    <!--=== Testimonials v6 ===-->
    <div class="bg-color-light">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h2>WHAT PEOPLE SAY</h2>
                <p>you can find here some of the comments from our customers. <br>
                People have been appreciated our efforts to provide quality service to them at the best price </p>
            </div>

            <!-- Testimonials Wrap -->
            <div class="testimonials-v6 testimonials-wrap">
                <div class="row margin-bottom-50">
                    <div class="col-md-6 md-margin-bottom-50">
                        <div class="testimonials-info rounded-bottom">
                            <img class="rounded-x" src="assets/img/testimonials/img5.jpg" alt="">
                            <div class="testimonials-desc">
                                <p>Best quality Cereals collection from all over the India. On Vocac, Its very easy to find fresh and non polished Cereals &amp; Pulses at the best price.</p>
                                <strong>Evan Bohringer</strong>
                                <span>Broker</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonials-info rounded-bottom">
                            <!-- <img class="rounded-x" src="assets/img/testimonials/img6.jpg" alt=""> -->
                            <img class="rounded-x" src="assets/img/farming/DSCN0366.JPG" alt="">
                            <div class="testimonials-desc">
                                <p>Vocac made it very easy to me to sell my products anywhere in India at the best price. Also their service is very good.</p>
                                <strong>Mahavir Singh</strong>
                                <span>Farmer</span>
                            </div>
                        </div>
                    </div>
                </div><!--/end row-->

                <div class="row margin-bottom-20">
                    <div class="col-md-6 md-margin-bottom-50">
                        <div class="testimonials-info rounded-bottom">
                            <img class="rounded-x" src="assets/img/testimonials/img3.jpg" alt="">
                            <div class="testimonials-desc">
                                <p>Vocac made it very easy to me to get the quality grains from anywhere in India. their prices are also very genuine.</p>
                                <strong>Alice Williams</strong>
                                <span>Retailer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonials-info rounded-bottom">
                            <img class="rounded-x" src="assets/img/testimonials/img2.jpg" alt="">
                            <div class="testimonials-desc">
                                <p>For my company, I needed 100 mt grains in 10 days and they delivered it before time. I appreciate their service.</p>
                                <strong>Jane Wearne</strong>
                                <span>Marketing Manager</span>
                            </div>
                        </div>
                    </div>
                </div><!--/end row-->
            </div>
            <!-- End Testimonials Wrap -->
        </div><!--/end container-->
    </div>
    <!--=== End Testimonials v6 ===-->
