<div class="modal-content">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
		<h4 class="modal-title" id="myModalLabel">Delete Bank Account?</h4>
	</div>
	<div class="modal-body">
		<div class="alert alert-danger fade in">
			<h4>Do you really want to delete this bank account?</h4>
			<p>Please note that once you have delete this account, you won't be able to use this account for any transaction. and it will take extra time setup this account if you need to use it in future. </p>
		</div>
	</div>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn-u" type="button" ng-click="ok()">Proceed</button>
	</div>
</div>