<div class="modal-content">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
		<h4 class="modal-title" id="myModalLabel">Edit Bank Account</h4>
	</div>
	<form name="bankAccountFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
			<div class="row">
				<section class="col col-8">
					<label for="paymentCardId">Bank Name </label>
					<label class="select" ng-class="{ 'state-error' : bankAccountFrm.bankId.$invalid && (bankAccountFrm.$submitted || bankAccountFrm.bankId.$touched) }">
						<select name="bankId" data-ng-options="bank.name for bank in banks track by bank.id" data-ng-model="bankAccount.bank" aria-describedby="basic-addon1" required>
				     	</select> 
						<i></i>
					</label> 
					<em ng-if="bankAccountFrm.bankId.$error.required && (bankAccountFrm.$submitted || bankAccountFrm.bankId.$touched)">Bank Name is required.</em> 
					<em ng-if="bankAccountFrm.bankId.$error.server && (bankAccountFrm.$submitted || bankAccountFrm.bankId.$touched)">{{bankAccountFrm.paymentCardId.$error.message}}</em>
				</section>
			</div>
			<div class="row">
				<section class="col col-8">
					<label for="number">Account Number </label>
					<label class="input" ng-class="{ 'state-error' : bankAccountFrm.account.$invalid && (bankAccountFrm.$submitted || bankAccountFrm.account.$touched) }">
						<input type="text" name="account" class="form-control" ng-model="bankAccount.account" ui-mask="XXXX-XXXX-XXXX-9999" ng-disabled="true" aria-describedby="basic-addon1" required> 
						<i></i>
					</label> 
					<em ng-if="bankAccountFrm.account.$error.required && (bankAccountFrm.$submitted || bankAccountFrm.account.$touched)">Account Number is required.</em> 
					<em ng-if="bankAccountFrm.account.$error.server && (bankAccountFrm.$submitted || bankAccountFrm.account.$touched)">{{bankAccountFrm.account.$error.message}}</em>
				</section>
			</div>
			<div class="row">
				<section class="col col-8">
					<label for="owner">Account Owner </label>
					<label class="input" ng-class="{ 'state-error' : bankAccountFrm.owner.$invalid && (bankAccountFrm.$submitted || bankAccountFrm.owner.$touched) }">
						<input type="text" name="owner" class="form-control" ng-model="bankAccount.owner" placeholder="Account Holder" aria-describedby="basic-addon1" required> 
						<i></i>
					</label> 
					<em ng-if="bankAccountFrm.owner.$error.required && (bankAccountFrm.$submitted || bankAccountFrm.owner.$touched)">Card Owner is required.</em> 
					<em ng-if="bankAccountFrm.owner.$error.server && (bankAccountFrm.$submitted || bankAccountFrm.owner.$touched)">{{bankAccountFrm.owner.$error.message}}</em>
				</section>
			</div>
			
			<div class="row">
				<section class="col col-8">
					<label for="owner">IFSC Code </label>
					<label class="input" ng-class="{ 'state-error' : bankAccountFrm.swift.$invalid && (bankAccountFrm.$submitted || bankAccountFrm.swift.$touched) }">
						<input type="text" name="swift" class="form-control" ng-model="bankAccount.swift" placeholder="IFSC Code" aria-describedby="basic-addon1" required>
						<i></i>
					</label> 
					<em ng-if="bankAccountFrm.swift.$error.required && (bankAccountFrm.$submitted || bankAccountFrm.swift.$touched)">IFSC Code is required.</em> 
					<em ng-if="bankAccountFrm.swift.$error.server && (bankAccountFrm.$submitted || bankAccountFrm.swift.$touched)">{{bankAccountFrm.owner.$error.message}}</em>
				</section>
			</div>
		
			<div class="row">
				<section class="col col-12">
					<input type="checkbox" name="defaultBilling" ng-model="bankAccount.defaultBilling">
					<small>Use this bank account for all the future transactions</small>
				</section>
			</div>	
	</form>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn-u" type="button" ng-click="bankAccountFrm.$submitted = true; ok(bankAccountFrm.$valid)">Proceed</button>
	</div>
</div>