	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Add <span ng-if="isAuthorized('ROLE_ADMIN')">company </span>Admin</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="companyAdminFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
                	
					<div class="headline">
						<h3><span ng-if="isAuthorized('ROLE_ADMIN')">Company </span>Admin Details</h3>
					</div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">First Name</label>
                            <label class="input" ng-class="{ 'state-error' : companyAdminFrm.firstName.$invalid && (companyAdminFrm.$submitted || companyAdminFrm.firstName.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="firstName" ng-model="companyAdmin.firstName" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="companyAdminFrm.firstName.$error.required && (companyAdminFrm.$submitted || companyAdminFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="companyAdminFrm.firstName.$error.minlength && (companyAdminFrm.$submitted || companyAdminFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="companyAdminFrm.firstName.$error.pattern && (companyAdminFrm.$submitted || companyAdminFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Last Name</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="lastName" ng-model="companyAdmin.lastName">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Email Address</label>
                            <label class="input" ng-class="{ 'state-error' : companyAdminFrm.email.$invalid && (companyAdminFrm.$submitted || companyAdminFrm.email.$touched) }">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email" ng-model="companyAdmin.email" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
                            </label>
							<em ng-if="companyAdminFrm.email.$error.pattern && (companyAdminFrm.$submitted || companyAdminFrm.email.$touched)">Enter a valid email address.</em>
							<em ng-if="companyAdminFrm.email.$error.server && (companyAdminFrm.$submitted || companyAdminFrm.email.$touched)">{{companyAdminFrm.email.$error.message}}</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Phone No. / Mobile No.</label>
                            <label class="input" ng-class="{ 'state-error' : companyAdminFrm.phoneNo.$invalid && (companyAdminFrm.$submitted || companyAdminFrm.phoneNo.$touched) }">
                                <input type="tel" name="phoneNo" ng-model="companyAdmin.phoneNo" default-country="in" international-phone-number required />
                            </label>
							
							<em ng-if="companyAdminFrm.phoneNo.$error.required && (companyAdminFrm.$submitted || companyAdminFrm.phoneNo.$touched)">Phone No. is required</em>
							<em ng-if="companyAdminFrm.phoneNo.$error.internationalPhoneNumber && (companyAdminFrm.$submitted || companyAdminFrm.phoneNo.$touched)">Phone No. is not valid</em>
                        </section>
                    </div>

                    <div class="row" ng-if="isAuthorized('ROLE_ADMIN')">
						<section class="col col-6">
							<label class="label">Search company:</label>
	                        <label class="input">
	                            <input type="text" name="search" ng-model="keywords" placeholder="Search by name" 
	                            	uib-typeahead="company as company.name for company in searchCompany($viewValue)" 
	                                typeahead-popup-template-url="custom-popup-template.component.html" 
	                                typeahead-on-select="selectCompany($item, $model, $label)" typeahead-wait-ms="1000">
	                        </label>
	                    </section>

                        <section class="col col-6">
							<label class="label">Upload Image</label>
                            <label for="file" class="input input-file">
                                <div class="button"><input type="file" ngf-select ng-model="companyAdminImage" ngf-multiple="false" accept="image/*" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly>
                            </label>
                        </section>

                    </div>

					<div class="headline">
						<h3><span ng-if="isAuthorized('ROLE_ADMIN')">Company </span>Admin Address</h3>
					</div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Address Line 1</label>
                            <label class="input" ng-class="{ 'state-error' : companyAdminFrm.addressLine1.$invalid && (companyAdminFrm.$submitted || companyAdminFrm.addressLine1.$touched) }">
                                <input type="text" name="addressLine1" ng-model="companyAdmin.addressLine1" required>
                            </label>
							<em ng-if="companyAdminFrm.addressLine1.$error.required && (companyAdminFrm.$submitted || companyAdminFrm.addressLine1.$touched)">Address Line 1 is required.</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Address Line 2</label>
                            <label class="input">
                                <input type="text" name="addressLine2" ng-model="companyAdmin.addressLine2">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">City</label>
                            <label class="input" ng-class="{ 'state-error' : companyAdminFrm.city.$invalid && (companyAdminFrm.$submitted || companyAdminFrm.city.$touched) }">
                                <input type="text" name="city" ng-model="companyAdmin.city" required>
                            </label>
							<em ng-if="companyAdminFrm.city.$error.required && (companyAdminFrm.$submitted || companyAdminFrm.city.$touched)">City is required.</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">State</label>
                            <label class="select" ng-class="{ 'state-error' : companyAdminFrm.state.$invalid && (companyAdminFrm.$submitted || companyAdminFrm.state.$touched) }">
								<select name="state" data-ng-options="state.id as state.name for state in states" data-ng-model="companyAdmin.stateId" required>
		                        </select>
								<i></i>
                            </label>
							<em ng-if="companyAdminFrm.state.$error.required && (companyAdminFrm.$submitted || companyAdminFrm.state.$touched)">State is required.</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Country</label>
                            <label class="select" ng-class="{ 'state-error' : companyAdminFrm.country.$invalid && (companyAdminFrm.$submitted || companyAdminFrm.country.$touched) }">
                                <select name="country" data-ng-options="country.id as country.name for country in countries" data-ng-model="companyAdmin.countryId" required>
		                        </select>
                                <i></i>
                            </label>
							<em ng-if="companyAdminFrm.country.$error.required && (companyAdminFrm.$submitted || companyAdminFrm.country.$touched)">Country is required.</em>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-4">
							<label class="label">Zipcode</label>
                            <label class="input" ng-class="{ 'state-error' : companyAdminFrm.zipcode.$invalid && (companyAdminFrm.$submitted || companyAdminFrm.zipcode.$touched) }">
                                <input type="text" name="zipcode" ng-model="companyAdmin.zipcode" ui-mask="999999" required>
                            </label>
							<em ng-if="companyAdminFrm.zipcode.$error.required && (companyAdminFrm.$submitted || companyAdminFrm.zipcode.$touched)">Zipcode is required.</em>
                        </section>
                    </div>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="companyAdminFrm.$submitted = true; ok(companyAdminFrm.$valid)">Proceed</button>
        </div>
    </div>
	
	<script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select company from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>