	
	<div class="modal-content">
        <div class="modal-body">            
			<form name="driverAssignFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" ng-submit="driverAssignFrm.$submitted = true; submit(driverAssignFrm.$valid)" novalidate>
				<div class="row">
					<div class="col col-6">
						<label class="label">Pickup Date:</label>
                        <label class="input">
                        	<i class="icon-append fa fa-calendar"></i>
                            <input type="text" name="pickupDate" ng-model="assignDelivery.pickupDate" prak-datepicker placeholder="Pickup Date">
                        </label>
					</div>
					<div class="col col-6">
						<label class="label">Delivery Date:</label>
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            <input type="text" name="deliveryDate" ng-model="assignDelivery.deliveryDate" prak-datepicker placeholder="Delivery Date">
                        </label>
					</div>
                </div>

			<div class="headline">
				<h3>Pickup Contact Person</h3>
			</div>
			
			<div class="row">
				<section class="col col-6">
					<label class="label">First Name</label>
					<label class="input" ng-class="{ 'state-error' : deliveryAssignFrm.pickupContactFirstName.$invalid && (deliveryAssignFrm.$submitted || deliveryAssignFrm.pickupContactFirstName.$touched) }">
						<input type="text" placeholder="First Name" name="pickupContactFirstName" ng-model="assignDelivery.pickupContact.firstName" class="form-control" required>
					</label>
					<em ng-if="deliveryAssignFrm.firstName.$error.required && (deliveryAssignFrm.$submitted || deliveryAssignFrm.firstName.$touched)">First Name is required.</em> 
					<em ng-if="deliveryAssignFrm.firstName.$error.server && (deliveryAssignFrm.$submitted || deliveryAssignFrm.firstName.$touched)">{{deliveryAssignFrm.firstName.$error.message}}</em>
				</section>
				<section class="col col-6">
					<label class="label">Last Name</label>
					<input type="text" placeholder="Last Name" name="pickupContactLastName" ng-model="assignDelivery.pickupContact.lastName" class="form-control">
				</section>
			</div>

			<div class="row">
				<section class="col col-6">
					<label class="label">Mobile No.</label>
					<label class="input" ng-class="{ 'state-error' : deliveryAssignFrm.pickupContactPhoneNo.$invalid && (deliveryAssignFrm.$submitted || deliveryAssignFrm.pickupContactPhoneNo.$touched) }">
						<input type="tel" name="pickupContactPhoneNo" ng-model="assignDelivery.pickupContact.phoneNo" class="form-control" default-country="in" international-phone-number required>
					</label>
					<em ng-if="deliveryAssignFrm.pickupContactPhoneNo.$error.required && (deliveryAssignFrm.$submitted || deliveryAssignFrm.pickupContactPhoneNo.$touched)">Mobile No. is required.</em> 
					<em ng-if="deliveryAssignFrm.pickupContactPhoneNo.$error.internationalPhoneNumber && (deliveryAssignFrm.$submitted || deliveryAssignFrm.pickupContactPhoneNo.$touched)">Mobile No is not valid</em>
					<em ng-if="deliveryAssignFrm.pickupContactPhoneNo.$error.server && (deliveryAssignFrm.$submitted || deliveryAssignFrm.pickupContactPhoneNo.$touched)">{{deliveryAssignFrm.firstName.$error.message}}</em>
				</section>
				
				<section class="col col-6">
					<label class="label">Alternate Mobile No.</label>
					<label class="input" ng-class="{ 'state-error' : deliveryAssignFrm.pickupContactAlternatePhoneNo.$invalid && (deliveryAssignFrm.$submitted || deliveryAssignFrm.pickupContactAlternatePhoneNo.$touched) }">
						<input type="tel" name="pickupContactAlternatePhoneNo" ng-model="assignDelivery.pickupContact.alternatePhoneNo" class="form-control" default-country="in" international-phone-number required>
					</label>
					<em ng-if="deliveryAssignFrm.pickupContactAlternatePhoneNo.$error.internationalPhoneNumber && (deliveryAssignFrm.$submitted || deliveryAssignFrm.pickupContactAlternatePhoneNo.$touched)">Alternate Mobile No is not valid</em>
				</section>
			</div>

			<div class="headline">
				<h3>Pickup Address</h3>
			</div>

			<div class="row">
				<section class="col col-6">
					<label class="label">Address Line 1</label> 
					<label class="input" ng-class="{ 'state-error' : assignDeliveryFrm.pickupAddressLine1.$invalid && (assignDeliveryFrm.$submitted || assignDeliveryFrm.pickupAddressLine1.$touched) }">
						<input type="text" name="pickupAddressLine1" ng-model="assignDelivery.pickupAddress.addressLine1" required>
					</label> 
					<em ng-if="assignDeliveryFrm.pickupAddress.addressLine1.$error.required && (assignDeliveryFrm.pickupAddress.$submitted || assignDeliveryFrm.pickupAddress.addressLine1.$touched)">Address Line 1 is required.</em>
				</section>

				<section class="col col-6">
					<label class="label">Address Line 2</label> 
					<label class="input">
						<input type="text" name="pickupAddressLine2" ng-model="assignDelivery.pickupAddress.addressLine2">
					</label>
				</section>
			</div>

			<div class="row">
				<section class="col col-6">
					<label class="label">City</label> 
					<label class="input" ng-class="{ 'state-error' : assignDeliveryFrm.pickupAddressCity.$invalid && (assignDeliveryFrm.$submitted || assignDeliveryFrm.pickupAddressCity.$touched) }">
						<input type="text" name="pickupAddressCity" ng-model="assignDelivery.pickupAddress.city" required>
					</label> 
					<em ng-if="assignDeliveryFrm.pickupAddressCity.$error.required && (assignDeliveryFrm.$submitted || assignDeliveryFrm.pickupAddressCity.$touched)">City is required.</em>
				</section>
			</div>

			<div class="row">
				<section class="col col-6">
					<label class="label">State</label> 
					<label class="select" ng-class="{ 'state-error' : assignDeliveryFrm.pickupAddressState.$invalid && (assignDeliveryFrm.$submitted || assignDeliveryFrm.pickupAddressState.$touched) }">
						<select name="pickupAddressState" data-ng-options="state.id as state.name for state in states" data-ng-model="assignDelivery.pickupAddress.stateId" required>
						</select> 
						<i></i>
					</label> 
					<em ng-if="assignDeliveryFrm.pickupAddressState.$error.required && (assignDeliveryFrm.pickupAddress.$submitted || assignDeliveryFrm.pickupAddressState.$touched)">State is required.</em>
				</section>

				<section class="col col-6">
					<label class="label">Country</label> 
					<label class="select" ng-class="{ 'state-error' : assignDeliveryFrm.pickupAddressCountry.$invalid && (assignDeliveryFrm.$submitted || assignDeliveryFrm.pickupAddressCountry.$touched) }">
						<select name="pickupAddressCountry" data-ng-options="country.id as country.name for country in countries" data-ng-model="assignDelivery.pickupAddress.countryId" required>
						</select> 
						<i></i>
					</label> 
					<em ng-if="assignDeliveryFrm.pickupAddressCountry.$error.required && (assignDeliveryFrm.$submitted || assignDeliveryFrm.pickupAddressCountry.$touched)">Country is required.</em>
				</section>
			</div>

			<div class="row">
				<section class="col col-4">
					<label class="label">Zipcode</label> 
					<label class="input" ng-class="{ 'state-error' : assignDeliveryFrm.pickupAddressZipcode.$invalid && (assignDeliveryFrm.$submitted || assignDeliveryFrm.pickupAddressZipcode.$touched) }">
						<input type="text" name="pickupAddressZipcode" ng-model="assignDelivery.pickupAddress.zipcode" ui-mask="999999" required>
					</label> 
					<em ng-if="assignDeliveryFrm.pickupAddressZipcode.$error.required && (assignDeliveryFrm.$submitted || assignDeliveryFrm.pickupAddressZipcode.$touched)">Zipcode is required.</em>
				</section>
			</div>

			<div class="headline">
				<h3>Delivery Contact Person</h3>
			</div>
			
			<div class="row">
				<section class="col col-6">
					<label class="label">First Name</label>
					<label class="input" ng-class="{ 'state-error' : deliveryAssignFrm.deliveryContactFirstName.$invalid && (deliveryAssignFrm.$submitted || deliveryAssignFrm.deliveryContactFirstName.$touched) }">
						<input type="text" placeholder="First Name" name="deliveryContactFirstName" ng-model="assignDelivery.deliveryContact.firstName" class="form-control" required>
					</label>
					<em ng-if="deliveryAssignFrm.firstName.$error.required && (deliveryAssignFrm.$submitted || deliveryAssignFrm.firstName.$touched)">First Name is required.</em> 
					<em ng-if="deliveryAssignFrm.firstName.$error.server && (deliveryAssignFrm.$submitted || deliveryAssignFrm.firstName.$touched)">{{deliveryAssignFrm.firstName.$error.message}}</em>
				</section>
				<section class="col col-6">
					<label class="label">Last Name</label>
					<input type="text" placeholder="Last Name" name="deliveryContactLastName" ng-model="assignDelivery.deliveryContact.lastName" class="form-control">
				</section>
			</div>

			<div class="row">
				<section class="col col-6">
					<label class="label">Mobile No.</label>
					<label class="input" ng-class="{ 'state-error' : deliveryAssignFrm.deliveryContactPhoneNo.$invalid && (deliveryAssignFrm.$submitted || deliveryAssignFrm.deliveryContactPhoneNo.$touched) }">
						<input type="tel" name="deliveryContactPhoneNo" ng-model="assignDelivery.deliveryContact.phoneNo" class="form-control" default-country="in" international-phone-number required>
					</label>
					<em ng-if="deliveryAssignFrm.deliveryContactPhoneNo.$error.required && (deliveryAssignFrm.$submitted || deliveryAssignFrm.deliveryContactPhoneNo.$touched)">Mobile No. is required.</em> 
					<em ng-if="deliveryAssignFrm.deliveryContactPhoneNo.$error.internationalPhoneNumber && (deliveryAssignFrm.$submitted || deliveryAssignFrm.deliveryContactPhoneNo.$touched)">Mobile No is not valid</em>
					<em ng-if="deliveryAssignFrm.deliveryContactPhoneNo.$error.server && (deliveryAssignFrm.$submitted || deliveryAssignFrm.deliveryContactPhoneNo.$touched)">{{deliveryAssignFrm.firstName.$error.message}}</em>
				</section>
				
				<section class="col col-6">
					<label class="label">Alternate Mobile No.</label>
					<label class="input" ng-class="{ 'state-error' : deliveryAssignFrm.deliveryContactAlternatePhoneNo.$invalid && (deliveryAssignFrm.$submitted || deliveryAssignFrm.deliveryContactAlternatePhoneNo.$touched) }">
						<input type="tel" name="deliveryContactAlternatePhoneNo" ng-model="assignDelivery.deliveryContact.alternatePhoneNo" class="form-control" default-country="in" international-phone-number required>
					</label>
					<em ng-if="deliveryAssignFrm.deliveryContactAlternatePhoneNo.$error.internationalPhoneNumber && (deliveryAssignFrm.$submitted || deliveryAssignFrm.deliveryContactAlternatePhoneNo.$touched)">Alternate Mobile No is not valid</em>
				</section>
			</div>

			<div class="headline">
				<h3>Delivery Address</h3>
			</div>

			<div class="row">
				<section class="col col-6">
					<label class="label">Address Line 1</label> 
					<label class="input" ng-class="{ 'state-error' : assignDeliveryFrm.deliveryAddressLine1.$invalid && (assignDeliveryFrm.$submitted || assignDeliveryFrm.deliveryAddressLine1.$touched) }">
						<input type="text" name="deliveryAddressLine1" ng-model="assignDelivery.deliveryAddress.addressLine1" required>
					</label> 
					<em ng-if="assignDeliveryFrm.deliveryAddress.addressLine1.$error.required && (assignDeliveryFrm.deliveryAddress.$submitted || assignDeliveryFrm.deliveryAddress.addressLine1.$touched)">Address Line 1 is required.</em>
				</section>

				<section class="col col-6">
					<label class="label">Address Line 2</label> 
					<label class="input">
						<input type="text" name="deliveryAddressLine2" ng-model="assignDelivery.deliveryAddress.addressLine2">
					</label>
				</section>
			</div>

			<div class="row">
				<section class="col col-6">
					<label class="label">City</label> 
					<label class="input" ng-class="{ 'state-error' : assignDeliveryFrm.deliveryAddressCity.$invalid && (assignDeliveryFrm.$submitted || assignDeliveryFrm.deliveryAddressCity.$touched) }">
						<input type="text" name="deliveryAddressCity" ng-model="assignDelivery.deliveryAddress.city" required>
					</label> 
					<em ng-if="assignDeliveryFrm.deliveryAddressCity.$error.required && (assignDeliveryFrm.$submitted || assignDeliveryFrm.deliveryAddressCity.$touched)">City is required.</em>
				</section>
			</div>

			<div class="row">
				<section class="col col-6">
					<label class="label">State</label> 
					<label class="select" ng-class="{ 'state-error' : assignDeliveryFrm.deliveryAddressState.$invalid && (assignDeliveryFrm.$submitted || assignDeliveryFrm.deliveryAddressState.$touched) }">
						<select name="deliveryAddressState" data-ng-options="state.id as state.name for state in states" data-ng-model="assignDelivery.deliveryAddress.stateId" required>
						</select> 
						<i></i>
					</label> 
					<em ng-if="assignDeliveryFrm.deliveryAddressState.$error.required && (assignDeliveryFrm.deliveryAddress.$submitted || assignDeliveryFrm.deliveryAddressState.$touched)">State is required.</em>
				</section>

				<section class="col col-6">
					<label class="label">Country</label> 
					<label class="select" ng-class="{ 'state-error' : assignDeliveryFrm.deliveryAddressCountry.$invalid && (assignDeliveryFrm.$submitted || assignDeliveryFrm.deliveryAddressCountry.$touched) }">
						<select name="deliveryAddressCountry" data-ng-options="country.id as country.name for country in countries" data-ng-model="assignDelivery.deliveryAddress.countryId" required>
						</select> 
						<i></i>
					</label> 
					<em ng-if="assignDeliveryFrm.deliveryAddressCountry.$error.required && (assignDeliveryFrm.$submitted || assignDeliveryFrm.deliveryAddressCountry.$touched)">Country is required.</em>
				</section>
			</div>

			<div class="row">
				<section class="col col-4">
					<label class="label">Zipcode</label> 
					<label class="input" ng-class="{ 'state-error' : assignDeliveryFrm.deliveryAddressZipcode.$invalid && (assignDeliveryFrm.$submitted || assignDeliveryFrm.deliveryAddressZipcode.$touched) }">
						<input type="text" name="deliveryAddressZipcode" ng-model="assignDelivery.deliveryAddress.zipcode" ui-mask="999999" required>
					</label> 
					<em ng-if="assignDeliveryFrm.deliveryAddressZipcode.$error.required && (assignDeliveryFrm.$submitted || assignDeliveryFrm.deliveryAddressZipcode.$touched)">Zipcode is required.</em>
				</section>
			</div>

			<div class="row margin-top-20">
				<div class="col col-8"></div>
				<div class="col col-2 margin-top-20">
					<div class="pull-right">
						<span class="input-group-btn">
							<button ng-click="cancel()" type="button"
								class="btn btn-default btn-u-md">Cancel</button>
						</span>
					</div>
				</div>
				<div class="col col-2 margin-top-20">
					<div class="pull-right">
						<span class="input-group-btn">
							<button type="submit" class="btn-u btn-u-md">Assign</button>
						</span>
					</div>
				</div>
			</div>

		</form>
       </div>
    </div>
    
    <script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select driver from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>