	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="close()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Product Details</h4>
        </div>
        <div class="modal-body">
            
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-responsive md-margin-bottom-10" src="{{product.defaultImage.filepath}}" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="shop-product-heading">
		                        <h2>{{product.name}} <span ng-if="isAuthorized('ROLE_EMPLOYEE') && !product.consumerProduct">({{product.owner.userType}})</span></h2>
		                    </div>
							
		                    <ul class="list-inline product-ratings margin-bottom-30">
		                        <li><i class="fa fa-star" ng-class="product.totalRating >= 1 ? 'rating-selected' : 'rating'"></i></li>
		                        <li><i class="fa fa-star" ng-class="product.totalRating >= 2 ? 'rating-selected' : 'rating'"></i></li>
		                        <li><i class="fa fa-star" ng-class="product.totalRating >= 3 ? 'rating-selected' : 'rating'"></i></li>
		                        <li><i class="fa fa-star" ng-class="product.totalRating >= 4 ? 'rating-selected' : 'rating'"></i></li>
		                        <li><i class="fa fa-star" ng-class="product.totalRating >= 5 ? 'rating-selected' : 'rating'"></i></li>
		                        <li class="product-review-list">
		                            <span>({{product.reviews.length}}) <a href="/#/reviews">Reviews</a></span>
		                        </li>
		                    </ul>
							
							<!-- <p>{{product.shortDesc}}</p> -->
							
							<!-- <p>{{product.desc}}</p><br/> -->
		                    
		                    <ul class="list-inline shop-product-prices">
		                        <li class="shop-red">Price: &nbsp;{{product.priceWithCurrency}} /{{product.priceUnit.name}}</li>
		                    </ul>
		                    
		                    <h3 class="shop-product-title">Quantity: &nbsp;{{product.quantity}} {{product.quantityUnit.name}}</h3>
		                    <p class="wishlist-category"><strong>Categories:</strong> 
		                    	<a href="/#/search/{{layout}}/{{category.name}}" ng-repeat="category in product.categories">{{category.name}}<span ng-if="!$last">, </span></a>
		                    	<!-- <a href="/#/search/{{layout}}/{{product.category.parentCategory.name}}" ng-if="product.category.parentCategory">{{product.category.parentCategory.name}},</a> <a href="/#/search/{{layout}}/{{product.category.name}}">{{product.category.name}}</a> -->
		                    </p>
		                    <p class="wishlist-category"><strong>Tags:</strong> <a href="/#/search/{{layout}}/{{tag.name}}" ng-repeat="tag in product.tags">{{tag.name}}<span ng-if="!$last">, </span></a></p>
		                </div>
                    </div>
                </div><!--/end row-->
				
				<div class="illustration-v2 margin-bottom-30">
					<data-owl-carousel owl-carousel="" class="margin-top-40">
		            	<div class="item" owl-carousel-item="" ng-repeat="image in product.images">
		                    <a href="javascript:void(0)"><img class="img-responsive" src="{{image.mediumImgPath}}" alt=""></a>
		                    <div class="text-center margin-top-26" ng-if="!image.default">
	                  			<a ng-click="setAsDefault(image)" href="javascript:void(0);" class="btn-u btn-u-default btn-u-xs rounded-2x">Set as default</a>
	                		</div>
		                </div>
		            </data-owl-carousel>
				</div>
				
                <div class="row margin-top-30">
                    <div class="col-sm-6">
                        <div class="headline"><h2>Owner</h2></div>
                        <div class="panel-body">
                        	<h2>{{product.owner.firstName}} {{product.owner.lastName}}</h2>
                            <span>{{product.owner.address.addressLine1}}</span><br/>
                            <span>{{product.owner.address.addressLine2}}</span><br/>
                            <span>{{product.owner.address.city}}, {{product.owner.address.state.name}} ({{product.owner.address.country.name}}) {{product.owner.address.zipcode}}</span><br/>
                            <span>Phone No.: {{product.owner.mobileNo}}</span><br/>
                        </div>
                    </div>
                    
                    <!--Skills-->
                    <div class="col-sm-6">
                    	<div class="headline"><h2>Activities</h2></div>
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>Activity</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td><a href="javascript:void(0)">In Wishlists</a></td>
									<td>{{product.totalWishlists}}</td>
								</tr>
								<tr>
									<td>2</td>
									<td><a href="javascript:void(0)">In GrainCarts</a></td>
									<td>{{product.totalGrainCarts}}</td>
								</tr>
								<tr>
									<td>3</td>
									<td><a href="javascript:void(0)">Viewed By</a></td>
									<td>{{product.totalVisits}}</td>
								</tr>
								<tr>
									<td>4</td>
									<td><a href="javascript:void(0)">Recommeded By</a></td>
									<td>10</td>
								</tr>
	
							</tbody>
						</table>
					</div>
                </div>
                
                <div class="row" ng-show="isAuthorized('ROLE_EMPLOYEE') && product.assignedTo">
                	<div class="col col-lg-12">
                		<div class="headline"><h2>Assigned By</h2></div>
                        <div class="panel-body">
	                        <div id="testimonials-9" class="carousel slide testimonials testimonials-v2 testimonials-bg-default">
	                            <div class="carousel-inner">
	                                <div class="item active">
	                                    <p class="rounded-2x">{{product.comments}}</p>
	                                    <div class="testimonial-info">
	                                        <span class="testimonial-author">
	                                            {{product.assignedBy.firstName}} {{product.assignedBy.lastName}}
	                                            <em>{{product.dateAssigned}}</em>
	                                        </span>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                      </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn-u" type="button" ng-click="close()">&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>
        </div>
    </div>
	
	<script type="text/javascript">
		jQuery(document).ready(function() {
			OwlCarousel.initOwlCarousel();     
		    MasterSliderShowcase2.initMasterSliderShowcase2();
		});
	</script>