	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="close()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Agent Details</h4>
        </div>
        <div class="modal-body profile">
            
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-3">
							<div class="user-img">
                            	<img class="img-responsive md-margin-bottom-10" src="{{agent.defaultImage.filepath}}" alt="">
							</div>
                            <a class="btn-u btn-u-sm" href="javascript:void(0)" ng-if="isAuthorized('ROLE_ADMIN')">Change Picture</a>
                        </div>
                        <div class="col-md-9">
                            <h2>{{agent.firstName}} {{agent.lastName}}</h2>
                            <h5 ng-if="isAuthorized('ROLE_ADMIN')">{{agent.company.name}}</h5>
                            <span ng-if="isAuthorized('ROLE_ADMIN')">{{agent.address.city}}, {{agent.address.state.name}} ({{agent.address.country.name}})</span>
                            <span><strong><small>Email Address:</small></strong> {{agent.emailId}}</span>
                            <span ng-if="agent.phoneNo"><strong><small>Phone No:</small></strong> {{agent.phoneNo | tel}}</span>
							<span ng-if="agent.mobileNo"><strong><small>Mobile No:</small></strong> {{agent.mobileNo | tel}}</span>
                            <hr>
                            <p>{{agent.shortDesc}}</p>
                        </div>
                    </div>
                </div><!--/end row-->

                <hr>

                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Address</h2>
                                <a href="javascript:void(0)" ng-if="isAuthorized('ROLE_ADMIN')"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                <h2>{{agent.firstName}} {{agent.lastName}}</h2>
                                <span>{{agent.address.addressLine1}}</span><br/>
                                <span>{{agent.address.addressLine2}}</span><br/>
                                <span>{{agent.address.city}}, {{agent.address.state.name}} ({{agent.address.country.name}}) {{agent.address.zipcode}}</span><br/>
                                <span ng-if="agent.phoneNo">Phone No.: {{agent.phoneNo | tel}}</span><br/>
								<span ng-if="agent.mobileNo">Phone No.: {{agent.mobileNo | tel}}</span><br/>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                    <!--Social Icons v3-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        
                    </div>
                    <!--End Social Icons v3-->
                </div><!--/end row-->
                
                <hr/>
                
                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-12 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Demands</h2>
                                <a href="javascript:void(0)" ng-if="isAuthorized('ROLE_ADMIN')"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                 <table class="table table-bordered" style="color: grey;">
                                    <thead>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Demand Price</th>
                                        <th>Delivery Date</th>
                                        <th>Request Date</th>
                                     </thead>
                                    <tbody>
                                        <tr ng-repeat="demand in agent.demands">
                                            <td>{{$index + 1}}</td>
						                    <td>{{demand.name}}</td>
						                    <td>{{demand.quantity}} {{demand.quantityUnit.name}}</td>
						                    <td>{{demand.priceWithCurrency}} /{{demand.priceUnit.name}}</td>
						                    <td>{{demand.deliveryDate}}</td>
						                    <td>{{demand.requestDate}}</td>
                                        </tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                </div><!--/end row-->
                
                <hr>
                
                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-12 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Bids</h2>
                                <a href="javascript:void(0)" ng-if="isAuthorized('ROLE_ADMIN')"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                 <table class="table table-bordered" style="color: grey;">
                                    <thead>
                                        <th>#</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Highest Bid</th>
                                        <th>Date/Time</th>
                                     </thead>
                                    <tbody>
                                        <tr ng-repeat="bid in agent.bids">
                                            <td>{{$index + 1}}</td>
                                            <td>{{bid.product.name}}</td>
						                    <td>{{bid.product.quantity}} {{bid.product.quantityUnit.name}}</td>
						                    <td>{{bid.price}} {{bid.currency.mneomic}}/{{bid.unit.name}}</td>
						                    <td>{{bid.createdOn}}</td>
                                        </tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                </div><!--/end row-->
                
                <hr>
                
                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-12 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Orders</h2>
                                <a href="javascript:void(0)" ng-if="isAuthorized('ROLE_ADMIN')"><i class="fa fa-cog pull-right"></i></a>
                            </div>
                            <div class="panel-body">
                                 <table class="table table-bordered" style="color: grey;">
                                    <thead>
                                        <th>#</th>
					                    <th>Order Id</th>
					                    <th>Shipping Cost</th>
					                    <th>Total Price</th>
					                    <th>Order Date</th>
					                    <th>Delivery Date</th>
					                    <th>Status</th>
                                     </thead>
                                    <tbody>
                                        <tr ng-repeat="order in agent.orders">
                                            <td>{{$index + 1}}</td>
						                    <td>{{order.orderNo}}</td>
						                    <td>{{order.shippingCost}}</td>
						                    <td>{{order.totalPrice}}</td>
						                    <td>{{order.orderDate}}</td>
						                    <td>{{order.deliveryDate}}</td>
						                    <td>{{order.status}}</td>
                                        </tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                </div><!--/end row-->
                
                <hr>
                
            </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn-u" type="button" ng-click="close()">&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>
        </div>
    </div>
	