	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Update Transport</h4>
        </div>
        <div class="modal-body">
            
			<form name="transportFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>

				<div class="headline">
					<h3>Transport Details</h3>
				</div>
			
				<div class="row">
					<section class="col col-6">
						<label class="label">Name</label>
                        <label class="input" ng-class="{ 'state-error' : transportFrm.name.$invalid && transportFrm.name.$touched }">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="name" ng-model="transport.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                        </label>
						<em ng-if="transportFrm.name.$error.required && transportFrm.name.$touched">Name is required.</em>
						<em ng-if="transportFrm.name.$error.minlength && transportFrm.name.$touched">Name is too short.</em>
						<em ng-if="transportFrm.name.$error.pattern && transportFrm.name.$touched">Only alphanumerics are allowed.</em>
                    </section>
                    
                    <section class="col col-6">
						<label class="label">Vehicle No</label>
                        <label class="input" ng-class="{ 'state-error' : transportFrm.vehicleNo.$invalid && transportFrm.vehicleNo.$touched }">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="vehicleNo" ng-model="transport.vehicleNo" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                        </label>
						<em ng-if="transportFrm.vehicleNo.$error.required && transportFrm.vehicleNo.$touched">Vehicle No. is required.</em>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-6">
						<label class="label">Capacity</label>
                        <label class="input-group" ng-class="{ 'state-error' : transportFrm.capacity.$invalid && transportFrm.capacity.$touched }">
                       		<input type="text" name="capacity" ng-model="transport.capacity" class="form-control" placeholder="e.g. 300" required pattern="^\d*\.?\d*$"/>
                            <div class="input-group-btn">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {{transport.capacityUnit.name}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setCapacityUnit(unit)">{{unit.name}}</a></li>
                                </ul>
                            </div>
                        </label>
						<em ng-if="transportFrm.capacity.$error.required && transportFrm.capacity.$touched">Capacity is requierd.</em>
						<em ng-if="transportFrm.capacity.$error.pattern && transportFrm.capacity.$touched">Only numbers are allowed</em>
                    </section>
    				
    				<section class="col col-6">
						<label class="label">Price</label>
                        <label class="input-group" ng-class="{ 'state-error' : transportFrm.price.$invalid && transportFrm.price.$touched }">
	                   		<input type="text" name="price" ng-model="transport.price" class="form-control" placeholder="e.g. 4000" pattern="^\d*\.?\d*$" required>
                            <div class="input-group-btn">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {{transport.priceCurrency.mneomic}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-repeat="currency in currencies"><a href="javascript:void(0);" ng-click="setPriceCurrency(currency)">{{currency.mneomic}}</a></li>
                                </ul>
                            </div>
                            <span class="input-group-addon per-symbol">/</span>
                            <div class="input-group-btn">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {{transport.priceUnit.name}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setPriceUnit(unit)">{{unit.name}}</a></li>
                                </ul>
                            </div>
                        </label>
						<em ng-if="transportFrm.price.$error.required && transportFrm.price.$touched">Price is requierd.</em>
						<em ng-if="transportFrm.price.$error.pattern && transportFrm.price.$touched">Only numbers are allowed</em>
                    </section>
                </div>
                
                  <div class="row">
                    <section class="col col-6">
						<label class="label">Permits</label>
						<selectize config='permitConfig' options='permits' ng-model="transport.selectedPermitIds"></selectize>
                    </section>
                </div>
	        </form>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(transportFrm)">Proceed</button>
        </div>
    </div>