	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Edit driver</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="driverFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
					
					<div class="headline">
						<h3>Driver Details</h3>
					</div>                	

                    <div class="row">
                        <section class="col col-6">
							<label class="label">First Name</label>
                            <label class="input" ng-class="{ 'state-error' : driverFrm.firstName.$invalid && (driverFrm.$submitted || driverFrm.firstName.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="firstName" ng-model="driver.firstName" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="driverFrm.firstName.$error.required && (driverFrm.$submitted || driverFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="driverFrm.firstName.$error.minlength && (driverFrm.$submitted || driverFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="driverFrm.firstName.$error.pattern && (driverFrm.$submitted || driverFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Last Name</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="lastName" ng-model="driver.lastName">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Mobile No.</label>
                            <label class="input" ng-class="{ 'state-error' : driverFrm.mobileNo.$invalid && (driverFrm.$submitted || driverFrm.mobileNo.$touched) }">
                                <input type="tel" name="mobileNo" ng-model="driver.mobileNo" default-country="in" international-phone-number required />
                            </label>
							
							<em ng-if="driverFrm.mobileNo.$error.required && (driverFrm.$submitted || driverFrm.mobileNo.$touched)">Mobile No. is required</em>
							<em ng-if="driverFrm.mobileNo.$error.internationalPhoneNumber && (driverFrm.$submitted || driverFrm.mobileNo.$touched)">Mobile No. is not valid</em>
                        </section>
                    </div>

                    <div class="row" ng-if="isAuthorized('ROLE_ADMIN')">
						<section class="col col-6">
							<label class="label">Current company:</label>
	                        <label class="input">
	                            <input type="text" name="search" ng-model="keywords" placeholder="{{driver.company.name}}" 
	                            	uib-typeahead="company as company.name for company in searchCompany($viewValue)" 
	                                typeahead-popup-template-url="custom-popup-template.component.html" 
	                                typeahead-on-select="selectCompany($item, $model, $label)" typeahead-wait-ms="1000">
	                        </label>
	                    </section>
                    </div>

					<div class="headline">
						<h3>Driver Address</h3>
					</div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Address Line 1</label>
                            <label class="input" ng-class="{ 'state-error' : driverFrm.addressLine1.$invalid && (driverFrm.$submitted || driverFrm.addressLine1.$touched) }">
                                <input type="text" name="addressLine1" ng-model="driver.address.addressLine1" required>
                            </label>
							<em ng-if="driverFrm.addressLine1.$error.required && (driverFrm.$submitted || driverFrm.addressLine1.$touched)">Address Line 1 is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Address Line 2</label>
                            <label class="input">
                                <input type="text" name="addressLine2" ng-model="driver.address.addressLine2">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">City</label>
                            <label class="input" ng-class="{ 'state-error' : driverFrm.city.$invalid && (driverFrm.$submitted || driverFrm.city.$touched) }">
                                <input type="text" name="city" ng-model="driver.address.city" required>
                            </label>
							<em ng-if="driverFrm.city.$error.required && (driverFrm.$submitted || driverFrm.city.$touched)">City is required</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">State</label>
                            <label class="select" ng-class="{ 'state-error' : driverFrm.state.$invalid && (driverFrm.$submitted || driverFrm.state.$touched) }">
                                <select name="state" data-ng-options="state.name for state in states track by state.id" data-ng-model="driver.address.state" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="driverFrm.state.$error.required && (driverFrm.$submitted || driverFrm.state.$touched)">State is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Country</label>
                            <label class="select" ng-class="{ 'state-error' : driverFrm.country.$invalid && (driverFrm.$submitted || driverFrm.country.$touched) }">
								<select name="country" data-ng-options="country.name for country in countries track by country.id" data-ng-model="driver.address.country" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="driverFrm.country.$error.required && (driverFrm.$submitted || driverFrm.country.$touched)">Country is required</em>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-4">
							<label class="label">Zipcode</label>
                            <label class="input" ng-class="{ 'state-error' : driverFrm.zipcode.$invalid && (driverFrm.$submitted || driverFrm.zipcode.$touched) }">
                                <input type="text" name="zipcode" ng-model="driver.address.zipcode" ui-mask="999999" required>
                            </label>
							<em ng-if="driverFrm.zipcode.$error.required && (driverFrm.$submitted || driverFrm.zipcode.$touched)">Zipcode is required</em>
                        </section>
                    </div>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="driverFrm.$submitted = true; ok(driverFrm.$valid)">Save Changes</button>
        </div>
    </div>
    
    <script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select company from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>