	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Edit agent</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="agentFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
					
					<div class="headline">
						<h3>Agent Details</h3>
					</div>                	

                    <div class="row">
                        <section class="col col-6">
							<label class="label">First Name</label>
                            <label class="input" ng-class="{ 'state-error' : agentFrm.firstName.$invalid && (agentFrm.$submitted || agentFrm.firstName.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="firstName" ng-model="agent.firstName" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="agentFrm.firstName.$error.required && (agentFrm.$submitted || agentFrm.firstName.$touched)">First name is required.</em>
							<em ng-if="agentFrm.firstName.$error.minlength && (agentFrm.$submitted || agentFrm.firstName.$touched)">First Name is too short.</em>
							<em ng-if="agentFrm.firstName.$error.pattern && (agentFrm.$submitted || agentFrm.firstName.$touched)">Only alphanumerics are allowed.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Last Name</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="lastName" ng-model="agent.lastName">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Email Address</label>
                            <label class="input" ng-class="{ 'state-error' : agentFrm.email.$invalid && (agentFrm.$submitted || agentFrm.email.$touched) }">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email" ng-model="agent.emailId" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" ng-disabled="true">
                            </label>
							<em ng-if="agentFrm.email.$error.pattern && (agentFrm.$submitted || agentFrm.email.$touched)">Enter a valid email address.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Phone No. / Mobile No.</label>
                            <label class="input" ng-class="{ 'state-error' : agentFrm.phoneNo.$invalid && (agentFrm.$submitted || agentFrm.phoneNo.$touched) }">
                                <input type="tel" name="phoneNo" ng-model="agent.phoneNo" default-country="in" international-phone-number required />
                            </label>
							
							<em ng-if="agentFrm.phoneNo.$error.required && (agentFrm.$submitted || agentFrm.phoneNo.$touched)">Phone No. is required</em>
							<em ng-if="agentFrm.phoneNo.$error.internationalPhoneNumber && (agentFrm.$submitted || agentFrm.phoneNo.$touched)">Phone No. is not valid</em>
                        </section>
                    </div>

                    <div class="row" ng-if="isAuthorized('ROLE_ADMIN')">
						<section class="col col-6">
							<label class="label">Current company:</label>
	                        <label class="input">
	                            <input type="text" name="search" ng-model="keywords" placeholder="{{agent.company.name}}" 
	                            	uib-typeahead="company as company.name for company in searchCompany($viewValue)" 
	                                typeahead-popup-template-url="custom-popup-template.component.html" 
	                                typeahead-on-select="selectCompany($item, $model, $label)" typeahead-wait-ms="1000">
	                        </label>
	                    </section>
						
                        <section class="col col-6">
							<label class="label">Agent Image</label>
                            <label for="file" class="input input-file">
                                <div class="button"><input type="file" ngf-select ng-model="agentImage" ngf-multiple="false" accept="image/*" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly>
                            </label>    
                        </section>

                    </div>

					<div class="headline">
						<h3>Agent Address</h3>
					</div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Address Line 1</label>
                            <label class="input" ng-class="{ 'state-error' : agentFrm.addressLine1.$invalid && (agentFrm.$submitted || agentFrm.addressLine1.$touched) }">
                                <input type="text" name="addressLine1" ng-model="agent.address.addressLine1" required>
                            </label>
							<em ng-if="agentFrm.addressLine1.$error.required && (agentFrm.$submitted || agentFrm.addressLine1.$touched)">Address Line 1 is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Address Line 2</label>
                            <label class="input">
                                <input type="text" name="addressLine2" ng-model="agent.address.addressLine2">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">City</label>
                            <label class="input" ng-class="{ 'state-error' : agentFrm.city.$invalid && (agentFrm.$submitted || agentFrm.city.$touched) }">
                                <input type="text" name="city" ng-model="agent.address.city" required>
                            </label>
							<em ng-if="agentFrm.city.$error.required && (agentFrm.$submitted || agentFrm.city.$touched)">City is required</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">State</label>
                            <label class="select" ng-class="{ 'state-error' : agentFrm.state.$invalid && (agentFrm.$submitted || agentFrm.state.$touched) }">
                                <select name="state" data-ng-options="state.name for state in states track by state.id" data-ng-model="agent.address.state" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="agentFrm.state.$error.required && (agentFrm.$submitted || agentFrm.state.$touched)">State is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Country</label>
                            <label class="select" ng-class="{ 'state-error' : agentFrm.country.$invalid && (agentFrm.$submitted || agentFrm.country.$touched) }">
								<select name="country" data-ng-options="country.name for country in countries track by country.id" data-ng-model="agent.address.country" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="agentFrm.country.$error.required && (agentFrm.$submitted || agentFrm.country.$touched)">Country is required</em>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-4">
							<label class="label">Zipcode</label>
                            <label class="input" ng-class="{ 'state-error' : agentFrm.zipcode.$invalid && (agentFrm.$submitted || agentFrm.zipcode.$touched) }">
                                <input type="text" name="zipcode" ng-model="agent.address.zipcode" ui-mask="999999" required>
                            </label>
							<em ng-if="agentFrm.zipcode.$error.required && (agentFrm.$submitted || agentFrm.zipcode.$touched)">Zipcode is required</em>
                        </section>
                    </div>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="agentFrm.$submitted = true; ok(agentFrm.$valid)">Save Changes</button>
        </div>
    </div>
    
    <script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select company from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>