	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="close()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Edit company</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="companyFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
					<div class="headline">
						<h3>Company Details</h3>
					</div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Company Name</label>
                            <label class="input" ng-class="{ 'state-error' : companyFrm.name.$invalid && (companyFrm.$submitted || companyFrm.name.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="name" ng-model="company.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="companyFrm.name.$error.required && (companyFrm.$submitted || companyFrm.name.$touched)">Name is required.</em>
							<em ng-if="companyFrm.name.$error.minlength && (companyFrm.$submitted || companyFrm.name.$touched)">Name is too short.</em>
							<em ng-if="companyFrm.name.$error.pattern && (companyFrm.$submitted || companyFrm.name.$touched)">Only alphanumerics are allowed.</em>
                        </section>
                        
                        <section class="col col-6">
							<label class="label">Business Category <span class="color-red">*</span></label>
                            <selectize config='businessCategoryConfig' options='businessCategories' ng-model="company.businessCategory"></selectize>
                        </section>
                    </div>
                    
                    <div class="row">
                        <section class="col col-6">
							<label class="label">Registr No.</label>
                            <label class="input" ng-class="{ 'state-error' : companyFrm.registrNo.$invalid && (companyFrm.$submitted || companyFrm.registrNo.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="registrNo" ng-model="company.registrNo" ui-mask="999-999-9999" required>
                            </label>
							<em ng-if="companyFrm.registrNo.$error.required && (companyFrm.$submitted || companyFrm.registrNo.$touched)">Registr No. is required.</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Email Address</label>
                            <label class="input" ng-class="{ 'state-error' : companyFrm.email.$invalid && (companyFrm.$submitted || companyFrm.email.$touched) }">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email" ng-model="company.emailId" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
                            </label>
							<em ng-if="companyFrm.email.$error.pattern && (companyFrm.$submitted || companyFrm.email.$touched)">Enter a valid email address.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Phone No.</label>
                            <label class="input" ng-class="{ 'state-error' : companyFrm.phoneNo.$invalid && (companyFrm.$submitted || companyFrm.phoneNo.$touched) }">
                                <input type="tel" name="phoneNo" ng-model="company.phoneNo" default-country="in" international-phone-number required />
                            </label>
							
							<em ng-if="companyFrm.phoneNo.$error.required && (companyFrm.$submitted || companyFrm.phoneNo.$touched)">Phone No. is required</em>
							<em ng-if="companyFrm.phoneNo.$error.internationalPhoneNumber && (companyFrm.$submitted || companyFrm.phoneNo.$touched)">Phone No. is not valid</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Company Logo</label>
                            <label for="file" class="input input-file">
                                <div class="button"><input type="file" ngf-select ng-model="companyLogo" ngf-multiple="false" accept="image/*" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly>
                            </label>    
                        </section>
                    </div>
					
					<div class="headline">
						<h3>Company Address</h3>
					</div>					

                    <div class="row">
                        <section class="col col-6">
							<label class="label">Address Line 1</label>
                            <label class="input" ng-class="{ 'state-error' : companyFrm.addressLine1.$invalid && (companyFrm.$submitted || companyFrm.addressLine1.$touched) }">
                                <input type="text" name="addressLine1" ng-model="company.address.addressLine1" required>
                            </label>
							<em ng-if="companyFrm.addressLine1.$error.required && (companyFrm.$submitted || companyFrm.addressLine1.$touched)">Address Line 1 is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Address Line 2</label>
                            <label class="input">
                                <input type="text" name="addressLine2" ng-model="company.address.addressLine2">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">City</label>
                            <label class="input" ng-class="{ 'state-error' : companyFrm.city.$invalid && (companyFrm.$submitted || companyFrm.city.$touched) }">
                                <input type="text" name="city" ng-model="company.address.city" required>
                            </label>
							<em ng-if="companyFrm.city.$error.required && (companyFrm.$submitted || companyFrm.city.$touched)">City is required</em>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
							<label class="label">State</label>
                            <label class="select" ng-class="{ 'state-error' : companyFrm.state.$invalid && (companyFrm.$submitted || companyFrm.state.$touched) }">
                                <select name="state" data-ng-options="state.name for state in states track by state.id" data-ng-model="company.address.state" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="companyFrm.state.$error.required && (companyFrm.$submitted || companyFrm.state.$touched)">State is required</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Country</label>
                            <label class="select" ng-class="{ 'state-error' : companyFrm.country.$invalid && (companyFrm.$submitted || companyFrm.country.$touched) }">
								<select name="country" data-ng-options="country.name for country in countries track by country.id" data-ng-model="company.address.country" required>
                                </select>
                                <i></i>
                            </label>
							<em ng-if="companyFrm.country.$error.required && (companyFrm.$submitted || companyFrm.country.$touched)">Country is required</em>
                        </section>

                    </div>

                    <div class="row">
                        <section class="col col-4">
							<label class="label">Zipcode</label>
                            <label class="input" ng-class="{ 'state-error' : companyFrm.zipcode.$invalid && (companyFrm.$submitted || companyFrm.zipcode.$touched) }">
                                <input type="text" name="zipcode" ng-model="company.address.zipcode" ui-mask="999999" required>
                            </label>
							<em ng-if="companyFrm.zipcode.$error.required && (companyFrm.$submitted || companyFrm.zipcode.$touched)">Zipcode is required</em>
                        </section>
                    </div>

                </fieldset>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="close()">Close</button>
            <button class="btn-u" type="button" ng-click="companyFrm.$submitted = true; ok(companyFrm.$valid)">Save Changes</button>
        </div>
        
    </div>
	