    	
	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Categories</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Settings</a></li>
                <li><a href="">Services</a></li>
                <li class="active">Categories</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Profile ===-->
    <div class="container content profile">
    	<div class="row">
	    	<!--Left Sidebar-->
	    	<div class="col-md-3 md-margin-bottom-40">
				<ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
					
					<li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-accounts" data-toggle="collapse" class="collapsed" aria-expanded="true"><i class="fa fa-bar-chart-o"></i> Accounts </a>
                        
                        <ul id="collapse-accounts" class="collapse">
                            <li><a href="#/services/companies"><i class="fa fa-group"></i> Companies</a></li>
                            <li><a href="#/services/brokers"><i class="fa fa-group"></i> Brokers</a></li>
                            <li><a href="#/services/retailers"><i class="fa fa-group"></i> Retailers</a></li>
                            <li><a href="#/services/customers"><i class="fa fa-group"></i> Customers</a></li>
                            <li><a href="#/services/farmers"><i class="fa fa-group"></i> Farmers</a></li>
                            <li><a href="#/services/agents"><i class="fa fa-group"></i> Agents</a></li>
                            <li><a href="#/services/companyAdmins"><i class="fa fa-group"></i> Company Admins</a></li>
                            <li><a href="#/services/employees"><i class="fa fa-group"></i> Employees</a></li>
                            <!-- 
                            <li><a href="#/contentTeam"><i class="fa fa-group"></i> Content Team</a></li>
                            <li><a href="#/salesTeam"><i class="fa fa-group"></i> Sales Team</a></li>
                            <li><a href="#/executives"><i class="fa fa-group"></i> Executives</a></li>
                             -->
                            <li><a href="#/services/superAdmins"><i class="fa fa-group"></i> Super Admins</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-services" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Services </a>
                        
                        <ul id="collapse-services" class="collapse">
                            <li><a href="#/services/products"><i class="fa fa-align-justify"></i> Products</a></li>
                            <li><a href="#/services/orders"><i class="fa fa-align-justify"></i> Orders</a></li>
                            <li><a href="#/services/demands"><i class="fa fa-tasks"></i> Demands</a></li>
                            <li><a href="#/services/pricing"><i class="fa fa-money"></i> Pricing</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-payments" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Payments </a>
                        
                        <ul id="collapse-payments" class="collapse">
                            <li><a href="#/services/paymentMethods"><i class="fa fa-align-justify"></i> Payment Methods</a></li>
                            <li><a href="#/services/paymentCards"><i class="fa fa-align-justify"></i> Payment Cards</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle active">
                        <a class="accordion-toggle" href="#collapse-site-admin" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Site Admin </a>
                        
                        <ul id="collapse-site-admin" class="collapse in">
                            <li class="active"><a href="#/services/categories"><i class="fa fa-flask"></i> Categories</a></li>
                            <li><a href="#/services/menuitems"><i class="fa fa-flask"></i> Menuitems</a></li>
                            <li><a href="#/services/countries"><i class="fa fa-html5"></i> Countries</a></li>
                            <li><a href="#/services/states"><i class="fa fa-bolt"></i> States</a></li>
                            <li><a href="#/services/banks"><i class="fa fa-bolt"></i> Banks</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-org-admin" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Org Admin </a>
                        
                        <ul id="collapse-org-admin" class="collapse">
                            <li><a href="#/services/departments"><i class="fa fa-align-justify"></i> Departments</a></li>
                            <li><a href="#/services/designations"><i class="fa fa-align-justify"></i> Designations</a></li>
                            <li><a href="#/services/groups"><i class="fa fa-tasks"></i> Groups</a></li>
                            <li><a href="#/services/roles"><i class="fa fa-align-justify"></i> Roles</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->
            <div class="col-md-9">
				<div class="profile-body margin-bottom-20">
                	
	 				<!-- Companies -->
                    <div class="panel panel-profile">
                        <div class="panel-heading profile-box-header">
                            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Categories </h2>
                            
                            <div class="pull-right">
			                   	<section class="col col-12">
			                   		<form class="sky-form search-form" ng-submit="searchByKeyword()">
			                            <label class="input">
			                                <i class="icon-append fa fa-search" ng-click="searchByKeyword()"></i>
			                                <input type="text" name="keywords" ng-model="keyword" placeholder="Search"/>
			                            </label>
			                        </form>
			                    </section>
			                </div>
			                
                        </div>
                        
                        <div class="panel-body margin-bottom-40">

							<div class="testimonials-v6 rounded-bottom">
								<form class="sky-form">
	                        		<div class="col-lg-4">
	                        			<label class="toggle prak-toggle toggle-change"><input type="checkbox" name="checkbox-toggle" ng-model="showMainCategories" checked="" ng-change="changeShowMainCategories()"><i class="rounded-4x"></i>Main Categories ?</label>
	                        		</div>
                        		</form>
                            </div>
                        	
                        	<div class="col-lg-4" ng-if="!showMainCategories">
                           		<div class="btn-group">
			                        <button class="btn btn-default btn-u-sm" type="button">
			                            {{mainCategory.name}}
			                        </button>
			                        <button data-toggle="dropdown" class="btn btn-default btn-u-sm btn-u-split dropdown-toggle" type="button">
			                            <i class="fa fa-angle-down"></i>
			                            <span class="sr-only">Toggle Dropdown</span>
			                        </button>
			                        <ul role="menu" class="dropdown-menu">
			                            <li ng-repeat="mainCategory in mainCategories">
			                            	<a href="javascript:void(0);" ng-click="changeMainCategory(mainCategory)">{{mainCategory.name}}</a>
										</li>
			                        </ul>
			                    </div>
                       		</div>
                       		
                            <div class="testimonials-v6 rounded-bottom">
                            	<div class="btn-group pull-right">
			                        <button class="btn btn-default" type="button">Actions</button>
			                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
			                            <i class="fa fa-cog"></i>
			                            <span class="sr-only">Toggle Dropdown</span>
			                        </button>
			                        <ul role="menu" class="dropdown-menu">
			                            <li><a href="javascript: void(0);" ng-click="addCategory()"> Add new</a></li>
			                            <li><a href="javascript: void(0);" ng-click="import()"> Import</a></li>
			                            <li><a href="javascript: void(0);" ng-click="export()"> Export</a></li>
			                            <li class="divider"></li>
			                            <li><a href="javascript: void(0);" ng-click="deleteAll()"> Delete All</a></li>
			                        </ul>
			                    </div>
			                
                            </div>
                                
                            <hr class="margin-top-50"/>
                            
                            <div class="testimonials-v6">
			        	
				            	<div ng-repeat="category in categories">
					            	<div class="row margin-bottom-50" ng-if="$even">
					                    <div class="col-md-6 md-margin-bottom-50">
					                        <div class="testimonials-info rounded-bottom">
					                            <div class="testimonials-desc">
				                                	<strong>{{categories[$index].name}}</strong>
				                                	<span><small>Created By: <a href="#/user/{{categories[$index].createdBy.userNo}}">{{categories[$index].createdBy.firstName + ' ' + categories[$index].createdBy.lastName}}</a></small></span>
				                                	<span><small>Created On: {{categories[$index].createdOn}}</small></span>
				                                	<span><small ng-if="categories[$index].modifiedBy">Modified By: <a href="#/user/{{categories[$index].modifiedBy.userNo}}">{{categories[$index].modifiedBy.firstName + ' ' + categories[$index].modifiedBy.lastName}}</a></small></span>
				                                	<span><small ng-if="categories[$index].modifiedOn">Modified On: {{categories[$index].modifiedOn}}</small></span>
				                                	<div class="margin-top-15">
					                                	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="editDetail(categories[$index].id)"><i class="fa fa-edit"></i></a></div>
				                                    	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="remove(categories[$index].id)"><i class="fa fa-trash-o"></i></a></div>
				                                    </div>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-md-6">
					                        <div class="testimonials-info rounded-bottom" ng-if="categories[$index + 1]">
					                            <div class="testimonials-desc">
					                                <strong>{{categories[$index + 1].name}}</strong>
				                                	<span><small>Created By: <a href="#/user/{{categories[$index + 1].createdBy.userNo}}">{{categories[$index + 1].createdBy.firstName + ' ' + categories[$index + 1].createdBy.lastName}}</a></small></span>
				                                	<span><small>Created On: {{categories[$index + 1].createdOn}}</small></span>
				                                	<span><small ng-if="categories[$index + 1].modifiedBy">Modified By: <a href="#/user/{{categories[$index + 1].modifiedBy.userNo}}">{{categories[$index + 1].modifiedBy.firstName + ' ' + categories[$index + 1].modifiedBy.lastName}}</a></small></span>
				                                	<span><small ng-if="categories[$index + 1].modifiedOn">Modified On: {{categories[$index + 1].modifiedOn}}</small></span>
				                                	<div class="margin-top-15">
					                                	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="editDetail(categories[$index + 1].id)"><i class="fa fa-edit"></i></a></div>
				                                    	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="remove(categories[$index + 1].id)"><i class="fa fa-trash-o"></i></a></div>
				                                    </div>
					                            </div>
					                        </div>
					                    </div>
					                </div><!--/end row-->
				            	</div>
				            	
				            </div>
			            		
				            <div class="pull-right" ng-if="pages.length > 1">
					            <ul class="pagination">
					                <li class="{{pageNumber == 0 ? 'disabled' : ''}}">
					                	<a href="javascript: void(0);" ng-click="prevPage()" aria-label="Previous">&laquo;</a>
					                </li>
					                <li ng-repeat="page in pages" class="{{page - 1 == pageNumber ? 'active' : ''}}">
					                	<a href="javascript: void(0);" ng-click="moveTo(page)">{{page}}</a>
					                </li>
					                <li class="{{pageNumber == totalPage - 1 ? 'disabled' : ''}}">
					                	<a href="javascript: void(0);" ng-click="nextPage()" aria-label="Next">&raquo;</a>
					                </li>
					            </ul>
					        </div>
					        
			            </div>
			        
			        </div>
                    <!--End Reviews-->
                    
                </div>
                
            </div>
            <!-- End Profile Content -->
        </div>
    </div>
    <!--=== End Profile ===-->

	<!-- START: delete category -->
	<script type="text/ng-template" id="delete-category.component.html">
		<div class="modal-content">
	        <div class="modal-header">
	            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
	            <h4 class="modal-title">Delete Category?</h4>
	        </div>
	        <div class="modal-body">
	            <p>Do you really want to delete this category?</p>
	        </div>
	        <div class="modal-footer">
	        	<button class="btn-u" type="button" ng-click="ok()">Proceed</button>
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
            </div>
	    </div>
	</script>
	<!-- END: delete category -->
    