	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Menuitem Details</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="menuitemFrm" role="form" class="sky-form" novalidate>
                
				<fieldset>
                    <div class="row">
                        <div class="col-md-12">
	                        <div class="testimonials-info rounded-bottom">
	                            <div class="testimonials-desc">
	                                <strong>{{menuitem.name}}</strong>
	                                <span><small>Parent Menuitem: {{menuitem.parentMenuitem.name}}</small></span>
	                                <span><small>Category: {{menuitem.category.name}}</small></span>
	                               	<span><small>Created By: <a href="#/user/{{menuitem.createdBy.userNo}}">{{menuitem.createdBy.firstName + ' ' + menuitem.createdBy.lastName}}</a></small></span>
	                               	<span><small>Created On: {{menuitem.createdOn}}</small></span>
	                               	<span ng-if="menuitem.modifiedBy"><small>Modified By: <a href="#/user/{{menuitem.modifiedBy.userNo}}">{{menuitem.modifiedBy.firstName + ' ' + menuitem.modifiedBy.lastName}}</a></small></span>
	                               	<span ng-if="menuitem.modifiedOn"><small>Modified On: {{menuitem.modifiedOn}}</small></span>
	                            </div>
	                        </div>
	                    </div>
                    </div>

                </fieldset>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
        </div>
    </div>