	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Edit Menuitem</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="menuitemFrm" role="form" class="sky-form" novalidate>
                
				<fieldset>
                    <div class="row">
                        <section class="col col-6">
							<label class="label">Name</label>
                            <label class="input" ng-class="{ 'state-error' : menuitemFrm.name.$invalid && (menuitemFrm.$submitted || menuitemFrm.name.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="name" ng-model="menuitem.name" required ng-minlength="3">
                            </label>
							<em ng-if="menuitemFrm.name.$error.required && (menuitemFrm.$submitted || menuitemFrm.name.$touched)">Name is required.</em>
							<em ng-if="menuitemFrm.name.$error.minlength && (menuitemFrm.$submitted || menuitemFrm.name.$touched)">Name is too short.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Parent Menuitem</label>
							<selectize config='menuitemConfig' options='parentMenuitems' ng-model="menuitem.parentMenuitemId"></selectize>
                        </section>
                    </div>

					<div class="row">
                        <section class="col col-6">
							<label class="label">Keywords</label>
                            <label class="input" ng-class="{ 'state-error' : menuitemFrm.keywords.$invalid && (menuitemFrm.$submitted || menuitemFrm.keywords.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="keywords" ng-model="menuitem.keywords" ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="menuitemFrm.keywords.$error.minlength && (menuitemFrm.$submitted || menuitemFrm.keywords.$touched)">Keywords are too short.</em>
							<em ng-if="menuitemFrm.keywords.$error.pattern && (menuitemFrm.$submitted || menuitemFrm.keywords.$touched)">Only alphanumerics are allowed.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Category</label>
							<selectize config='categoryConfig' options='categories' ng-model="menuitem.categoryId"></selectize>
                        </section>
                    </div>

					<div class="row">
						<section class="col col-6">
							<label class="label">Display Index</label>
                            <label class="input" ng-class="{ 'state-error' : menuitemFrm.displayIndex.$invalid && (menuitemFrm.$submitted || menuitemFrm.displayIndex.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="displayIndex" ng-model="menuitem.displayIndex" required pattern="[0-9]+">
                            </label>
							<em ng-if="menuitemFrm.displayIndex.$error.required  && (menuitemFrm.$submitted || menuitemFrm.displayIndex.$touched)">Display Index is required.</em>
							<em ng-if="menuitemFrm.displayIndex.$error.pattern && (menuitemFrm.$submitted || menuitemFrm.displayIndex.$touched)">Display Index should be a number.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">&nbsp;</label>
							<label class="toggle pull-left prak-toggle toggle-change"><input type="checkbox" name="checkbox-toggle" ng-model="menuitem.active" checked="" ng-change="changeActive()"><i class="rounded-4x"></i> Active?</label>
                        </section>
					</div>

                </fieldset>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="menuitemFrm.$submitted = true; ok(menuitemFrm.$valid)">Save Changes</button>
        </div>
    </div>