
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Add category</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="categoryFrm" role="form" class="sky-form" novalidate>
                
				<fieldset>
                    <div class="row">
                        <section class="col col-6">
							<label class="label">Name</label>
                            <label class="input" ng-class="{ 'state-error' : categoryFrm.name.$invalid && (categoryFrm.$submitted || categoryFrm.name.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="name" ng-model="category.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="categoryFrm.name.$error.required && (categoryFrm.$submitted || categoryFrm.name.$touched)">Name is required.</em>
							<em ng-if="categoryFrm.name.$error.minlength && (categoryFrm.$submitted || categoryFrm.name.$touched)">Name is too short.</em>
							<em ng-if="categoryFrm.name.$error.pattern && (categoryFrm.$submitted || categoryFrm.name.$touched)">Only alphanumerics are allowed.</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Parent category</label>
							<selectize config='config' options='parentCategories' ng-model="category.parentCategoryId"></selectize>
                        </section>
                    </div>

                </fieldset>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="categoryFrm.$submitted = true; ok(categoryFrm.$valid)">Save Changes</button>
        </div>
    </div>