    	
	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">States</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Settings</a></li>
                <li><a href="">Services</a></li>
                <li class="active">States</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Profile ===-->
    <div class="container content profile">
    	<div class="row">
	    	<!--Left Sidebar-->
	    	<div class="col-md-3 md-margin-bottom-40">
				<ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
					
					<li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-accounts" data-toggle="collapse" class="collapsed" aria-expanded="true"><i class="fa fa-bar-chart-o"></i> Accounts </a>
                        
                        <ul id="collapse-accounts" class="collapse">
                            <li><a href="#/services/companies"><i class="fa fa-group"></i> Companies</a></li>
                            <li><a href="#/services/brokers"><i class="fa fa-group"></i> Brokers</a></li>
                            <li><a href="#/services/retailers"><i class="fa fa-group"></i> Retailers</a></li>
                            <li><a href="#/services/customers"><i class="fa fa-group"></i> Customers</a></li>
                            <li><a href="#/services/farmers"><i class="fa fa-group"></i> Farmers</a></li>
                            <li><a href="#/services/agents"><i class="fa fa-group"></i> Agents</a></li>
                            <li><a href="#/services/companyAdmins"><i class="fa fa-group"></i> Company Admins</a></li>
                            <li><a href="#/services/employees"><i class="fa fa-group"></i> Employees</a></li>
                            <!-- 
                            <li><a href="#/contentTeam"><i class="fa fa-group"></i> Content Team</a></li>
                            <li><a href="#/salesTeam"><i class="fa fa-group"></i> Sales Team</a></li>
                            <li><a href="#/executives"><i class="fa fa-group"></i> Executives</a></li>
                             -->
                            <li><a href="#/services/superAdmins"><i class="fa fa-group"></i> Super Admins</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-services" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Services </a>
                        
                        <ul id="collapse-services" class="collapse">
                            <li><a href="#/services/products"><i class="fa fa-align-justify"></i> Products</a></li>
                            <li><a href="#/services/orders"><i class="fa fa-align-justify"></i> Orders</a></li>
                            <li><a href="#/services/demands"><i class="fa fa-tasks"></i> Demands</a></li>
                            <li><a href="#/services/pricing"><i class="fa fa-money"></i> Pricing</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-payments" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Payments </a>
                        
                        <ul id="collapse-payments" class="collapse">
                            <li><a href="#/services/paymentMethods"><i class="fa fa-align-justify"></i> Payment Methods</a></li>
                            <li><a href="#/services/paymentCards"><i class="fa fa-align-justify"></i> Payment Cards</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle active">
                        <a class="accordion-toggle" href="#collapse-site-admin" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Site Admin </a>
                        
                        <ul id="collapse-site-admin" class="collapse in">
                            <li><a href="#/services/categories"><i class="fa fa-flask"></i> Categories</a></li>
                            <li><a href="#/services/menuitems"><i class="fa fa-flask"></i> Menuitems</a></li>
                            <li><a href="#/services/countries"><i class="fa fa-html5"></i> Countries</a></li>
                            <li class="active"><a href="#/services/states"><i class="fa fa-bolt"></i> States</a></li>
                            <li><a href="#/services/banks"><i class="fa fa-bolt"></i> Banks</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-org-admin" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Org Admin </a>
                        
                        <ul id="collapse-org-admin" class="collapse">
                            <li><a href="#/services/departments"><i class="fa fa-align-justify"></i> Departments</a></li>
                            <li><a href="#/services/designations"><i class="fa fa-align-justify"></i> Designations</a></li>
                            <li><a href="#/services/groups"><i class="fa fa-tasks"></i> Groups</a></li>
                            <li><a href="#/services/roles"><i class="fa fa-align-justify"></i> Roles</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->
            <div class="col-md-9">
				<div class="profile-body margin-bottom-20">
                	
	 				<!-- Companies -->
                    <div class="panel panel-profile">
                        <div class="panel-heading profile-box-header">
                            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> States </h2>
                            
                            <div class="pull-right">
			                   	<section class="col col-12">
			                   		<form class="sky-form search-form" ng-submit="searchByKeyword()">
			                            <label class="input">
			                                <i class="icon-append fa fa-search" ng-click="searchByKeyword()"></i>
			                                <input type="text" name="keywords" ng-model="keyword" placeholder="Search"/>
			                            </label>
			                        </form>
			                    </section>
			                </div>
			                
                        </div>
                        
                        <div class="panel-body margin-bottom-40">
                        	
                            <div class="testimonials-v6 rounded-bottom">
                            	<div class="btn-group pull-right">
			                        <button class="btn btn-default" type="button">Actions</button>
			                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
			                            <i class="fa fa-cog"></i>
			                            <span class="sr-only">Toggle Dropdown</span>
			                        </button>
			                        <ul role="menu" class="dropdown-menu">
			                            <li><a href="javascript: void(0);" ng-click="addState()"> Add new</a></li>
			                            <li><a href="javascript: void(0);" ng-click="import()"> Import</a></li>
			                            <li><a href="javascript: void(0);" ng-click="export()"> Export</a></li>
			                            <li class="divider"></li>
			                            <li><a href="javascript: void(0);" ng-click="deleteAll()"> Delete All</a></li>
			                        </ul>
			                    </div>
			                
                            </div>
                                
                            <hr class="margin-top-50"/>
                            
                            <div class="testimonials-v6">
			        	
				            	<div ng-repeat="state in states">
					            	<div class="row margin-bottom-50" ng-if="$even">
					                    <div class="col-md-6 md-margin-bottom-50">
					                        <div class="testimonials-info rounded-bottom">
					                            <div class="testimonials-desc">
				                                	<strong>{{states[$index].name}}</strong>
				                                	<span><small ng-if="states[$index].createdBy">Created By: <a href="#/user/{{states[$index].createdBy.userNo}}">{{states[$index].createdBy.firstName + ' ' + states[$index].createdBy.lastName}}</a></small></span>
				                                	<span><small ng-if="states[$index].createdOn">Created On: {{states[$index].createdOn}}</small></span>
				                                	<span><small ng-if="states[$index].modifiedBy">Modified By: <a href="#/user/{{states[$index].modifiedBy.userNo}}">{{states[$index].modifiedBy.firstName + ' ' + states[$index].modifiedBy.lastName}}</a></small></span>
				                                	<span><small ng-if="states[$index].modifiedOn">Modified On: {{states[$index].modifiedOn}}</small></span>
				                                	<div class="margin-top-15">
					                                	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="editDetail(states[$index].id)"><i class="fa fa-edit"></i></a></div>
				                                    	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="remove(states[$index].id)"><i class="fa fa-trash-o"></i></a></div>
				                                    </div>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-md-6">
					                        <div class="testimonials-info rounded-bottom" ng-if="states[$index + 1]">
					                            <div class="testimonials-desc">
					                                <strong>{{states[$index + 1].name}}</strong>
				                                	<span><small ng-if="states[$index + 1].createdBy">Created By: <a href="#/user/{{states[$index + 1].createdBy.userNo}}">{{states[$index + 1].createdBy.firstName + ' ' + states[$index + 1].createdBy.lastName}}</a></small></span>
				                                	<span><small ng-if="states[$index + 1].createdOn">Created On: {{states[$index + 1].createdOn}}</small></span>
				                                	<span><small ng-if="states[$index + 1].modifiedBy">Modified By: <a href="#/user/{{states[$index + 1].modifiedBy.userNo}}">{{states[$index + 1].modifiedBy.firstName + ' ' + states[$index + 1].modifiedBy.lastName}}</a></small></span>
				                                	<span><small ng-if="states[$index + 1].modifiedOn">Modified On: {{categories[$index + 1].modifiedOn}}</small></span>
				                                	<div class="margin-top-15">
					                                	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="editDetail(states[$index + 1].id)"><i class="fa fa-edit"></i></a></div>
				                                    	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="remove(states[$index + 1].id)"><i class="fa fa-trash-o"></i></a></div>
				                                    </div>
					                            </div>
					                        </div>
					                    </div>
					                </div><!--/end row-->
				            	</div>
				            	
				            </div>
			            		
				            <div class="pull-right" ng-if="pages.length > 1">
					            <ul class="pagination">
					                <li class="{{pageNumber == 0 ? 'disabled' : ''}}">
					                	<a href="javascript: void(0);" ng-click="prevPage()" aria-label="Previous">&laquo;</a>
					                </li>
					                <li ng-repeat="page in pages" class="{{page - 1 == pageNumber ? 'active' : ''}}">
					                	<a href="javascript: void(0);" ng-click="moveTo(page)">{{page}}</a>
					                </li>
					                <li class="{{pageNumber == totalPage - 1 ? 'disabled' : ''}}">
					                	<a href="javascript: void(0);" ng-click="nextPage()" aria-label="Next">&raquo;</a>
					                </li>
					            </ul>
					        </div>
					        
			            </div>
			        
			        </div>
                    <!--End Reviews-->
                    
                </div>
                
            </div>
            <!-- End Profile Content -->
        </div>
    </div>
    <!--=== End Profile ===-->

	<!-- START: add state -->
    <script type="text/ng-template" id="add-state.component.html">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Add state</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="stateFrm" role="form" class="sky-form" novalidate>
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
							<label class="label">Name</label>
                            <label class="input" ng-class="{ 'state-error' : stateFrm.name.$invalid && (stateFrm.$submitted || stateFrm.name.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="name" ng-model="state.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="stateFrm.name.$error.required && (stateFrm.$submitted || stateFrm.name.$touched)">Name is required.</em>
							<em ng-if="stateFrm.name.$error.minlength && (stateFrm.$submitted || stateFrm.name.$touched)">Name is too short.</em>
							<em ng-if="stateFrm.name.$error.pattern && (stateFrm.$submitted || stateFrm.name.$touched)">Only alphanumerics are allowed.</em>
                        </section>
                        <section class="col col-6">
							<label class="label">Parent country</label>
                            <label class="select">
                                <select data-ng-options="country.id as country.name for country in countries" ng-model="state.countryId">
                            	</select>
								<i></i>
                            </label>
                        </section>
                    </div>

                </fieldset>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="stateFrm.$submitted = true; ok(stateFrm.$valid)">Proceed</button>
        </div>
    </div>
	</script>
	<!-- END: add state -->

	<!-- START: edit state -->
	<script type="text/ng-template" id="edit-state.component.html">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Add state</h4>
        </div>
        <div class="modal-body">
            
            <!-- Checkout-Form -->
            <form name="stateFrm" role="form" class="sky-form" novalidate>
                
				<fieldset>
                    <div class="row">
                        <section class="col col-6">
							<label class="label">Name</label>
                            <label class="input" ng-class="{ 'state-error' : stateFrm.name.$invalid && (stateFrm.$submitted || stateFrm.name.$touched) }">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" name="name" ng-model="state.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                            </label>
							<em ng-if="stateFrm.name.$error.required && (stateFrm.$submitted || stateFrm.name.$touched)">Name is required.</em>
							<em ng-if="stateFrm.name.$error.minlength && (stateFrm.$submitted || stateFrm.name.$touched)">Name is too short.</em>
							<em ng-if="stateFrm.name.$error.pattern && (stateFrm.$submitted || stateFrm.name.$touched)">Only alphanumerics are allowed.</em>
                        </section>

                        <section class="col col-6">
							<label class="label">Country</label>
                            <label class="select">
                                <select data-ng-options="country.id as country.name for country in countries" ng-model="state.country.id">
                            	</select>
								<i></i>
                            </label>
                        </section>
                    </div>

                </fieldset>

            </form>
            <!-- End Checkout-Form -->

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="stateFrm.$submitted = true; ok(stateFrm.$valid)">Save Changes</button>
        </div>
    </div>
	</script>
	<!-- END: edit state -->

	<!-- START: view state details -->
	<script type="text/ng-template" id="detail-state.component.html">
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="close()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Profile</h4>
        </div>
        <div class="modal-body profile">
            
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-responsive md-margin-bottom-10" src="assets/img/states/state1.jpg" alt="">
                            <a class="btn-u btn-u-sm" href="javascript:void(0)">Change Picture</a>
                        </div>
                        <div class="col-md-9">
                            <h2>{{state.firstName}} {{state.lastName}}</h2>
                            <span>{{state.address.city}}, {{state.address.state}} ({{state.address.country.name}})</span>
                            <span ng-if="state.phoneNo">{{state.phoneNo}}</span>
							<span ng-if="state.mobileNo">{{state.mobileNo}}</span>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa nec turpis congue bibendum. Integer nulla felis, porta suscipit nulla et, dignissim commodo nunc. Morbi a semper nulla.</p>
                            <p>Proin mauris od</p>
                        </div>
                    </div>
                </div><!--/end row-->
                                
            </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn-u" type="button" ng-click="close()">&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>
        </div>
    </div>
	</script>	
	<!-- END: view state details -->

	<!-- START: delete state -->
	<script type="text/ng-template" id="delete-state.component.html">
		<div class="modal-content">
	        <div class="modal-header">
	            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
	            <h4 class="modal-title">Delete State?</h4>
	        </div>
	        <div class="modal-body">
	            <p>Do you really want to delete this state?</p>
	        </div>
	        <div class="modal-footer">
	        	<button class="btn-u" type="button" ng-click="ok()">Proceed</button>
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
            </div>
	    </div>
	</script>
	<!-- END: delete state -->
    