
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">About Us</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li><a href="javascript:void(0)">Others</a></li>
                <li class="active">About Us</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="title-box-v2">
            <h2>About <span class="color-green">us</span></h2>
            <p>I am sure that you might have heard the news of the farmers' suicides in India. we also know that from many years farmers are facing many problems. Our country is growing but their problems are not reducing. They still have to sell their farm produce to the local Aadhatiyas. On the other hand if there is no buyer for their farm produce in the nearby market then from the next season they won't produce this crop. Because they have to look for the buyers for it. I think they want a platform through which they can sell their farm produce anywhere in India or outside the India. </p>
            <p>We brainstormed on these problems in 2014 and identified that there should be a platform which they can use to sell their farm produce. From this need we created an online marketplace for them. At this marketplace they can sell their farm produce to anyone who provides better price to them. </p>
            <p>But now on this marketplace, they can check whether the today's bidding for their products is as per their expectations or not. If it is not as per their expectations then they don't need to pay any charges. They can go for the bidding on another day. They also have the options to track the market prices online. They can also opt for the daily SMSes if they want. So Vocac is trying to make the their life as simple as possible. </p>
            <p>Vocac had started its functioning in Nov 2014. From than it is continuously serving the farmers of India. At Vocac, we are providing following benefits and services to the our various stakeholders (farmers, traders, companies).</p>
          	
          	<p>Services and Benefits for Our Food Processors/Large Companies</p>
          	
          	<div class="flat-bg-block-v1 col-lg-12 margin-bottom-30">
	          	<div class="row">
	          		<div class="col-lg-4">
	          			<ul class="list-unstyled checked-list">
		          			<li><i class="fa fa-check"></i>Realtime Bidding System</li>
			          		<li><i class="fa fa-check"></i>Location Aware Product Listing</li>
			          		<li><i class="fa fa-check"></i>Complete Portfolio Management</li>
			          		<li><i class="fa fa-check"></i>Product &amp; Demand Management</li>
			          		<li><i class="fa fa-check"></i>Effective &amp; Efficient Decision Making</li>
			          	</ul>
	          		</div>
	          		<div class="col-lg-5 col-sm-offset-1">
	          			<ul class="list-unstyled checked-list">
		          			<li><i class="fa fa-check"></i>High Quality Product Analysis</li>
			          		<li><i class="fa fa-check"></i>24x7 Availability &amp; On-Time Delivery</li>
			          		<li><i class="fa fa-check"></i>Ordering From Anywhere In India</li>
			          		<li><i class="fa fa-check"></i>Full Security &amp; Reliability</li>
			          		<li><i class="fa fa-check"></i>Fully Transparent Transport Charges</li>
			          	</ul>
	          		</div>	
	          	</div>
          	</div>
          	
          	<p>Services and Benefits for Our Farmers</p>
          	
          	<div class="col-lg-12 flat-bg-block-v1 margin-bottom-30">
	          	<div class="row">
	          		<div class="col-lg-4">
	          			<ul class="list-unstyled checked-list">
		          			<li><i class="fa fa-check"></i>Free of Cost Realtime Biddings</li>
			          		<li><i class="fa fa-check"></i>Opportunities to Sell Anywhere in India</li>
			          		<li><i class="fa fa-check"></i>24x7 Availability &amp; Transport Facilities</li>
			          	</ul>
	          		</div>
	          		<div class="col-lg-5 col-sm-offset-1">
	          			<ul class="list-unstyled checked-list">
	          				<li><i class="fa fa-check"></i>Options to Sell or Don't Sell without bearing Transport Charges</li>
          					<li><i class="fa fa-check"></i>Option To Sell at Your Own Price</li>
			          	</ul>
	          		</div>	
	          	</div>
          	</div>
          	
          	<p>Services and Benefits for Our Traders</p>
          	
          	<div class="col-lg-12 flat-bg-block-v1 margin-bottom-30">
	          	<div class="row">
	          		<div class="col-lg-4">
	          			<ul class="list-unstyled checked-list">
		          			<li><i class="fa fa-check"></i>Realtime Bidding on Your Products</li>
			          		<li><i class="fa fa-check"></i>Location Aware Product Listing</li>
			          		<li><i class="fa fa-check"></i>Complete Portfolio Management</li>
			          		<li><i class="fa fa-check"></i>Trader's Trading Services</li>
			          		<li><i class="fa fa-check"></i>Product &amp; Demand Management</li>
			          		<li><i class="fa fa-check"></i>Effective &amp; Efficient Decision Making</li>
			          	</ul>
	          		</div>
	          		<div class="col-lg-5 col-sm-offset-1">
	          			<ul class="list-unstyled checked-list">
			          		<li><i class="fa fa-check"></i>High Quality Product Analysis</li>
			          		<li><i class="fa fa-check"></i>24x7 Availability &amp; On-Time Delivery</li>
			          		<li><i class="fa fa-check"></i>Ordering From Anywhere In India</li>
			          		<li><i class="fa fa-check"></i>Fully Transparent Transport Charges</li>
			          		<li><i class="fa fa-check"></i>Transport Facilities</li>
			          		<li><i class="fa fa-check"></i>Opportunities To Sell Anywhere In India or Outside India</li>
			          	</ul>
	          		</div>	
	          	</div>
          	</div>          	
        </div>
       	
        <!-- About Sldier -->
        <div class="shadow-wrapper margin-bottom-50">
            <div class="carousel slide carousel-v1 box-shadow shadow-effect-2" id="myCarousel">
                <ol class="carousel-indicators">
                    <li class="rounded-x active" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li class="rounded-x" data-target="#myCarousel" data-slide-to="1"></li>
                    <li class="rounded-x" data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                	<div class="item">
                        <img class="img-responsive" src="assets/img/386281.jpg" alt="">
                    </div>
                	<div class="item">
                        <img class="img-responsive" src="assets/img/5898323.jpg" alt="">
                    </div>
                    <div class="item active">
                        <img class="img-responsive" src="assets/img/422673.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="assets/img/394156.jpg" alt="">
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- End About Sldier -->

        <div class="row margin-bottom-10">
                <div class="col-sm-4">
                    <div class="service-block service-block-default">
                        <i class="icon-custom rounded icon-color-dark icon-line icon-badge"></i>
                        <h2 class="heading-md">Best Quality</h2>
                        <p>We deliver best quality to our clients. we have got a big appreciation from our clients about our quality. </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service-block service-block-default">
                        <i class="icon-custom rounded icon-color-dark icon-line icon-fire"></i>
                        <h2 class="heading-md">Wide Variety</h2>
                        <p>We provide many varieties of products to our clients. here, you can find any variety of product which is grown in India.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service-block service-block-default">
                        <i class="icon-custom rounded icon-color-dark icon-line icon-directions"></i>
                        <h2 class="heading-md">Reasonable Pricing</h2>
                        <p>Our service pricing model is very reasonable. you can choose pricing as per your size of the business. </p>
                    </div>
                </div>
            </div>
        </div>
    <!--=== End Content Part ===-->

    <!--=== Parallax About Block ===-->
    <div class="parallax-bg parallaxBg1">
        <div class="container content parallax-about">
            <div class="title-box-v2">
                <h2>About our <span class="color-green">company</span></h2>
                <p>We are the first company of India which is providing commodity services to our clients directly from farmers. whether you are a retailer/trader or a company, you will find our services very useful. you don't need to run into the grain/vegetables markets, you can directly buy these products from here only.</p>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="banner-info dark margin-bottom-10">
                        <i class="rounded-x icon-bell"></i>
                        <div class="overflow-h">
                            <h3>Our mission</h3>
                            <p>To make commodity trading as easy possible to our clients. to buy farming products, no need to rush into the commodity/vegetable market, buy those items directly from here. </p>
                        </div>
                    </div>
                    <div class="banner-info dark margin-bottom-10">
                        <i class="rounded-x fa fa-magic"></i>
                        <div class="overflow-h">
                            <h3>Our vision</h3>
                            <p>A grain market can be developed online. No need to make multiple rounds to the commodity markets. those market can be made available online. </p>
                        </div>
                    </div>
                    <div class="banner-info dark margin-bottom-10">
                        <i class="rounded-x fa fa-thumbs-o-up"></i>
                        <div class="overflow-h">
                            <h3>We are good at ...</h3>
                            <p>We are experts in commodity markets. we have multiple years of experience in commodity market handling and transportations. </p>
                        </div>
                    </div>
                    <div class="margin-bottom-20"></div>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="assets/img/2843232.jpg" alt="">
                </div>
            </div>
        </div><!--/container-->
    </div>
    <!--=== End Parallax About Block ===-->

    <!--=== Container Part ===-->
    <div class="container content">
        <div class="title-box-v2">
            <h2>Our Company <span class="color-green">life</span></h2>
            <p>We believe you won't find a corporate culture like ours anywhere else. It's what gives us our edge, and creates agility unmatched by any other firm in our industry. Our culture is underpinned by six core values that have been tended to and nurtured carefully over history.</p>
        </div>

		<!-- 
        <div class="row margin-bottom-40">
            Begin Easy Block v2
            <div class="col-md-3 col-sm-6 md-margin-bottom-20">
                <div class="simple-block">
                    <img class="img-responsive img-bordered margin-bottom-10" src="assets/img/main/img3.jpg" alt="">
                    <p>Pellentesque et erat ac massa cursus porttitor eget sed magna.</p>
                </div>
            </div>
            End Simple Block

            Begin Easy Block v2
            <div class="col-md-3 col-sm-6 md-margin-bottom-20">
                <div class="simple-block">
                    <img class="img-responsive img-bordered margin-bottom-10" src="assets/img/main/img4.jpg" alt="">
                    <p>Pellentesque et erat ac massa cursus porttitor eget sed magna.</p>
                </div>
            </div>
            End Simple Block


            Begin Easy Block v2
            <div class="col-md-3 col-sm-6 md-margin-bottom-20">
                <div class="simple-block">
                    <img class="img-responsive img-bordered margin-bottom-10" src="assets/img/main/img16.jpg" alt="">
                    <p>Pellentesque et erat ac massa cursus porttitor eget sed magna.</p>
                </div>
            </div>
            End Simple Block

            Begin Easy Block v2
            <div class="col-md-3 col-sm-6 md-margin-bottom-20">
                <div class="simple-block">
                    <img class="img-responsive img-bordered margin-bottom-10" src="assets/img/main/img7.jpg" alt="">
                    <p>Pellentesque et erat ac massa cursus porttitor eget sed magna.</p>
                </div>
            </div>
            End Simple Block
        </div>
		-->

        <div class="row">
            <!-- Begin Easy Block v2 -->
            <div class="col-md-6 col-sm-6 md-margin-bottom-20">
                <div class="simple-block">
                    <div class="embed-responsive embed-responsive-16by9 margin-bottom-10">
                        <iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/67167840?title=0&amp;byline=0&amp;portrait=0"></iframe>
                    </div>
                </div>
            </div>
            <!-- End Simple Block -->

            <!-- Begin Easy Block v2 -->
            <div class="col-md-6 col-sm-6 md-margin-bottom-20">
                <div class="simple-block">
                    <div class="embed-responsive embed-responsive-16by9 margin-bottom-10">
                        <iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/70528799"></iframe>
                    </div>
                </div>
            </div>
            <!-- End Simple Block -->
        </div>
    </div><!--/container-->
    <!--=== Container Part ===-->

    <!--=== Meet Our Team ===-->
    <!-- 
    <div class="parallax-team parallaxBg">
        <div class="container content">
            <div class="title-box-v2">
                <h2>Meet Our <span class="color-green">Team</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2">
                        <img class="img-responsive" src="assets/img/team/img1-md.jpg" alt="" />
                        <div class="inner-team">
                            <h3>Jack Anderson</h3>
                            <small class="color-green">CEO, Chief Officer</small>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                            <hr>
                            <ul class="list-inline team-social">
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="javascript:void(0)">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="javascript:void(0)">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="javascript:void(0)">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2">
                        <img class="img-responsive" src="assets/img/team/img2-md.jpg" alt="" />
                        <div class="inner-team">
                            <h3>Kate Metus</h3>
                            <small class="color-green">Project Manager</small>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                            <hr>
                            <ul class="list-inline team-social">
                                <li><a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                <li><a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                <li><a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2">
                        <img class="img-responsive" src="assets/img/team/img3-md.jpg" alt="" />
                        <div class="inner-team">
                            <h3>Porta Gravida</h3>
                            <small class="color-green">VP of Operations</small>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                            <hr>
                            <ul class="list-inline team-social">
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="javascript:void(0)">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="javascript:void(0)">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="javascript:void(0)">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2">
                        <img class="img-responsive" src="assets/img/team/img5-md.jpg" alt="" />
                        <div class="inner-team">
                            <h3>Donec Elisson</h3>
                            <small class="color-green">Director, R &amp; D Talent</small>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                            <hr>
                            <ul class="list-inline team-social">
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="fb tooltips" data-original-title="Facebook" href="javascript:void(0)">
                                        <i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tw tooltips" data-original-title="Twitter" href="javascript:void(0)">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="gp tooltips" data-original-title="Google plus" href="javascript:void(0)">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     -->
    <!--=== End Meet Our Team ===-->

    <!--=== Contacts ===-->
    <div class="contacts content">
        <div class="container">
            <div class="title-box-v2">
                <h2>Our <span class="color-green">Contacts</span></h2>
                <p>How can we help you transform today?</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!-- Google Map -->
                    <div id="map" class="map">
                    </div>
                    <!-- End Google Map -->
                </div>
                <div class="col-md-6 col-sm-6">
                    <!-- Business Hours -->
                    <h3>Get In Touch</h3>
                    <p>You can either call us or can send your query in writing.</p>
                    <ul class="list-inline margin-bottom-20">
                        <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                        <li><strong>Saturday:</strong> 11am to 3pm</li>
                        <li><strong>Sunday:</strong> Closed</li>
                    </ul>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group margin-bottom-10">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="name" placeholder="Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group margin-bottom-20">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" placeholder="Email" class="form-control">
                            </div>
                        </div>
                    </div>

                    <textarea rows="5" class="form-control margin-bottom-20" placeholder="Type your question here..."></textarea>
                    <button class="btn-u btn-u-sm pull-right" type="button">Send question</button>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Contacts ===-->

    <script type="text/javascript">
	    jQuery(document).ready(function() {
	        Unify.init();
	        Unify.initParallaxBg();
	        ContactPage.initMap();
	        OwlCarousel.initOwlCarousel();
	    });
	</script>