
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Contact Us</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li><a href="javascript:void(0)">Others</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row margin-bottom-30">
            <div class="col-md-9 mb-margin-bottom-30">
                <p>If you have any query regarding our offerings and services <strong class="color-green">please fill the </strong> following details and send it to us. we will get in touch with you as soon as possible. you can also <strong class="color-green">call us</strong> on the given phone numbers. otherwise if you are interested in doing business with us then please fill your company details through the registration page, we will get in touch with you. </p><br>
                <div class="tag-box tag-box-v2">
                    <p>Other customers like traders, retailers or farmers can directly register with us. There is no need to first send your details. but before registration please check our pricing details.</p>
                </div>
                <p>Please fill the following details and send it to us. </p><br>

                <form name="contactUsFrm" role="form" class="sky-form contact-style" novalidate>
                	
                    <div class="message">
                        <i class="rounded-x fa fa-check"></i>
                        <p>Your message was successfully sent!</p>
                    </div>
                
                    <fieldset class="no-padding">
                        <label>Name <span class="color-red">*</span></label>
                        <div class="row sky-space-20">
                            <div class="col-md-7 col-md-offset-0">
                                <div>
                                    <input type="text" name="name" ng-model="contactUs.name" class="form-control" required>
                                </div>
                                <em class="error-message" ng-if="contactUsFrm.name.$error.required && (contactUsFrm.$submitted || contactUsFrm.name.$touched)">Name is required.</em>
                            </div>
                        </div>

                        <label>Email <span class="color-red">*</span></label>
                        <div class="row sky-space-20">
                            <div class="col-md-7 col-md-offset-0">
                                <div>
                                    <input type="text" name="emailId" ng-model="contactUs.emailId" class="form-control" required>
                                </div>
                                <em class="error-message" ng-if="contactUsFrm.emailId.$error.required && (contactUsFrm.$submitted || contactUsFrm.emailId.$touched)">Email is required.</em>
                            </div>
                        </div>

                        <label>Message <span class="color-red">*</span></label>
                        <div class="row sky-space-20">
                            <div class="col-md-11 col-md-offset-0">
                                <div>
                                    <textarea rows="8" name="message" ng-model="contactUs.message" class="form-control" required></textarea>
                                </div>
                                <em class="error-message" ng-if="contactUsFrm.message.$error.required && (contactUsFrm.$submitted || contactUsFrm.message.$touched)">Message is required.</em>
                            </div>
                        </div>

                        <p><button type="button" class="btn-u" ng-click="farmerFrm.$submitted = true; submit(contactUsFrm.$valid);">Send Message</button></p>
                    </fieldset>

                </form>
            </div><!--/col-md-9-->

            <div class="col-md-3">
                <!-- Google Map -->
                <div id="map" class="map map-box map-box-space1 margin-bottom-40">
                </div><!---/map-->
                <!-- End Google Map -->

                <!-- Contacts -->
                <div class="headline"><h2>Contacts</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="javascript:void(0)"><i class="fa fa-home"></i>A-2/66, First Floor, Phase-V<br/>Aya Nagar, New Delhi, India-110047</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-envelope"></i>contact@vocac.com</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-phone"></i>+91 (971) 781 9586</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-globe"></i>https://www.vocac.com</a></li>
                </ul>
                <!-- End Contacts -->

                <!-- Business Hours -->
                <div class="headline"><h2>Business Hours</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                    <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                    <li><strong>Saturday:</strong> 11am to 3pm</li>
                    <li><strong>Sunday:</strong> Closed</li>
                </ul>
                <!-- End Business Hours -->
            </div><!--/col-md-3-->
        </div><!--/row-->

        <!-- Owl Clients v1 -->
        <div class="headline"><h2>Our Clients</h2></div>
        <div class="owl-clients-v1">
            <div class="item">
                <img src="assets/img/clients4/1.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/2.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/3.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/4.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/5.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/6.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/7.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/8.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/9.png" alt="">
            </div>
        </div>
        <!-- End Owl Clients v1 -->
    </div><!--/container-->
    <!--=== End Content Part ===-->
    
    <script type="text/javascript">
		jQuery(document).ready(function() {
			OwlCarousel.initOwlCarousel();     
		    MasterSliderShowcase2.initMasterSliderShowcase2();
		});
	</script>