
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">FAQs</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Home</a></li>
                <li><a href="javascript:void(0)">others</a></li>
                <li class="active">FAQ</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row">
            <div class="col-md-9">
    			<!-- General Questions -->
                <div class="headline"><h2>General Questions</h2></div>
               	<accordion close-others="true" class="acc-v1">
				    <accordion-group heading="1. What type of services we offer?" is-open="true">
				      	We offer multiple types of services to our clients like a farmer can list his product online on our site and a trader/a company can directly buy that product from the farmer. By that way, for a farmer, it becomes very easy to sold out his product online. And we are also providing online bidding to their products as well.
				    </accordion-group>
				    <accordion-group heading="2. How does this whole process works?">
				    	<p>This whole process works in the following manner.</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check color-green"></i> A seller register himself with us/sends a request to us for the registration and an account get created</li>
                            <li><i class="fa fa-check color-green"></i> The seller add his product to sell it out and specify product's market price.</li>
                            <li><i class="fa fa-check color-green"></i> A registered buyer searches for the interesting products and select them out. And He/she negotiates the product prices with the seller.</li>
                            <li><i class="fa fa-check color-green"></i> When their deal gets final, buyer makes some advance booking amount.</li>
                            <li><i class="fa fa-check color-green"></i> We collect the product and deliver it to the buyer and collect the remaining amount.</li>
                        </ul>
				    </accordion-group>
				    <accordion-group heading="3. How does the product bidding process works?" is-open="true">
				      	<p>When a seller wants to enable the bidding for a product, He/she notify us to enable it. We enable the bidding for it and it becomes get visible on the bidding dashboard to the buyers. Buyers bid for it and the highest bidder get selected as the final bidder. Then we ask the seller whether He/she want to sell it at that price and if He/she is agree, we take the 10% advance payment from highest bidder and deliver the product to him and collect the remaining amount.</p>
				    </accordion-group>
				    <accordion-group heading="4. For how much time does the bidding get open?">
				    	Bidding gets open for 30 minutes only and at a time, bid gets enabled for 10 products.
				    </accordion-group>
				    <accordion-group heading="5. How does the bidding get divided for multiple regions and categories?" is-open="true">
				      	<p>Bidding is divided on the basis of states. You can select any state and all the products gets visible in that state. You can also bid via categories also like Cereals &amp; Pulses, Dry Fruits etc.</p>
				    </accordion-group>
				    <accordion-group heading="6. Can we also raise the demands as well?">
				    	Yes, you can. All the demands raised by the buyers get visible to sellers instantly. And if any sellers finds it interesting, He/she can contact the buyer.
				    </accordion-group>
				    <accordion-group heading="7. Can we directly make the contacts to the sellers?">
				    	Yes, you can. But sellers contact details only get visible to the registered buyers. We don't display the contact details to the unregistered buyers.
				    </accordion-group>
				</accordion>
                <!-- End General Questions -->

    			<!-- Other Questions -->
                <div class="headline"><h2>Other Questions</h2></div>
                <accordion close-others="true" class="acc-v1">
				    <accordion-group heading="How does a buyer/seller get registered with us?" is-open="true">
				      	For a seller like farmer, we provide online registration links. They can register themselves by following those links or can call us, we will create a account for them. For other entities like trader/retailer we don't provide direct registration links. They need to call us to create their account. We also provide a registration link for a company. But by this link, we only get notified that this company is interested. We still have to create its super user account separately.
				    </accordion-group>
				    <accordion-group heading="If buyers are not interested in our product on market price then what the other options do we have?">
				    	<p>Then you can ask to enable the bidding for the product. After bid get enabled for your product, product gets visible on the bidding dashboard and buyer bid for it.</p>
				    </accordion-group>
				    <accordion-group heading="Do we have the option to check product bidding online?" is-open="true">
				      	Yes we provide two options to check the product's online bidding. First, a seller gets notified on every bidding instantly. Second, we also provide a read-only access to the bidding dashboard to the seller. He/she can check the bidding from there also.
				    </accordion-group>
				    <accordion-group heading="How does the vocac pricing works?">
				    	On Vocac, you only have to pay for the services that you use. We don't charge anything for a service if you don't use that service. Vocac pricing is divided into the multiple options, you can select the options as per your need. We don't charge anything from the farmer.
				    </accordion-group>
				</accordion>
                <!-- End Other Questions -->
    		</div><!--/col-md-9-->

    		<div class="col-md-3">
            	<!-- Contacts -->
                <div class="headline"><h2>Contacts</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="javascript:void(0)"><i class="fa fa-home"></i>A-2/66, Phase-V, Aya Nagar <br/>New Delhi, India-110047</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-envelope"></i>info@vocac.com</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-phone"></i>+91 (971) 781 9586</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-globe"></i>https://www.vocac.com</a></li>
                </ul>
                <!-- End Contacts -->

            	<!-- Business Hours -->
                <div class="headline"><h2>Business Hours</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                	<li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                	<li><strong>Saturday:</strong> 11am to 3pm</li>
                	<li><strong>Sunday:</strong> Closed</li>
                </ul>
                <!-- End Business Hours -->

            	<!-- Info Block -->
                <div class="headline"><h2>Why we are?</h2></div>
                <p>We are the first company in India which is providing commodity products online to the clients. We have:</p>
                <ul class="list-unstyled margin-bottom-30">
                	<li><i class="fa fa-check color-green"></i> Best Quality</li>
                	<li><i class="fa fa-check color-green"></i> Wide Variety</li>
                	<li><i class="fa fa-check color-green"></i> Reasonable Pricing</li>
                </ul>
                <!-- End Info Block -->

                <!-- Social -->
                <div class="magazine-sb-social margin-bottom-20">
                    <div class="headline headline-md"><h2>Social Icons</h2></div>
                    <ul class="social-icons social-icons-color">
                        <li><a href="javascript:void(0)" data-original-title="Feed" class="social_rss"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Facebook" class="social_facebook"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Twitter" class="social_twitter"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Vimeo" class="social_vimeo"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Pinterest" class="social_pintrest"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Linkedin" class="social_linkedin"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Dropbox" class="social_dropbox"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Picasa" class="social_picasa"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Spotify" class="social_spotify"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Jolicloud" class="social_jolicloud"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Wordpress" class="social_wordpress"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Github" class="social_github"></a></li>
                        <li><a href="javascript:void(0)" data-original-title="Xing" class="social_xing"></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- End Social -->
            </div><!--/col-md-3-->
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

