
    <!--=== Job Img ===-->
    <div class="job-img margin-bottom-30">
        <div class="job-banner">
            <h2>Discover the Companies You would love to Work for ...</h2>
        </div>   
        <div class="job-img-inputs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 md-margin-bottom-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                            <input type="text" placeholder="what job you are looking for" class="form-control">
                        </div>
                    </div>    
                    <div class="col-sm-4 md-margin-bottom-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" placeholder="where would you like to work" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn-u btn-block btn-u-dark"> Search Job</button>
                    </div>
                </div>
            </div>    
        </div>    
    </div>    
    <!--=== End Job Img ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <!-- Begin Service Block -->
        <div class="row margin-bottom-40">
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-sea service-or">
                    <div class="service-bg"></div>                
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-notebook"></i>
                    <h2 class="heading-md">Company Profile</h2>
                    <p>Vocac is the India's No.1 company providing services to the farmers of our country</p>                        
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-red service-or">
                    <div class="service-bg"></div>                
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-users"></i>
                    <h2 class="heading-md">Meet The Team</h2>
                    <p>Vocac as a team is putting its best efforts to solve the farmers problem in our country </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="service-block service-block-blue service-or">
                    <div class="service-bg"></div>                
                    <i class="icon-custom icon-color-light rounded-x icon-line icon-rocket"></i>
                    <h2 class="heading-md">Be a Leader</h2>
                    <p>Vocac creates world leader. Here you are free to do whatever you like which changes the our client's experience</p>
                </div>
            </div>
        </div>
        <!-- End Begin Service Block -->

        <!-- Job Content -->
        <div class="row job-content">
            <div class="col-md-3 col-sm-6 md-margin-bottom-40">
                <h3 class="heading-md"><strong>Accounting &amp; Finance</strong></h3>
                <ul class="list-unstyled categories">
                    <li><a href="#">Accounting</a> <small class="hex">(342 jobs)</small></li>
                    <li><a href="#">Admin &amp; Clerical</a> <small class="hex">(143 jobs)</small></li>
                    <li><a href="#">Banking &amp; Finance</a> <small class="hex">(66 jobs)</small></li>
                    <li><a href="#">Contract &amp; Freelance</a> <small class="hex">(12 jobs)</small></li>
                    <li><a href="#">Business Development</a> <small class="hex">(212 jobs)</small></li>
                    <li><a href="#">Government Accounting</a> <small class="hex">(135 jobs)</small></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 md-margin-bottom-40">
                <h3 class="heading-md"><strong>Medicla &amp; Health</strong></h3>
                <ul class="list-unstyled categories">
                    <li><a href="#">Nurse</a> <small class="hex">(546 jobs)</small></li>
                    <li><a href="#">Health Care</a> <small class="hex">(82 jobs)</small></li>
                    <li><a href="#">General Labor</a> <small class="hex">(11 jobs)</small></li>
                    <li><a href="#">Pharmaceutical</a> <small class="hex">(109 jobs)</small></li>
                    <li><a href="#">Human Resources</a> <small class="hex">(401 jobs)</small></li>
                    <li><a href="#">Cardiovascular Technologist</a> <small class="hex">(282 jobs)</small></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 md-margin-bottom-40">
                <h3 class="heading-md"><strong>Web Development</strong></h3>
                <ul class="list-unstyled categories">
                    <li><a href="#">Ecommerce</a> <small class="hex">(958 jobs)</small></li>
                    <li><a href="#">Web Design</a> <small class="hex">(576 jobs)</small></li>
                    <li><a href="#">Web Programming</a> <small class="hex">(543 jobs)</small></li>
                    <li><a href="#">Other - Web Development</a> <small class="hex">(67 jobs)</small></li>
                    <li><a href="#">Website Project Management</a> <small class="hex">(45 jobs)</small></li>
                    <li><a href="#">App &amp; Icon Design</a> <small class="hex">(439 jobs)</small></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3 class="heading-md"><strong>Sales &amp; Marketing</strong></h3>
                <ul class="list-unstyled categories">
                    <li><a href="#">Advertising</a> <small class="hex">(123 jobs)</small></li>
                    <li><a href="#">Email Marketing</a> <small class="hex">(544 jobs)</small></li>
                    <li><a href="#">Telemarketing &amp; Telesales</a> <small class="hex">(564 jobs)</small></li>
                    <li><a href="#">Market Research &amp; Surveys</a> <small class="hex">(345 jobs)</small></li>
                    <li><a href="#">SEM - Search Engine Marketing</a> <small class="hex">(32 jobs)</small></li>
                    <li><a href="#">Analysis &amp; Consulting</a> <small class="hex">(163 jobs)</small></li>
                </ul>
            </div>
        </div>        
        <!-- End Job Content -->
    </div>

    <!--=== Parallax Counter ===-->
    <div class="parallax-counter-v2 parallaxBg1" style="background-position: 50% 31px;">
        <div class="container">
            <ul class="row list-row">
                <li class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30">
                    <div class="counters rounded">
                        <span class="counter">138</span>
                        <h4>Content Team</h4>
                    </div>    
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30">
                    <div class="counters rounded">
                        <span class="counter">283</span> 
                        <h4>Sales Team</h4>
                    </div>    
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12 sm-margin-bottom-30">
                    <div class="counters rounded">
                        <span class="counter">304</span>
                        <h4>IT/Engineering</h4>
                    </div>    
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                    <div class="counters rounded">
                        <span class="counter">592</span>
                        <h4>Operations</h4>
                    </div>    
                </li>
            </ul>            
        </div>
    </div>
    <!--=== End Parallax Counter ===-->

    <!--=== Content Part ===-->
    <div class="parallax-quote parallaxBg" style="background-position: 50% 20px;">
        <div class="container">
            <div class="parallax-quote-in">
                <p>If you think that you can out of the box <span class="color-green">and create an impact</span> then <br> come and join us.</p>
                <small>- HtmlStream -</small>
            </div>
        </div>
    </div>
    <!--=== End Content Part ===-->

    <div class="bg-grey">
        <div class="container content-md">
            <ul class="row list-row margin-bottom-30">
                <li class="col-md-4 md-margin-bottom-30">
                    <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                        <i class="icon-custom rounded-x icon-bg-yellow fa fa-diamond"></i>
                        <div class="content-boxes-in-v3">
                            <ul class="star-vote">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <h3><a href="#">Content Team</a></h3>
                            <ul class="list-inline margin-bottom-5">
                                <li>By <a class="color-green" href="#">James Rolix</a></li>
                                <li><i class="fa fa-clock-o"></i> Oct 07, 2014</li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium...</p>
                            <ul class="list-inline block-grid-v1-add-info">
                                <li><a href="#"><i class="fa fa-eye"></i> 34039</a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i> 451</a></li>
                                <li><a href="#"><i class="fa fa-download"></i> 10842</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> 863</a></li>
                            </ul>    
                        </div>
                    </div>
                </li>
                <li class="col-md-4">
                    <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                        <i class="icon-custom rounded-x icon-bg-dark fa fa-connectdevelop"></i>
                        <div class="content-boxes-in-v3">
                            <ul class="star-vote">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <h3><a href="#">IT/Engineering</a></h3>
                            <ul class="list-inline margin-bottom-5">
                                <li>By <a class="color-green" href="#">Edward Holes</a></li>
                                <li><i class="fa fa-clock-o"></i> Jan 02, 2013</li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium...</p>
                            <ul class="list-inline block-grid-v1-add-info">
                                <li><a href="#"><i class="fa fa-eye"></i> 34039</a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i> 451</a></li>
                                <li><a href="#"><i class="fa fa-download"></i> 10842</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> 863</a></li>
                            </ul>    
                        </div>
                    </div>
                </li>                
                <li class="col-md-4 md-margin-bottom-30">
                    <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                        <i class="icon-custom rounded-x icon-bg-red fa fa-line-chart"></i>
                        <div class="content-boxes-in-v3">
                            <ul class="star-vote">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-o"></i></li>
                            </ul>
                            <h3><a href="#">Business &amp; Finance</a></h3>
                            <ul class="list-inline margin-bottom-5">
                                <li>By <a class="color-green" href="#">The Economist</a></li>
                                <li><i class="fa fa-clock-o"></i> Oct 02, 2014</li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium...</p>
                            <ul class="list-inline block-grid-v1-add-info">
                                <li><a href="#"><i class="fa fa-eye"></i> 4258</a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i> 382</a></li>
                                <li><a href="#"><i class="fa fa-download"></i> 2938</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> 230</a></li>
                            </ul>    
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="row list-row">
                <li class="col-md-4 md-margin-bottom-30">
                    <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                        <i class="icon-custom rounded-x icon-bg-blue fa fa-twitter"></i>
                        <div class="content-boxes-in-v3">
                            <ul class="star-vote">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <h3><a href="#">Sales Team</a></h3>
                            <ul class="list-inline margin-bottom-5">
                                <li>By <a class="color-green" href="#">Twitter Inc.</a></li>
                                <li><i class="fa fa-clock-o"></i> Jan 02, 2013</li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium...</p>
                            <ul class="list-inline block-grid-v1-add-info">
                                <li><a href="#"><i class="fa fa-eye"></i> 25232</a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i> 543</a></li>
                                <li><a href="#"><i class="fa fa-download"></i> 6782</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> 943</a></li>
                            </ul>    
                        </div>
                    </div>
                </li>
                <li class="col-md-4 md-margin-bottom-30">
                    <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                        <i class="icon-custom rounded-x icon-bg-orange fa fa-paper-plane-o"></i>
                        <div class="content-boxes-in-v3">
                            <ul class="star-vote">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <h3><a href="#">Operations</a></h3>
                            <ul class="list-inline margin-bottom-5">
                                <li>By <a class="color-green" href="#">Stanford University</a></li>
                                <li><i class="fa fa-clock-o"></i> Jan 02, 2013</li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium...</p>
                            <ul class="list-inline block-grid-v1-add-info">
                                <li><a href="#"><i class="fa fa-eye"></i> 7653</a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i> 342</a></li>
                                <li><a href="#"><i class="fa fa-download"></i> 3621</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> 583</a></li>
                            </ul>    
                        </div>
                    </div>
                </li>
                <li class="col-md-4">
                    <div class="content-boxes-v2 text-center block-grid-v1 rounded">
                        <i class="icon-custom rounded-x icon-bg-purple fa fa-music"></i>
                        <div class="content-boxes-in-v3">
                            <ul class="star-vote">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half-o"></i></li>
                            </ul>
                            <h3><a href="#">Management</a></h3>
                            <ul class="list-inline margin-bottom-5">
                                <li>By <a class="color-green" href="#">Sony Corporation</a></li>
                                <li><i class="fa fa-clock-o"></i> Jan 02, 2013</li>
                            </ul>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium...</p>
                            <ul class="list-inline block-grid-v1-add-info">
                                <li><a href="#"><i class="fa fa-eye"></i> 62637</a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i> 741</a></li>
                                <li><a href="#"><i class="fa fa-download"></i> 21314</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i> 1041</a></li>
                            </ul>    
                        </div>
                    </div>
                </li>
            </ul>
        </div>        
    </div>
