
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Pricing Information</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Services</a></li>
                <li class="active">Pricing</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
		
		<!-- Pricing Table v1-->
        <div class="row pricing-table-v1 no-space-pricing">

            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-green">
                    <div class="pricing-v1-head text-center">
                        <h4>Retailer Plan</h4>
                        <h5><span>$</span>49<i>p/m</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v1-content">
                        <li><i class="fa fa-check-circle-o"></i>2 Users</li>
                        <li><i class="fa fa-check-circle-o"></i>Products - NA</li>
                        <li><i class="fa fa-check-circle-o"></i>Orders Unlimited</li>
                        <li><i class="fa fa-check-circle-o"></i>Demands Unlimited</li>
                        <li><i class="fa fa-check-circle-o"></i>5 Regions</li>
                        <li><i class="fa fa-check-circle-o"></i>No Bidding</li>
                        <li><i class="fa fa-check-circle-o"></i>Support 24/7</li>
                    </ul>
                    <div class="pricing-v1-footer">
                        <a href="#" class="btn-u btn-block text-center">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-blue">
                    <div class="pricing-v1-head">
                        <div class="sticker-left">New</div>
                        <h4 class="text-center">Broker Plan</h4>
                        <h5 class="text-center"><span>$</span>99<i>p/m</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v1-content">
                        <li><i class="fa fa-check-circle-o"></i>3 Users</li>
                        <li><i class="fa fa-check-circle-o"></i>Products Unlimited</li>
                        <li><i class="fa fa-check-circle-o"></i>Orders Unlimited</li>
                        <li><i class="fa fa-check-circle-o"></i>Demands Unlimited</li>
                        <li><i class="fa fa-check-circle-o"></i>6 Regions</li>
                        <li><i class="fa fa-check-circle-o"></i>No Bidding</li>
                        <li><i class="fa fa-check-circle-o"></i>Support 24/7</li>
                    </ul>
                    <div class="pricing-v1-footer">
                        <a href="#" class="btn-u btn-u-blue btn-block text-center">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-red">
                    <div class="pricing-v1-head">
                        <h4 class="text-center">Business Plan</h4>
                        <h5 class="text-center"><span>$</span>499<i>p/m</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v1-content">
                        <li><i class="fa fa-check-circle-o"></i>15 Users</li>
                        <li><i class="fa fa-check-circle-o"></i>Products - NA</li>
                        <li><i class="fa fa-check-circle-o"></i>Orders Unlimited</li>
                        <li><i class="fa fa-check-circle-o"></i>Demands Unlimited</li>
                        <li><i class="fa fa-check-circle-o"></i>Unlimited Regions</li>
                        <li><i class="fa fa-check-circle-o"></i>Unlimited Bidding</li>
                        <li><i class="fa fa-check-circle-o"></i>Support 24/7</li>
                    </ul>
                    <div class="pricing-v1-footer text-center">
                        <a href="#" class="btn-u btn-u-red btn-block text-center">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-brown">
                    <div class="pricing-v1-head">
                        <h4 class="text-center">Limitless Plan</h4>
                        <h5 class="text-center"><span>$</span>999<i>p/m</i></h5>
                    </div>
                    <ul class="list-unstyled pricing-v1-content">
                        <li><i class="fa fa-check-circle-o"></i>Unlimited</li>
                        <li><i class="fa fa-check-circle-o"></i>Products - NA</li>
                        <li><i class="fa fa-check-circle-o"></i>Orders Unlimited</li>
                        <li><i class="fa fa-check-circle-o"></i>Demands Unlimited</li>
                        <li><i class="fa fa-check-circle-o"></i>Unlimited Regions</li>
                        <li><i class="fa fa-check-circle-o"></i>Unlimited Bidding</li>
                        <li><i class="fa fa-check-circle-o"></i>Support 24/7</li>
                    </ul>
                    <div class="pricing-v1-footer">
                        <a href="#" class="btn-u btn-u-brown btn-block text-center">Sign Up</a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Pricing Table v1 -->

        <hr class="margin-bottom-60">

        <!-- Pricing Table v4-->
        
        <div class="row pricing-table-v4 no-space-pricing">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v4 pricing-v4-green ">
                    <div class="pricing-v4-head">
                        <h4 class="text-center">RETAILER</h4>
                        <div class="pricing-rounded"><h5 class="text-center"><span>$</span>49<i>/Month</i></h5></div>
                        <a href="javascript:void(0)" class="btn-u btn-u"><i class="price-corner"></i><i class="price-corner-2"></i>Purchase Now<span class="icon-basket"></span></a>
                    </div>
                    <ul class="list-unstyled pricing-v4-content text-center">
                        <li><span class="icon-user-female"></span> Users - 1</li>
                        <li><span class="fa fa-bars"></span> Orders - Unlimited</li>
                        <li><span class="icon-layers"></span> Demands - Unlimited</li>
                        <li><span class="icon-envelope-open"></span> Support - 24/7</li>
                        <li><span class="icon-wrench"></span> Helpdesk - 24/7</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v4 pricing-v4-brown">
                    <div class="pricing-v4-head">
                        <h4 class="text-center">BROKER</h4>
                        <div class="pricing-rounded"><h5 class="text-center"><span>$</span>99<i>/Month</i></h5></div>
                        <a href="javascript:void(0)" class="btn-u btn-u-brown">
                            <i class="price-corner"></i>
                            <i class="price-corner-2">
                            </i>Purchase Now<span class="icon-basket">
                            </span>
                        </a>
                    </div>
                    <ul class="list-unstyled pricing-v4-content text-center">
                        <li><span class="icon-user-female"></span> Users - 1</li>
                        <li><span class="fa fa-bars"></span> Products - Unlimited</li>
                        <li><span class="fa fa-truck"></span> Orders - Unlimited</li>
                        <li><span class="icon-layers"></span> Demands - Unlimited</li>
                        <li><span class="icon-envelope-open"></span> Support - 24/7</li>
                        <!-- <li><span class="icon-wrench"></span> Helpdesk - 24/7</li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v4 pricing-v4-red">
                    <div class="pricing-v4-head">
                        <h4 class="text-center">BUSINESS</h4>
                        <div class="pricing-rounded">
                            <h5 class="text-center"><span>$</span>499<i>/Month</i></h5></div>
                            <a href="javascript:void(0)" class="btn-u btn-u-red">
                                <i class="price-corner"></i>
                                Purchase Now
                                <span class="icon-basket"></span>
                            </a>
                        </div>
                    <ul class="list-unstyled pricing-v4-content">
                        <li><span class="icon-user-female"></span> Users - 10</li>
                        <li><span class="fa fa-truck"></span> Orders - Unlimited</li>
                        <li><span class="icon-layers"></span> Demands - Unlimited</li>
                        <li><span class="icon-envelope-open"></span> Support - 24/7</li>
                        <li><span class="icon-wrench"></span> Helpdesk - 24/7</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v4 pricing-v4-dark-blue ">
                    <div class="pricing-v4-head">
                        <h4 class="text-center">LIMITLESS</h4>
                        <div class="pricing-rounded"><h5 class="text-center"><span>$</span>999<i>/Month</i></h5></div>
                        <a href="javascript:void(0)" class="btn-u btn-u-dark-blue"><i class="price-corner"></i>Purchase Now<span class="icon-basket"></span></a>
                    </div>
                    <ul class="list-unstyled pricing-v4-content">
                        <li><span class="icon-user-female"></span> Users - 200</li>
                        <li><span class="fa fa-truck"></span> Orders - Unlimited</li>
                        <li><span class="icon-layers"></span> Demands - Unlimited</li>
                        <li><span class="icon-envelope-open"></span> Support - 24/7</li>
                        <li><span class="icon-wrench"></span> Helpdesk - 24/7</li>
                    </ul>
                </div>
            </div>
        </div><!--/row-->
        <!-- End Pricing Table v4-->

    </div><!--/container-->
    <!--=== End Content Part ===-->

