<div class="modal-content">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
		<h4 class="modal-title" id="myModalLabel">Deals In</h4>
	</div>
	<form name="expertiseFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
			<div class="row">
				<section class="col col-md-offset-1 col-10">
					<label>Category:</label>
					<label class="input" ng-class="{ 'state-error' : expertiseFrm.name.$invalid && (expertiseFrm.$submitted || expertiseFrm.name.$touched) }">
						<input type="text" name="name" ng-model="expertise.name" class="form-control" placeholder="Category" required>
					</label>
					<em ng-if="expertiseFrm.name.$error.required && (expertiseFrm.$submitted || expertiseFrm.name.$touched)">Category is required.</em> 
					<em ng-if="expertiseFrm.name.$error.server && (expertiseFrm.$submitted || expertiseFrm.name.$touched)">{{expertiseFrm.name.$error.message}}</em>
				</section>
			</div>
			<div class="row">
				<section class="col col-md-offset-1 col-10">
					<label>Dealing from years:</label>
					<label class="select" ng-class="{ 'state-error' : expertiseFrm.country.$invalid && (expertiseFrm.$submitted || expertiseFrm.country.$touched) }">
						<select name="experience" data-ng-options="year.label for year in years track by year.value" data-ng-model="expertise.experience" required>
							<option value="" disabled selected style="display: none;"> select expertise </option>
						</select> 
						<i></i>
					</label> 
					<em ng-if="expertiseFrm.experience.$error.required && (expertiseFrm.$submitted || expertiseFrm.experience.$touched)">Please select the number of years.</em> 
					<em ng-if="expertiseFrm.experience.$error.server && (expertiseFrm.$submitted || expertiseFrm.experience.$touched)">{{expertiseFrm.experience.$error.message}}</em>
				</section>
			</div>
	</form>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn-u" type="button" ng-click="expertiseFrm.$submitted = true; ok(expertiseFrm.$valid)">Proceed</button>
	</div>
</div>