<div class="modal-content">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
		<h4 class="modal-title" id="myModalLabel">Upcoming Event Details</h4>
	</div>
	<form name="upcomingEventFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
			<div class="row">
				<section class="col col-sm-12">
					<label class="label">Event Name:</label>
					<label class="input" ng-class="{ 'state-error' : upcomingEventFrm.event.$invalid && (upcomingEventFrm.$submitted || upcomingEventFrm.event.$touched) }">
						<input type="text" placeholder="Event Name" name="event" ng-model="upcomingEvent.event" class="form-control" required>
					</label>
					<em ng-if="upcomingEventFrm.event.$error.required && (upcomingEventFrm.$submitted || upcomingEventFrm.event.$touched)">Event Name is required.</em> 
					<em ng-if="upcomingEventFrm.event.$error.server && (upcomingEventFrm.$submitted || upcomingEventFrm.event.$touched)">{{upcomingEventFrm.event.$error.message}}</em>
				</section>
			</div>
			<div class="row">
				<section class="col col-sm-12">
					<label class="label">More Information:</label>
					<label class="textarea" ng-class="{ 'state-error' : upcomingEventFrm.eventDetail.$invalid && (upcomingEventFrm.$submitted || upcomingEventFrm.eventDetail.$touched) }">
						<textarea type="text" placeholder="More Information" name="eventDetail" ng-model="upcomingEvent.eventDetail" class="form-control" rows="3"></textarea>
					</label>
				</section>
			</div>
		
			<div class="row">
                <section class="col col-sm-12">
                	<label class="label">Organizer:</label>
					<label class="input">
                        <input type="text" name="search" ng-model="keywords" placeholder="Search organizer by email id, phone number" 
                        	uib-typeahead="owner as owner.emailId + ' Phone: ' + owner.mobileNo for owner in searchUser($viewValue)" 
                            typeahead-popup-template-url="custom-popup-template.component.html" 
                            typeahead-on-select="selectOrganizer($item, $model, $label)" typeahead-wait-ms="1000">
                    </label>
                </section>
            </div>
            
            <div class="row">
                <section class="col col-sm-6">
                	<label class="label">Event Date:</label>
					<label class="input" ng-class="{ 'state-error' : upcomingEventFrm.upcomingEventLine1.$invalid && (upcomingEventFrm.$submitted || upcomingEventFrm.upcomingEventLine1.$touched) }">
						<i class="icon-append fa fa-calendar"></i>
                        <input type="text" name="eventDate" ng-model="upcomingEvent.eventDate" prak-datepicker placeholder="Event date">
					</label> 
					<em ng-if="upcomingEventFrm.eventDate.$error.required && (upcomingEventFrm.$submitted || upcomingEventFrm.eventDate.$touched)">Event Date is required.</em> 
					<em ng-if="upcomingEventFrm.eventDate.$error.server && (upcomingEventFrm.$submitted || upcomingEventFrm.eventDate.$touched)">{{upcomingEventFrm.eventDate.$error.message}}</em>
				</section>
            </div>
	
			<div class="row">
               	<section class="col col-sm-12">
					<label class="label">Search group:</label>
                  	<label class="input">
                  		<tags-input ng-model="upcomingEvent.groups" display-property="name" key-property="name" placeholder="Add a group" replace-spaces-with-dashes="false">
							<auto-complete source="searchGroup($query)"></auto-complete>
   						</tags-input>
                  	</label>
              	</section>
            </div>
            
            <div class="row">
               	<section class="col col-sm-12">
                	<label class="label">Search user:</label>
                  	<label class="input">
                  		<tags-input ng-model="upcomingEvent.users" display-property="emailId" key-property="emailId" placeholder="Add a user" replace-spaces-with-dashes="false">
							<auto-complete source="searchUser($query)"></auto-complete>
   						</tags-input>
                  	</label>
				</section>
            </div>
	
			<div class="row">
				<section class="col col-sm-12">
					<label class="label">Search company:</label>
                  	<label class="input">
                  		<tags-input ng-model="upcomingEvent.companies" display-property="name" key-property="name" placeholder="Add a company" replace-spaces-with-dashes="false">
							<auto-complete source="searchCompany($query)"></auto-complete>
   						</tags-input>
                  	</label>
              	</section>
			</div>
	</form>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn-u" type="button" ng-click="upcomingEventFrm.$submitted = true; ok(upcomingEventFrm.$valid)">Proceed</button>
	</div>
</div>

	<script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select owner from drop down.</p>
			
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>