	<div class="modal-content">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
			<h4 class="modal-title" id="myModalLabel">Notification Details</h4>
		</div>
		<form name="notificationFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
				<div class="row">
					<section class="col col-sm-12">
						<label class="label">Category:</label>
							<label class="select" ng-class="{ 'state-error' : notificationFrm.country.$invalid && (notificationFrm.$submitted || notificationFrm.country.$touched) }">
								<select name="category" data-ng-options="category.id as category.name for category in categories" data-ng-model="notification.categoryId" required>
									<option value="" disabled selected style="display: none;"> Select category </option>
								</select> 
								<i></i>
							</label> 
							<em ng-if="notificationFrm.category.$error.required && (notificationFrm.$submitted || notificationFrm.category.$touched)">Category is required.</em> 
							<em ng-if="notificationFrm.category.$error.server && (notificationFrm.$submitted || notificationFrm.category.$touched)">{{notificationFrm.category.$error.message}}</em>
					</section>
				</div>
				
				<div class="row">
					<section class="col col-sm-12">
						<label class="label">Notification:</label>
						<label class="input" ng-class="{ 'state-error' : notificationFrm.notification.$invalid && (notificationFrm.$submitted || notificationFrm.event.$touched) }">
							<input type="text" placeholder="Notfication" name="notification" ng-model="notification.notification" class="form-control" required>
						</label>
						<em ng-if="notificationFrm.category.$error.required && (notificationFrm.$submitted || notificationFrm.category.$touched)">Notification Category is required.</em> 
						<em ng-if="notificationFrm.category.$error.server && (notificationFrm.$submitted || notificationFrm.category.$touched)">{{notificationFrm.category.$error.message}}</em>
					</section>
				</div>
				
				<div class="row">
					<section class="col col-sm-12">
						<label class="label">Message:</label>
						<label class="textarea" ng-class="{ 'state-error' : notificationFrm.eventDetail.$invalid && (notificationFrm.$submitted || notificationFrm.eventDetail.$touched) }">
							<textarea type="text" placeholder="More Information" name="eventDetail" ng-model="notification.eventDetail" class="form-control" rows="3"></textarea>
						</label>
					</section>
				</div>
			
				<div class="row">
	                <section class="col col-sm-6">
	                	<label class="label">Start Date:</label>
						<label class="input" ng-class="{ 'state-error' : notificationFrm.startDate.$invalid && (notificationFrm.$submitted || notificationFrm.startDate.$touched) }">
							<i class="icon-append fa fa-calendar"></i>
	                        <input type="text" name="startDate" ng-model="notification.startDate" prak-datepicker placeholder="Start date">
						</label> 
						<em ng-if="notificationFrm.startDate.$error.required && (notificationFrm.$submitted || notificationFrm.startDate.$touched)">Start Date is required.</em> 
						<em ng-if="notificationFrm.startDate.$error.server && (notificationFrm.$submitted || notificationFrm.startDate.$touched)">{{notificationFrm.startDate.$error.message}}</em>
					</section>
	            </div>
				
				<div class="row">
	                <section class="col col-sm-6">
	                	<label class="label">Expiry Date:</label>
						<label class="input" ng-class="{ 'state-error' : notificationFrm.expiryDate.$invalid && (notificationFrm.$submitted || notificationFrm.expiryDate.$touched) }">
							<i class="icon-append fa fa-calendar"></i>
	                        <input type="text" name="expiryDate" ng-model="notification.expiryDate" prak-datepicker placeholder="Expiry date">
						</label> 
						<em ng-if="notificationFrm.expiryDate.$error.required && (notificationFrm.$submitted || notificationFrm.expiryDate.$touched)">Expiry Date is required.</em> 
						<em ng-if="notificationFrm.expiryDate.$error.server && (notificationFrm.$submitted || notificationFrm.expiryDate.$touched)">{{notificationFrm.expiryDate.$error.message}}</em>
					</section>
	            </div>
				
				<div class="row">
	               	<section class="col col-sm-12">
						<label class="label">Search group:</label>
	                  	<label class="input">
	                  		<tags-input ng-model="notification.groups" display-property="name" key-property="name" placeholder="Add a group" replace-spaces-with-dashes="false">
								<auto-complete source="searchGroup($query)"></auto-complete>
	   						</tags-input>
	                  	</label>
	              	</section>
	            </div>
	            
	            <div class="row">
	               	<section class="col col-sm-12">
	                	<label class="label">Search user:</label>
	                  	<label class="input">
	                  		<tags-input ng-model="notification.users" display-property="emailId" key-property="emailId" placeholder="Add a user" replace-spaces-with-dashes="false">
								<auto-complete source="searchUser($query)"></auto-complete>
	   						</tags-input>
	                  	</label>
					</section>
	            </div>
		
				<div class="row">
					<section class="col col-sm-12">
						<label class="label">Search company:</label>
	                  	<label class="input">
	                  		<tags-input ng-model="notification.companies" display-property="name" key-property="name" placeholder="Add a company" replace-spaces-with-dashes="false">
								<auto-complete source="searchCompany($query)"></auto-complete>
	   						</tags-input>
	                  	</label>
	              	</section>
				</div>
		</form>
		<div class="modal-footer">
			<button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
	        <button class="btn-u" type="button" ng-click="ok(notificationFrm.$valid)">Proceed</button>
		</div>
	</div>

	<script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select owner from drop down.</p>
			
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>