<div class="modal-content">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
		<h4 class="modal-title" id="myModalLabel">Edit Credit Card</h4>
	</div>
	<form name="creditCardFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
			<div class="row">
				<section class="col col-8">
					<label for="paymentCardId">Payment Card </label>
					<label class="select" ng-class="{ 'state-error' : creditCardFrm.paymentCardId.$invalid && (creditCardFrm.$submitted || creditCardFrm.paymentCardId.$touched) }">
						<select name="paymentCardId" data-ng-options="paymentCard.name for paymentCard in paymentCards track by paymentCard.id" data-ng-model="creditCard.paymentCard" required>
						</select> 
						<i></i>
					</label> 
					<em ng-if="creditCardFrm.paymentCardId.$error.required && (creditCardFrm.$submitted || creditCardFrm.paymentCardId.$touched)">Payment Card is required.</em> 
					<em ng-if="creditCardFrm.paymentCardId.$error.server && (creditCardFrm.$submitted || creditCardFrm.paymentCardId.$touched)">{{creditCardFrm.paymentCardId.$error.message}}</em>
				</section>
			</div>
			<div class="row">
				<section class="col col-8">
					<label for="number">Card Number </label>
					<label class="input" ng-class="{ 'state-error' : creditCardFrm.number.$invalid && (creditCardFrm.$submitted || creditCardFrm.number.$touched) }">
						<input type="text" name="number" class="form-control" ng-model="creditCard.number" ui-mask="XXXX-XXXX-XXXX-9999" ng-disabled="true" aria-describedby="basic-addon1" required> 
						<i></i>
					</label> 
					<em ng-if="creditCardFrm.number.$error.required && (creditCardFrm.$submitted || creditCardFrm.number.$touched)">Card Number is required.</em> 
					<em ng-if="creditCardFrm.number.$error.server && (creditCardFrm.$submitted || creditCardFrm.number.$touched)">{{creditCardFrm.number.$error.message}}</em>
				</section>
			</div>
			<div class="row">
				<section class="col col-8">
					<label for="owner">Card Owner </label>
					<label class="input" ng-class="{ 'state-error' : creditCardFrm.owner.$invalid && (creditCardFrm.$submitted || creditCardFrm.owner.$touched) }">
						<input type="text" name="owner" class="form-control" ng-model="creditCard.owner" placeholder="Card Owner" aria-describedby="basic-addon1" required> 
						<i></i>
					</label> 
					<em ng-if="creditCardFrm.owner.$error.required && (creditCardFrm.$submitted || creditCardFrm.owner.$touched)">Card Owner is required.</em> 
					<em ng-if="creditCardFrm.owner.$error.server && (creditCardFrm.$submitted || creditCardFrm.owner.$touched)">{{creditCardFrm.owner.$error.message}}</em>
				</section>
			</div>
		
			<div class="row">
				<section class="col col-3">
					<label for="expiryMonthId">Exp Month </label>
					<label class="select" ng-class="{ 'state-error' : creditCardFrm.expiryMonthId.$invalid && (creditCardFrm.$submitted || creditCardFrm.expiryMonthId.$touched) }">
         				<select name="expiryMonthId" data-ng-options="expiryMonth.name + ' (' + expiryMonth.month + ')' for expiryMonth in expiryMonths track by expiryMonth.id" data-ng-model="creditCard.expiryMonth" aria-describedby="basic-addon1" required>
               			</select>
               			<i></i>
					</label> 
					<em ng-if="creditCardFrm.expiryMonthId.$error.required && (creditCardFrm.$submitted || creditCardFrm.expiryMonthId.$touched)">Expiry Month is required.</em> 
					<em ng-if="creditCardFrm.expiryMonthId.$error.server && (creditCardFrm.$submitted || creditCardFrm.expiryMonthId.$touched)">{{creditCardFrm.expiryMonthId.$error.message}}</em>
				</section>
				<section class="col col-3">
					<label for="expiryYearId">Exp Year </label>
					<label class="select" ng-class="{ 'state-error' : creditCardFrm.expiryYearId.$invalid && (creditCardFrm.$submitted || creditCardFrm.expiryYearId.$touched) }">
         				<select name="expiryYearId" data-ng-options="expiryYear.name for expiryYear in expiryYears track by expiryYear.id" data-ng-model="creditCard.expiryYear" aria-describedby="basic-addon1" required>
               			</select>
               			<i></i>
					</label> 
					<em ng-if="creditCardFrm.expiryYearId.$error.required && (creditCardFrm.$submitted || creditCardFrm.expiryYearId.$touched)">Expiry Year is required.</em> 
					<em ng-if="creditCardFrm.expiryYearId.$error.server && (creditCardFrm.$submitted || creditCardFrm.expiryYearId.$touched)">{{creditCardFrm.expiryYearId.$error.message}}</em>
				</section>
			</div>
					
			<div class="row">
				<section class="col col-12">
					<input type="checkbox" name="defaultBilling" ng-model="creditCard.defaultBilling">
					<small>Use this credit card for all the future transactions</small>
				</section>
			</div>
	</form>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn-u" type="button" ng-click="creditCardFrm.$submitted = true; ok(creditCardFrm.$valid)">Proceed</button>
	</div>
</div>