	
	<div class="modal-content">
        <!-- <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
        </div> -->
        <div class="modal-body">            
			<div class="testimonials-v6">
       			<table class="table table-bordered table-striped">
                    <thead>
		                <tr>
		                    <th>#</th>
		                    <th>Bidder</th>
		                    <th>Price</th>
		                    <th>Bid Time</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="bid in bids">
		                    <td>{{(pageNumber * pageSize) + $index + 1}}</td>
		                    <td ng-if="!bid.company">{{bid.user.firstName + ' ' + bid.user.lastName}}</td>
		                    <td ng-if="bid.company">{{bid.company.name}}</td>
		                    <td>{{bid.price}} {{bid.currency.mneomic}}/{{bid.unit.name}}</td>
		                    <td>{{bid.createdOn}}</td>
		                </tr>
		            </tbody>
                </table>
            </div>
        </div>
        <!-- 
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(bidFrm)">Place</button>
        </div> -->
    </div>