    	
	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Bids</h1>
            <ul class="pull-right breadcrumb">
            	<li><a href="/#/">Settings</a></li>
                <li><a href="/#/">Account</a></li>
                <li class="active">Bids</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Profile ===-->
    <div class="container content profile">
    	<div class="row">

            <!-- Profile Content -->
            <div class="col-md-12">
                <div class="profile-body margin-bottom-20">
                	
	 				<!-- Products -->
                    <div class="panel panel-profile">
                        <div class="panel-heading profile-box-header">
                            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Bids </h2>
                            
                            <div class="pull-right">
			                   	<section class="col col-12">
			                   		<form class="sky-form search-form" ng-click="searchByKeyword()">
			                            <label class="input">
			                                <i class="icon-append fa fa-search"></i>
			                                <input type="text" name="keywords" ng-model="keyword" placeholder="Search"/>
			                            </label>
			                        </form>
			                    </section>
			                </div>
			                
                        </div>
                        
                        <div class="panel-body margin-bottom-40">
                        	
                        	<div class="testimonials-v6 rounded-bottom">
                        		<div class="col-lg-4">
                        			<label>State:&nbsp;</label>
                        			<div class="btn-group">
				                        <button class="btn btn-sm btn-default" type="button">
				                            {{state.name}}
				                        </button>
				                        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
				                            <i class="fa fa-angle-down"></i>
				                            <span class="sr-only">Toggle Dropdown</span>                            
				                        </button>
				                        <ul role="menu" class="dropdown-menu">
				                            <li ng-repeat="state in states">
				                            	<a href="javascript:void(0);" ng-click="changeState(state)">{{state.name}}</a>
											</li>
				                        </ul>
				                    </div>
                        		</div>
                        		<div class="col-lg-4">
                        			<label>Category:&nbsp;</label>
                            		<div class="btn-group">
				                        <button class="btn btn-sm btn-default" type="button">
				                            {{category.name}}
				                        </button>
				                        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
				                            <i class="fa fa-angle-down"></i>
				                            <span class="sr-only">Toggle Dropdown</span>                            
				                        </button>
				                        <ul role="menu" class="dropdown-menu">
				                            <li ng-repeat="category in categories">
				                            	<a href="javascript:void(0);" ng-click="changeCategory(category)">{{category.name}}</a>
											</li>
				                        </ul>
				                    </div>
                        		</div>
                            </div>
                
                            <hr class="margin-top-50"/>
                            
                            <div class="testimonials-v6">
			        			<table class="table table-bordered table-striped">
				                    <thead>
						                <tr>
						                    <!-- <th>#</th> -->
						                    <th>Product</th>
						                    <th>Quantity</th>
						                    <th>Owner</th>
						                    <th>Region</th>
						                    <th>Highest Bid</th>
						                    <th>Last Bid By</th>
						                    <th>Time Left</th>
						                    <th></th>
						                </tr>
						            </thead>
						            <tbody>
						                <tr ng-repeat="product in products">
						                    <!-- <td>{{(pageNumber * pageSize) + $index + 1}}</td> -->
						                    <td><a href="javascript: void(0);" ng-click="viewDetail(product.uniqueId)">{{product.name}}</a></td>
						                    <td>{{product.quantity}} {{product.quantityUnit.name}}</td>
						                    <td>{{product.owner.firstName + ' ' + product.owner.lastName}}</td>
						                    <td>{{product.address.city}}, {{product.address.country.name}}</td>
						                    <td ng-if="!product.highestBid">{{product.initialBidAmount}} {{product.biddingCurrency.mneomic}}/{{product.biddingUnit.name}}</td>
						                    <td ng-if="product.highestBid">{{product.highestBid.price}} {{product.highestBid.currency.mneomic}}/{{product.highestBid.unit.name}}</td>
						                    <td>
						                    	<em ng-if="product.highestBid.company"><a href="javascript:void(0)">{{product.highestBid.company.name}}</a></em>
						                    	<em ng-if="!product.highestBid.company"><a href="javascript:void(0)">{{product.highestBid.user.firstName}} {{product.highestBid.user.lastName}}</a></em>
						                    </td>
						                    <td>
						                    	<div prak-countdown time-as-string="product.enableTillDate" message="message"></div>
						                    </td>
						                    <td>
						                    	<div class="btn-group pull-right">
							                        <button class="btn btn-xs btn-default" type="button">Actions</button>
							                        <button data-toggle="dropdown" class="btn btn-xs btn-default dropdown-toggle" type="button">
							                            <i class="fa fa-cog"></i>
							                            <span class="sr-only">Toggle Dropdown</span>
							                        </button>
							                        <ul role="menu" class="dropdown-menu">
							                            <li><a href="javascript: void(0);" ng-click="placeBid(product)"> Place a bid</a></li>
							                            <li><a href="javascript: void(0);" ng-click="viewAllBids(product)"> All bids</a></li>
							                        </ul>
							                    </div>
						                    </td>
						                </tr>
						            </tbody>
				                </table>
				            </div>
				            
			            </div>
			        
			        </div>
                    <!--End Products-->
                    
                </div>
            </div>
            <!-- End Profile Content -->
        </div><!--/end row-->
    </div>
    <!--=== End Profile ===-->

	<script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select owner from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>
	