	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
        </div>
        <div class="modal-body">            
			<div class="tag-box tag-box-v6">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h2>Bidding done!</h2>
				<p>Bidding has been done for this product.</p>
			</div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">ok</button>
            <button class="btn-u" type="button" ng-click="ok(bidFrm)">Place</button>
        </div>
    </div>