	
	<div class="modal-content">
        <!-- <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
        </div> -->
        <div class="modal-body">            
			<form name="bidFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" ng-submit="bidFrm.$submitted = true; submit(bidFrm.$valid)" novalidate>
				<div class="row">
					<div class="col col-11">
						<label class="label">Bid price: </label>
						<label class="input-group" ng-class="{ 'state-error' : bidFrm.price.$invalid && (bidFrm.$submitted || bidFrm.price.$touched) }">
                            <i class="icon-append fa fa-money"></i>
                            <input type="text" name="price" ng-model="bid.price" class="form-control" pattern="^\d*\.?\d*$" required>
                            <span class="input-group-btn">
                            	<button class="btn-u btn-u-md" type="submit">Place my bid</button>
                            </span>
                        </label>
						<em ng-if="bidFrm.price.$error.required && (bidFrm.$submitted || bidFrm.price.$touched)">Bid Price is requierd.</em>
						<em ng-if="bidFrm.price.$error.pattern && (bidFrm.$submitted || bidFrm.price.$touched)">Only numbers are allowed</em>
						<em ng-if="bidFrm.price.$error.server && (bidFrm.$submitted || bidFrm.price.$touched)">{{bidFrm.price.$error.message}}</em>
					</div>
                </div>
	        </form>
        </div>
        <!-- 
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(bidFrm)">Place</button>
        </div> -->
    </div>