<div class="modal-content">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
		<h4 class="modal-title" id="myModalLabel">Your Information</h4>
	</div>
	<form name="advancedBookingFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
			<div class="row">
				<section class="col col-6">
					<label class="input" ng-class="{ 'state-error' : advancedBookingFrm.firstName.$invalid && (advancedBookingFrm.$submitted || advancedBookingFrm.firstName.$touched) }">
						<input type="text" placeholder="First Name" name="firstName" ng-model="advancedBooking.firstName" class="form-control" required>
					</label>
					<em ng-if="advancedBookingFrm.firstName.$error.required && (advancedBookingFrm.$submitted || advancedBookingFrm.firstName.$touched)">First Name is required.</em> 
					<em ng-if="advancedBookingFrm.firstName.$error.server && (advancedBookingFrm.$submitted || advancedBookingFrm.firstName.$touched)">{{advancedBookingFrm.firstName.$error.message}}</em>
				</section>
				<section class="col col-6">
					<input type="text" placeholder="Last Name" name="lastName" ng-model="advancedBooking.lastName" class="form-control">
				</section>
			</div>
			<div class="row">
				<section class="col col-6">
					<label class="input" ng-class="{ 'state-error' : advancedBookingFrm.emailAddress.$invalid && (advancedBookingFrm.$submitted || advancedBookingFrm.emailAddress.$touched) }">
						<input type="text" placeholder="Email Address" name="emailAddress" ng-model="advancedBooking.emailAddress" class="form-control">
					</label>
				</section>
				<section class="col col-6">
					<label class="input" ng-class="{ 'state-error' : advancedBookingFrm.phoneNo.$invalid && (advancedBookingFrm.$submitted || advancedBookingFrm.phoneNo.$touched) }">
						<input type="tel" name="phoneNo" ng-model="advancedBooking.phoneNo" class="form-control" default-country="in" international-phone-number required>
					</label>
					<em ng-if="advancedBookingFrm.phoneNo.$error.required && (advancedBookingFrm.$submitted || advancedBookingFrm.phoneNo.$touched)">Mobile No. is required.</em> 
					<em ng-if="advancedBookingFrm.phoneNo.$error.internationalPhoneNumber && (advancedBookingFrm.$submitted || advancedBookingFrm.phoneNo.$touched)">Mobile No is not valid</em>
					<em ng-if="advancedBookingFrm.phoneNo.$error.server && (advancedBookingFrm.$submitted || advancedBookingFrm.phoneNo.$touched)">{{advancedBookingFrm.firstName.$error.message}}</em>
				</section>
			</div>
		
			<div class="row">
				<section class="col col-6">
					<label class="input" ng-class="{ 'state-error' : advancedBookingFrm.advancedBookingLine1.$invalid && (advancedBookingFrm.$submitted || advancedBookingFrm.advancedBookingLine1.$touched) }">
						<input type="text" name="addressLine1" ng-model="advancedBooking.addressLine1" placeholder="Address Line 1" required>
					</label> 
					<em ng-if="advancedBookingFrm.addressLine1.$error.required && (advancedBookingFrm.$submitted || advancedBookingFrm.advancedBookingLine1.$touched)">Address Line 1 is required.</em> 
					<em ng-if="advancedBookingFrm.addressLine1.$error.server && (advancedBookingFrm.$submitted || advancedBookingFrm.addressLine1.$touched)">{{advancedBookingFrm.addressLine1.$error.message}}</em>
				</section>
	
				<section class="col col-6">
					<label class="input"> <input type="text" name="addressLine2" ng-model="advancedBooking.addressLine2" placeholder="Address Line 2">
					</label>
				</section>
			</div>
	
			<div class="row">
				<section class="col col-6">
					<label class="input" ng-class="{ 'state-error' : advancedBookingFrm.city.$invalid && (advancedBookingFrm.$submitted || advancedBookingFrm.city.$touched) }">
						<input type="text" name="city" ng-model="advancedBooking.city" placeholder="City" required>
					</label> 
					<em ng-if="advancedBookingFrm.city.$error.required && (advancedBookingFrm.$submitted || advancedBookingFrm.city.$touched)">City is required.</em> 
					<em ng-if="advancedBookingFrm.city.$error.server && (advancedBookingFrm.$submitted || advancedBookingFrm.city.$touched)">{{advancedBookingFrm.city.$error.message}}</em>
				</section>
			</div>
	
			<div class="row">
				<section class="col col-6">
					<label class="select" ng-class="{ 'state-error' : advancedBookingFrm.state.$invalid && (advancedBookingFrm.$submitted || advancedBookingFrm.state.$touched) }">
						<select name="state" data-ng-options="state.id as state.name for state in states" data-ng-model="advancedBooking.stateId" required>
							<option value="" disabled selected style="display: none;"> State </option>
						</select> 
						<i></i>
					</label> 
					<em ng-if="advancedBookingFrm.state.$error.required && (advancedBookingFrm.$submitted || advancedBookingFrm.state.$touched)">State is required.</em> 
					<em ng-if="advancedBookingFrm.state.$error.server && (advancedBookingFrm.$submitted || advancedBookingFrm.state.$touched)">{{advancedBookingFrm.state.$error.message}}</em>
				</section>
	
				<section class="col col-6">
					<label class="select" ng-class="{ 'state-error' : advancedBookingFrm.country.$invalid && (advancedBookingFrm.$submitted || advancedBookingFrm.country.$touched) }">
						<select name="country" data-ng-options="country.id as country.name for country in countries" data-ng-model="advancedBooking.countryId" required>
							<option value="" disabled selected style="display: none;"> Country </option>
						</select> 
						<i></i>
					</label> 
					<em ng-if="advancedBookingFrm.country.$error.required && (advancedBookingFrm.$submitted || advancedBookingFrm.country.$touched)">Country is required.</em> 
					<em ng-if="advancedBookingFrm.country.$error.server && (advancedBookingFrm.$submitted || advancedBookingFrm.country.$touched)">{{advancedBookingFrm.country.$error.message}}</em>
				</section>
	
			</div>
	
			<div class="row">
				<section class="col col-6">
					<label class="input" ng-class="{ 'state-error' : advancedBookingFrm.zipcode.$invalid && (advancedBookingFrm.$submitted || advancedBookingFrm.zipcode.$touched) }">
						<input type="text" name="zipcode" ng-model="advancedBooking.zipcode" ui-mask="999999" required>
					</label> 
					<em ng-if="advancedBookingFrm.zipcode.$error.required && (advancedBookingFrm.$submitted || advancedBookingFrm.zipcode.$touched)">Zipcode is required.</em> 
					<em ng-if="advancedBookingFrm.zipcode.$error.server && (advancedBookingFrm.$submitted || advancedBookingFrm.zipcode.$touched)">{{advancedBookingFrm.zipcode.$error.message}}</em>
				</section>
			</div>
			
	</form>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn-u" type="button" ng-click="advancedBookingFrm.$submitted = true; submit(advancedBookingFrm.$valid)">Submit</button>
	</div>
</div>