	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Add product</h4>
        </div>
        <div class="modal-body">
            
			<form name="productFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>

				<div class="headline">
					<h3>Product Details</h3>
				</div>
			
				<div class="row">
					<section class="col col-6">
						<label class="label">Product Name</label>
                        <label class="input" ng-class="{ 'state-error' : productFrm.name.$invalid && productFrm.name.$touched }">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="name" ng-model="product.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                        </label>
						<em ng-if="productFrm.name.$error.required && productFrm.name.$touched">Name is required.</em>
						<em ng-if="productFrm.name.$error.minlength && productFrm.name.$touched">Name is too short.</em>
						<em ng-if="productFrm.name.$error.pattern && productFrm.name.$touched">Only alphanumerics are allowed.</em>
                    </section>
                    
                    <section class="col col-6" ng-show="isAuthorized('ROLE_EMPLOYEE')">
                    	<label class="label">Categories</label>
                    	<selectize config='categoryConfig' options='categories' ng-model="product.categoryIds"></selectize>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-6">
						<label class="label">Quantity</label>
                        <label class="input-group" ng-class="{ 'state-error' : productFrm.quantity.$invalid && productFrm.quantity.$touched }">
                       		<input type="text" name="quantity" ng-model="product.quantity" class="form-control" placeholder="e.g. 300" required pattern="^\d*\.?\d*$"/>
                            <div class="input-group-btn">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {{product.quantityUnit.name}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setQuantityUnit(unit)">{{unit.name}}</a></li>
                                </ul>
                            </div>
                        </label>
						<em ng-if="productFrm.quantity.$error.required && productFrm.quantity.$touched">Quantity is requierd.</em>
						<em ng-if="productFrm.quantity.$error.pattern && productFrm.quantity.$touched">Only numbers are allowed</em>
                    </section>
    
                    <section class="col col-6">
						<label class="label">Price</label>
                        <label class="input-group" ng-class="{ 'state-error' : productFrm.price.$invalid && productFrm.price.$touched }">
	                   		<input type="text" name="price" ng-model="product.price" class="form-control" placeholder="e.g. 4000" pattern="^\d*\.?\d*$" required>
                            <div class="input-group-btn">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {{transport.priceCurrency.mneomic}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-repeat="currency in currencies"><a href="javascript:void(0);" ng-click="setPriceCurrency(currency)">{{currency.mneomic}}</a></li>
                                </ul>
                            </div>
                            <span class="input-group-addon per-symbol">/</span>
                            <div class="input-group-btn">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {{transport.priceUnit.name}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setPriceUnit(unit)">{{unit.name}}</a></li>
                                </ul>
                            </div>
                        </label>
						<em ng-if="productFrm.price.$error.required && productFrm.price.$touched">Price is requierd.</em>
						<em ng-if="productFrm.price.$error.pattern && productFrm.price.$touched">Only numbers are allowed</em>
                    </section>
                </div>

				<div class="row">
					<div class="col col-11 margin-bottom-20">
						<label class="label">Tags</label>
                        <label class="input">
                            <tags-input ng-model="product.tags" display-property="name" key-property="name" replace-spaces-with-dashes="false">
								<auto-complete source="searchTag($query)"></auto-complete>
    						</tags-input>
                        </label>
                    </div>
				</div>

				<div class="row">
					<div class="col col-6 margin-bottom-20">
						<label class="label">Images</label>
                        <label for="file" class="input input-file">
                            <div class="button"><input type="file" ngf-select ng-model="files" ngf-multiple="true" accept="image/*" onchange="this.parentNode.nextSibling.value = this.value">Browse</div><input type="text" readonly>
                        </label>
                    </div>
				</div>

				<div class="row" ng-if="isAuthorized('ROLE_ADMIN')">
					<div class="col col-5 margin-top-10 margin-bottom-20">
						<label class="toggle prak-toggle toggle-change"><input type="checkbox" ng-model="product.consumerProduct" name="checkbox-toggle-1" checked=""><i class="no-rounded"></i>consumer product?</label>
      				</div>
				</div>

				<div class="tab-v2 margin-bottom-50" ng-show="isAuthorized('ROLE_ADMIN') && !product.consumerProduct">
					<tabset justified="false">
						<tab heading="Existing User">
							<div class="tab-pane fade in active">
			                    <div class="row">
	                        		<section class="col col-6">
										<label class="label">Search user:</label>
				                        <label class="input">
				                            <input type="text" name="search" ng-model="keywords" placeholder="Search by email id, phone number" 
				                            	uib-typeahead="owner as owner.emailId + ' Phone: ' + owner.mobileNo for owner in searchOwner($viewValue)" 
				                                typeahead-popup-template-url="custom-popup-template.component.html" 
				                                typeahead-on-select="selectOwner($item, $model, $label)" typeahead-wait-ms="1000">
				                        </label>
				                    </section>
				                    <section class="col-lg-6">
									</section>
	                        	</div>
			                </div>						
						</tab>
						<tab heading="New User">
							<div class="tab-pane fade in">
	
								<div class="headline">
	                            	<h3>Owner Information:</h3>
	                            </div>
	
	                            <div class="row">
			                        <section class="col col-6">
										<label class="label">First Name</label>
			                            <label class="input" ng-class="{ 'state-error' : productFrm.firstName.$invalid && productFrm.firstName.$touched }">
			                                <i class="icon-append fa fa-user"></i>
			                                <input type="text" name="firstName" ng-model="product.owner.firstName" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
			                            </label>
										<em ng-if="productFrm.firstName.$error.required && productFrm.firstName.$touched">First name is required.</em>
										<em ng-if="productFrm.firstName.$error.minlength && productFrm.firstName.$touched">First Name is too short.</em>
										<em ng-if="productFrm.firstName.$error.pattern && productFrm.firstName.$touched">Only alphanumerics are allowed.</em>
			                        </section>
			                        
			                        <section class="col col-6">
										<label class="label">Last Name</label>
			                            <label class="input">
			                                <i class="icon-append fa fa-user"></i>
			                                <input type="text" name="lastName" ng-model="product.owner.lastName">
			                            </label>
			                        </section>
			                    </div>
			
			                    <div class="row">
			                        <section class="col col-6">
										<label class="label">Email Address</label>
			                            <label class="input" ng-class="{ 'state-error' : productFrm.email.$invalid && productFrm.email.$touched }">
			                                <i class="icon-append fa fa-envelope"></i>
			                                <input type="email" name="email" ng-model="product.owner.email" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
			                            </label>
										<em ng-if="productFrm.email.$error.pattern && productFrm.email.$touched">Enter a valid email address.</em>
			                        </section>
			                        
			                        <section class="col col-6">
										<label class="label">Phone No. / Mobile No.</label>
			                            <label class="input" ng-class="{ 'state-error' : productFrm.phoneNo.$invalid && productFrm.phoneNo.$touched }">
			                                <i class="icon-append fa fa-phone"></i>
			                                <input type="tel" name="phoneNo" ng-model="product.owner.phoneNo" ui-mask="(+99) 999-999-9999" required>
			                            </label>
										<em ng-if="productFrm.phoneNo.$error.required && productFrm.phoneNo.$touched">Phone No. is required</em>
			                        </section>
			                    </div>
			
			                    <div class="row">
			                        <section class="col col-6">
										<label class="label">Group</label>
			                            <label class="select"  ng-class="{ 'state-error' : productFrm.group.$invalid && productFrm.group.$touched }">
			                                <select name="group" data-ng-options="group.id as group.name for group in groups" data-ng-model="product.owner.groupId" required>
	                      					</select>
	                      					<i></i>
			                            </label>
			                            <em ng-if="productFrm.group.$error.required && productFrm.group.$touched">Group is required</em>
			                        </section>
			                    </div>
	                            
	                            <div class="headline">
	                            	<h3>Registered Address:</h3>
	                            </div>
	
								<div class="row">
				                    <section class="col col-6">
										<label class="label">Address Line 1</label>
				                        <label class="input" ng-class="{ 'state-error' : productFrm.addressLine1.$invalid && productFrm.addressLine1.$touched }">
				                            <input type="text" name="addressLine1" ng-model="product.owner.addressLine1" required>
				                        </label>
										<em ng-if="productFrm.addressLine1.$error.required && productFrm.addressLine1.$touched">Address Line 1 is required.</em>
				                    </section>
				
				                    <section class="col col-6">
										<label class="label">Address Line 2</label>
				                        <label class="input">
				                            <input type="text" name="addressLine2" ng-model="product.owner.addressLine2">
				                        </label>
				                    </section>
				                </div>
				
				                <div class="row">
				                    <section class="col col-6">
										<label class="label">City</label>
				                        <label class="input" ng-class="{ 'state-error' : productFrm.city.$invalid && productFrm.city.$touched }">
				                            <input type="text" name="city" ng-model="product.owner.city" required>
				                        </label>
										<em ng-if="productFrm.city.$error.required && productFrm.city.$touched">City is required.</em>
				                    </section>
				                </div>
				
				                <div class="row">
				                    <section class="col col-6">
										<label class="label">State</label>
				                        <label class="select" ng-class="{ 'state-error' : productFrm.state.$invalid && productFrm.state.$touched }">
											<select name="state" data-ng-options="state.id as state.name for state in states" data-ng-model="product.owner.stateId" required>
				                      		</select>
											<i></i>
				                        </label>
										<em ng-if="productFrm.state.$error.required && productFrm.state.$touched">State is required.</em>
				                    </section>
				
				                    <section class="col col-6">
										<label class="label">Country</label>
				                        <label class="select" ng-class="{ 'state-error' : productFrm.country.$invalid && productFrm.country.$touched }">
				                            <select name="country" data-ng-options="country.id as country.name for country in countries" data-ng-model="product.owner.countryId" required>
				                      		</select>
				                            <i></i>
				                        </label>
										<em ng-if="productFrm.country.$error.required && productFrm.country.$touched">Country is required.</em>
				                    </section>
				
				                </div>
				
				                <div class="row">
				                    <section class="col col-4">
										<label class="label">Zipcode</label>
				                        <label class="input" ng-class="{ 'state-error' : productFrm.zipcode.$invalid && productFrm.zipcode.$touched }">
				                            <input type="text" name="zipcode" ng-model="product.owner.zipcode" ui-mask="999999" required>
				                        </label>
										<em ng-if="productFrm.zipcode.$error.required && productFrm.zipcode.$touched">Zipcode is required.</em>
				                    </section>
				                </div>
	                        </div>
						</tab>
					</tabset>
            	</div>
            	
				<accordion close-others="true" class="acc-v1">
				    <accordion-group is-open="isCustomHeaderOpen">
				    	<accordion-heading>
        					Attributes <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCustomHeaderOpen, 'glyphicon-chevron-right': !isCustomHeaderOpen}"></i>
      					</accordion-heading>
			      		<div class="row" ng-repeat="attribute in attributes" ng-if="$index % 4 == 0">
							<div class="col-lg-3" ng-if="attributes[$index]">
								<label class="label">{{attributes[$index].name}}</label>
		                        <label class="input">
		                            <input type="text" name="attr{{$index}}" ng-model="product.attributes[$index].value">
		                        </label>
							</div>
							<div class="col-lg-3" ng-if="attributes[$index + 1]">
								<label class="label">{{attributes[$index + 1].name}}</label>
		                        <label class="input">
		                            <input type="text" name="attr{{$index + 1}}" ng-model="product.attributes[$index + 1].value">
		                        </label>
							</div>
							<div class="col-lg-3" ng-if="attributes[$index + 2]">
								<label class="label">{{attributes[$index + 2].name}}</label>
		                        <label class="input">
		                            <input type="text" name="attr{{$index + 2}}" ng-model="product.attributes[$index + 2].value">
		                        </label>
							</div>
							<div class="col-lg-3" ng-if="attributes[$index + 3]">
								<label class="label">{{attributes[$index + 3].name}}</label>
		                        <label class="input">
		                            <input type="text" name="attr{{$index + 3}}" ng-model="product.attributes[$index + 3].value">
		                        </label>
							</div>
						</div>
				    </accordion-group>
				</accordion>
            	
	        </form>

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(productFrm)">Proceed</button>
        </div>
    </div>
	
	<script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select owner from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>
	