	
	<div class="modal-content">
        <div class="modal-body">            
			<form name="attributeFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" ng-submit="attributeFrm.$submitted = true; submit(attributeFrm.$valid)" novalidate>
				<div class="row">
					<div class="col col-11">
						<label class="label">Attribute: </label>
						<label class="input-group" ng-class="{ 'state-error' : attributeFrm.name.$invalid && (attributeFrm.$submitted || attributeFrm.name.$touched) }">
                            <i class="icon-append fa fa-money"></i>
                            <input type="text" name="name" ng-model="attribute.name" class="form-control" required>
                        </label>
						<em ng-if="attributeFrm.name.$error.required && (attributeFrm.$submitted || attributeFrm.name.$touched)">Name is requierd.</em>
					</div>
                </div>
                <div class="row">
					<div class="col col-11">
						<label class="label">Value: </label>
						<label class="input" ng-class="{ 'state-error' : attributeFrm.value.$invalid && (attributeFrm.$submitted || attributeFrm.value.$touched) }">
							<i class="icon-append fa fa-calendar"></i>
                            <input type="text" name="value" ng-model="productBidding.value" prak-datepicker placeholder="Enabled Till Date">
                        </label>
						<em ng-if="attributeFrm.value.$error.required && (attributeFrm.$submitted || attributeFrm.value.$touched)">Value is requierd.</em>
					</div>
                </div>
                <div class="row margin-top-20">
                	<div class="col col-8 margin-top-20">
                		<div class="pull-right">
                			<span class="input-group-btn">
                            	<button class="btn-u btn-u-md" type="submit">Add</button>
                            </span>
                		</div>
                	</div>
                </div>
	        </form>
        </div>
    </div>