	
	<div class="modal-content">
        <div class="modal-body">
        
			<form name="productDescFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>

				<div class="headline">
					<h3>Product Description</h3>
				</div>
			
				<section>
					<label class="label">Short Description</label>
                    <label class="textarea">
                        <textarea rows="2" name="shortDesc" ng-model="productDesc.shortDesc" placeholder="Short Description"></textarea>
                    </label>
				</section>

				<section>
					<label class="label">Long Description</label>
                    <label class="textarea">
                        <textarea rows="4" name="description" ng-model="productDesc.desc" placeholder="Long Description"></textarea>
                    </label>
				</section>
				
	        </form>

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="submit(productDescFrm.$valid);">Proceed</button>
        </div>
    </div>
