	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Edit details</h4>
        </div>
        <div class="modal-body">
            
			<form name="productFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>

				<div class="headline">
					<h3>Product Details</h3>
				</div>
				
				<div class="row">
					<section class="col col-6">
						<label class="label">Product Name</label>
                        <label class="input" ng-class="{ 'state-error' : productFrm.name.$invalid && productFrm.name.$touched }">
                            <!-- <i class="icon-append fa fa-user"></i> -->
                            <input type="text" name="name" ng-model="product.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                        </label>
						<em ng-if="productFrm.name.$error.required && productFrm.name.$touched">Name is required.</em>
						<em ng-if="productFrm.name.$error.minlength && productFrm.name.$touched">Name is too short.</em>
						<em ng-if="productFrm.name.$error.pattern && productFrm.name.$touched">Only alphanumerics are allowed.</em>
                    </section>
                    
                    <section class="col col-6" ng-show="isAuthorized('ROLE_EMPLOYEE')">
	                	<label class="label">Categories</label>
	                	<selectize config='categoryConfig' options='categories' ng-model='product.categoryIds'></selectize>
	                </section>
                </div>
				
                <div class="row">
                    <section class="col col-6">
						<label class="label">Quantity</label>
                        <label class="input-group" ng-class="{ 'state-error' : productFrm.quantity.$invalid && productFrm.quantity.$touched }">
                        		<input type="text" name="quantity" ng-model="product.quantity" class="form-control" placeholder="e.g. 300" required pattern="^\d*\.?\d*$">
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{product.quantityUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setQuantityUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="productFrm.quantity.$error.required && productFrm.quantity.$touched">Quantity is requierd.</em>
						<em ng-if="productFrm.quantity.$error.pattern && productFrm.quantity.$touched">Only numbers are allowed</em>
                    </section>
    
                    <section class="col col-6">
						<label class="label">Price</label>
                        <label class="input-group" ng-class="{ 'state-error' : productFrm.price.$invalid && productFrm.price.$touched }">
                       		<input type="text" name="price" ng-model="product.price" class="form-control" placeholder="e.g. 4000" pattern="^\d*\.?\d*$" required>
                            <div class="input-group-btn">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {{product.priceCurrency.mneomic}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-repeat="currency in currencies"><a href="javascript:void(0);" ng-click="setPriceCurrency(currency)">{{currency.mneomic}}</a></li>
                                </ul>
                            </div>
                            <span class="input-group-addon per-symbol">/</span>
                            <div class="input-group-btn">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {{product.priceUnit.name}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setPriceUnit(unit)">{{unit.name}}</a></li>
                                </ul>
                            </div>
                        </label>
						<em ng-if="productFrm.price.$error.required && productFrm.price.$touched">Price is requierd.</em>
						<em ng-if="productFrm.price.$error.pattern && productFrm.price.$touched">Only numbers are allowed</em>
                    </section>
                </div>

				<section>
					<label class="label">Short Description</label>
                    <label class="textarea">
                        <textarea rows="2" name="shortDesc" ng-model="product.shortDesc" placeholder="Short Description" maxlength="{{maxlength.shortDesc}}"></textarea>
                        <span class="pull-right prak-max-chars"> {{product.shortDesc.length}} of {{maxlength.shortDesc}} chars</span>
                    </label>
				</section>
				
				<section>
					<label class="label">Long Description</label>
                    <label class="textarea">
                        <textarea rows="4" name="description" ng-model="product.desc" placeholder="Long Description"  maxlength="{{maxlength.desc}}"></textarea>
                        <span class="pull-right prak-max-chars"> {{product.desc.length}} of {{maxlength.desc}} chars</span>
                    </label>
				</section>

				<div class="row">
					<div class="col-lg-12 margin-bottom-30">
						<label class="label">Tags</label>
                        <label class="input">
                            <tags-input ng-model="product.tags" display-property="name" key-property="name" replace-spaces-with-dashes="false">
								<auto-complete source="searchTag($query)"></auto-complete>
    						</tags-input>
                        </label>
                    </div>
				</div>

                <div class="row" ng-show="isAuthorized('ROLE_ADMIN')">
                    <section class="col col-6">
						<label class="label">Update owner:</label>
                        <label class="input">
                            <input type="text" name="search" ng-model="keywords" placeholder="Search by email id, phone number" 
                            	uib-typeahead="owner as owner.emailId + ' Phone: ' + owner.mobileNo for owner in searchOwner($viewValue)" 
                                typeahead-popup-template-url="custom-popup-template.component.html" 
                                typeahead-on-select="selectOwner($item, $model, $label)" typeahead-wait-ms="1000">
                        </label>    
                    </section>
					<section class="col col-6">
						<label class="label">Update status:</label>
                        <label class="select">
                            <select name="productStatus" data-ng-options="productStatus as productStatus.status for productStatus in productStatuses track by productStatus.id" data-ng-model="product.status">
                      		</select>
							<i></i>
                        </label>    
                    </section>
                </div>
                
				<accordion close-others="true" class="acc-v1">
				    <accordion-group is-open="isCustomHeaderOpen">
				    	<accordion-heading>
        					Attributes <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCustomHeaderOpen, 'glyphicon-chevron-right': !isCustomHeaderOpen}"></i>
      					</accordion-heading>
			      		<div class="row" ng-repeat="attribute in product.attributes" ng-if="$index % 4 == 0">
							<div class="col-lg-3">
								<label class="label">{{product.attributes[$index].name}}</label>
		                        <label class="input">
		                            <input type="text" name="attr{{$index}}" ng-model="product.attributes[$index].value">
		                        </label>
							</div>
							<div class="col-lg-3">
								<label class="label">{{product.attributes[$index + 1].name}}</label>
		                        <label class="input">
		                            <input type="text" name="attr{{$index + 1}}" ng-model="product.attributes[$index + 1].value">
		                        </label>
							</div>
							<div class="col-lg-3">
								<label class="label">{{product.attributes[$index + 2].name}}</label>
		                        <label class="input">
		                            <input type="text" name="attr{{$index + 2}}" ng-model="product.attributes[$index + 2].value">
		                        </label>
							</div>
							<div class="col-lg-3">
								<label class="label">{{product.attributes[$index + 3].name}}</label>
		                        <label class="input">
		                            <input type="text" name="attr{{$index + 3}}" ng-model="product.attributes[$index + 3].value">
		                        </label>
							</div>
						</div>
				    </accordion-group>
				</accordion>
            	
	        </form>

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(productFrm)">Update</button>
        </div>
    </div>
	
	<script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select owner from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>
	