	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Edit details</h4>
        </div>
        <div class="modal-body">
            
			<form name="productFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>

				<div class="headline">
					<h3>Product Details</h3>
				</div>
				
				<div class="row">
					<section class="col col-8">
						<label class="label">Product Name</label>
                        <label class="input" ng-class="{ 'state-error' : productFrm.name.$invalid && productFrm.name.$touched }">
                            <input type="text" name="name" ng-model="product.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                        </label>
						<em ng-if="productFrm.name.$error.required && productFrm.name.$touched">Name is required.</em>
						<em ng-if="productFrm.name.$error.minlength && productFrm.name.$touched">Name is too short.</em>
						<em ng-if="productFrm.name.$error.pattern && productFrm.name.$touched">Only alphanumerics are allowed.</em>
                    </section>
                </div>

				<section class="row" ng-show="!isAuthorized('ROLE_FARMER') && !isAuthorized('ROLE_BROKER')">
					<div class="col col-11">
						<label class="label">Categories</label>
	                    <label class="input margin-bottom-20" ng-class="{ 'state-error' : productFrm.categories.$invalid && productFrm.categories.$touched }">
	                        <tags-input ng-model="product.categories" display-property="name" key-property="name" replace-spaces-with-dashes="false">
								<auto-complete source="searchCategory($query)"></auto-complete>
	    					</tags-input>
	                   	</label>
	                    <em ng-if="productFrm.categories.$error.required && productFrm.categories.$touched">Categories is required.</em>
	                </div>
                </section>

                <div class="row">
                    <section class="col col-6">
						<label class="label">Price</label>
                        <label class="input-group" ng-class="{ 'state-error' : productFrm.price.$invalid && productFrm.price.$touched }">
                        		<input type="text" name="price" ng-model="product.price" class="form-control" placeholder="e.g. 4000" pattern="^\d*\.?\d*$" required>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{product.priceCurrency.mneomic}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="currency in currencies"><a href="javascript:void(0);" ng-click="setPriceCurrency(currency)">{{currency.mneomic}}</a></li>
                                       </ul>
                                   </div>
                                   <span class="input-group-addon per-symbol">/</span>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{product.priceUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setPriceUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="productFrm.price.$error.required && productFrm.price.$touched">Price is requierd.</em>
						<em ng-if="productFrm.price.$error.pattern && productFrm.price.$touched">Only numbers are allowed</em>
                    </section>
                </div>
				
				<div class="row">
					<div class="col-lg-12 margin-bottom-20">
						<label class="label">Tags</label>
                        <label class="input">
                            <tags-input ng-model="product.tags" display-property="name" key-property="name" replace-spaces-with-dashes="false">
								<auto-complete source="searchTag($query)"></auto-complete>
    						</tags-input>
                        </label>
                    </div>
				</div>

				<div class="row">
                    <section class="col col-6">
						<label class="label">Update status:</label>
                        <label class="select">
                            <select name="productStatus" data-ng-options="productStatus as productStatus.status for productStatus in productStatuses track by productStatus.id" data-ng-model="product.status">
                      		</select>
							<i></i>
                        </label>    
                    </section>
                </div>

	        </form>

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(productFrm)">Update</button>
        </div>
    </div>
	
	<script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select owner from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>
	