	
	<div class="modal-content">
        <div class="modal-body">            
			<form name="enableBidFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" ng-submit="enableBidFrm.$submitted = true; submit(enableBidFrm.$valid)" novalidate>
				<div class="row">
					<div class="col col-11">
						<label class="label">Initial Bid Amount: </label>
						<label class="input-group" ng-class="{ 'state-error' : enableBidFrm.initialBidAmount.$invalid && (enableBidFrm.$submitted || enableBidFrm.initialBidAmount.$touched) }">
                            <i class="icon-append fa fa-money"></i>
                            <input type="text" name="initialBidAmount" ng-model="productBidding.initialBidAmount" class="form-control" pattern="^\d*\.?\d*$" required>
                            <div class="input-group-btn">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {{productBidding.biddingCurrency.mneomic}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-repeat="currency in currencies"><a href="javascript:void(0);" ng-click="setBiddingCurrency(currency)">{{currency.mneomic}}</a></li>
                                </ul>
                            </div>
                            <span class="input-group-addon per-symbol">/</span>
                            <div class="input-group-btn">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    {{productBidding.biddingUnit.name}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-click="setBiddingUnit(unit)">{{unit.name}}</a></li>
                                </ul>
                            </div>
                        </label>
						<em ng-if="enableBidFrm.initialBidAmount.$error.required && (enableBidFrm.$submitted || enableBidFrm.initialBidAmount.$touched)">Initial Bid Amount is requierd.</em>
						<em ng-if="enableBidFrm.initialBidAmount.$error.pattern && (enableBidFrm.$submitted || enableBidFrm.initialBidAmount.$touched)">Only numbers are allowed</em>
					</div>
                </div>
                <!-- 
                <div class="row">
					<div class="col col-11">
						<label class="label">Enabled Till Date: </label>
						<label class="input" ng-class="{ 'state-error' : enableBidFrm.enableTillDate.$invalid && (enableBidFrm.$submitted || enableBidFrm.enableTillDate.$touched) }">
							<i class="icon-append fa fa-calendar"></i>
                            <input type="text" name="enableTillDate" ng-model="productBidding.enableTillDate" prak-datepicker placeholder="Enabled Till Date">
                        </label>
						<em ng-if="enableBidFrm.enableTillDate.$error.required && (enableBidFrm.$submitted || enableBidFrm.enableTillDate.$touched)">Enabled Till Date is requierd.</em>
					</div>
                </div>
                 -->
                <div class="row margin-top-20">
                	<div class="col col-11 margin-top-20">
                		<div class="pull-right">
                			<span class="input-group-btn">
                            	<button class="btn-u btn-u-md" type="submit">Enable</button>
                            </span>
                		</div>
                	</div>
                </div>
	        </form>
        </div>
    </div>