    	
	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Products</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/#/">Settings</a></li>
                <li><a href="">Services</a></li>
                <li class="active">Products</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Profile ===-->
    <div class="container content profile">
    	<div class="row">
	    	<!--Left Sidebar-->
	    	<div class="col-md-3 md-margin-bottom-40">
				<ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
					
					<li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-accounts" data-toggle="collapse" class="collapsed" aria-expanded="true"><i class="fa fa-bar-chart-o"></i> Accounts </a>
                        
                        <ul id="collapse-accounts" class="collapse">
                            <li><a href="#/services/companies"><i class="fa fa-group"></i> Companies</a></li>
                            <li><a href="#/services/brokers"><i class="fa fa-group"></i> Brokers</a></li>
                            <li><a href="#/services/retailers"><i class="fa fa-group"></i> Retailers</a></li>
                            <li><a href="#/services/customers"><i class="fa fa-group"></i> Customers</a></li>
                            <li><a href="#/services/farmers"><i class="fa fa-group"></i> Farmers</a></li>
                            <li><a href="#/services/agents"><i class="fa fa-group"></i> Agents</a></li>
                            <li><a href="#/services/companyAdmins"><i class="fa fa-group"></i> Company Admins</a></li>
                            <li><a href="#/services/employees"><i class="fa fa-group"></i> Employees</a></li>
                            <!-- 
                            <li><a href="#/contentTeam"><i class="fa fa-group"></i> Content Team</a></li>
                            <li><a href="#/salesTeam"><i class="fa fa-group"></i> Sales Team</a></li>
                            <li><a href="#/executives"><i class="fa fa-group"></i> Executives</a></li>
                             -->
                            <li><a href="#/services/superAdmins"><i class="fa fa-group"></i> Super Admins</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle active">
                        <a class="accordion-toggle" href="#collapse-services" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Services </a>
                        
                        <ul id="collapse-services" class="collapse in">
                            <li class="active"><a href="#/services/products"><i class="fa fa-align-justify"></i> Products</a></li>
                            <li><a href="#/services/orders"><i class="fa fa-align-justify"></i> Orders</a></li>
                            <li><a href="#/services/demands"><i class="fa fa-tasks"></i> Demands</a></li>
                            <li><a href="#/services/pricing"><i class="fa fa-money"></i> Pricing</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-payments" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Payments </a>
                        
                        <ul id="collapse-payments" class="collapse">
                            <li><a href="#/services/paymentMethods"><i class="fa fa-align-justify"></i> Payment Methods</a></li>
                            <li><a href="#/services/paymentCards"><i class="fa fa-align-justify"></i> Payment Cards</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-site-admin" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Site Admin </a>
                        
                        <ul id="collapse-site-admin" class="collapse">
                            <li><a href="#/services/categories"><i class="fa fa-flask"></i> Categories</a></li>
                            <li><a href="#/services/menuitems"><i class="fa fa-flask"></i> Menuitems</a></li>
                            <li><a href="#/services/countries"><i class="fa fa-html5"></i> Countries</a></li>
                            <li><a href="#/services/states"><i class="fa fa-bolt"></i> States</a></li>
                            <li><a href="#/services/banks"><i class="fa fa-bolt"></i> Banks</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-org-admin" data-toggle="collapse"><i class="fa fa-bar-chart-o"></i> Org Admin </a>
                        
                        <ul id="collapse-org-admin" class="collapse">
                            <li><a href="#/services/departments"><i class="fa fa-align-justify"></i> Departments</a></li>
                            <li><a href="#/services/designations"><i class="fa fa-align-justify"></i> Designations</a></li>
                            <li><a href="#/services/groups"><i class="fa fa-tasks"></i> Groups</a></li>
                            <li><a href="#/services/roles"><i class="fa fa-align-justify"></i> Roles</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->
            <div class="col-md-9">
				<div class="profile-body margin-bottom-20">
                	
	 				<!-- Companies -->
                    <div class="panel panel-profile">
                        <div class="panel-heading profile-box-header">
                            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Products </h2>
                            
                            <div class="pull-right">
			                   	<section class="col col-12">
			                   		<form class="sky-form search-form" ng-submit="searchByKeyword()">
			                            <label class="input">
			                                <i class="icon-append fa fa-search" ng-click="searchByKeyword()"></i>
			                                <input type="text" name="keywords" ng-model="keyword" placeholder="Search"/>
			                            </label>
			                        </form>
			                    </section>
			                </div>
			                
                        </div>
                        
                        <div class="panel-body margin-bottom-40">

							<div class="testimonials-v6 rounded-bottom">
								<form class="sky-form">
	                        		<div class="col-lg-4">
	                        			<label class="toggle prak-toggle toggle-change"><input type="checkbox" name="checkbox-toggle" ng-model="consumerProducts" checked="" ng-change="changeConsumerProducts()"><i class="rounded-4x"></i>Consumer Products ?</label>
	                        		</div>
                        		</form>
                            </div>
                        	
                        	<div class="col-lg-4" ng-if="consumerProducts">
                           		<div class="btn-group">
			                        <button class="btn btn-default btn-u-sm" type="button">
			                            {{category.name}}
			                        </button>
			                        <button data-toggle="dropdown" class="btn btn-default btn-u-sm btn-u-split dropdown-toggle" type="button">
			                            <i class="fa fa-angle-down"></i>
			                            <span class="sr-only">Toggle Dropdown</span>                            
			                        </button>
			                        <ul role="menu" class="dropdown-menu">
			                            <li ng-repeat="category in categories">
			                            	<a href="javascript:void(0);" ng-click="onCategoryChange(category)">{{category.name}}</a>
										</li>
			                        </ul>
			                    </div>
                       		</div>
                       		
                            <div class="testimonials-v6 rounded-bottom">
                            	<div class="btn-group pull-right">
			                        <button class="btn btn-default" type="button">Actions</button>
			                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
			                            <i class="fa fa-cog"></i>
			                            <span class="sr-only">Toggle Dropdown</span>
			                        </button>
			                        <ul role="menu" class="dropdown-menu">
			                            <li><a href="javascript: void(0);" ng-click="addProduct()"> Add new</a></li>
			                            <li><a href="javascript: void(0);" ng-click="addAttribute()"> Add Attribute</a></li>
			                            <li><a href="javascript: void(0);" ng-click="import()"> Import</a></li>
			                            <li><a href="javascript: void(0);" ng-click="export()"> Export</a></li>
			                            <li class="divider"></li>
			                            <li><a href="javascript: void(0);" ng-click="deleteAll()"> Delete All</a></li>
			                        </ul>
			                    </div>
			                
                            </div>
                                
                            <hr class="margin-top-50"/>
                            
                            <div class="testimonials-v6">
			        	
				            	<div ng-repeat="product in products">
				            		
				            		<!-- START: For Non-Consumer Products -->
					            	<div class="row margin-bottom-50" ng-if="!consumerProducts && $even">
					                    <div class="col-md-6 md-margin-bottom-50">
					                        <div class="testimonials-info rounded-bottom">
					                            <img class="rounded-2x" src="{{products[$index].defaultImage.smallImgPath}}" alt="">
					                            <div class="testimonials-desc">
					                            	<strong><a href="javascript: void(0);" ng-click="viewDetail(products[$index].uniqueId)">{{products[$index].name}}</a></strong>
				                                	<span><a href="#/owner/{{owner.uniqueId}}">{{products[$index].owner.firstName}} {{products[$index].owner.lastName}} ({{products[$index].owner.address.city}}, {{products[$index].owner.address.country.name}})</a></span>
				                                	<small>Bid Enabled: {{products[$index].bidEnabled ? 'Yes' : 'No'}}</small><br/>
				                                	<small>
				                                		Bidding Started: 
				                                		<em ng-if="products[$index].bidEnabled">{{products[$index].initialBidAmount}} {{products[$index].biddingCurrency.mneomic}}/{{products[$index].biddingUnit.name}}</em>
				                                		<em ng-if="!products[$index].bidEnabled">NA</em>
				                                	</small><br/>
				                                	<small>
				                                		Latest Bid: 
				                                		<em ng-if="products[$index].highestBid">{{products[$index].highestBid.price}} {{products[$index].highestBid.currency.mneomic}}/{{products[$index].highestBid.unit.name}}</em>
				                                		<em ng-if="!products[$index].highestBid">NA</em>
				                                	</small><br/>
				                                	<small>
				                                		Latest Bidder: 
				                                		<em ng-if="products[$index].highestBid && products[$index].highestBid.company"><a href="javascript:void(0)">{{products[$index].highestBid.company.name}}</a></em>
				                                		<em ng-if="products[$index].highestBid && !products[$index].highestBid.company"><a href="javascript:void(0)">{{products[$index].highestBid.user.firstName}} {{products[$index].highestBid.user.lastName}}</a></em>
				                                		<em ng-if="!products[$index].highestBid">NA</em>
				                                	</small><br/>
				                                	<small>Quantity:- {{products[$index].quantity}} {{products[$index].quantityUnit.name}}</small>
				                                	<span>Price:- {{products[$index].price}} {{products[$index].priceCurrency.mneomic}}/{{products[$index].priceUnit.name}}</span>
				                                	
				                                	<div class="margin-top-15">
				                                		<div class="btn-group dropup pull-right">
									                        <button class="btn btn-sm btn-default" type="button">Actions</button>
									                        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
									                            <i class="fa fa-cog"></i>
									                            <span class="sr-only">Toggle Dropdown</span>
									                        </button>
									                        <ul role="menu" class="dropdown-menu">
									                        	<li><a href="javascript: void(0);" ng-click="editDetail(products[$index].uniqueId)"> Edit</a></li>
									                        	<li><a href="javascript: void(0);" ng-click="assign(products[$index])"> Assign</a></li>
									                        	<li><a href="javascript: void(0);" ng-click="addEditDescription(products[$index])"> Add/Edit Description</a></li>
									                        	<li><a href="javascript: void(0);" ng-click="addChangeImages(products[$index])"> Add/Edit Images</a></li>
									                        	<li><a href="javascript: void(0);" ng-click="enableBidding(products[$index])"> Enable Bidding</a></li>
									                        	<li><a href="javascript: void(0);" ng-click="markAsSoldOut(products[$index])"> Mark As Sold Out</a></li>
									                        	<li><a href="javascript: void(0);" ng-click="remove(products[$index].uniqueId)"> Delete</a></li>
									                        </ul>
									                    </div>
				                                    </div>
					                            </div>
					                        </div>
					                    </div>
					                    <div class="col-md-6">
					                        <div class="testimonials-info rounded-bottom" ng-if="products[$index + 1]">
					                            <img class="rounded-2x" src="{{products[$index + 1].defaultImage.smallImgPath}}" alt="">
					                            <div class="testimonials-desc">
					                                <strong><a href="javascript: void(0);" ng-click="viewDetail(products[$index + 1].uniqueId)">{{products[$index + 1].name}}</a></strong>
				                                	<span><a href="#/owner/{{owner.uniqueId}}">{{products[$index + 1].owner.firstName}} {{products[$index + 1].owner.lastName}} ({{products[$index + 1].owner.address.city}}, {{products[$index + 1].owner.address.country.name}})</a></span>
				                                	<small>Bid Enabled: {{products[$index + 1].bidEnabled ? 'Yes' : 'No'}}</small><br/>
				                                	<small>
				                                		Bidding Started: 
				                                		<em ng-if="products[$index + 1].bidEnabled">{{products[$index + 1].initialBidAmount}} {{products[$index + 1].biddingCurrency.mneomic}}/{{products[$index + 1].biddingUnit.name}}</em>
				                                		<em ng-if="!products[$index + 1].bidEnabled">NA</em>
				                                	</small><br/>
				                                	<small>
				                                		Latest Bid: 
				                                		<em ng-if="products[$index + 1].highestBid">{{products[$index + 1].highestBid.price}} {{products[$index + 1].highestBid.currency.mneomic}}/{{products[$index + 1].highestBid.unit.name}}</em>
				                                		<em ng-if="!products[$index + 1].highestBid">NA</em>
				                                	</small><br/>
				                                	<small>
				                                		Latest Bidder: 
				                                		<em ng-if="products[$index + 1].highestBid && products[$index + 1].highestBid.company"><a href="javascript:void(0)">{{products[$index + 1].highestBid.company.name}}</a></em>
				                                		<em ng-if="products[$index + 1].highestBid && !products[$index + 1].highestBid.company"><a href="javascript:void(0)">{{products[$index + 1].highestBid.user.firstName}} {{products[$index + 1].highestBid.user.lastName}}</a></em>
				                                		<em ng-if="!products[$index + 1].highestBid">NA</em>
				                                	</small><br/>
				                                	<small>Quantity:- {{products[$index + 1].quantity}} {{products[$index + 1].quantityUnit.name}}</small>
				                                	<span>Price:- {{products[$index + 1].price}} {{products[$index + 1].priceCurrency.mneomic}}/{{products[$index + 1].priceUnit.name}}</span>
				                                	<div class="margin-top-15">
				                                		<div class="btn-group dropup pull-right">
									                        <button class="btn btn-sm btn-default" type="button">Actions</button>
									                        <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle" type="button">
									                            <i class="fa fa-cog"></i>
									                            <span class="sr-only">Toggle Dropdown</span>
									                        </button>
									                        <ul role="menu" class="dropdown-menu">
									                        	<li><a href="javascript: void(0);" ng-click="editDetail(products[$index + 1].uniqueId)"> Edit</a></li>
									                        	<li><a href="javascript: void(0);" ng-click="assign(products[$index + 1])"> Assign</a></li>
									                        	<li><a href="javascript: void(0);" ng-click="addEditDescription(products[$index + 1])"> Add/Edit Description</a></li>
									                        	<li><a href="javascript: void(0);" ng-click="addChangeImages(products[$index + 1])"> Add/Edit Images</a></li>
									                        	<li><a href="javascript: void(0);" ng-click="enableBidding(products[$index + 1])"> Enable Bidding</a></li>
									                        	<li><a href="javascript: void(0);" ng-click="markAsSoldOut(products[$index + 1])"> Mark As Sold Out</a></li>
									                        	<li><a href="javascript: void(0);" ng-click="remove(products[$index + 1].uniqueId)"> Delete</a></li>
									                        </ul>
									                    </div>
				                                    </div>
				                                    <!-- 
				                                	<div class="margin-top-15">
					                                	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="editDetail(products[$index + 1].uniqueId)"><i class="fa fa-edit"></i></a></div>
				                                    	<div class="col-sm-6 padding-left-0"><a href="javascript: void(0);" ng-click="remove(products[$index + 1].uniqueId)"><i class="fa fa-trash-o"></i></a></div>
				                                    </div>
				                                     -->
					                            </div>
					                        </div>
					                    </div>
					                </div>
				            		<!-- END: For Non-Consumer Products -->
				            		
				            		<!-- START: For Consumer Products -->
					            	<div class="row margin-bottom-50" ng-if="consumerProducts && ($index % 3 == 0)">
					            		<div class="col-md-4">
				                        	<div class="product-img product-img-brd">
				                                <a href="javascript:void(0)"><img class="full-width img-responsive" src="{{products[$index].defaultImage.filepath}}" alt=""></a>
				                            </div> 
				                            <div class="product-description product-description-brd margin-bottom-30">
				                                <div class="overflow-h margin-bottom-5">
				                                    <div class="pull-left">
				                                        <h4 class="title-price"><a href="javascript: void(0);" ng-click="viewDetail(products[$index].uniqueId)">{{products[$index].name}}</a></h4>
				                                        <span class="gender">{{products[$index].priceWithCurrency}} /{{products[$index].priceUnit.symbol}}</span>
				                                        <span class="gender">{{products[$index].status.status}}</span>
				                                    </div>
				                                </div>
				                                <div class="margin-top-15">
						                         	<div class="col-sm-6 padding-left-0"><a ng-click="editConsumerProduct(products[$index].uniqueId)" href="javascript: void(0);"><i class="fa fa-edit"></i></a></div>
					                                <div class="col-sm-6 pull-right"><a ng-click="remove(products[$index].uniqueId)" href="javascript: void(0);"><i class="fa fa-trash-o"></i></a></div>
					                            </div>
				                            </div>
				                        </div>
				                        
				                        <div class="col-md-4">
				                        	<div class="product-img product-img-brd">
				                                <a href="javascript:void(0)"><img class="full-width img-responsive" src="{{products[$index + 1].defaultImage.filepath}}" alt=""></a>
				                            </div> 
				                            <div class="product-description product-description-brd margin-bottom-30">
				                                <div class="overflow-h margin-bottom-5">
				                                    <div class="pull-left">
				                                        <h4 class="title-price"><a href="javascript: void(0);" ng-click="viewDetail(products[$index + 1].uniqueId)">{{products[$index + 1].name}}</a></h4>
				                                        <span class="gender">{{products[$index + 1].priceWithCurrency}} /{{products[$index + 1].priceUnit.symbol}}</span>
				                                        <span class="gender">{{products[$index + 1].status.status}}</span>
				                                    </div>
				                                </div>
				                                <div class="margin-top-15">
						                         	<div class="col-sm-6 padding-left-0"><a ng-click="editConsumerProduct(products[$index + 1].uniqueId)" href="javascript: void(0);"><i class="fa fa-edit"></i></a></div>
					                                <div class="col-sm-6 pull-right"><a ng-click="remove(products[$index + 1].uniqueId)" href="javascript: void(0);"><i class="fa fa-trash-o"></i></a></div>
					                            </div>
				                            </div>
				                        </div>
				                        
				                        <div class="col-md-4">
				                        	<div class="product-img product-img-brd">
				                                <a href="javascript:void(0)"><img class="full-width img-responsive" src="{{products[$index + 2].defaultImage.filepath}}" alt=""></a>
				                            </div> 
				                            <div class="product-description product-description-brd margin-bottom-30">
				                                <div class="overflow-h margin-bottom-5">
				                                    <div class="pull-left">
				                                        <h4 class="title-price"><a href="javascript: void(0);" ng-click="viewDetail(products[$index + 2].uniqueId)">{{products[$index + 2].name}}</a></h4>
				                                        <span class="gender">{{products[$index + 2].priceWithCurrency}} /{{products[$index + 2].priceUnit.symbol}}</span>
				                                        <span class="gender">{{products[$index + 2].status.status}}</span>
				                                    </div>
				                                </div>
				                                <div class="margin-top-15">
						                         	<div class="col-sm-6 padding-left-0"><a ng-click="editConsumerProduct(products[$index + 2].uniqueId)" href="javascript: void(0);"><i class="fa fa-edit"></i></a></div>
					                                <div class="col-sm-6 pull-right"><a ng-click="remove(products[$index + 2].uniqueId)" href="javascript: void(0);"><i class="fa fa-trash-o"></i></a></div>
					                            </div>
				                            </div>
				                        </div>
					                </div>
				            		<!-- END: For Consumer Products -->
				            		
				            	</div>
				            </div>
			            		
				            <div class="pull-right" ng-if="pages.length > 1">
					            <ul class="pagination">
					                <li class="{{pageNumber == 0 ? 'disabled' : ''}}">
					                	<a href="javascript: void(0);" ng-click="prevPage()" aria-label="Previous">&laquo;</a>
					                </li>
					                <li ng-repeat="page in pages" class="{{page - 1 == pageNumber ? 'active' : ''}}">
					                	<a href="javascript: void(0);" ng-click="moveTo(page)">{{page}}</a>
					                </li>
					                <li class="{{pageNumber == totalPage - 1 ? 'disabled' : ''}}">
					                	<a href="javascript: void(0);" ng-click="nextPage()" aria-label="Next">&raquo;</a>
					                </li>
					            </ul>
					        </div>
					        
			            </div>
			        
			        </div>
                    <!--End Reviews-->
                    
                </div>
                
            </div>
            <!-- End Profile Content -->
        </div>
    </div>
    <!--=== End Profile ===-->

	<!-- START: mark as sold out -->
	<script type="text/ng-template" id="mark-as-soldout.component.html">
			<div class="modal-content">
		        <div class="modal-body">            
					<form name="productSoldOutFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" ng-submit="submit()" novalidate>
						<div class="row">
							<div class="col col-11">
								<p>You are going to mark this product as sold out.</p>
							</div>
		                </div>
		                
		                <div class="row">
		                	<div class="col col-8"></div>
		                	<div class="col col-2 margin-top-20">
		                		<div class="pull-right">
		                			<span class="input-group-btn">
		                            	<button ng-click="cancel()" type="button" class="btn btn-default btn-u-md">Cancel</button>
		                            </span>
		                		</div>
		                	</div>
		                	<div class="col col-2 margin-top-20">
		                		<div class="pull-right">
		                			<span class="input-group-btn">
		                            	<button type="submit" class="btn-u btn-u-md">Proceed</button>
		                            </span>
		                		</div>
		                	</div>
		                </div>
		             
			        </form>
		        </div>
		    </div>
	</script>
	<!-- END: mark as sold out -->

	<!-- START: delete product -->
	<script type="text/ng-template" id="delete-product.component.html">
		<div class="modal-content">
	        <div class="modal-header">
	            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
	            <h4 class="modal-title">Delete Product?</h4>
	        </div>
	        <div class="modal-body">
	            <p>Do you really want to delete this product?</p>
	        </div>
	        <div class="modal-footer">
	        	<button class="btn-u" type="button" ng-click="ok()">Proceed</button>
                <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
            </div>
	    </div>
		
	</script>
	<!-- END: delete product -->
	