	
	<!-- START: Crop Profile Picture -->
	<div class="modal-content">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="close()">×</button>
			<h4 class="modal-title" id="myModalLabel">Change Picture</h4>
        </div>
        <div class="row">
        	<section class="images-container">
	        	<div class="col-sm-2" ng-repeat="image in images track by $index">
	        		<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="remove($index)">×</button>
	        		<img class="preview-product-image" ng-src="{{image.dataUrl}}">
	        	</div>
        	</section>
        	
        	<section class="col-lg-12 upload-button-container" ng-if="images.length > 0">
        		<a class="btn-u btn-u-sm pull-right" href="javascript:void(0);" ng-click="upload()">Upload</a>
        	</section>
        </div>
        <div class="col-sm-12">
			<div class="col-sm-6 thumbnail">
				<div class="row">
					<div class="current-img-container" ng-if="!dataUrl">
						<img src="{{product.defaultImage.mediumImgPath}}" ng-if="!dataUrl">
					</div>
					<div ng-if="dataUrl" class="img-container">
					    <img ng-src="{{dataUrl}}" width="400"
					         ng-cropper
					         ng-cropper-proxy="cropperProxy"
					         ng-cropper-show="showEvent"
					         ng-cropper-hide="hideEvent"
					         ng-cropper-options="options">
					</div>
				</div>
				<div class="row col-xs-offset-2" ng-if="!dataUrl">
					<a class="btn-u btn-u-sm" href="javascript:void(0);" accept="image/*" ngf-select="onFileSelect($file)">Change Picture</a>
				</div>
				<div class="row col-xs-offset-4" ng-if="dataUrl">
					<a class="btn-u btn-u-sm" href="javascript:void(0);" accept="image/*" ngf-select="onFileSelect($file)">Change Picture</a>
				</div>
			</div>
			<div class="col-sm-6 thumbnail">
				<div class="row">
					<div ng-if="preview.dataUrl" class="img-preview">
				    	<img ng-src="{{preview.dataUrl}}">
					</div>
				</div>
				<div class="row col-xs-offset-2" ng-if="preview.dataUrl">
					<a class="btn-u btn-u-sm" href="javascript:void(0);" ng-click="addPicture()">Add Picture</a>
				</div>
			</div>
		</div>
		<div class="col-sm-12 text-center">
			<button ng-click="preview()" class="btn btn-u btn-u-blue">Preview</button>
	    </div>
	    <div class="modal-footer">
            
        </div>
    </div>
    <!-- END: Crop Profile Picture -->