<div class="modal-content">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
		<h4 class="modal-title" id="myModalLabel">Discussion Details</h4>
	</div>
	<form name="discussionFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
			<div class="row">
				<section class="col col-11">
					<label>Title <i>*</i></label>
					<label class="input" ng-class="{ 'state-error' : discussionFrm.title.$invalid && (discussionFrm.$submitted || discussionFrm.title.$touched) }">
						<input type="text" name="title" ng-model="discussion.title" placeholder="Title" required >
					</label> 
					<em ng-if="discussionFrm.title.$error.required && (discussionFrm.$submitted || discussionFrm.title.$touched)">Title is required.</em> 
					<em ng-if="discussionFrm.title.$error.server && (discussionFrm.$submitted || discussionFrm.title.$touched)">{{discussionFrm.title.$error.message}}</em>
				</section>
			</div>
	
			<div class="row">
				<section class="col col-11">
					<label>Description </label>
					<label class="textarea" ng-class="{ 'state-error' : discussionFrm.description.$invalid && (discussionFrm.$submitted || discussionFrm.description.$touched) }">
						<textarea name="description" ng-model="discussion.description" rows="3" placeholder="Additional Info"></textarea>
					</label>  
					<em ng-if="discussionFrm.description.$error.server && (discussionFrm.$submitted || discussionFrm.description.$touched)">{{discussionFrm.description.$error.message}}</em>
				</section>
			</div>
			
			<div class="row">
               	<section class="col col-sm-12">
					<label class="label">Search group:</label>
                  	<label class="input">
                  		<tags-input ng-model="discussion.groups" display-property="name" key-property="name" placeholder="Add a group to get notified" replace-spaces-with-dashes="false">
							<auto-complete source="searchGroup($query)"></auto-complete>
   						</tags-input>
                  	</label>
              	</section>
            </div>
            	
			<div class="row">
				<div class="col col-11">
					<label class="label">Tags</label>
                       <label class="input">
                           	<tags-input ng-model="discussion.tags" display-property="name" key-property="name" replace-spaces-with-dashes="false">
								<auto-complete source="searchTag($query)"></auto-complete>
   							</tags-input>
                       </label>
                   </div>
			</div>
		
	</form>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn-u" type="button" ng-click="discussionFrm.$submitted = true; ok(discussionFrm.$valid)">Proceed</button>
	</div>
</div>