<div class="modal-content">
	<div class="modal-header">
		<button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
		<h4 class="modal-title" id="myModalLabel">Address Details</h4>
	</div>
	<form name="addressFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>
			<div class="row">
				<section class="col col-6">
					<label class="input" ng-class="{ 'state-error' : addressFrm.addressLine1.$invalid && (addressFrm.$submitted || addressFrm.addressLine1.$touched) }">
						<input type="text" name="addressLine1" ng-model="address.addressLine1" placeholder="Address Line 1" required>
					</label> 
					<em ng-if="addressFrm.addressLine1.$error.required && (addressFrm.$submitted || addressFrm.addressLine1.$touched)">Address Line 1 is required.</em> 
					<em ng-if="addressFrm.addressLine1.$error.server && (addressFrm.$submitted || addressFrm.addressLine1.$touched)">{{addressFrm.addressLine1.$error.message}}</em>
				</section>
	
				<section class="col col-6">
					<label class="input"> <input type="text" name="addressLine2"
						ng-model="address.addressLine2" placeholder="Address Line 2">
					</label>
				</section>
			</div>
	
			<div class="row">
				<section class="col col-6">
					<label class="input" ng-class="{ 'state-error' : addressFrm.city.$invalid && (addressFrm.$submitted || addressFrm.city.$touched) }">
						<input type="text" name="city" ng-model="address.city" placeholder="City" required>
					</label> 
					<em ng-if="addressFrm.city.$error.required && (addressFrm.$submitted || addressFrm.city.$touched)">City is required.</em> 
					<em ng-if="addressFrm.city.$error.server && (addressFrm.$submitted || addressFrm.city.$touched)">{{addressFrm.city.$error.message}}</em>
				</section>
			</div>
	
			<div class="row">
				<section class="col col-6">
					<label class="select" ng-class="{ 'state-error' : addressFrm.state.$invalid && (addressFrm.$submitted || addressFrm.state.$touched) }">
						<select name="state" data-ng-options="state.id as state.name for state in states" data-ng-model="address.stateId" required>
						</select> 
						<i></i>
					</label> 
					<em ng-if="addressFrm.state.$error.required && (addressFrm.$submitted || addressFrm.state.$touched)">State is required.</em> 
					<em ng-if="addressFrm.state.$error.server && (addressFrm.$submitted || addressFrm.state.$touched)">{{addressFrm.state.$error.message}}</em>
				</section>
	
				<section class="col col-6">
					<label class="select" ng-class="{ 'state-error' : addressFrm.country.$invalid && (addressFrm.$submitted || addressFrm.country.$touched) }">
						<select name="country" data-ng-options="country.id as country.name for country in countries" data-ng-model="address.countryId" required>
						</select> 
						<i></i>
					</label> 
					<em ng-if="addressFrm.country.$error.required && (addressFrm.$submitted || addressFrm.country.$touched)">Country is required.</em> 
					<em ng-if="addressFrm.country.$error.server && (addressFrm.$submitted || addressFrm.country.$touched)">{{addressFrm.country.$error.message}}</em>
				</section>
	
			</div>
	
			<div class="row">
				<section class="col col-6">
					<label class="input" ng-class="{ 'state-error' : addressFrm.zipcode.$invalid && (addressFrm.$submitted || addressFrm.zipcode.$touched) }">
						<input type="text" name="zipcode" ng-model="address.zipcode" ui-mask="999999" required>
					</label> 
					<em ng-if="addressFrm.zipcode.$error.required && (addressFrm.$submitted || addressFrm.zipcode.$touched)">Zipcode is required.</em> 
					<em ng-if="addressFrm.zipcode.$error.server && (addressFrm.$submitted || addressFrm.zipcode.$touched)">{{addressFrm.zipcode.$error.message}}</em>
				</section>
			</div>
			
	</form>
	<div class="modal-footer">
		<button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn-u" type="button" ng-click="addressFrm.$submitted = true; ok(addressFrm.$valid)">Proceed</button>
	</div>
</div>