	
	<!-- START: modal -->
	<div class="modal-content">
		<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">×</button>
            <h4 class="modal-title">{{options.title}} Addresses</h4>
        </div>
		<div class="modal-body">
			<div class="tab-pane fade in active" id="loginTab">

				<div class="row" ng-repeat="address in addresses" ng-if="$even">
					<div class="col-lg-6">
						<div class="tag-box tag-box-v1">
						  	<div>
                               	<h4>{{addresses[$index].firstName}} {{addresses[$index].lastName}} <small ng-if="addresses[$index].defaultAddress">(default)</small> 
                               		
                               		<a class="pull-right" href="javascript: void(0);" ng-click="editAddressEntity(options.title, options.category, addresses[$index])">
                               			<i class="fa fa-edit btn rounded btn-xs fa-fixed"></i>
                               		</a>
                               		
                               	</h4>
                            </div>
		           			<div>{{addresses[$index].addressLine1}}</div>
		           			<div>{{addresses[$index].addressLine2}}</div>
		           			<div>{{addresses[$index].city}}, {{addresses[$index].state.name}}</div>
		           			<div>{{addresses[$index].country.name}} {{addresses[$index].zipcode}}</div>
		           			<div>Phone No: {{addresses[$index].phoneNo}}</div>
		           			<div class="row margin-top-20">
		           				<div class="col col-sm-6">
		           					<button type="button" class="btn-u btn-brd btn-brd-hover rounded btn-u-red btn-u-xs" ng-click="deleteAddress(addresses[$index])"> Delete this {{options.category}} address</button>
		           				</div>
		           				<div class="col col-sm-6">
		           					<button type="button" class="btn-u btn-brd btn-brd-hover rounded btn-u-orange btn-u-xs" ng-click="setDefaultAddress(options.category, addresses[$index])"> Set default {{options.category}} address</button>
		           				</div>
		           			</div>
                     	</div>
					</div>
					
					<div class="col-lg-6" ng-if="addresses[$index + 1]">
						<div class="tag-box tag-box-v1">
                          	<div>
                               	<h4>{{addresses[$index + 1].firstName}} {{addresses[$index + 1].lastName}} <small ng-if="addresses[$index + 1].defaultAddress">(default)</small> 
                               		
                               		<a class="pull-right" href="javascript: void(0);" ng-click="editAddressEntity(options.title, options.category, addresses[$index + 1])">
                               			<i class="fa fa-edit btn rounded btn-xs fa-fixed"></i>
                               		</a>
                               		
                               	</h4>
                            </div>
		           			<div>{{addresses[$index + 1].addressLine1}}</div>
		           			<div>{{addresses[$index + 1].addressLine2}}</div>
		           			<div>{{addresses[$index + 1].city}}, {{addresses[$index + 1].state.name}}</div>
		           			<div>{{addresses[$index + 1].country.name}} {{addresses[$index + 1].zipcode}}</div>
		           			<div>Phone No: {{addresses[$index + 1].phoneNo}}</div>
		           			<div class="row margin-top-20">
		           				<div class="col col-sm-6">
		           					<button type="button" class="btn-u btn-brd btn-brd-hover rounded btn-u-red btn-u-xs" ng-click="deleteAddress(addresses[$index + 1])"> Delete this {{options.category}} address</button>
		           				</div>
		           				<div class="col col-sm-6">
		           					<button type="button" class="btn-u btn-brd btn-brd-hover rounded btn-u-orange btn-u-xs" ng-click="setDefaultAddress(options.category, addresses[$index + 1])"> Set default {{options.category}} address</button>
		           				</div>
		           			</div>
                     	</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- END: modal -->