	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Add Order</h4>
        </div>
        <div class="modal-body">
            
			<form name="orderFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>

				<div class="headline">
					<h3>Order Details</h3>
				</div>
			
				<div class="row">
                    
					<section class="col col-6">
						<label class="label">Order Name</label>
                        <label class="input" ng-class="{ 'state-error' : orderFrm.name.$invalid && orderFrm.name.$touched }">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="name" ng-model="order.name" required ng-minlength="3" pattern="[A-Za-z ]+[A-Za-z0-9._ ]+">
                        </label>
						<em ng-if="orderFrm.name.$error.required && orderFrm.name.$touched">Name is required.</em>
						<em ng-if="orderFrm.name.$error.minlength && orderFrm.name.$touched">Name is too short.</em>
						<em ng-if="orderFrm.name.$error.pattern && orderFrm.name.$touched">Only alphanumerics are allowed.</em>
                    </section>
              
			        <section class="col col-6" ng-class="{ 'state-error' : orderFrm.category.$invalid && orderFrm.category.$touched }">
						<label class="label">Category</label>
                        <label class="select">
                            <select name="category" data-ng-options="category.id as category.name for category in categories" data-ng-model="order.categoryId" required>
                      		</select>
							<i></i>
                        </label>
						<em ng-if="orderFrm.category.$error.required && orderFrm.category.$touched">Category is required.</em>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-6">
						<label class="label">Quantity</label>
                        <label class="input-group" ng-class="{ 'state-error' : orderFrm.quantity.$invalid && orderFrm.quantity.$touched }">
                        		<input type="text" name="quantity" ng-model="order.quantity" class="form-control" placeholder="e.g. 300" required pattern="^[0-9]+.[0-9]+">
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{order.quantityUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-clic="setQuantityUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="orderFrm.quantity.$error.required && orderFrm.quantity.$touched">Quantity is requierd.</em>
						<em ng-if="orderFrm.quantity.$error.pattern && orderFrm.quantity.$touched">Only numbers are allowed</em>
                    </section>
    
                    <section class="col col-6">
						<label class="label">Price</label>
                        <label class="input-group" ng-class="{ 'state-error' : orderFrm.price.$invalid && orderFrm.price.$touched }">
                        		<input type="text" name="price" ng-model="order.price" class="form-control" placeholder="e.g. 4000" pattern="^[0-9]+.[0-9]+" required>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{order.priceCurrency.mneomic}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="currency in currencies"><a href="javascript:void(0);" ng-clic="setPriceCurrency(currency)">{{currency.mneomic}}</a></li>
                                       </ul>
                                   </div>
                                   <span class="input-group-addon per-symbol">/</span>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{order.priceUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-clic="setPriceUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="orderFrm.price.$error.required && orderFrm.price.$touched">Price is requierd.</em>
						<em ng-if="orderFrm.price.$error.pattern && orderFrm.price.$touched">Only numbers are allowed</em>
                    </section>
                </div>

				<div class="tab-v2 margin-bottom-50">
					<ul class="nav nav-tabs">
                        <li class="active"><a href="#ExistingUser" aria-controls="ExistingUser" data-toggle="tab">Existing User</a></li>
                        <li><a href="#NewUser" aria-controls="ExistingUser" data-toggle="tab">New User</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="ExistingUser">
                        	<div class="row">
                        		<section class="col col-6">
									<label class="label">Search user:</label>
			                        <label class="input">
			                            <input type="text" name="search" ng-model="keywords" placeholder="Search by email id, phone number" 
			                            	uib-typeahead="owner as owner.emailId + ' Phone: ' + owner.mobileNo for owner in searchOwner($viewValue)" 
			                                typeahead-popup-template-url="custom-popup-template.component.html" 
			                                typeahead-on-select="selectOwner($item, $model, $label)" typeahead-wait-ms="1000">
			                        </label>
			                    </section>
			                    <section class="col-lg-6">
								</section>
                        	</div>
                        </div>
                        <div class="tab-pane fade in" id="NewUser">

							<div class="headline">
                            	<h3>Owner Information:</h3>
                            </div>

                            <div class="row">
		                        <section class="col col-6">
									<label class="label">First Name</label>
		                            <label class="input" ng-class="{ 'state-error' : orderFrm.firstName.$invalid && orderFrm.firstName.$touched }">
		                                <i class="icon-append fa fa-user"></i>
		                                <input type="text" name="firstName" ng-model="order.owner.firstName" required ng-minlength="3" pattern="[a-z]+[a-z0-9]+">
		                            </label>
									<em ng-if="orderFrm.firstName.$error.required && orderFrm.firstName.$touched">First name is required.</em>
									<em ng-if="orderFrm.firstName.$error.minlength && orderFrm.firstName.$touched">First Name is too short.</em>
									<em ng-if="orderFrm.firstName.$error.pattern && orderFrm.firstName.$touched">Only alphanumerics are allowed.</em>
		                        </section>
		                        
		                        <section class="col col-6">
									<label class="label">Last Name</label>
		                            <label class="input">
		                                <i class="icon-append fa fa-user"></i>
		                                <input type="text" name="lastName" ng-model="order.owner.lastName">
		                            </label>
		                        </section>
		                    </div>
		
		                    <div class="row">
		                        <section class="col col-6">
									<label class="label">Email Address</label>
		                            <label class="input" ng-class="{ 'state-error' : orderFrm.email.$invalid && orderFrm.email.$touched }">
		                                <i class="icon-append fa fa-envelope"></i>
		                                <input type="email" name="email" ng-model="order.owner.email" pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$">
		                            </label>
									<em ng-if="orderFrm.email.$error.pattern && orderFrm.email.$touched">Enter a valid email address.</em>
		                        </section>
		                        
		                        <section class="col col-6">
									<label class="label">Phone No. / Mobile No.</label>
		                            <label class="input" ng-class="{ 'state-error' : orderFrm.phoneNo.$invalid && orderFrm.phoneNo.$touched }">
		                                <i class="icon-append fa fa-phone"></i>
		                                <input type="tel" name="phoneNo" ng-model="order.owner.phoneNo" ui-mask="(+99) 999-999-9999" required>
		                            </label>
									<em ng-if="orderFrm.phoneNo.$error.required && orderFrm.phoneNo.$touched">Phone No. is required</em>
		                        </section>
		                    </div>
		
		                    <div class="row">
		                        <section class="col col-6">
									<label class="label">Group</label>
		                            <label class="select"  ng-class="{ 'state-error' : orderFrm.group.$invalid && orderFrm.group.$touched }">
		                                <select name="group" data-ng-options="group.id as group.name for group in groups" data-ng-model="order.owner.groupId" required>
                      					</select>
                      					<i></i>
		                            </label>
		                            <em ng-if="orderFrm.group.$error.required && orderFrm.group.$touched">Group is required</em>
		                        </section>
		                    </div>
                            
                            <div class="headline">
                            	<h3>Registered Address:</h3>
                            </div>

							<div class="row">
			                    <section class="col col-6">
									<label class="label">Address Line 1</label>
			                        <label class="input" ng-class="{ 'state-error' : orderFrm.addressLine1.$invalid && orderFrm.addressLine1.$touched }">
			                            <input type="text" name="addressLine1" ng-model="order.owner.addressLine1" required>
			                        </label>
									<em ng-if="orderFrm.addressLine1.$error.required && orderFrm.addressLine1.$touched">Address Line 1 is required.</em>
			                    </section>
			
			                    <section class="col col-6">
									<label class="label">Address Line 2</label>
			                        <label class="input">
			                            <input type="text" name="addressLine2" ng-model="order.owner.addressLine2">
			                        </label>
			                    </section>
			                </div>
			
			                <div class="row">
			                    <section class="col col-6">
									<label class="label">City</label>
			                        <label class="input" ng-class="{ 'state-error' : orderFrm.city.$invalid && orderFrm.city.$touched }">
			                            <input type="text" name="city" ng-model="order.owner.city" required>
			                        </label>
									<em ng-if="orderFrm.city.$error.required && orderFrm.city.$touched">City is required.</em>
			                    </section>
			                </div>
			
			                <div class="row">
			                    <section class="col col-6">
									<label class="label">State</label>
			                        <label class="select" ng-class="{ 'state-error' : orderFrm.state.$invalid && orderFrm.state.$touched }">
										<select name="state" data-ng-options="state.id as state.name for state in states" data-ng-model="order.owner.stateId" required>
			                      		</select>
										<i></i>
			                        </label>
									<em ng-if="orderFrm.state.$error.required && orderFrm.state.$touched">State is required.</em>
			                    </section>
			
			                    <section class="col col-6">
									<label class="label">Country</label>
			                        <label class="select" ng-class="{ 'state-error' : orderFrm.country.$invalid && orderFrm.country.$touched }">
			                            <select name="country" data-ng-options="country.id as country.name for country in countries" data-ng-model="order.owner.countryId" required>
			                      		</select>
			                            <i></i>
			                        </label>
									<em ng-if="orderFrm.country.$error.required && orderFrm.country.$touched">Country is required.</em>
			                    </section>
			
			                </div>
			
			                <div class="row">
			                    <section class="col col-4">
									<label class="label">Zipcode</label>
			                        <label class="input" ng-class="{ 'state-error' : orderFrm.zipcode.$invalid && orderFrm.zipcode.$touched }">
			                            <input type="text" name="zipcode" ng-model="order.owner.zipcode" ui-mask="999999" required>
			                        </label>
									<em ng-if="orderFrm.zipcode.$error.required && orderFrm.zipcode.$touched">Zipcode is required.</em>
			                    </section>
			                </div>
							
                        </div>
                    </div>
            	</div>

	        </form>

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(orderFrm)">Proceed</button>
        </div>
    </div>
	
	<script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select owner from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<a>{{match.label}}</a>
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>
	