	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="close()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Order Details</h4>
        </div>
        <div class="modal-body profile">
            
            <div class="profile-body">
                <div class="profile-bio">
	                <div class="row invoice-info">
						<div class="col-xs-6">
							<div class="tag-box tag-box-v3">
								<h2>Order Details:</h2>
								<ul class="list-unstyled">
									<li><strong>Order No:</strong> <span class="pull-right">{{order.orderNo}}</span></li>
									<li><strong>Subtotal:</strong> <span class="pull-right">{{order.subtotal | number:2}}</span></li>
									<li><strong>Shipping Cost:</strong> <span class="pull-right">{{order.shippingCost | number:2}}</span></li>
									<li><strong>Total:</strong> <span class="pull-right">{{order.totalPrice | number:2}}</span></li>
								</ul>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="tag-box tag-box-v3">
								<h2>Delivery Details:</h2>
								<ul class="list-unstyled">
									<li><strong>Order Date:</strong> <span class="pull-right">{{order.orderDate}}</span></li>
									<li><strong>Delivery Date:</strong> <span class="pull-right">{{order.deliveryDate}}</span></li>
									<li><strong>Status:</strong> <span class="pull-right">{{order.status}}</span></li>
									<li><strong>&nbsp;</strong></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
                <hr>
                
                <div class="row">
                    <!--Social Icons v3-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading profile-box-header">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Billing Address </h2>
                            </div>
                            <div class="panel-body">
                                 <ul class="list-unstyled social-contacts-v2">
                                 	<div><h4>{{order.billingAddress.firstName}} {{order.billingAddress.lastName}}</h4></div>
				           			<div>{{order.billingAddress.addressLine1}}</div>
				           			<div>{{order.billingAddress.addressLine2}}</div>
				           			<div>{{order.billingAddress.city}}, {{order.billingAddress.state.name}}</div>
				           			<div>{{order.billingAddress.country.name}} {{order.billingAddress.zipcode}}</div>
				           			<div>Phone No: {{order.billingAddress.phoneNo}}</div>
			                     </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->

                    <!--Social Icons v3-->
                    <div class="col-sm-6 sm-margin-bottom-30">
                        <div class="panel panel-profile">
                            <div class="panel-heading profile-box-header">
                            	<h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> Shipping Address</h2>
                            </div>
                            <div class="panel-body">
                                 <ul class="list-unstyled social-contacts-v2">
                                 	<div><h4>{{order.shippingAddress.firstName}} {{order.shippingAddress.lastName}}</h4></div>
				           			<div>{{order.shippingAddress.addressLine1}}</div>
				           			<div>{{order.shippingAddress.addressLine2}}</div>
				           			<div>{{order.shippingAddress.city}}, {{order.shippingAddress.state.name}}</div>
				           			<div>{{order.shippingAddress.country.name}} {{order.shippingAddress.zipcode}}</div>
				           			<div>Phone No: {{order.shippingAddress.phoneNo}}</div>
			                  	</ul>
                            </div>
                        </div>
                    </div>
                    <!--End Social Icons v3-->
                </div><!--/end row-->
           		
           		<hr>
           		
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Products</h2>
                    </div>
                    <div class="panel-body margin-bottom-40">
                        <div class="table-responsive">
                            <table class="table table-striped" ng-if="order.products.length > 0">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody ng-if="order.products.length > 0">
                                	<tr ng-repeat="product in order.products">
                                		<td class="product-in-table">
                                            <img class="img-responsive" src="{{product.defaultImage.smallImgPath}}" alt="">
                                            <div class="product-it-in">
                                                <h3>{{product.name}}</h3>
                                            </div>
                                        </td>
                                        <td>{{product.price | number:2}} /{{product.priceUnit.name}}</td>
                                        <td>{{product.quantity}} {{product.quantityUnit.name}}</td>
                                        <td class="shop-red">{{product.totalPrice}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped" ng-if="order.items.length > 0">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Price</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody ng-if="order.items.length > 0">
                                	<tr ng-repeat="item in order.items">
                                		<td class="product-in-table">
                               			    <img class="img-responsive" src="{{item.image.smallImgPath}}" alt="">
                                            <span><small>{{item.name}}</small></span>
                                        </td>
                                        <td>{{item.price}} /{{item.priceUnit.symbol}}</td>
                                        <td>{{item.quantity}} {{item.quantityUnit.symbol}}</td>
                                        <td class="shop-red">{{item.totalPrice}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="tag-box tag-box-v2 margin-bottom-40" ng-if="order.products.length <= 0 && order.items.length <= 0">
			                    <p>Your grain cart is empty. Please add the items to the cart.</p>
			                </div>
                        </div>
                    </div>
                </div>

                <hr ng-show="isAuthorized('ROLE_EMPLOYEE')">
                
                <!--Timeline-->
                <div class="panel panel-profile" ng-show="isAuthorized('ROLE_EMPLOYEE')">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Assigned By</h2>
                        <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                    </div>
                    <div class="panel-body margin-bottom-40">
                        
		                <div class="row">
		                	<div class="col col-lg-12">
		                		<div class="panel-body">
			                        <div id="testimonials-9" class="carousel slide testimonials testimonials-v2 testimonials-bg-default">
			                            <div class="carousel-inner">
			                                <div class="item active">
			                                    <p class="rounded-2x">{{order.comments}}</p>
			                                    <div class="testimonial-info">
			                                        <span class="testimonial-author">
			                                            {{order.assignedBy.firstName}} {{order.assignedBy.lastName}}
			                                            <em>{{order.dateAssigned}}</em>
			                                        </span>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                      </div>
		                    </div>
		                </div>
		                
                    </div>
                </div>
                <!--End Timeline-->
                
                <hr>
                
                <!--Timeline-->
                <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Tracking</h2>
                        <a href="javascript:void(0)"><i class="fa fa-cog pull-right"></i></a>
                    </div>
                    <div class="panel-body margin-bottom-40">
                        <ul class="timeline-v2 timeline-me">
                            <li>
                                <time datetime="" class="cbp_tmtime"><span>29 Aug 2015</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <p>Order was placed for the order. currently, we are shipping this order.</p>
                                </div>
                            </li>
                            <li>
                                <time datetime="" class="cbp_tmtime"><span>18 Aug 2015</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    <p>Orders market price was updated by <a href="javascript:void(0)">Mahavir Singh</a>. market price was as per market conditions.</p>
                                </div>
                            </li>
                            <li>
                                <time datetime="" class="cbp_tmtime"><span>12 Jan 2015</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                <div class="cbp_tmlabel">
                                    
                                    <p>Order was added by <a href="javascript:void(0)">Mahavir Singh</a>. Initial price was set to 3500 INR/Quintal. The initial price was as per market trend.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--End Timeline-->
                
            </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn-u" type="button" ng-click="close()">&nbsp;&nbsp;Ok&nbsp;&nbsp;</button>
        </div>
    </div>
	