	
	<div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button" ng-click="cancel()">×</button>
            <h4 id="myLargeModalLabel2" class="modal-title">Edit Order</h4>
        </div>
        <div class="modal-body">
            
			<form name="orderFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" novalidate>

				<div class="headline">
					<h3>Order Details</h3>
				</div>
				
				<div class="row">
                    
					<section class="col col-6">
						<label class="label">Order No</label>
                        <label class="input" ng-class="{ 'state-error' : orderFrm.orderNo.$invalid && orderFrm.orderNo.$touched }">
                            <i class="icon-append fa fa-user"></i>
                            <input type="text" name="orderNo" ng-model="order.orderNo" required ng-minlength="8" pattern="[0-9-_ ]+">
                        </label>
						<em ng-if="orderFrm.orderNo.$error.required && orderFrm.orderNo.$touched">Order No is required.</em>
						<em ng-if="orderFrm.orderNo.$error.minlength && orderFrm.orderNo.$touched">Order No is too short.</em>
						<em ng-if="orderFrm.orderNo.$error.pattern && orderFrm.orderNo.$touched">Only alphanumerics are allowed.</em>
                    </section>
              
			        <section class="col col-6" ng-class="{ 'state-error' : orderFrm.category.$invalid && orderFrm.category.$touched }">
						<label class="label">Category</label>
                        <label class="select">
                            <select name="category" data-ng-options="category as category.name for category in categories track by category.id" data-ng-model="order.category" required>
                      		</select>
							<i></i>
                        </label>
						<em ng-if="orderFrm.category.$error.required && orderFrm.category.$touched">Category is required.</em>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-6">
						<label class="label">Quantity</label>
                        <label class="input-group" ng-class="{ 'state-error' : orderFrm.quantity.$invalid && orderFrm.quantity.$touched }">
                        		<input type="text" name="quantity" ng-model="order.quantity" class="form-control" placeholder="e.g. 300" required pattern="^[0-9]+.[0-9]+">
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{order.quantityUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-clic="setQuantityUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="orderFrm.quantity.$error.required && orderFrm.quantity.$touched">Quantity is requierd.</em>
						<em ng-if="orderFrm.quantity.$error.pattern && orderFrm.quantity.$touched">Only numbers are allowed</em>
                    </section>
    
                    <section class="col col-6">
						<label class="label">Price</label>
                        <label class="input-group" ng-class="{ 'state-error' : orderFrm.price.$invalid && orderFrm.price.$touched }">
                        		<input type="text" name="price" ng-model="order.price" class="form-control" placeholder="e.g. 4000" pattern="^[0-9]+.[0-9]+" required>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{order.priceCurrency.mneomic}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="currency in currencies"><a href="javascript:void(0);" ng-clic="setPriceCurrency(currency)">{{currency.mneomic}}</a></li>
                                       </ul>
                                   </div>
                                   <span class="input-group-addon per-symbol">/</span>
                                   <div class="input-group-btn">
                                       <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                           {{order.priceUnit.name}}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu pull-right">
                                           <li ng-repeat="unit in units"><a href="javascript:void(0);" ng-clic="setPriceUnit(unit)">{{unit.name}}</a></li>
                                       </ul>
                                   </div>
                        </label>
						<em ng-if="orderFrm.price.$error.required && orderFrm.price.$touched">Price is requierd.</em>
						<em ng-if="orderFrm.price.$error.pattern && orderFrm.price.$touched">Only numbers are allowed</em>
                    </section>
                </div>

                <div class="row">
                    <section class="col col-6">
						<label class="label">Update owner:</label>
                        <label class="input">
                            <input type="text" name="search" ng-model="keywords" placeholder="Search by email id, phone number" 
                            	uib-typeahead="owner as owner.emailId + ' Phone: ' + owner.mobileNo for owner in searchOwner($viewValue)" 
                                typeahead-popup-template-url="custom-popup-template.component.html" 
                                typeahead-on-select="selectOwner($item, $model, $label)" typeahead-wait-ms="1000">
                        </label>    
                    </section>
					<section class="col col-6">
						<label class="label">Update status:</label>
                        <label class="select">
                            <select name="orderStatus" data-ng-options="orderStatus as orderStatus.status for orderStatus in orderStatuses track by orderStatus.id" data-ng-model="order.status">
                      		</select>
							<i></i>
                        </label>    
                    </section>
                </div>
	        </form>

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn-u btn-u-default" type="button" ng-click="cancel()">Close</button>
            <button class="btn-u" type="button" ng-click="ok(orderFrm)">Update</button>
        </div>
    </div>
	
	<script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select owner from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<a>{{match.label}}</a>
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>
	