	
	<div class="modal-content">
        <div class="modal-body">            
			<form name="orderDispatchFrm" role="form" class="sky-form tag-box tag-box-v3 form-page" ng-submit="orderDispatchFrm.$submitted = true; submit(orderDispatchFrm.$valid)" novalidate>
				<div class="row">
					<div class="col col-11">
						<label class="label">Dispatched By:</label>
                        <label class="input">
                            <input type="text" name="search" ng-model="keywords" placeholder="Search by email id, phone number" 
                            	uib-typeahead="owner as owner.emailId + ' Phone: ' + owner.mobileNo for owner in searchDispatcher($viewValue)" 
                                typeahead-popup-template-url="custom-popup-template.component.html" 
                                typeahead-on-select="selectDispatcher($item, $model, $label)" typeahead-wait-ms="1000">
                        </label>
					</div>
                </div>
                
                <div class="row">
					<div class="col col-11">
						<label class="label">Delivery Date: </label>
                        <label class="input" ng-class="{ 'state-error' : orderDispatchFrm.deliveryDate.$invalid && (orderDispatchFrm.$submitted || orderDispatchFrm.deliveryDate.$touched) }">
							<i class="icon-append fa fa-calendar"></i>
                           	<input type="text" name="deliveryDate" ng-model="orderDispatch.deliveryDate" prak-datepicker placeholder="Delivery / Delivering Date">
                        </label>
						<em ng-if="orderDispatchFrm.deliveryDate.$error.required && (orderDispatchFrm.$submitted || orderDispatchFrm.deliveryDate.$touched)">Delivery / Delivering Date is required</em>
					</div>
                </div>
	            
                <div class="row margin-top-20">
                	<div class="col col-7"></div>
                	<div class="col col-2 margin-top-20">
                		<div class="pull-right">
                			<span class="input-group-btn">
                            	<button ng-click="cancel()" type="button" class="btn btn-default btn-u-md">Cancel</button>
                            </span>
                		</div>
                	</div>
                	<div class="col col-2 margin-top-20">
                		<div class="pull-right">
                			<span class="input-group-btn">
                            	<button type="submit" class="btn-u btn-u-md">Proceed</button>
                            </span>
                		</div>
                	</div>
                </div>
             
	        </form>
        </div>
    </div>
    
    <script type="text/ng-template" id="custom-popup-template.component.html">                 
		<div class="custom-popup-wrapper"
			ng-style="{top: position().top+'px', left: position().left+'px'}"
			style="display: block;"
			ng-show="isOpen() && !moveInProgress"
			aria-hidden="{{!isOpen()}}">
			<p class="message">select owner from drop down.</p>
	
			<ul class="dropdown-menu" role="listbox">
				<li ng-repeat="match in matches track by $index"
					ng-class="{active: isActive($index) }"
					ng-mouseenter="selectActive($index)"
					ng-click="selectMatch($index)" role="option"
					id="{{::match.id}}">
					<div uib-typeahead-match uib-typeahead-highlight index="$index" match="match"
						query="query" template-url="templateUrl"></div>
				</li>
			</ul>
		</div>
	</script>